[2015-11-02 21:53] ukd1 opened #1 "rapid clicking of the button allows exceeding 1/req/s"

[2015-11-02 21:54] ukd1 opened #2 "notification sounds when new work is found"

[2015-11-02 21:54] ukd1 opened #3 "you have to close the tab when done in order to get the next job"

[2015-11-02 21:55] ukd1 opened #4 "Rapid clicking of the button allows exceeding 1/req/s"

[2015-11-02 21:55] ukd1 opened #5 "Notification sounds when new work is found"

[2015-11-02 21:56] ukd1 commented on #4
Closed by rainforestapp/Rainforest#6453.

[2015-11-02 21:56] #4 closed

[2015-11-02 21:57] #1 closed

[2015-11-02 21:57] #2 closed

[2015-11-02 23:34] ando100 commented on #5
Russ, checked- no sound came in?

[2015-11-03 01:48] ukd1 commented on #5
@ando100 this is an enhancement request, not a bug - it doesn't exist yet

[2015-11-03 22:58] ando100 commented on #5
Cool, thanks !

[2015-11-04 08:47] MuhammadRafique182014 opened #6 "extension not working"
mine extension is not working its always saying no ,
don't know why but it worked on yesterday, again I have to check task list to catch hits

[2015-11-04 09:19] MuhammadRafique182014 commented on #6
Its working now lol

[2015-11-04 17:21] rbasak2011 opened #7 "Too many screenshot problem occur.."
I just got a hit with 12 step..At the last step there is a problem taking screenshot after i clicked "yes" button..Then i refresh the hit and do it again but same problem occur again at the 12th step..Then i try several times to take screenshots but problem persists..Then i refresh again but this time it shows "sorry we have reached the maximum no. of concurrent user.." >By the new rules i have to

[2015-11-04 23:05] ando100 commented on #7
You got my attention with- "my accuracy also reduced because of this" -
how can you tell that?
Well, I`m not from RF, but after reading your message- I can tell you ONLY
from my experience- wait for the " Screenshot can not..." - it solves in time.
You even don`t have to restart the whole task, I can imagine your frustration,
while getting this message in last step, but, yes, my suggestion woud be

[2015-11-05 19:42] ukd1 commented on #6
@MuhammadRafique182014 can you give me your worker id, so I can investigate why? Are you getting work from outside of here?

[2015-11-05 19:45] ukd1 commented on #7
@rbasak2011 sorry about this; it doesn't actually affect your accuracy on our platform, though it obviously takes up your time unnecessarily.

Did you happen to keep the job id for this?

@gallois perhaps we should move the screenshotting to go direct to the vcontrol, rather than routed through vmanager?

[2015-11-05 20:07] gallois commented on #7
@ukd1 this would avoid an extra step in the process of taking a screenshot, but also having configuration variables spread over more places, which could lead to a more difficult maintenance. We could retry the screenshots inside vmanager as well.

[2015-11-05 20:10] ukd1 commented on #7
@gallois ya - more config, but less complexity and also won't matter if vmanager is down -- i.e. would be totally out of the picture after the tester got the machine?

[2015-11-06 08:20] MuhammadRafique182014 commented on #6
32706681

[2015-11-07 18:30] MuhammadRafique182014 commented on #6
again its not working

[2015-11-10 00:07] helloworld111gh opened #8 "Tabs opened by extension do not always result in work"
Work from the extension often does not actually result in work, and gives a "opps, no more work!" error. This may be because the extension does not actually reserve a HIT when it gets a link.
Possible Solutions:
- Try to reserve a HIT via whatever API that uses using the link, and ensures it reserves one before opening a tab
- Tie HIT's to links

[2015-11-10 21:52] pscohn opened #9 "Console error/no work for tester"
From a tester:

"I got your Chrome extension , but there is no work form me with it.
Notifier is ON (I mean "NO" on green Rainforest logo ) .I provide you with information of error shown on extension's background page : "

![screenshotproblem](https://cloud.githubusercontent.com/assets/7697355/11076902/5716c0e2-87cb-11e5-8453-51af73341928.jpg)

[2015-11-10 22:36] ukd1 commented on #9
@pscohn could you ask the tester if they were running multiple windows? Did they change any of the code?

[2015-11-10 22:39] ukd1 commented on #8
@helloworld111gh correct, it doesn't reserve a hit, it checks if there is one available, and opens a new window to reserve it. If in this time someone else gets it, you may end up with an "ooops".

Part of the reason is the speed which some people are hammering the API; I've implemented rate limiting, which should help, but some people are still pushing hard.

Anyway, later today we'll be turning

[2015-11-10 22:40] ukd1 commented on #8
@helloworld111gh regarding should it reserve a hit, it's totally possible to do - but I'm waiting before implementing to see how much this happens AFTER we stop the old-hacky-methods of getting work.

[2015-11-10 22:45] pscohn commented on #9
I've asked him - although I can say I have the extension installed myself and saw the error earlier when I posted this (doesn't appear now, though).

[2015-11-10 22:56] helloworld111gh commented on #8
Unclear about the change you say will occur, clarify? (Ex. Shared links,
turning off hits)
On Nov 10, 2015 14:39, "Russell Smith" <notifications@github.com> wrote:

[2015-11-11 12:37] BV25 commented on #7
@ukd1 Hi Russel, lately there have been a lot of screenshot problems - on an average they resolve however it is seen that sometimes it takes more than 15 minutes for it to resolve - now, because of the new idle rule - if you don't proceed to next Step within 15 min (i.e. if you don't click any of the button) then you're automatically disconnected and you see "connection lost" message. This is kind

[2015-11-11 23:11] pscohn opened #10 ""Using any but need to use chrome" error"
Tester says:

"I have installed the testerChrome Extension onChrome browser, but it works rarely. In most cases instead of finding a test I receive this message "You are using any but need to use chrome". I'm using only chrome for browsing the Internet and working on Rainforest tests."

[2015-11-11 23:27] pscohn commented on #9
Tester responds,

"I were running only one window and didn't changed the extension code. Reason of the problem could be fact that I installed beta extension from GitHub earlier and 1.0.0 version after that, without uninstalling Beta? Now I got only  1.0.0 version  downloaded from tester profile, but for me there is no work to be done. (Note that I reinstalled extension and problem still persists)"

[2015-11-12 16:08] KabakF commented on #10
For today. I don't get work even when there is 1000 active tester and a lot running test. Did something change idk. My plugin didn't find works. I wonder why. Waiting for your answer Russ Boss :)

[2015-11-12 20:39] androwg opened #11 "not working today"
today i noticed that the extension is not working and no get me any hits although i got about 6 hits manually
i removed it and reinstall but the problem is still excist

[2015-11-12 21:59] KabakF commented on #11
Same thing happens to me too, Idk what to do, just waiting a reply from Russ

[2015-11-12 22:18] helloworld111gh commented on #11
I believe all HIT's are broken, even Crowdflower HIT's give a "Hit 888888 can't be assigned new HIT's" error

[2015-11-13 09:01] KabakF commented on #11
@helloworld111gh  but then no one could work, there is active testers and runs (https://www.rainforestqa.com/)

[2015-11-13 11:50] androwg commented on #11
@ukd1 What is the problem?

[2015-11-13 18:17] ukd1 commented on #11
hey @androwg @KabakF @helloworld111gh -- are you getting errors, or anything weird?

If you can send me your worker ID's, I can pull the logs and check what's actually been happening individually.

[2015-11-13 18:18] ukd1 commented on #10
@pscohn very few hits should require a specific browser these days, but it's true this does look for "any" hits not "chrome" specifically.

[2015-11-13 18:19] ukd1 commented on #9
@pscohn the tester should not be using the github version, as it doesn't automatically get work, nor does it point to the right server by default (as, it's for testing).

[2015-11-13 18:36] nihlathar commented on #11
I'm having the same issue, and thought it was a global problem before I saw your response udk1. Obviously many people have the same problem. It just stopped finding work about a day ago, I can do it fine through crowdflower though.

[2015-11-13 18:43] pscohn commented on #9
@ukd1 He says there that he only has the one version downloaded from tester profile now, though

[2015-11-13 19:24] helloworld111gh commented on #11
Using chrome devtools I was able to catch this error:
Uncaught SyntaxError: Unexpected end of inputxhr.onreadystatechange @ main.js:186(anonymous function) @ main.js:203
main.js:185
Worker ID is 12219174

[2015-11-13 20:33] androwg commented on #11
@ukd1
i get no errors but i get no work from extension
my workerId=32916100

[2015-11-13 21:23] KabakF commented on #11
@ukd1 Russ I didn't get a job for two days, my plugin doesn't find any job/work for two days. I don't think it's a normal thing to happen
(My Worker ID: 31122298 )

[2015-11-13 23:41] isen86 commented on #11
extension is not working since yesterday,my worker id is 31839548

[2015-11-14 04:55] qpPykT commented on #11
Yeah, two days ago, the plugin(extension) just stopped issuing tasks.
My Worker ID: 31275106

[2015-11-14 14:48] vanessa180479 commented on #11
Hello are like, me neither extension works me for days, I hope you can solve my ID: 33902955

[2015-11-14 15:58] KabakF commented on #11
@vanessa180479 well I hope haha and happy for you :)

[2015-11-15 12:46] androwg commented on #11
@ukd1 seems to be a global problem we hope you can manage it

[2015-11-15 13:24] KabakF commented on #11
@androwg I exactly agree with you :+1:

@ukd1 Many testers can't work for several days Russ, we're waiting for a solutionnn, coome :clock1130:  :stuck_out_tongue:

[2015-11-16 19:12] MuhammadRafique182014 commented on #6
again not working WTH happened to the extension no use of it
my worker ID 32706681

[2015-11-16 19:21] ukd1 commented on #6
Thanks - what error are you seeing?

[2015-11-16 19:40] helloworld111gh commented on #11
Any updates on this issue? ETA on fix?
On Nov 15, 2015 05:24, "A.Faruk" <notifications@github.com> wrote:

[2015-11-16 21:14] androwg commented on #6
@ukd1 can u tell us where we can see if there is an error? so we can help you

[2015-11-16 23:00] KabakF commented on #6
@ukd1  @helloworld111gh We'd  be really glad if you fix this Russ. There is no error shown. Extension is not really working for us
(if it would help, My Worker ID: 31122298 )

[2015-11-16 23:15] ukd1 opened #12 "looks like each window may do a request"
looks like each window may do a request - which means more use of the rate limit and more hitting it. This should be fixed to be one single request per instance of chrome

[2015-11-17 03:01] nerdatwork opened #13 "You are using any but need to use safari."
As you can see in the screenshot I am using safari but it still wont let me work on the job

![image](https://cloud.githubusercontent.com/assets/15882196/11201600/7af38f88-8d05-11e5-8714-ec7cf56cfbd1.png)

[2015-11-17 07:05] qpPykT commented on #11
Tester Chrome Extension - Major bug 2015-11-17 01:36:53 UTC, Russ

'Hey all - thanks to reports from workers, we've found a major bug in the Chrome extension which is stopping it finding most work for you. We've got a fix being worked on now, it should be shipped today. There will be nothing to change at your end. Sorry about this, thanks for all the reports. Russ'

[2015-11-17 11:20] androwg commented on #11
It is working right now

[2015-11-17 15:44] nerdatwork opened #14 "Unable to get any job loaded properly"
Everytime I get a notification for new job I encounter either the browser mismatch error or this error.

You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit.

What is wrong with it ?

[2015-11-17 16:36] pscohn commented on #13
There is already an issue open for this - see https://github.com/rainforestapp/tester-chrome-extension/issues/10. You may repost your screenshot there if you like.

[2015-11-17 16:36] #13 closed

[2015-11-17 16:43] pscohn commented on #11
@KabakF @isen86 @vanessa180479 others can you confirm it is working for you now?

[2015-11-17 16:46] pscohn commented on #9
Closing as fixed/duplicate.

[2015-11-17 16:46] #9 closed

[2015-11-17 17:40] nihlathar commented on #11
Yes, other than standard "oops" error and "hit xyz cant be assigned more work" it works like it should.

[2015-11-17 17:53] pscohn commented on #6
Closed as duplicate of https://github.com/rainforestapp/tester-chrome-extension/issues/11

[2015-11-17 17:53] #6 closed

[2015-11-17 18:42] KabakF commented on #11
@pscohn Yes Paul, It is working so well, thanks to all programmers :)

[2015-11-17 21:20] #11 closed

[2015-11-18 00:39] isen86 commented on #11
yes it works now

[2015-11-18 08:37] nerdatwork commented on #10
https://cloud.githubusercontent.com/assets/15882196/11201600/7af38f88-8d05-11e5-8714-ec7cf56cfbd1.png

As seen I am using safari but the error message is still there. Why is that ?

[2015-11-18 09:28] ukd1 commented on #10
@nerdatwork it's a bug - the actual reason (like at our end) is that the hit and the job requirements are not matching correctly.

@pscohn can we fix? Suggest v1 fix is to check that the hit and job are matching, aka "any"

[2015-11-18 09:44] nerdatwork commented on #14
What does "Invalid state" mean ? after loading the url inside the terminal.

[2015-11-18 15:29] pscohn commented on #10
@ukd1 will take a look.

[2015-11-18 22:44] ando100 commented on #14
It means your timer ran out, 10 min/ 15 min. Check the rules. But it`s small problem, Whole site is having problems yesterday and today. App errors all over. I really do hope it gets fixed and maybe someone drops a line- what`s going on and why?

[2015-11-19 01:40] nerdatwork commented on #14
Instead of posting just on the job, I think the rules must be on the portal too.

[2015-11-19 01:55] nerdatwork commented on #14
Ooops: another worker accepted the job before you! It doesn't look like there is any more work for any of our hits; please try again shortly - you can refresh this page, or return this hit.

Story of my life. Out of 20 notifications of a job, 19.5 of them end up showing the above message and the 0.5 is the one that actually loads but by the time I reach the step 3 or 5 of it, its already been subm

[2015-11-19 07:03] androwg opened #15 "Hit xxxx cannot have new jobs assigned to it."
Sometimes when i get a hit from the extension it says
Hit xxxxxx cannot have new jobs assigned to it.(xxxx means any numbers)
It wasn't like this in the past

[2015-11-19 07:06] nihlathar commented on #14
People have ways to beat others to the tasks and there arent that many available so we and up with nothing. Yesterday I had the same situation as you, many tasks available but all with some sort of error. Anyway, if you got the task and you can work on it then you will be able to submit it and get paid for it (unless you are idle for more than 15 minutes during the task, or dont accept it within 6

[2015-11-19 07:49] nerdatwork commented on #14
I disagree that if I get a job I always get to submit it. There are instances where it takes forever for the screenshot to be taken or the page inside the terminal to load. There I am waiting on the terminal to respond back and by the time I get to the next step that job has already been submitted since the screenshot button wont work and if I refresh the page I get the annoying "This assignment w

[2015-11-19 11:17] nihlathar commented on #14
It's true the screenshot reporting doesnt always work, but then you can refresh the terminal and get a new one (in case of other problems too). Usually helps.

[2015-11-19 18:23] vanessa180479 opened #16 "extension is having problems"
Good afternoon, the extension is having problems. Out that work is available (YES) but does not open the tab job. I hope your answer thank my ID: 33902955

[2015-11-19 18:54] nerdatwork commented on #16
They are working on it and the same issue that you are facing was reported by me in #14

[2015-11-19 18:54] nerdatwork commented on #15
I get the same message its like -
Hit 4564280 cannot have new jobs assigned to it.

[2015-11-19 23:45] ando100 commented on #14
@nerdatwork : I think the rules must be on the portal too-

holy grail is coming towards you:
https://tester.rainforestqa.com/guide/
:)

[2015-11-20 02:20] nerdatwork commented on #14
@ando100 Thank you but I think it would be logical if it was shown as a button/tab on the tester profile here: https://portal.rainforestqa.com/tester/(tester id) Since the guide is seen only through that link.

[2015-11-20 18:04] nihlathar commented on #14
I now realized you're right.. it's a new problem with the task submitting itself before you finish, didn't have it before. Errors just keep piling up

[2015-11-21 13:53] nerdatwork commented on #14
@nihlathar who is right and about what. I didnt follow you there.

[2015-11-21 14:07] nihlathar commented on #14
Well you of course. Last 2 days I had the same problem with the "task's already been submitted" message. When you refresh it should give you a new terminal but lately that doesn't always happen. They already promised to take care of it so we just need to wait

[2015-11-23 18:23] KabakF commented on #15
@ukd1 I'm getting same error very often for two days, my extension finds jobs rarely and job is being with an error(Hit xxx cannot have new jobs assigned to it)

I was getting much more jobs so I wonder Is it special to me or just less running test?

[2015-11-23 18:33] nerdatwork commented on #14
All day for last 2 days I am getting this:
You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit.

When no other rainforest window is open. This makes no sense

[2015-11-23 19:27] nihlathar commented on #14
You may want to restart pc, reinstall extension, and relog on your RFQA account. Might help.

[2015-11-23 19:33] pscohn commented on #14
@nerdatwork what is your worker ID?

[2015-11-23 19:42] nerdatwork commented on #14
@pscohn What will that do ?

[2015-11-23 19:45] pscohn commented on #14
@nerdatwork it can help us debug the issue by looking into your Rainforest account. If you want to send it privately you can send a message to tester@rainforestqa.com referencing this conversation.

[2015-11-24 02:02] nerdatwork commented on #14
@pscohn done, email sent. Thank you.

[2015-11-24 04:03] nerdatwork commented on #14
@nihlathar I did that but still get the same annoying "another worker....." message I havent got a job in 3 to 4 days but about 100 notifications of a job :(

[2015-11-24 09:13] Savan47 commented on #14
I have this problem too! It's so annoying, i sent email yesterday but still not response.

[2015-11-24 14:56] qpPykT commented on #14
Sometimes I get the same error message.

[2015-11-24 21:53] pscohn opened #17 "Lots of "Maximum number of unsubmitted assignments" reports since Friday"
Official issue for this problem many testers have reported in support. Many claim they can't get a single job since Friday, or could get only 2 or 3.

For many testers, this will be solved by using only one account for Rainforest tasks.

[2015-11-24 22:57] begsoon commented on #17
Hello.
Since  Friday I only  do 5-7 hits.
Otherwise, I have worked a lot more because I really love this job on CrowdFlower.Yea,this problem start at Friday after I get bonuses 10% at the end of working day.
I need 2-3 hours to get only 1 Or 2..and then get this message ''You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for

[2015-11-24 23:13] markoobrez opened #18 "You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit."
since friday i do 3 task
when i open task everytime write You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit.
please fix it

[2015-11-24 23:15] begsoon commented on #14
Same here!

[2015-11-24 23:24] nihlathar commented on #17
You know it's most likely the same as before, with this being a problem affecting most accounts, so you need to find a solution without the need for everyone to message you their id.

The day after you last fixed it, I was able to do about 15 jobs more than any time in the past. Day after that it started having trouble, the tab opens at least 1-2 times per hour but only few and far between are act

[2015-11-24 23:57] Rainforestuser790 commented on #17
Hello,

i was able to do just 7 hits in total from the day  the change was implemented and before that i was able to do close to 20 + hits daily and i am using both extension and CF id as well, but lately i always get the message  "unsubmitted assignments" for both of them when ever there is work available and i could say this as people mention the same in the blogs or fourms that they are able to

[2015-11-25 00:44] Unsubmitted commented on #17
My worker ID  is # 31970468 and now i am getting very low hits  with the last change which you have implemented. I am using extension and 99% of the time it says the problematic message unsumbitted  The percentage falled down to almost 90% what i was able to do before. I am not having any multiple accounts nor worker ids. My channel is Clixsense.

Request you to please fix the issue before the tes

[2015-11-25 00:58] ukd1 commented on #16
@vanessa180479 closing as this is a dupe of #14

[2015-11-25 00:58] #16 closed

[2015-11-25 00:59] ukd1 commented on #18
closing as this is a duplicate of #17

[2015-11-25 00:59] #18 closed

[2015-11-25 01:02] ukd1 commented on #17
Hey all, part of the reason is a single human using multiple accounts - we're cracking down on this behavior (hoading / pre-loading work / holding work), which is part of what is happening to most of you. If you list your account ID here, we'll investigate each to find out what's going on.

Russ

[2015-11-25 01:04] ukd1 commented on #15
@androwg @nerdatwork this is a bug at our end - can you give me your worker ID and Hit ID and we'll fix?

[2015-11-25 01:46] mueller2511 commented on #17
Hi Russ,

I am using Rainforest tasks with my CF account with the following worker id #34225825 and i am facing the same issue like others and if you are mentioning that using multiple account for same person is creating  problem then i am sharing wifi with my husband who also does the RF tasks from his seperate CF account which is having different worked id , so you mean to say that this is also

[2015-11-25 01:52] Genesis2015 commented on #17
In thepast I've used multiple accounts like 90% of the contributors from CF (considering that nowhere been written, it is prohibited) to performing tests, but since Friday I use only the extension. Now i am getting veееry low hits since Friday. I do not often meet the problem with "Maximum number of unsubmitted assignments" but this is my smallest problem. I completing test since more than an year

[2015-11-25 02:27] ando100 commented on #17
@Genesis2015 -out of curiosity- if you feel sry for your English- how do you do the HITs? And yes, I do feel sry for your English as well.  Please let me know- where I or anyone can check- you are one the best testers here, thanks.

[2015-11-25 02:36] m0dal commented on #17
My worker ID is # 33863320 and from Friday i did 3 hits. I recieve standard "Ooops" time to time, but more "Maximum number of unsubmitted assignments" (use extension and ID's from CrowdFlower). Don't work with multiply accounts.

[2015-11-25 02:52] ando100 commented on #17
@Genesis2015-- You deleted > you were using multiple accounts- from your message- any particular reason for that?

[2015-11-25 04:07] nerdatwork commented on #14
Remember the time when you get a YES notification and you find this message:
Application Error
An error occurred in the application and your page could not be served. Please try again in a few moments.

If you are the application owner, check your logs for details.

over and over and over for over 30 mins.... yes I dont like it at all :(

[2015-11-25 04:15] mueller2511 commented on #17
Right now my oops changed to the following message for your information and my husband laptop is off and he is not doing any RF task this moment.

You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit.

Thanks

[2015-11-25 06:46] billu6628 commented on #17
hello rainforest,
                          i have been doing your web application tasks from long back.i have never faced issues in such long time.all of sudden i started to get"Maximum number of unsubmitted assignments".i even disabled the extension but still it leads to the same.

my crowdflower id -27010801.please can you check the errors facing by me and clear me of it. i have never done anyt

[2015-11-25 06:59] disappointed commented on #17
#ando100 Instead sorry for other people it is better to learn English. There is a beautiful  word sorry, but the word SRY is only in your mind.

[2015-11-25 08:18] rbasak2011 commented on #17
Since friday i could do only 3-4 jobs.I am using chrome extension and i have only one account.My contributor id is: 32050036.
My screen name is R.BASAK..When i got a hit from the extension its show this msg "Maximum number of unsubmitted assignments"..After refresh that 5-10 minutes its become an oops then after refreshing that oops for 2-3 minutes oops becomes this again "Maximum number of unsubm

[2015-11-25 08:23] nerdatwork commented on #17
already emailed about the issue.

[2015-11-25 08:29] rbasak2011 commented on #17
yes i got the email but i thought its better to give my contributor id to
that official forum so i did that..

Regards,
Rabin Basak

On Wed, Nov 25, 2015 at 1:53 PM, nerdatwork <notifications@github.com>
wrote:

[2015-11-25 08:38] nerdatwork commented on #15
hitId=4570330 with following message: Ooops: another worker accepted the job before you! It doesn't look like there is any more work for any of our hits; please try again shortly - you can refresh this page, or return this hit.

[2015-11-25 10:09] KabakF commented on #15
@ukd1 Russ I was checking old jobs to find if there available one, now" It says me you have reached the max. ....  we have to be fair to other workers" but really I didn't complete even one job, I think it's a small bug.
( My Worker ID: 35273503 )

[ also, Hit 4614869 cannot have new jobs assigned to it. ]

[2015-11-25 10:11] Savan47 commented on #17
Same problem, never used other accounts or something like that. Active member for over 7 - 8 months. Please check me and solve this problem, thanks

Contributor ID: 32455098

Savan

[2015-11-25 10:12] begsoon commented on #17
Still have same problem . 1 . Account . 1  Ops  refresh >  Unsubmitted assignments
:S

[2015-11-25 11:27] Ranky2211 commented on #17
Respected Russell Smith,

Hello

I have only one account and i am using extension.Tab opened by extension oops or unsubmitted assingnment or (HIT different no) cannot have new job assigned to it.After refreshing oops sometime got either HIT or You have reached the maximum number of unsubmitted assignments and i noticed that if i got that message and opened work from cf id it also gave the same uns

[2015-11-25 12:13] KabakF commented on #17
check me too please, same error

worker ID: 35273503

[2015-11-25 12:48] Nuriii commented on #17
Facing the same problem my worker id is # 29451371.Thanks.

[2015-11-25 12:54] tetanus1234 commented on #17
since friday have same isue as others, my contributor ID 31807945

[2015-11-25 13:09] ElPeter commented on #17
I'm using only 1 account, since today I didn't used the extension, I worked through the CrowdFlower, today there was no work so I installed the extension, I got 1 hit, completed it and after that I received this error...

I don't know why...

34460763 is my ID, if you can check it and fix it. Thank you.

[2015-11-25 13:37] begsoon commented on #17
Yes,yes nobody now didn't use more accounts to do this job.Do not be liars!We all use that way to do tasks of Rainforest,and why we do that? Because we can do that and im sure Rainforest know for that.Now,when more people start to do tasks its to much for Rainforest and they can't support that.So we have now this situation,no more work on 2 3 accounts,just 1.Oke,no problem lets do it but first you

[2015-11-25 15:25] nerdatwork commented on #17
@begsoon I understand you have problem speaking/writing fluent English but calling Rainforest staff liars is not going to expedite(speed up) your issue. From what you have managed to type is that you used to use 2 or 3 accounts but now you use 1 so now some of us know how we could not get tasks. You aptly suit your nickname. Please refrain from name calling if you can.

[2015-11-25 15:28] begsoon commented on #17
You don't understand me :D I don't call Rainforest staff a liars.I call these testers who posted that they don't do this job with 2 3 4 accounts :)

[2015-11-25 15:33] nerdatwork commented on #17
@begsoon I stand corrected but in my humble opinion its not the place to call anyone liars. As @ukd1 said post your worker id besides that making other posts isnt going to help. It is only going to take more time for Rainforest staff to read through all these unnecessary comments. Did that make sense to you ?

[2015-11-25 17:10] qpPykT commented on #17
Relax guys, why are you so angry?

[2015-11-25 17:17] suja911 commented on #17
hey regarding with all this what is happening,is it 17 hits a good number?

[2015-11-25 17:48] chmi16 commented on #17
35266086 CF elite
I have two other accounts on ClixSence 32880993 and Neobux 35169212 so you can block this two

[2015-11-25 19:01] remo24 commented on #17
Facing the same problem. I'm using only one account, my worker id 31841666.
When i got a hit from the extension it is showing "Maximum number of unsubmitted assignments" msg.
Please check and solve the issue.

[2015-11-25 19:15] Sombordc commented on #17
I' having the same problem since Friday. My ID is 33128664 through CrowdFlower Elite channel. Message "You have reached the maximum number of unsubmitted assignments" is always present and i have managed to do only 5 tasks since Friday. Please review this ID.

[2015-11-25 19:27] m0dal commented on #17
My worker ID is # 33863320 and from Friday i did 3 hits. I receive standard "Ooops" time to time, but more "Maximum number of unsubmitted assignments" (use extension and ID's from CrowdFlower).
I don't work with multiple accounts.

[2015-11-25 19:30] blago1989 opened #19 "I can not do any test"
Hello, in the past few days I can not do any test in Rainforest, I have the same problem like others -  my worker ID is 32663317

[2015-11-25 19:50] qpPykT commented on #17
@m0dal You use one or more ID's from CrowdFlower?

[2015-11-25 19:51] rnfrst commented on #17
To Russ,
In case you are reading this, I just wanna ask if you are aware that an account in Crowdflower (CF) allows the use of different channels (like Neobux, Clixsense, Crowdflower Elite, etc.)...  A user can opt to use these channels while still maintaining the same account provided that a Job ID should only be accessed in one channel (this is already controlled by CF system). The problem is th

[2015-11-25 19:53] blago1989 commented on #17
Hello, in the past few days I can not do any test in Rainforest, I have the same problem like others - my worker ID is 32663317

[2015-11-25 19:57] helloworld111gh opened #20 "Getting rate-limited without having multiple threads running"
I am getting rate-limited using the extension when there is only one thread/timer running. This happens every 3-6 checks.
Worker ID is 12219174

[2015-11-25 20:07] llichigoll commented on #17
Hi ,

I need help, I'm not able to do a job for more than 15 hours while the computer, I'm always getting error messages such as:

"You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit."

or

"Ooops: another worker accepted

[2015-11-25 21:05] elip0 commented on #17
Hello,

I have only one account, my ID is 31001914.

Only 1 hit since Friday and I keep getting "You have reached the maximum number of unsubmitted assignments..."

I use the extension. I tried removing it, but it was the same without it.

Thank you

[2015-11-26 00:24] ando100 commented on #17
@disappointed, Thank you for your correction, English language is beautiful, then there are Shakespeare, Milton, Lord Byron etc. But you`re totally offtopic. Back to topic: This guy edited his message several times and I did reply to his- I assume 1st message. He was boiling and insulting all over+ included how he cheated. My message might have sounded harsh to you, but time-when you saw it- he al

[2015-11-26 01:02] ando100 commented on #17
went through all messages, @begsoon sounds similar to Genesis2015 :)
my bottomline as of today- the extension works and works good. Really! I do not have multiple accounts etc.,
got and did lots of tasks. Hoping the extension get the sound.

[2015-11-26 01:41] mueller2511 commented on #17
Hi Rainforest Team,

Is the issue identified or still yet to know the exact cause of the problem, as i am still getting the message.

Hoping you to fix the issue faster and have a nice day.

Thanks

[2015-11-26 01:44] mueller2511 commented on #17
ando100 it is good to see it is working fine for you but this thread is for the issue which is causing most of the testers not able to work and not for asking whether the extension is working fine or not, so please don't spam the thread and make it hard for the RF team to read the comments and think that the problem is gone.

I hope you understand what i mean to say.

Thanks

[2015-11-26 01:50] ando100 commented on #17
@mueller2511 There is no issue atm.
Do you mean that:  Right now my oops changed to the following message for your information and my husband laptop is off and he is not doing any RF task at this moment.
-
You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh t

[2015-11-26 01:55] mueller2511 commented on #17
i am not saying you are wrong but don't spam the posts with other users details seems like you are having some issue with your attitude and highlighting some other posts shows it and i am not in the mood to spam the topic more.

[2015-11-26 02:10] nerdatwork commented on #20
Please refer to #17 and mention your worker id there since having a single thread helps RA staff to work on the issue.

[2015-11-26 02:14] ando100 commented on #17
no offence- I-´ve been around and "you and your husband" figure around in forums, I do not mind.
I do not care.. I was trying to help- as this as you describe is not allowed- thats it. Did not Spam, got the info from your username. All the best !

[2015-11-26 02:22] mueller2511 commented on #17
@ando100 lets stops fighting and just tell me whether you were having the same issue before or never got the message , if you did have the issue was it re-occurring to you lately or gone.

[2015-11-26 02:36] ando100 commented on #17
I never got the message.. And yes- all working like a charm. Might be- one person-me- using one account, one laptop etc. Peace and no hard feelings, all ok and great :) RF now got the forum they were looking for, lol :)

[2015-11-26 04:06] mueller2511 commented on #17
Good to most of you are not having issue but speaking as of now i am getting the message
"You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit."

following is the assignment id

https://tester.rainforestqa.com/tester/assign

[2015-11-26 10:47] tetanus1234 commented on #17
same message all day, did anyone find any solution???

[2015-11-26 13:34] direkkundk opened #21 "Choosing between different channels - Elite, NeoBux ..."
Is there any option to choose between the channels mentioned in the title? I've claimed profiles for different channels and now the extension constantly opens hits for one channel only. No matter what I do, I'm not able to change it.
Thanks

[2015-11-26 14:18] KabakF commented on #21
@direkkundk
1- log out from  " https://portal.rainforestqa.com/login " and log in with your new ID
2- remove your extension and re-install it
3- make your extension "active" (note: if you see a portal login page, just login with your new ID)

that's it

[2015-11-26 14:29] KabakF commented on #17
I think that they should write some code like "This job only can be completed by one user for this IP address"
So people like those guys who uses multiple accounts on same time would be sad for more fair working terms.

[2015-11-26 14:43] direkkundk commented on #21
Thanks for the reply. I've got more questions. What do you mean by new ID, Elite or NeoBux IDs or new mail and passwords because when I change password for one rainforest profile it gets changed for the other profile as well.

[2015-11-26 15:16] KabakF commented on #21
One email adress must belong to one RF test account. You should decide that which account you want to use. I suggest you to use EliteCrowdflower for no interruption of the money.
Lets say you have 2 email adresses;
                                                   1- elite@rainforest.com = It belongs to your Elite account(ID)
                                                   2- neobux@rainforest

[2015-11-26 18:12] Savan47 commented on #17
I can't believe how KabakF and others who post here and don't have any problem, can be so selfish. If some of us told that we don't use any other accounts and we still get same message, why would you again start to insult us?
Now we all here lie and you are fair tester, wow great for you.

I personally didn't even gave my brother to jump in and work because of IP.

If it's working for you then eve

[2015-11-26 19:46] KabakF commented on #17
@Savan47 hey hey slow down, I never said such a thing like you are liar. I only say It would be fair if everyone use one account to work on. I have same problem and I am not happy cuz you can't work or like I'll do your jobs too, just please don't make up.

I'm here to say my opinion and I think I have right to do that. I never have insulted someone here.

Thanks

[2015-11-26 20:28] Savan47 commented on #17
@KabakF
Sorry but your "So people like those guys" had double meaning for me, now i see what you thought about.

It's not like i am furious or you ruined my day or i care if "my job goes to someone else" it's like there is to much spam about what should be good/fair and what is not.
I am not saying we shouldn't be fair to each others but that's not just topic about that + reading all this spam pos

[2015-11-26 22:19] KabakF commented on #17
@Savan47 I find you right and deleted my comments, I'll delete this one too, after you see it

[2015-11-27 01:35] mueller2511 commented on #17
@tetanus1234 , same issue for me still and i don't think they have found any solution.

[2015-11-27 08:38] sizika66 commented on #17
Hello! I have the same problem like others, since friday. "You have reached the maximum number of unsubmitted assignments..." The last HIT was: 2015-11-25 18:21:59 UTC Since than I can not do any test, I use extension and it's always "NO". I tried to do the task even without extension but it's the same problem. I've reinstalled extensions several times, again the same problem. I use Windows XP, SP

[2015-11-27 09:55] androwg commented on #17
@ukd1 Also i have this problem when any hit opens i got this message "You have reached the maximum number of unsubmitted assignments..."
i have no working in any hits and i dont have another account my worker id (32916100)

[2015-11-27 14:45] ihorpolianetskyi commented on #17
again and again, I have only one hit which says: "You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment (s ) and refresh this page, or simply return this hit. "can I do something wrong, employee ID Crowdflower:
33330543 ClixSense. Road Administration, please check it please.

[2015-11-27 15:31] pscohn commented on #17
Hey Testers,

Just wanted to give you a quick update. We've found a potential fix for this problem and expect to have it out on Monday. I know this is a very frustrating issue for many of you, so thank you for your patience, and we hope to have it fixed as soon as possible!

Paul

[2015-11-27 16:08] mueller2511 commented on #17
Very happy to see that you have found the bug and going place a fix for it which makes me to forget all the stress which we had complete week.

Thanks RF Team.

[2015-11-27 17:33] Ranky2211 commented on #17
Hooray ! Hi  Paul Thanks.Please resolve also HIT xxxxxxx cannot have.new job assigned to it.I got hundred of it.If you need these hit number for resolving this issue.I can give you all hit number.Thanks for your concern.

With Regard,

Worker id - 33432784

Ranky

[2015-11-28 20:44] Ranky2211 commented on #17
Hi @pscohn and ukd1 Can you please tell me if i have doubt about rule posted on tester portal where can i clarify my doubt.I understand all rule except only one which was implemented by Russ.Thanks

[2015-11-29 01:39] pscohn commented on #17
@Ranky2211 you can email our support channel at testers@rainforestqa.com

[2015-11-29 05:26] Ranky2211 commented on #17
@pscohn Thanks for reply.I already asked them but they reply all my query but not clarifying me about that rule.I think either they don't know properly about it like me or not understanding my question.Okay i asked them again.

[2015-11-29 09:02] nerdatwork commented on #19
Please make a post in #17 as this has already been covered.

[2015-11-29 09:08] androwg commented on #17
@pscohn the only thing i hope that these problems doesnot affect our rate in Rf
Our Rate sufferend a lot from(terminal with no connection-we have reached our maxium-fail to take screenshot-security error occured Error #204-connection lost)

[2015-11-29 14:15] pscohn commented on #17
@androwg The rating in your profile is actually not a very good representation of your accuracy, since it does include errors like you mentioned. We're going to change the way it's calculated to only include jobs that you've completed, so for now don't worry if it goes down due to errors :)

[2015-11-30 03:59] NSPthakur commented on #17
Please post job IDs on task page. because job ID work better than Extension. And "you have reached the maximum" problem still persists.

[2015-11-30 14:09] tetanus1234 commented on #17
it is monday and same message still, can't work

[2015-11-30 14:33] begsoon commented on #17
Its 06:33:06 PST in San Francisco :D

[2015-11-30 14:37] ihorpolianetskyi commented on #17
Good day! This again I have nothing I have not changed: You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit. Job (hit):
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx1540b8-c4c3-4426-8a3

[2015-11-30 15:34] ahmedofhell commented on #17
And..
Application Error
An error occurred in the application and your page could not be served. Please try again in a few moments.
If you are the application owner, check your logs for details.

Error message all the time!

[2015-11-30 16:03] pscohn commented on #20
@helloworld111gh How do you know you are getting rate limited / can you post a screenshot of the issue?

[2015-11-30 16:26] pscohn commented on #19
Closing as duplicate

[2015-11-30 16:26] #19 closed

[2015-11-30 16:56] mueller2511 commented on #17
Getting the message "You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit"

hoping it will get resolved by EOD today.

[2015-11-30 18:18] pscohn commented on #17
The fix is still planned for release by EOD, though it **might** only be a temporary fix. We will have to see whether it solves the problem permanently.

[2015-11-30 18:28] NSPthakur commented on #17
Thank you @pscohn . And when new ids will posted on task list?

[2015-11-30 20:33] direkkundk commented on #21
Appreciate your help but nothing seems to work. I did as you instructed but the extension still gives ooopses for the same RF profile, not the one I want.

[2015-11-30 20:47] ahmedofhell commented on #17
Thank you @pscohn We appreciate your help.

[2015-11-30 23:17] helloworld111gh commented on #20
Pic: http://puu.sh/lEJuX/dbc19c367e.png

[2015-12-01 00:26] pscohn commented on #20
@helloworld111gh Thanks - and you are not running the chrome extension in any other browser window, Chrome profile, or computer?

[2015-12-01 00:31] helloworld111gh commented on #20
I am only running the extension in one window/profile/computer

On 30 November 2015 at 16:26, Paul Cohn <notifications@github.com> wrote:

[2015-12-01 00:35] pscohn commented on #20
Looks like it could be a legitimate bug, so I'll look into it after some other more pressing fixes. In the meantime, it shouldn't cause too much trouble, as it only happens once every several checks. @helloworld111gh

[2015-12-01 03:30] mueller2511 commented on #17
@pscohn can you please confirm whether the fix has been implemented or yet to implement.

Thanks

[2015-12-01 11:34] Savan47 commented on #17
It works now, i am getting job one after another.
How about you guys?

[2015-12-01 11:38] chmi16 commented on #17
Still same message. Only 2-3 hits per day

[2015-12-01 11:38] ahmedofhell commented on #17
Yes It's works fine for me.

Thanks @pscohn for your help.

[2015-12-01 11:45] sizika66 commented on #17
Still same: : "You have reached the maximum number of unsubmitted assignments..." Just one HIT today. It's frustrating! :(

[2015-12-01 12:18] sizika66 commented on #20
Hi! I have the same problem for last 7 days.
![005](https://cloud.githubusercontent.com/assets/16043846/11500482/bde0fda2-982d-11e5-8068-7374a3a984e4.JPG)

ID 1236854

[2015-12-01 12:18] ihorpolianetskyi commented on #17
The same as always, it's probably best for me. This is very sad.
Can the road administration and developer change or correct something ?!

[2015-12-01 17:45] BV25 commented on #17
@pscohn Hi Paul,

I'd also like to bring to your attention that when this max assignment problem started, there's another issue which popped up - that of slow copy-pasting and/or typing inside the terminal. It is extremely slow to copy-paste any link or even type manually.

This issue had occurred in the last month too, but was resolved within 2 days that time. Now, it has been more than a week, I

[2015-12-01 20:45] ahmedofhell commented on #17
"You have reached the maximum number of unsubmitted assignments" again!!

[2015-12-01 22:09] pscohn commented on #17
The fix has been partially deployed as of last night - there was a problem implementing it, but it should be completed within a few hours.

[2015-12-01 22:42] pscohn opened #22 "Another worker accepted the job before you"
We should try to reduce this error, possibly by reserving hits before opening the tab.

[2015-12-02 04:48] nerdatwork commented on #22
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxa3931d-4faa-4e67-8484-4972f902f644&browser=any&hitId=3979334&sig=9b4233a96b98382752ae0a9b1e1ca52a8ea3a0821cb22abf5e4140c83c289431&turkSubmitTo=%2Fthanks&workerId=NERDATWORK

Same oops message, I hope this task url helps

[2015-12-02 05:47] nerdatwork commented on #22
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx3cffd3-6c4a-4692-8c92-5163bd849931&browser=any&hitId=4371211&sig=56e9a0e72f92f2a46b3f40a488ce3a5a2bbc35a1c16aefa048b15ebef93e64f3&turkSubmitTo=%2Fthanks&workerId=NERDATWORK

Another 1

[2015-12-02 06:44] nerdatwork commented on #22
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx5904cb-5b51-4f6c-8962-46a2515d04c2&browser=any&hitId=4570330&sig=8c25458b9b64898d67073656e3d07361a249ad4bc5110c06500c342a14628146&turkSubmitTo=%2Fthanks&workerId=nerdatwork

another

[2015-12-02 07:19] nerdatwork commented on #22
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxf87fb8-69d9-478c-807f-26fe98e80f42&browser=any&hitId=3326957&sig=05d2e6fdc784b332a99b4f05e77607d169cfd4ad3dcd8b53c131f865617375d8&turkSubmitTo=%2Fthanks&workerId=nerdatwork

[2015-12-02 07:34] nerdatwork commented on #22
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx7f3ea8-bedf-494f-853c-05a921073bbb&browser=any&hitId=3326891&sig=7b1ff12398b314ba59fa0804f674fa5f3aa384d686ee1d18651b6696b776f98d&turkSubmitTo=%2Fthanks&workerId=nerdatwork

[2015-12-02 07:36] cookin2 commented on #22
Pasted below is the latest Ooops message - I've had many the last several hours, and not one hit.

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx33ccf8-ba4e-4ae5-b44b-e04405357a3d&browser=any&hitId=4504031&sig=facdb68f7bae71fd63ed485b117e959b548d1b5f5cd6a51806086d9c98e25ddd&turkSubmitTo=%2Fthanks&workerId=XXXX

[2015-12-02 07:47] cookin2 commented on #22
Another

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx21ff8b-8635-4739-805a-7203b51644a5&browser=any&hitId=4478765&sig=160e12655c4e67d5e6c06e39ccbade0a40637ad1dbb6ae412a319e8363a2f3f2&turkSubmitTo=%2Fthanks&workerId=XXXX

[2015-12-02 08:02] nerdatwork commented on #22
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx077af5-3107-4b97-b85a-f7a831036867&browser=any&hitId=3979334&sig=bf4f2dd0df54a779b1f73b90eae738facbaf3486230036205921df09874e2b39&turkSubmitTo=%2Fthanks&workerId=nerdatwork

[2015-12-02 08:10] helloworld111gh commented on #22
@nerdatwork @cookin2 There is no point in posting links because RF do not have a "reserve hits" feature, and the actual reservation of HIT only occurs when the tab is opened. As opening a tab is very slow many time all the HIT will be gone before the tab loads
So this is a feature request, not bug.

[2015-12-02 08:19] cookin2 commented on #22
Got it, thanks for explaining :)  I thought that I was helping, sorry for cluttering things up!

[2015-12-02 08:49] androwg commented on #17
it works fine for me now :)

[2015-12-02 09:11] ihorpolianetskyi commented on #17
and for me. Thank You!

[2015-12-02 10:10] nerdatwork opened #23 "Server not responding"
![image](https://cloud.githubusercontent.com/assets/15882196/11528139/e55f3442-990a-11e5-9803-81bf5e24b921.png)

Have been facing this for few hits that actually work.

After refreshing it 3 times I got this message

This assignment has already been completed. If you have already submitted this assignment (by pressing the blue button at the end), we have received your work and you will be paid sho

[2015-12-02 15:58] sizika66 commented on #17
It works now. Thank you! :)

[2015-12-02 16:23] mueller2511 commented on #17
working fine upto now without any problem. Thanks pscohn for implementing the fix.

[2015-12-02 16:46] pscohn opened #24 "New testers can't get work / No jobs are posted to Crowdflower"
From JP:

[2015-12-02 17:11] ukd1 commented on #24
Unless we've actually broken this code, it's likely a symptom of the work being "eaten" up by the chrome extension.

By eaten up, I mean it becomes visible to the chrome ext AND hit manager at the same time, the faster and more jobs get accepted by chrome, the less there are for the hitmanager to issue.

[2015-12-02 17:14] pscohn commented on #24
That sounds probable since a lot of people have switched over to the chrome extension, though it raises an issue for people who have never tested for us before and want to start.

[2015-12-02 18:38] pscohn commented on #23
There is a slash missing in the url after the .com, did you accidentally delete it somehow after pasting?

[2015-12-02 18:51] nerdatwork commented on #23
yes I accidentally deleted the slash but I always copy paste the url so I am sure it gave the same server issue the first few tries.

[2015-12-02 18:57] AlexandruVerenca commented on #15
I also have this problem. Worker ID: 34555717  Hit 4487432

[2015-12-02 21:52] ando100 commented on #23
@pscohn - have faced the same thing several times, deleted nothing- it happens usually and only I might say with Mac/ iOS related browsers in VM. Copy-paste URL or something in task- does not pick the whole URL etc. So either after lots of copy-paste it works or just to check and go letter by letter and fix it manually gets this working.

[2015-12-03 14:30] nummion commented on #15
Hi
I have same problem
Hit 4338042 Worker ID:32387530

[2015-12-03 14:58] frenks911 commented on #24
Yea that felling when u get ban on the day the job id died #feelsbadman

[2015-12-03 22:30] tetanus1234 commented on #17
just wanted to say thank you, works PERFECT  :)

[2015-12-03 23:19] pscohn commented on #17
Seems like it's working for most testers now, closing.

[2015-12-03 23:19] #17 closed

[2015-12-04 01:22] ando100 commented on #23
to clarify- I did not get the message- This assignment has already been completed..
Only issue was- copy-paste url or text to VM is not working in Safari and iOS perfectly.
But as of today- no probléms. Don`t know, maybe fixed?
Have not seen the disco lights- meaning blinking Safari- for a while.

[2015-12-04 04:16] k65emil commented on #24
I suggest Rainforest to contact Crowdflower, because something _did_ happen at CF's end on Thursday November 19th, which caused "Test a web application" and most other jobs, but mainly RF and another one that only comes twice a week to stay "permanently" (though changing Job ID when new came) in CF, until Monday November 23rd. From that day there has been no sign of RF (nor the other job) in the

[2015-12-04 15:56] nberchev commented on #24
Yeah its the same problem for me. Recently got my first referal on CF and she is trying to reach your tests and really wants to work for you but without any submitted tasks she cant. So is there some decision for the people who had not worked for you until now? Can she make a profile on the RF portal itself and start working with the extension? Sry for bothering and I stay in anticipation of your

[2015-12-04 19:54] ukd1 commented on #24
@pscohn lets sync on this Monday.

[2015-12-04 19:58] ukd1 commented on #22
Yeah; @helloworld111gh is right. Screenshots or pasting the message is good, the links are less valuable to debugging this.

BTW, this error is currently expected. We're thinking of changing to pre-assign the work to you when before opening the new tab.

Russ

p.s. The current process does a check, then opens a tab which tries the reserve (taking 0-5s to do it), sometimes this means it's gone by t

[2015-12-05 12:27] nerdatwork commented on #22
@ukd1  All these links gave the same OOPS ... message and it was a way to show you how much work I could have done with those many links in 1 day. Shows my patience in a way and hard work ( not trying to brag ) I only tried to help and maybe show my frustration a bit :)

[2015-12-07 14:41] mojenLXXXIII opened #25 "Submitted Hits not appear in Job History"
I have tested and submitted around 5 Hits using app.rainforestQA website in 6th and 7th DEC, unfortunately non of those hits was recorded in Job History list till this moment,

does the persistence of Application Error related to this issue ?
did anything changed regarding payment process ?

[2015-12-07 20:36] vanessa180479 commented on #25
Hi, I is happening exactly the same yesterday present several Hit and does not appear in the job history and no not me they have been paid for but if it appears as presented in total jobs, I should also note that this does not always happen that sometimes if it appears and normal payment but not others. Today I also happened this a hit and so far there appears with the history so no payment. Pleas

[2015-12-07 22:49] vanessa180479 commented on #25
just spent 2 hit again present at this time and this one would paid in history, and the second does not appear in the record ID 34208493

[2015-12-07 23:38] KabakF commented on #25
I have same error too. for last 3-4 days I have missed bonuses(cents). They are counted in total job but I don't see them in "History" and not getting paid of them. It thought maybe my job was wrong so that's why they don't pay to me but now I'm sure It's not like that. Waiting for your for reply @pscohn
(My Worker ID: 35273503)

Thanks. Have a nice day everyone :crown:

[2015-12-08 08:02] chmi16 opened #26 "Is there any way that new user install RF extension"
How can new user install this extension without doing any job from ID? There wasn't new ID for quite long

[2015-12-08 13:52] Genesis2015 commented on #26
One of my frends have the sam problem. Hi reched 3th level on CF but there is no way to begin to compelting tests in RF.

[2015-12-08 16:36] nerdatwork commented on #25
History related issue: The hit id that shows up in the URL of the task doesnt match the HIT ID shown in history of RF. What should be considered as the reference point in this case ?

[2015-12-09 15:22] pscohn commented on #26
This is related to https://github.com/rainforestapp/tester-chrome-extension/issues/24, so closing as duplicate.

The short answer is that it's very difficult for new testers to start with us right now as work is assigned to Chrome plugin testers faster than Crowdflower's task list, but we will fix this.

[2015-12-09 15:22] #26 closed

[2015-12-09 15:58] Genesis2015 commented on #26
"...but we will fix this"
We'll waiting with impatience. Thank you  :+1:

[2015-12-09 20:36] AlexandruVerenca commented on #22
Out of 50 hits I get in one day, I can maybe do 5, if I'm lucky. Sometimes they fully load in less than a second and they've already been taken by someone else. It's a bit annoying, especially considering the  chrome plugin forces my browser to focus on the window it opened. Most times I gotta wait up to a minute for the page to fully load, time in which it won't let me do anything else on my brow

[2015-12-10 00:34] remo24 commented on #25
I've completed a 18 step hit 20 minutes ago and it doesn't appear on my rainforest profile history!

[2015-12-10 17:38] KabakF commented on #25
@ukd1 @pscohn bosses, I just completed a job and I'm pretty sure I have done with it 100% correctly but I didn't get paid from it. I don't mind to work free for you sometimes but I don't think that's a normal thing to happen, It happens often this week. I'd be pleasured If you could take a look to this job. **Its HIT ID is 4474734** and **My Worker ID is 35273503**

[2015-12-10 19:03] nerdatwork opened #27 "[URGENT] Missing payments"
Some jobs are not showing up in the RF history and there is no way to cross check which hits were paid and which were not since there is no matching HIT ID.

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxffe049-cced-4100-af54-e369778637bc&browser=any&hitId=3981469&sig=049704fadd2e4572f577630fb6b8ebb35f4da7077d30b02b770a8a11321608a2&turkSubmitTo=%2Fthanks&workerI

[2015-12-10 23:59] mueller2511 commented on #27
Hi RF Team,

I am also having the issue like others and some of the hits are not getting credited and not seeing them in the Bonus history page as well even after couple of days , Can you please confirm whether this is a bug or any rules have been changed , so that i can work on hits that will be paid and not on the ones which don't.

Thanks

[2015-12-11 00:26] Genesis2015 commented on #27
Same situation here :(

[2015-12-11 05:00] pscohn commented on #27
This seems to be related to https://github.com/rainforestapp/tester-chrome-extension/issues/25 but I'll leave it open until we figure out what's going on.

Just to give a quick update, we're aware this is a serious bug and we're looking into why this is happening. I'll update you again when we know what the fix is and have an ETA for it.

[2015-12-11 06:00] mueller2511 commented on #27
Thanks @pscohn for the info.

[2015-12-11 15:41] L4kshmi commented on #24
My account neobux was blocked by what they say use the pc to open multiple ads in one day ..! Now I can not work from there as RF Tester . I want to do it directly from Elite, but not how to install the application and that payments go to this account ... I would appreciate the help ..

[2015-12-11 16:51] k65emil commented on #25
Will it help any if we give you the assignments URLs for hits not showing in history (and thus no payment)? I saved a particular troublesome one I did 1½ hour ago. When I filed bug report for it near the end, I got no response from your server even after several minutes. Had to redo the whole hit again. Only mentioning it because it could be related to it not showing in my history.

[2015-12-11 17:48] nihlathar commented on #22
They are aware of the problem, but so far all their attempts to fix it have failed. I'm in the same boat, sometimes I "get" 20 hits within an hour, but I can do 1 or 2 if I'm lucky. Eventually, they said, it will reserve the job before opening the tab for you, but that means for me that whoever gets away with cheating now, will do so in the future as well. It's quite frustrating, really.

[2015-12-11 19:29] KabakF commented on #27
@pscohn It's mostly happenin when I finish the job by clicking "Other" to give you detailed report

[2015-12-11 19:57] KabakF commented on #27
@pscohn It's mostly happening when I finish the job by clicking "Other" to give you detailed report

[2015-12-12 06:51] mueller2511 commented on #27
Another thing i noticed that when doing the hit if the extension starts to blink and shows Yes in the middle of hit then also after completing that hit it doesn't show up in the bonus history and goes missing, this is happening when doing bigger hits especially even happening for 8 or more steps hits, they seems to get timeout and the extension shows yes but can't open another tab as there is alre

[2015-12-12 07:42] KabakF commented on #27
I'm missing payment for hit **4474734** . 22 steps :rabbit: My Worker ID is **35273503**

[2015-12-12 07:45] Ranky2211 commented on #27
I have same problem.Yesterday i reported HIT on 22 step and its missing and In between step due to hang in website and terminal is not responding when i crop or resize image so i waited for responding and i cant refresh the whole HIT because i am middle of 30 step HIT so it took me some more time to report.Previously i think 2 HIT missing.I dont know its due to time out or some other reason.  @mue

[2015-12-14 20:09] BV25 opened #28 "HITs expire within a minute"
Hello @pscohn  and @ukd1

This is with respect to a new (and serious) error that has been going on for a few days.

The problem unfolds only with 'We've reached the maximum number of concurrent users" message. The plugin opens a HIT but the page changes to the aforementioned error due to maximum testers.

Once this message comes up, we only have 1 minute to be able to get a working Terminal. It is

[2015-12-14 20:45] nerdatwork commented on #27
@pscohn Hits that are answered anything other than YES dont show up in history and neither they are paid. I confirmed it with lot of hits by now.

[2015-12-14 20:47] pscohn commented on #27
@nerdatwork thanks - I'll pass on that info. Has it affected ANY hits that are all answered "Yes"?

[2015-12-14 21:22] nerdatwork commented on #27
Only few hits that are completed with all YES(s) dont show up. Its pure gamble when I do the HIT. I have quite a list of hits that are answered YES and yet not paid or showing up in history. Also emails arent answered yet.

[2015-12-14 21:31] nerdatwork commented on #27
@pscohn Also noteworthy fact, the count of Total Jobs is wrong. If I have a working hit with terminal and I am away for too long that hit is done by someone else. I get the Invalid STATE message. If I refresh it tells me the HIT is already done. Here it still adds that job to my TOTAL JOBS count. This is not correct at all.

[2015-12-14 22:24] Ranky2211 commented on #27
@pscohn  Has it affected ANY hits that are all answered "Yes"? Yes No Bug Found.Today 15 step Attend Hit Url of that Hit - https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxd36cdf-cd4f-4aef-bcbc-5287dc1eceb6&browser=any&hitId=4399243&sig=6b51ded732da83b84f2e7c51ed4f13222af1c697d478bfc681d9a3e02cea1f1d&turkSubmitTo=%2Fthanks&workerId=33432784.Thanks

[2015-12-15 11:12] ptica-rugalica opened #29 "New users"
Hi
Is there any way for new users to start working, because new IDs are not posted on CrowdFlower. Thank You

[2015-12-15 16:15] L4kshmi commented on #29
I also appreciate the help can provide in this matter

[2015-12-15 18:58] BV25 commented on #27
I agree with @Ranky2211 I also had an Attend HIT which was passed (All YES, no report). It was a long-stepper and it really is disappointing to not get paid as it took 20 minutes to complete.

[2015-12-15 19:35] Genesis2015 commented on #27
It happened with Avant test too :(

[2015-12-15 19:48] pscohn commented on #27
The core development team identified a possible fix and pushed it out last night PST - has anyone experienced the issue in the last 12 hours or so?

[2015-12-15 20:00] nerdatwork commented on #27
Nothing is fixed as of this moment. Hits with NO or other answers are definitely not credited. Some hits dont show up even after clicking all answers as YES. Mac OS terminals are still truncating urls on their own after we press enter in the safari browser. Failed to take screenshot still happening. My favorite Application error still there. Oops another worker ... still there. What was the fix ab

[2015-12-15 20:03] pscohn commented on #27
@nerdatwork we're focusing on the issue in this topic - there are other open issues for the other bugs, but let's keep the discussions separate.

[2015-12-15 20:17] nerdatwork commented on #27
@pscohn Duly noted. Regarding the issue in this topic. Few hours ago I did a jobs and they havent showed up.

[2015-12-15 21:27] #25 closed

[2015-12-15 21:55] Ranky2211 commented on #27
@pscohn Hi Yes I experienced today Zenifits 20 step Hit.I think this issue with those HIT who have more than 15 step.It is very disappointing putting so much labour and time and got nothing.Url of HIT https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxe021f8-daad-4025-a56d-99906c1f98da&browser=any&hitId=4520423&sig=38cfca98666204ac1dd073f9b4e67ed3ccdaa7abf6c0300afc90

[2015-12-16 04:11] nerdatwork commented on #27
This hit never showed up in the history

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx6963aa-eb12-4a7f-9fde-7f08bb1baab3&browser=any&hitId=3979334&sig=1938a9b50b7b0073783f9a099ffd0655e484cdbbac0ea4eec8022c430e859e57&turkSubmitTo=%2Fthanks&workerId=11244952 6 steps

If it helps at all.

[2015-12-16 16:45] pscohn commented on #27
@nerdatwork Did you get paid for that job? It is showing up in your account on our end that you completed the job and it was paid.

[2015-12-16 16:52] nerdatwork commented on #27
@pscohn Yes but it was like after an hour or so I waited for 15 mins after doing the task before posting it here. Are the bonuses being paid for 10 or more jobs ?

[2015-12-16 18:22] Ranky2211 commented on #27
Hi @nerdatwork you can crosscheck it by seeing bonus notification in Crowd flower dashboard in which assignment id mentioned (cxfdd328-2d70-4a48-870f-d3ece8dc70ac) like Congratulations, you were bonused xx cents for your work on Test A Web Application Using Any Browser! Hey nerdatwork , You work was approved; here is the promised bonus of xx for completing unit cxfdd328-2d70-4a48-870f-d3ece8dc70ac

[2015-12-16 18:58] nerdatwork commented on #27
@Ranky2211 Thanks I will look into it ;)

[2015-12-16 19:59] begsoon commented on #27
Guys it  is not only problem when we go NO or when we have hit with 15+ steps.I have both situations when bonus dind't come. Most of hits didn't come when I do 4 5 hits in row..and 1 or 2 bonuses didn't come :)

[2015-12-16 20:15] belmaMes commented on #27
In the last few days I did about 20 jobs that weren't paid.I did most of them two days ago, but today I had the same problem. My ID is 34464690

[2015-12-16 21:52] ihorpolianetskyi commented on #27
over the same number of job (hit) https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx332f02-a8bc-4610-856e-4a88e8847a63&browser=any&hitId=4601340&sig=2f46693d8c5baab344f7258eb5fd3f047001b99723a8c0929cb135eb353cde39&turkSubmitTo=%2Fthanks&workerId=33330543

[2015-12-16 22:07] L4kshmi commented on #27
I Dont have received any payment. My id is 35548639

[2015-12-17 01:15] zykezzz commented on #27
Hello there,if you find a complete fix on this issue, will you compensate all the unpaid hits? Even if we dont file tickets? Im sure there are contributors out there like me who doesn't remember all the hits we did. I hope you can find a fix soon. Thanks for the hard work.

[2015-12-17 01:18] begsoon commented on #27
No bonus of 10% tonight :-1:

[2015-12-17 15:21] awnosa opened #30 "test not payment"
this test not paid and I'm finished this task to the end without any problem, this is url of task

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx1053c7-b4ef-443a-81b5-b0fcdccff033&browser=any&hitId=4622631&sig=6d5e58d3ce23cb9749f3a2f3317250034ceeaef83f8a427f803fb57b22f404e3&turkSubmitTo=%2Fthanks&workerId=32656569

11 steps

my ID 32656569

this is url of failed

[2015-12-17 16:28] pscohn commented on #30
Closing as duplicate of https://github.com/rainforestapp/tester-chrome-extension/issues/27, you may repost there.

[2015-12-17 16:28] #30 closed

[2015-12-17 17:27] pscohn commented on #29
This is a duplicate of https://github.com/rainforestapp/tester-chrome-extension/issues/24, see there for more info.

The short answer is it's very difficult for new users to get started right now, but we're going to fix this soon.

[2015-12-17 17:27] #29 closed

[2015-12-17 17:41] pscohn commented on #27
Just a quick update -

We identified a possible reason for this problem and made a change that might fix it in the short term. If anyone performs a job (after this message) and it doesn't show up in your history/bonuses within an hour or so, you can post the job url here so we can keep debugging.

[2015-12-17 18:04] nerdatwork commented on #27
Awesome @pscohn rocks. My fingers are itching to do the next job ;)

[2015-12-17 18:35] awnosa commented on #27
this test not paid and I'm finished this task to the end without any problem, this is url of task

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx1053c7-b4ef-443a-81b5-b0fcdccff033&browser=any&hitId=4622631&sig=6d5e58d3ce23cb9749f3a2f3317250034ceeaef83f8a427f803fb57b22f404e3&turkSubmitTo=%2Fthanks&workerId=32656569

11 steps

my ID 32656569

this is url of failed

[2015-12-17 19:59] pscohn opened #31 "Extension may not be getting jobs for some users"
https://rainforest.zendesk.com/agent/tickets/8644

One tester reported the extension not working for the last 3 weeks. I've also not been able to get a job myself (using the extension with Russ's account).

[2015-12-18 01:48] Dizel9 commented on #27
@pscohn

Here is my last hit , Polleverywhere , 29 steps , i didnt paid for it.I finished it without error and its not in my statistcs.
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx583ebb-b8d5-4325-9a32-0cb1f7b2cf1d&browser=any&hitId=4574834&sig=f006e4ebbeb7a0fb005a735261fa6a464a400758ee4015a8498c0fdaae38f9cd&turkSubmitTo=%2Fthanks&workerId=31852896

[2015-12-18 06:33] pscohn commented on #27
So, it looks like no one has spoken up about hits from today actually missing payments (awnosa's were older), so after tomorrow if there are no new reports I'll close the issue.

[2015-12-18 06:35] pscohn commented on #27
I'll also add that we'll try and see if there's a way to credit those of you who missed payments due to this (but it may not be possible to know which jobs to credit).

[2015-12-18 07:10] awnosa commented on #27
This task I finished it today to the end without any error, but not shown in history job and not paid until now.

16 steps

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxf19062-2c8f-4d78-8dc1-8d907de52452&browser=any&hitId=4611342&sig=788cf91f2dd2c7a4efa1f53f0ff935f13e35d2256f5a34cc3ff14fa4476e037c&turkSubmitTo=%2Fthanks&workerId=32656569

[2015-12-18 07:32] Acromastyc commented on #27
Hello, I already contacted CrowdFlower regarding my problem, but they have told me to contact RainForest support. My problem is that I receive the payments for each job done and it says that I have received all the bonuses ( a total of 308c ), but I haven't received any of them.
Hit Id of the jobs that I have completed and haven't received the bonuses: 834602794 / 818477798 / 817510214 / 816981779

[2015-12-18 16:34] rnfrst opened #32 "We're sorry, we've reached the maximum number of concurrent testers we can support. Please reload and try again."
When a HIT is opened, the message "We're sorry, we've reached the maximum number of concurrent testers we can support." appears. Refreshing the page doesn't help. And then after 4-5 refresh, the message "You've requested this job too often" shows up. Much worse is that we have to wait 10 minutes before we could get another hit... Can you increase the number of times allowed to refresh a HIT that i

[2015-12-18 18:24] nerdatwork opened #33 "Cross connection. Terminals are shared"
![image](https://cloud.githubusercontent.com/assets/15882196/11903900/83eb26d2-a5e2-11e5-93d0-6f1f6d800a01.png)

This is the second time today that my terminal was shared with another worker and this is absurd. This needs to be fixed asap

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx732a12-2d98-4b54-a6f2-89d2b7e5bac6&browser=any&hitId=3326957&sig=7b49be86810db

[2015-12-18 18:29] BV25 commented on #33
This is prevalent all day throughout today and is happening with every other HIT/terminal I get. It is really really distressing.

I'd like to point out some testers are also using abusive language in their native language and blackmailing us to leave the Terminal and get out. Such language is intolerable.

[2015-12-18 18:32] qpPykT commented on #33
I have the same problem twice.

[2015-12-18 18:32] mueller2511 commented on #33
Almost all the hits which i had for Consumer affairs had the same problem and even after restating the same problem and after 4 time , request too often due to which now i am not able to do the job.

[2015-12-18 18:40] pscohn commented on #33
We're looking into this ASAP.

[2015-12-18 19:12] Genesis2015 commented on #33
I have the same annoying problem! It's drive me crazy and i've lost lots of HITs :( I hope this problem will be resolved ASAP :)

[2015-12-18 20:13] nerdatwork commented on #33
@pscohn Its prevalent mainly in Mac terminals and not restricted to Consumer affairs site HITS alone.

[2015-12-18 20:16] mueller2511 commented on #33
@nerdatwork was right, i just lost a 16 stepper hit due to the same issue which was Mac, but had the issue in windows as well on other hits.

[2015-12-18 20:17] androwg commented on #33
Also i have this annoying problem Also today very increase in we have reached our maximum .
my accuracy in profile went below 70% i hope  not to be near to block :(

[2015-12-18 20:42] YOYO50 commented on #27
Still missing payments from 9 days ago and 1 from today.  I had to report an error and the hit never filtered to my dashborad, so I was not paid

https://app.rainforestqa.com/job/4087020/2d6a587dba05f98e7

[2015-12-18 21:12] mueller2511 commented on #33
lost lot of hits today due to the shared user & Concurrent users issue , i hope it doesn't effect my account.

[2015-12-18 21:14] ando100 commented on #33
@pscohn   At least now- maybe you should eliminate the 4 tries rule, up to the point problem gets solved? If it`s not so big trouble.
Kind of " Mice Cinema" from my point of view with most of tasks today.
Reason- 4 tries- out.

[2015-12-18 23:14] Ranky2211 commented on #33
@pscohn Same here Lost so many HIT due to shared terminal or terminal is loaded Half then Something went wrong or max message.In some hit when i paste job url then someone erasing my url and putting theirs and when i again trying then someone close browser and shutdown the terminal.Its like someone trying to stop me doing HIT then connection lost.Refreshing give you requested this job too often pl

[2015-12-18 23:50] pscohn commented on #33
Just to clarify, have you all experienced this problem in the past, or has it started happening today?

[2015-12-19 00:08] Ranky2211 commented on #33
@pscohn All other problem i experienced in everyday testing except  other tester working on my terminal I experienced today.Its my first experience.Erasing url,closing browser,and shutdown the terminal.Firstly i don't understand what is happening in the terminal but later understand.

[2015-12-19 00:10] Genesis2015 commented on #33
I have experienced this problem in the past, but very rarely compared to today.

[2015-12-19 00:13] ando100 commented on #33
Just to clarify, have you all experienced this problem in the past, or has it started happening today?

in the past-yup- but rare, today- massive...Meaning all over.  Meaning- I just sit back and relax and enjoy. Mouse cinema...

[2015-12-19 02:37] nerdatwork commented on #33
@pscohn I never experienced in the past just today.

[2015-12-19 03:22] teteuc2 commented on #32
The truth is that the terminal is no longer the same for some time now. I am also having this error several times, terminal shared with others, screeshot errors. It's very difficult work that way. They could arrange and make the terminal was exactly as it was before.

[2015-12-19 10:13] Genesis2015 commented on #32
I agree with @teteuc2

[2015-12-19 11:16] Ranky2211 commented on #31
It might be true.For me i noticed that it didn't work on Saturday,Sunday and Monday.Mostly i got oops or hit from Tuesday to Friday and it depend on luck also.Its so funny you couldn't.

[2015-12-19 11:44] Ranky2211 commented on #32
I also noticed that the terminal is bigger in size from the previous one and due to which problem in loading terminal that give this message or something went wrong message and also some hit have comment box to comment but not able to write in the comment box terminal covered half of the comment box.

[2015-12-19 18:46] tetanus123 commented on #33
this problem has happend to me in the past, and I know a lot of people also faced this, but after refreshing terminal was ok.
yesterday was crazy, lots of hits lost because I had to refresh HIT and every time someone else was there with me, had nice chat with few of them lol

[2015-12-19 19:26] androwg commented on #33
AS tetanus123 SAID

[2015-12-19 19:41] kwimy commented on #27
The mistery of the missing hits...
Today I missed another and don´t know how can I claim, I can´t find the URL in the history of my browser but it was a 19 steps hit of PollEverywhere, in step 10 had to say if a picture that had upload in step 9 was visible,I've been waiting more than 10 minutes for the image load but image stays loading and never appears.
I´ve reported the hit and doesn´t appear

[2015-12-21 08:50] mueller2511 commented on #33
Still having the same issue.

[2015-12-21 08:54] nerdatwork commented on #33
Just now faced a shared terminal with windows and firefox environment.

[2015-12-21 08:58] nerdatwork commented on #27
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx8cd69a-70ed-4827-a7ea-4a87957fb718&browser=any&hitId=3979334&sig=03803eab2c373a279d297f98d558af2666a8faad648e2f343222b71f548f4217&turkSubmitTo=%2Fthanks&workerId=

Doesnt show up in the history. I finished it just now

[2015-12-21 09:33] nihlathar commented on #33
It's still happening by the way. Maybe less than before, hard to say. Other jobs than the consumer affair ones (including internal/rfqa).

[2015-12-21 09:34] mueller2511 commented on #33
@nihlathar may be less for you , but its happening almost all the hits which i am getting just like friday.

[2015-12-21 10:16] begsoon commented on #33
it is possible to do any hit
we have 4 times to refresh and again and again terminal was shared by someone
and then ''to often req''

this is serious issue

[2015-12-21 10:21] teteuc2 commented on #32
Another day and even errors. No official response. Please undo the change you made in recent months, much has worsened the terminal and the lives of testers.

[2015-12-21 10:26] Genesis2015 commented on #32
Same to me :(

[2015-12-21 10:33] Genesis2015 commented on #33
The problem still persist to me :(

[2015-12-21 10:39] androwg commented on #33
it is impossible to work in these conditions right now.

[2015-12-21 10:55] tetanus123 commented on #33
here we go again :dancers:
I just hope we are not going to be baned for losing so much hit,  because as @androwg said, it is impossible to work

[2015-12-21 11:19] ukd1 commented on #31
@pscohn any ideas why?

[2015-12-21 12:36] nerdatwork opened #34 "!!! Happy Holidays !!!"
I know this is meant to be bug reporting but I want to take time to wish everybody at Rainforest a Merry Christmas and a Happy New Year. May RF achieve new heights in providing the best platform for testing.

[2015-12-21 13:07] mueller2511 commented on #33
Don't know weather this has anything to do with the shared user terminal but in the last 2 hits i haven't see the issue but started to see the following error.

Connection error
dail tcp 67.221.170.49:80: i/o timeout

if you are a tester, please report this issue
Manchine ID: 8212641

and the page was not loading at all.

Thanks

[2015-12-21 13:13] androwg commented on #33
Yes as mueller2511 said terminal cross connection is over for the last 2 hits  but first hit page no need to load at all and the second give Connection error dail tcp message.

[2015-12-21 14:31] teteuc2 commented on #33
The terminal features many problems after the latest updates. Back with our good please terminal. I need it to survive.

[2015-12-21 17:25] Ranky2211 commented on #33
Hi I had to report 7 Hit of connection error on first step.They are all consumer affair HIT.Connection error
dail tcp 67.221.170.49:80: i/o timeout with different machine id.

[2015-12-21 17:27] teteuc2 commented on #33
You could go back to the CF. The extension does not work right, absurdly bad terminal. Return everything as it was six months ago when everything worked normally for us testers. Please!

[2015-12-21 17:30] androwg commented on #33
@pscohn Everything is ok now except increase in amount of we have reached our maximum which may consume the 5 refreshes.

[2015-12-21 17:40] awnosa opened #35 "broblem in alot of task"
today found url in a lot of test not work and very slow, in this case take screenshot of terminal and click next step and choose no or other is this right answer or not?, or the right should close test with take screenshot, what the correct answer in this case? and for this step pay 4c only.

![test](https://cloud.githubusercontent.com/assets/16338438/11937060/99def678-a81a-11e5-8249-6f1a8c314bd0.

[2015-12-21 17:44] rnfrst commented on #32
Again this error for every hit

[2015-12-21 17:46] jbarber commented on #33
@teteuc2: The extension does nothing apart from show when jobs are available more rapidly than using CF/mturk - so you will see the same terminal errors whichever method you use to get jobs.

[2015-12-21 17:58] mueller2511 commented on #32
you are right @rnfrst all the hits are getting this message only. its very hard to get the hit directly and after multiple restarts the hit is lost.

[2015-12-21 18:18] Ranky2211 commented on #32
It is very hard to work either app error or max message

[2015-12-21 18:37] pscohn commented on #33
To be clear @teteuc2 @jbarber - you will see the same terminal errors..until we fix them :)

[2015-12-21 20:27] nerdatwork commented on #35
I do not think you are doing it right. You need to read the instructions carefully and then submit the task. All those 4 cents only shows you are not doing the Tasks properly. Please ready the instructions again and again.

[2015-12-21 20:48] Ranky2211 commented on #35
@awnosa I think all these hit are consumer affair hit with timeout error.

[2015-12-21 21:14] awnosa commented on #35
thanks for reply me, but my question what the correct answer when the url in test not open, is the correct take screenshot and choose other or no button and type the problem or close test without screenshot

[2015-12-21 22:02] Genesis2015 commented on #35
@awnosa In your case - Other = Web Page Time Out

[2015-12-21 22:30] pscohn commented on #7
A recent complaint from an mturker:

[code]

[2015-12-21 22:45] pscohn commented on #27
@nerdatwork that job is showing up in our system as paid to you. Do they show up now / have you received payments?

[2015-12-21 22:54] Dizel9 commented on #27
@pscohn
I didnt have problem 2 days in row but today , there is 1 missing payment in my notifications. I looked 3 times until until now and its not recived. Here is HIT ID :
- https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx91d660-4e8c-47fe-b0be-b481664183b5&browser=any&hitId=4559864&sig=bcf124ad229e76450ad6574f09253220f6adbbda403b7fb81a05ebe191433aa7&turkSubmitTo

[2015-12-22 09:44] jbarber commented on #34
@nerdatwork Many thanks!

[2015-12-22 09:44] #34 closed

[2015-12-22 12:27] ptica-rugalica commented on #24
Any update about this? started to working on CF because of this task,and now when I finaly got my levels I can't. Are you leaving CF?

[2015-12-22 17:22] L4kshmi commented on #24
As ptica-rugalica I also started in CF because I was commented on this work. There is some information? We can work in RF? Any comment about this?

[2015-12-22 20:33] nerdatwork commented on #28
There are already working on it and this issue has been covered in earlier threads.

[2015-12-22 21:44] begsoon commented on #27
Polly of 31 step didn't come to bonus history :-1:

[2015-12-23 00:24] BV25 commented on #28
I haven't come across this 1-min assignment completed timeout issue in any other threads here.

[2015-12-23 14:41] BV25 commented on #33
@pscohn Hi, there's an urgent problem ongoing since past 30 mins, that of 'Failed to take screenshot' while working on any HIT. The Terminal loads properly, the Oops page also loads, but you can't work on any Step due to failed screenshot.
Generally this'd have resolved on its own normally within a few mins, but I'm conveying you as it has been more than 30 mins so requesting you to have a look, a

[2015-12-23 14:46] Unsubmitted opened #36 "Failed to report screenshot."
Hi RF Team,

Not able to take screenshot even after multiple restarts on all hits.

Thanks

[2015-12-23 14:48] Ranky2211 commented on #33
@pscohn Same here Screenshot is not working on first step.Its been more than 10 miniute what to do.I refreshed several time.

[2015-12-23 14:53] jaspreet188 commented on #36
same here  :(

[2015-12-23 14:54] BV25 commented on #36
Yes..it has been ongoing for over 30 mins. @pscohn

[2015-12-23 14:56] Ranky2211 commented on #36
@pscohn Hi RF team Same here on first step after pasting job url even after multiple restarts.

[2015-12-23 14:56] NSPthakur commented on #36
getting the same problem.

[2015-12-23 14:57] NSPthakur commented on #36
Getting same problem.

[2015-12-23 14:59] AmaiaKao commented on #36
Screenshot failing, losing hits... :/

[2015-12-23 15:01] qpPykT commented on #36
Same thing for me.

[2015-12-23 15:06] sizika66 commented on #33
Same here. All have a problem at the moment. This is general bug.

[2015-12-23 15:07] sizika66 commented on #36
Same.

[2015-12-23 15:08] Genesis2015 commented on #36
Same annoying situation here :(

[2015-12-23 15:16] nihlathar commented on #36
same

[2015-12-23 15:33] Katy112 commented on #36
Same here.I restarted the hit several times,same error.I got another hit,but same screenshot error.

[2015-12-23 15:44] AlexandruVerenca commented on #36
Yeah, having the same issue. I tried restarting the browser, reopened the window and it persists.

[2015-12-23 15:53] kwimy commented on #36
Same here,2 hits lost due to this problem.

[2015-12-23 16:34] Shatoth commented on #36
same problem!

[2015-12-23 16:52] rajib9 commented on #36
same here...failed to take screenshot...

[2015-12-23 16:55] BonesKnows commented on #36
same here

[2015-12-23 16:58] richiepurple commented on #36
same here

[2015-12-23 17:10] awnosa opened #37 "error in click to take screenshot"
every task open find take screenshot not work any tester find this problem also

![untitled](https://cloud.githubusercontent.com/assets/16338438/11981155/b11ac800-a9a8-11e5-928f-810b14f9787e.JPG)
![2](https://cloud.githubusercontent.com/assets/16338438/11981157/b1ed285e-a9a8-11e5-86d5-b8cd57aaff7c.JPG)

[2015-12-23 17:25] nerdatwork commented on #37
This has already been covered in #36

[2015-12-23 17:27] awnosa commented on #36
same problem

[2015-12-23 17:27] awnosa commented on #36
every task open find take screenshot not work any tester find this problem also

![untitled](https://cloud.githubusercontent.com/assets/16338438/11981155/b11ac800-a9a8-11e5-928f-810b14f9787e.JPG)
![2](https://cloud.githubusercontent.com/assets/16338438/11981157/b1ed285e-a9a8-11e5-86d5-b8cd57aaff7c.JPG)

[2015-12-23 17:38] helloworld111gh commented on #36
gettting 404 errors trying to send screenshot: http://puu.sh/m6anE/c431c5d9c9.png

[2015-12-23 17:43] roko777 commented on #36
I have exactly the same problem. Lost 3 test due to a problem with screenshots.

[2015-12-23 17:48] MuhammadRafique182014 commented on #36
its working now

[2015-12-23 18:32] kwimy commented on #27
The mystery of the missing hits remains unresolved.
A few minutes ago I had to report Attend hit, was 19 steps and I had to report it in step 16,doesn´t appear in my history and I´ll stay without being paid, should correct this error as soon as possible.
I'll have to start making screenshots to see if that way you can check that I sent that hit and can pay me.

[2015-12-23 18:51] jbarber commented on #36
Hi guys, we've identified the issue and fixed it. Many apologies for the problems :(

[2015-12-23 18:51] #36 closed

[2015-12-23 22:16] roko777 opened #38 "No connection in the test browser"
All evening this problem (((![default](https://cloud.githubusercontent.com/assets/16417121/11986028/99fc6efa-a9d3-11e5-95df-1869247679f4.jpg)

[2015-12-23 22:30] Genesis2015 commented on #38
Same here :(

[2015-12-23 22:37] pscohn commented on #33
@BV25 @Ranky2211 @sizika66 The screenshot error affecting tests this morning has been fixed, but please don't tack on unrelated bugs to an issue topic like this, as it just bloats the thread :)

[2015-12-23 23:59] Ranky2211 commented on #38
I face this connection error with only consumer affair hit and this is with their website problem and to be reported.Problem is not with test browser.i checked the browser.It has connection.

[2015-12-24 08:07] nerdatwork commented on #27
@pscohn yes that second hit was paid but the updated hits above are still pending.

[2015-12-24 19:25] ihorpolianetskyi commented on #27
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxcb4a85-9de7-44f2-9f23-ad7016f39a5b&browser=any&hitId=4651548&sig=525724db658598e9b59aba02f873d835ca62fc7eaa300c7f8bd75c2fafd258bf&turkSubmitTo=%2Fthanks&workerId=33330543
and
again in the history of paid work is not reflected very pity

2015-12-24 10:07 GMT+02:00 nerdatwork <notifications@github.com>:

[2015-12-24 20:13] ihorpolianetskyi commented on #27
a very big thank you! You are the best!!!

[2015-12-25 09:48] koolorcool commented on #27
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx6e8fa1-883d-415b-a532-bf84bc88379a&browser=any&hitId=3658547&sig=362ec57ba35663dc03a4a5a128714a36c8df1549122e43e21d9237b332e6d7e2&turkSubmitTo=%2Fthanks&workerId=21039758

Not paid and not showing in history.

[2015-12-26 18:38] InvictusOne commented on #24
They have bigger "issues" right now... Like multiple users go in same terminal to do some task etc. And probably since holidays are here, guys that could handle that are most likely to drunk for that stuff :P hehehehehehe :D

Jokes aside, perhaps this could be handled in the way like to have constant push to CF some "tutorial" tasks that would be free (meaning no one will get paid for those), like

[2015-12-26 23:04] awnosa commented on #35
ok thanks

[2015-12-29 18:22] gmadhavreddy commented on #31
I Have not received even single hit also after installing Chrome Extension. Any body having same problem.

[2015-12-29 21:59] helloworld111gh commented on #20
Has the rate limit been reduced? I had to raise the check interval to 5 seconds today in order to avoid errors when before it worked fine on 2.4 seconds.

[2015-12-29 22:08] L4kshmi commented on #24
Greetings! Any RF response about this?

[2015-12-30 17:00] shosti commented on #20
The rate limit has been reduced intentionally due to load issues. For now, I'd recommend a lower check interval (such as 5 seconds).

[2015-12-30 18:50] YOYO50 commented on #27
I have still not been paid, for the 2 missing hits from December 8th.  Is there a time frame when I will be paid?

[2015-12-31 20:45] nihlathar commented on #20
How can you change the rate limit interval for yourself?

[2016-01-01 08:13] JPierreS commented on #33
@pscohn  Regarding the other users in terminal, this is not a new issue.  I noticed this in the more than 1 1/2 year I've been working on this task, however, it happened on an extreme rare occasion.  Lately it happened frequently, and now for a while now it seems to have stopped (for now) though at first I thought it was intentional that you guys want us to share terminals (share and share alike)

[2016-01-01 08:17] JPierreS commented on #32
This error happens from time to time still but what's odd is that sometimes this happens when there are only 400-500 testers online at once, and other times everything is running smoothly on 1200+ testers online.  What is even more frustrating is that now with idle policy we have 10 minutes to refresh that concurrent error to recover our hit or we lose it.  AND we have only 4 refresh retries, befo

[2016-01-01 08:27] JPierreS commented on #15
@ukd1 @pscohn I am seeing this error message from time to time from hits from the extension.  Also noticed that HIT IDs are being used more than once, is this normal / intentional ? In my history I see several JOBs listed under the SAME HIT ID !  Is this why we are seeing this error, that a HIT ID can only be assigned a certain number of times ?   mind you it is not as frequent as before, but I do

[2016-01-03 12:22] awnosa commented on #27
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx44e978-2e36-4d86-9d8f-e38180074abc&browser=any&hitId=4622192&sig=eb08cab70beaea9be985aab5e15fe5cb77952e726a029241452dcc5863733ffb&turkSubmitTo=%2Fthanks&workerId=32656569

this task not paid until now, if this happen beacuse other tester do this task or not

[2016-01-04 16:27] jbarber commented on #20
@nihlathar You shouldn't change anything because there is no benefit to fiddling with the values because the rate limiting happens on the server side. There is also no problem with getting the error because it is only informational.

[2016-01-04 16:27] #20 closed

[2016-01-04 18:06] jbarber commented on #38
Thanks for letting us know, but as @Ranky2211 suspected this was a problem with the server.

[2016-01-04 18:06] #38 closed

[2016-01-06 06:15] YOYO50 commented on #27
I have still not been paid, for the 2 missing hits from December 8th.

[2016-01-06 12:47] suchitra1957 commented on #27
I have not received the bonus for Hit ID: 3VJ4PFXFJ37L78SQ7VZZX9HW61AUAM. It is now over 24 hrs.

[2016-01-06 13:57] hackyyy opened #39 "Is the development of the extension has stopped?"
I see that the last commit of the extension is from 2 months ago, also the last news here https://portal.rainforestqa.com/ is very old.
So is the development of this extension terminated?

[2016-01-06 16:50] pscohn commented on #39
@hackyyy Development hasn't stopped at all, but as you see in the issues page there are several bugs we're working on fixing. That code we're working on is not in the Chrome extension itself, but in the Rainforest code base, so you can't see that we're still working on it :P

There haven't been recent posts on the Portal because there haven't been any major features to announce recently, since the

[2016-01-06 16:50] #39 closed

[2016-01-07 11:12] KabakF commented on #27
This issue still goes on

[2016-01-07 11:50] Josephapq commented on #24
Best regards.

Is there any progress in solving work in CrowdFlower? They have thought of a solution for new testers?

More than anything I wonder if at least in a short time the new testers (who have never worked in rainforest) may start using the extension.

Thank you.

[2016-01-07 16:10] BV25 opened #40 "Mac OS Safari/Firefox are unresponsive"
Hello @pscohn  @jbarber

This is with regards to the Mac OS platform and HITs on Safari Terminal.

The Terminal is
- extremely slow
- is unresponsive.
- It also freezes mid-way in a HIT.
- Left-click does not work, when you click, you get right-click options.
- While taking screenshot or moving cursor inside Terminal, the Terminal blinks a lot almost like a white screen - thereby prohibiting prope

[2016-01-07 16:17] Genesis2015 commented on #40
Same situation here :(

[2016-01-07 16:41] nerdatwork commented on #40
Its a known issue with Mac terminals. Hope they fix it soon its been pending for too long

[2016-01-07 16:41] #23 closed

[2016-01-07 16:42] nerdatwork commented on #14
Application error all day long since 2 days. So annoying :-1:

[2016-01-07 16:48] Genesis2015 commented on #14
Same annoying problem here :-1:

[2016-01-07 17:15] BV25 commented on #40
It's pre-existing but it was never so bad. It is now impossible to work. Left-clicks now do not work, if you click, it shows options as if you had right-clicked. Is there any way to fix this, please? This is deplorable.

[2016-01-08 09:45] androwg opened #41 "Application error"
@pscohn rgnwldqa most of times gives "Application error an error occurred in the application and
your page could not be seved, please try again in a few moments if you are the application owner check your logs for details"
should we report this or wait a while and keep refreshing until rgnwldqa site works ?
we need a clear response from you as we are suffering from this problem and we are in fear

[2016-01-08 10:36] Genesis2015 commented on #41
Same here. An EXTREMLY annoying problem! I can't complete evean a single RF test w/o this kind of problems. It take more then half an hour to complete a test and if I have a luck and there are no more errors. :-1:

[2016-01-08 11:45] macocha commented on #41
Hey guys,
We've fixed the underlying issue, so this shouldn't be happening anymore.
Thanks for reporting this.

[2016-01-08 13:36] Genesis2015 commented on #41
Thanks @macocha now everything works better... not perfect, but better then before. But as @androwg says: "should we report this or wait a while and keep refreshing until rgnwldqa site works ?
we need a clear response from you as we are suffering from this problem and we are in fear that if we report ,our work will be rejected?"

[2016-01-08 14:38] jbarber commented on #40
@BV25 I don't see any of the problems your seeing. What is your desktop environment, browser and Flash version?

[2016-01-08 18:29] mueller2511 commented on #27
Hi RF Team,

i see the bonus is missing for some of the hits again which i noticed from last 2 days for me. Here are some of the links which are missing payments. i hope you fix the issue soon.

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx8f1d6e-db5a-4a91-bd79-63dd9de9b079&browser=any&hitId=4349769&sig=c28df04fd62236242e16af423229a550314190176b8c86f2587265eb65

[2016-01-08 18:31] BV25 commented on #40
I'm using Windows 10 and Google Chrome and my Flash version is 20.0.0.267. I've recorded two video highlighting this issue for your perusal so that it can provide a better insight :) But I'm unable to upload it here as GitHub shows an error that it does not support video format files to be attached.
Is there a way I can attach or send you the video recordings?

The problems highlighted are
- 1st v

[2016-01-09 02:09] helloworld111gh commented on #40
I can partially agree with the fact that Mac terminals are worse than Windows terminals. OSX Firefox/Chrome are only slightly worse or on par as Windows, but the Safari terminal is extremely bad. Copy and paste can paste incorrectly 25% of the time, and the terminal is also extremely slow.

[2016-01-11 09:12] jbarber commented on #40
@BV25 upload to google drive / dropbox and share it?

[2016-01-11 15:41] BV25 commented on #40
https://drive.google.com/folderview?id=0B0reExMNiMLmVzI5RTJPMlM3OWM&usp=sharing

[2016-01-12 10:56] kaspan4o commented on #24
do you have any information on what happens to consumers who now want to start working with rainforestqa?
do you think soon again to post tasks in crowdflower? Or you don't need new testers?

[2016-01-12 13:23] jbarber commented on #24
@kaspan4o / @Josephapq / @L4kshmi we have a project in the works to solve this. I'm sure @pscohn will update you when it's available.

[2016-01-12 17:23] Dizel9 commented on #27
HIT not paid , now its more then 24h from submited this job.
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxc993f7-3c5b-42b3-bd14-016dccb1c7f9&browser=any&hitId=4551739&sig=1eb35c6c498b09f6b70903407b0d2346587081e0d7dce8a19c5c2d9daeaeb268&turkSubmitTo=%2Fthanks&workerId=31852896

[2016-01-12 21:57] pscohn commented on #15
@JPierreS it is normal for the same Hit Id to be used more than once.

[2016-01-13 01:17] pscohn commented on #15
We've found a possible cause for this problem and the fix will be out within the next few hours.

[2016-01-13 19:19] pscohn commented on #31
@gmadhavreddy is this still the case? what is your worker ID?

[2016-01-13 19:44] hunt40 commented on #22
last 1.5h plenty of hits come and go and what i get is just Ooops more then 30 times and not a single time i get any hit just Ooops this Ooops that, when i write this i got another Ooops looks like today Ooops day very frustrating and annoying.

[2016-01-13 19:50] pscohn commented on #22
@hunt40 I'm sorry about the increase in "oops" - this is still mostly due to too many testers requesting work at the same time, but part of the reason may be that yesterday's fix for "hit xxx cannot..." may cause those errors to turn into "oops," if there is still no job available. We're still planning on finding a way to reduce "oops."

[2016-01-14 06:38] gmadhavreddy commented on #31
Now problem solved.
Thanq

On Thu, Jan 14, 2016 at 12:49 AM, Paul Cohn <notifications@github.com>
wrote:

[2016-01-14 18:47] pscohn commented on #31
Closing this as there are no confirmed cases that aren't linked to https://github.com/rainforestapp/tester-chrome-extension/issues/24

[2016-01-14 18:47] #31 closed

[2016-01-15 04:09] JPierreS commented on #41
@Genesis2015 I report this issue on a daily basis, several times, the problem is far from fixed.  it is intermittent.  It happens mostly with tests from rainforest (testing their own site / API)  I think the issue is with their host.  Sometimes I wait and refresh and it resolves, if it doesn't I report it.

If your screenshot clearly shows what you are reporting, and you report properly, then you

[2016-01-15 21:20] #15 closed

[2016-01-18 13:44] nerdatwork commented on #27
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxe93132-eb47-400a-aa47-8afdfcf37514&browser=any&hitId=3326891&sig=ac8937171b40bc81147b90e0dcc3a718cbb9c1add89aa3fc61872c8fc69aeccf&turkSubmitTo=%2Fthanks&workerId=nerdatwork

still not paid after more than 12 hours

[2016-01-18 22:22] mukikuki commented on #22
hi, many opps! hit's today ,  and if not oops!, many screen shots sending error messages (2-3 min to send a screen shot )

[2016-01-19 14:02] androwg commented on #41
@macocha  problem reappears a lot nowadays

[2016-01-19 14:49] macocha commented on #41
@androwg thanks for alerting us. We are looking into the issue.

[2016-01-19 15:20] Genesis2015 commented on #41
Same situation here :( I hope that you will solve the problem ASAP :+1:

[2016-01-19 17:15] hunt40 commented on #22
yeah a lot of application errors in the last 2 days i am literally looking blank browser page for a minute most of time then application error and if not error its oops,i did total 3 hit in 2 day.

[2016-01-19 17:37] mukikuki commented on #41
chrome extension opens test page whit application error  more than 20 pages now in last two hours

[2016-01-19 17:50] Unsubmitted opened #42 "Getting only Error message on the hits from extension"
Hi RF Team,

From the last 1 hour i am only getting

ERROR: Something went wrong on our server, sorry about this. Please reload and try again.

or

Application error message on the hits which are opened from the extension.

Please look into the issue.

Thanks

[2016-01-19 18:06] qpPykT commented on #42
I have the same problem.

[2016-01-19 18:11] BV25 commented on #42
Same here

[2016-01-19 19:02] Genesis2015 commented on #42
Same annoying problem here :(

[2016-01-21 08:38] Rainforestuser790 opened #43 "No hits or Oops from extension"
Hi Rainforest Team,

i have noticed from last week there are very less hits from the extension even though it changes to Yes  it doesn't open any hits and today it is always in the No mode and not a single hit  even though its not weekend.  Normally during this time frame we usually get  hits but there is not a single hit opened or any Ooops from it.

Just wanted to check whether there are any iss

[2016-01-21 14:34] AlexandruVerenca commented on #43
I get some hits from time to time, but it's significantly less work than usual and I still get more Oops than work.

[2016-01-21 15:01] hunt40 commented on #43
i seen it too its turn to yes but not open any window if its open its already all gone,first come first serve who have fast connection grab hits before then other people.

[2016-01-21 16:17] Genesis2015 commented on #43
Same here :(

[2016-01-21 20:42] mukikuki commented on #43
i have fast connection, good latency and bandwidth  , latency 7-10 ms, but still , oops messages. when the extensions opens a hit it is loading for more than 40 seconds  and sometimes even more than 1 min and then the oops message. But some times it works like  a charm , fast loading and opens the hit but this is rare

[2016-01-22 10:22] androwg opened #44 "SSL CONNECTION ERROR"
Terminal gives SSL CONNECTION ERROR when try browsing any site

[2016-01-22 10:36] jbarber commented on #44
Can you provide more information?

[2016-01-22 10:53] androwg commented on #44
@jbarber when i copied the url to terminal it says SSL CONNECTION ERROR i reported the problem in hit 765266224 also this hit appears strange in my history !
![untitled](https://cloud.githubusercontent.com/assets/15823279/12508847/1d6c31b8-c107-11e5-842d-473dfb9b0939.png)

[2016-01-22 11:24] androwg commented on #44
got a good working hit now without this problem i want to note in the previous hit 765266224 which i had the problem in , the terminal for the first time i see was very large taking almost the whole page i don't know if this has a relation to the problem SSL CONNECTION ERROR  or not

[2016-01-22 19:29] erdeminofff commented on #43
![last](https://cloud.githubusercontent.com/assets/8877357/12520723/e28f94ac-c14e-11e5-9ca4-2aff04537bd1.gif)

[2016-01-22 19:57] helloworld111gh commented on #43
The rate limit is at 15 seconds while the extension is at 8 seconds. You
can change the rate of checking to 15 seconds and there won't be rate limit
errors.
On Jan 22, 2016 11:29, "erdeminofff" <notifications@github.com> wrote:

[2016-01-22 21:45] JPierreS commented on #44
I got that issue yesterday as well, for several consecutive hits, but since then things went back to normal.

The SSL issue is not something new, it used to happen before over the months though very rarely.  But yesterday the issue was more persistent for a while.

I got some RF API hits yesterday that worked, but the SSL errors occured on mostly non RF API hits.

Today friday 22nd as far as I'm c

[2016-01-22 21:51] JPierreS commented on #43
@helloworld111gh
Are you sure about this mate ?  8 seconds is the polling interval in the extension 1.0.1 (from 2 to 8).  Where did you get this 15 seconds rate limiting feature, this is not the case, or did you mean 15 per minute.  Rate limiting is measured in number of refreshes of minute.  If rate limiting is at 15, it means minimum 4sec refreshing allowed, if it,s at 30, it means minimum 2sec

[2016-01-22 21:56] JPierreS commented on #41
I think the issue they are having is their hosting !  When they have volume of tests being run at once and testers, host is intermittently up/down (application error) and which in turn causes failed to take screenshot.  I think the main "issue" is infrastructure not able to handle the load.  The hits I get during my night name are lightning fast - fast terminals, fast everything, :D  the ones I ge

[2016-01-22 22:31] helloworld111gh commented on #43
I have tested it myself, I do not get rate errors at 15 sec (4 requests per
min). And I do at 10/12 sec.

I have no idea why RF set it to 8 seconds. Maybe they plan on setting it to
8 seconds soon.
On Jan 22, 2016 13:51, "Jean-Pierre Saba" <notifications@github.com> wrote:

[2016-01-23 11:50] hunt40 commented on #44
now i got this error on rotageek

azure.rotageek.com

Server error in '/' Application.

Runtime error.

[2016-01-23 15:40] hades00 opened #45 "no hits"
i claimed my profile and installed my rf extension a week ago and didnt get any hit ,i always keep the extension in NO position but this issue remains, what do i do??can anyone help me
![aaaaaaaaa](https://cloud.githubusercontent.com/assets/16840796/12530977/c8978022-c1d6-11e5-958b-a09cda81dc43.png)

[2016-01-26 09:37] jbarber commented on #44
Hi, the SSL issue was because of an update in Chrome which conflicted with some of our services. The

@hunt40 That error sounds like a problem with the customer application and not in our infrastructure.

[2016-01-26 09:37] #44 closed

[2016-01-27 15:11] YOYO50 commented on #27
I have still not been paid, for the 2 missing hits from December 8th.

[2016-01-27 19:26] pscohn commented on #45
@hades00 what is your worker ID?

[2016-01-27 19:27] pscohn commented on #42
This may have been a transient problem, is anyone still getting this for every job?

[2016-01-27 19:44] Unsubmitted commented on #42
@pscohn its fine now , we are not encountering the problem.

[2016-01-27 20:34] #42 closed

[2016-01-27 21:54] hades00 commented on #45
**this is my work id 27694255 **

[2016-01-27 21:59] BV25 commented on #40
@jbarber Were the videos helpful? Any updates appreciated! The problem still persists.

[2016-01-27 22:03] pscohn commented on #45
It appears you haven't completed a job with us directly through CrowdFlower recent enough to be able to get paid through the extension - this is issue https://github.com/rainforestapp/tester-chrome-extension/issues/24. When that is fixed, you'll be able to get a new hit from CrowdFlower and then begin using the extension.

[2016-01-27 22:03] #45 closed

[2016-01-28 02:55] helloworld111gh commented on #40
When will this problem be solved?

Right now Safari terminals are so terrible that it is possible that webpages take up to a minute to render the CSS/JS! That is unacceptable!

[2016-01-28 03:00] hades00 commented on #45
pscohn do you know when this issue will be fixed?

[2016-01-28 03:46] Rainforestuser790 commented on #43
Hi @pscohn,

Can you please get my account verified once as i am not getting hits opened most of the time as the extension says only No or even if it changes to yes it doesn't open a hit. Previously it use to work fine and open hit when ever it changes to green but not now. From last 2 weeks onward the problem started.

Following is the id: 34408790

Thanks

[2016-01-28 14:31] pscohn commented on #45
@hades00 I don't know have an exact date as it will be fixed alongside an overhaul of some code, but it should be sometime in February.

[2016-01-28 14:33] pscohn commented on #43
@Rainforestuser790 I don't see any problem with your account, and it appears you've done several hits recently through the extension.

[2016-01-28 19:13] pscohn commented on #41
Closing, seemed to be an intermittent issue we had last week.

[2016-01-28 19:13] #41 closed

[2016-01-28 19:27] Rainforestuser790 commented on #43
Thanks @pscohn for getting my account verified, i am not saying i am not getting hits at all but the ratio of hits slowed down drastically and the main issue was the extension changes to yes but doesn't open a hit like it use to open before , i just saw the time was changed from 2 seconds to 8 seconds for the extension to check for hits may be it has some issue.

Thanks

[2016-01-29 01:10] Rainforestuser790 commented on #43
@pscohn during the time when i see the extension changing to yes but not opening the hit in the extension console i could see the following messsage where it is fetching the assignment but not opening the tab.

RESP: Object {error: "Too many requests"}
main.js:155 RESP: Object {work_available: true, url: "https://tester.rainforestqa.com/tester/assignment/…d8ff14b2&turkSubmitTo=%2Fthanks&workerId=3

[2016-01-29 13:21] L4kshmi commented on #43
@pscohn Hi!
Any comments about of NEW TESTERS? I wanna work in RF

[2016-01-29 17:30] Unsubmitted commented on #40
The Safari terminals are really slow lately , RF Team do something to solve the slowness and especially copying the url in the address bar has became pain lately.

Thanks

[2016-01-29 17:42] pscohn commented on #10
Closing until we have any new reports of this.

[2016-01-29 17:42] #10 closed

[2016-01-29 17:43] pscohn commented on #8
Closing as duplicate of https://github.com/rainforestapp/tester-chrome-extension/issues/22

[2016-01-29 17:43] #8 closed

[2016-01-29 17:44] pscohn commented on #21
@direkkundk I'm closing this issue, but if you are still having an issue logging in please contact tester@rainforestqa.com.

[2016-01-29 17:44] #21 closed

[2016-01-29 17:45] pscohn commented on #14
Closing as there are other issues that cover specific errors.

[2016-01-29 17:45] #14 closed

[2016-01-29 17:46] pscohn commented on #37
Also covered in https://github.com/rainforestapp/tester-chrome-extension/issues/7

[2016-01-29 17:46] #37 closed

[2016-01-29 17:47] pscohn commented on #43
@L4kshmi see https://github.com/rainforestapp/tester-chrome-extension/issues/24 - short answer is we're working on a new onboarding system, and should see a fix in the coming weeks.

[2016-01-29 17:48] pscohn commented on #43
@Rainforestuser790 this may be a new bug - can you open a new issue for it if it continues to happen?

[2016-01-29 18:17] Rainforestuser790 commented on #43
Sure @pscohn , i could still the problem happening , i will open a new issue for this.

[2016-01-30 01:15] hunt40 commented on #40
tell me about it i completely lost just  20 min ago,when i work on just 5 step rainforest hit,safari going completely mad,i have to refresh terminal 3 times,for a 5 step hit i spend 14 min for complete,its ridiculous bad , unresponsive ,slow ,truncated links everytime when i paste,i have to paste god knows how many times with this last hit at least 8 times.i am going completely mad.

[2016-01-30 01:32] #43 closed

[2016-01-30 05:14] SantVzlaC commented on #40
I share the same problem with the Mac OS platform on Safari terminal. :/

[2016-01-30 05:28] akshithaaravi opened #46 "Why so many instructions under one step in Attend hits?"
There are at least 6 to 8 instructions given in each step, its very tedious and confusing...! always results in reporting the issues.

[2016-01-30 05:49] balajisekar commented on #5
Notification sound is not came, when new work is found

[2016-01-30 05:54] SantVzlaC commented on #46
Totally agree

[2016-01-30 05:58] qpPykT commented on #46
A little practice and you will be able to do these tasks with your eyes closed.

[2016-01-30 08:49] marius11 commented on #46
Although you shouldn't. You are supposed to treat every task as if you haven't done it before. Also, more worried about 502 Bad Gateways errors in Attend tasks.

[2016-01-30 09:54] Genesis2015 commented on #46
I haven't see any hits from Attend since end of November! What could be the reason? :(

[2016-01-30 09:57] Genesis2015 commented on #5
It could be a very useful feature!

[2016-01-30 10:31] PSamanta commented on #46
Since November? You probably got banned from doing Attend I guess !! :-(

[2016-01-30 15:49] hunt40 commented on #46
exaclty every step is like a 4 step worth of work with attend

[2016-01-31 06:22] pvenkat7 commented on #32
to avoid "too often message" you can use "browser back and forward buttons" instead of hard refresh. If back button not available (with new test link) just go to any other link and go back to your test link.

you can do this for until terminal works.

note: hits goes invalid after 15 minutes

[2016-01-31 16:07] yoges9 opened #47 "rainforest extention package is invalid could not load extension icon"
i am using window 7 and chrome shows package is invalid could not load extension icon png

i am unable to add rainforest extention

[2016-01-31 16:29] PSamanta commented on #47
Upgrade to latest version of Chrome and try again.

[2016-01-31 17:04] yoges9 commented on #47
i have latest chrome 49.0.2623.28 Beta but unable ?

[2016-01-31 17:07] yoges9 commented on #47
error is here : package is invalid. detail: could not load extension icon/icon38.png

[2016-01-31 17:29] MuhammadRafique182014 commented on #47
they are saving their steps usage LOL!

[2016-01-31 18:46] nerdatwork commented on #27
Missing payment 1 more time
2. https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxe24268-83df-4de6-9b58-3da860d9d428&browser=any&hitId=3981469&sig=4df229d6c4c0182fda5a719b9e82ee31cdce2b67733b663eacc4a024f231999b&turkSubmitTo=%2Fthanks&workerId=nerdatwork

When are the missing payments going to be made. I usually get replies when I post a link and its paid but there i

[2016-01-31 19:09] Venci73 opened #48 "firefox extensions"
Hello, will you be created extensions for Firefox? Тhank you!

[2016-01-31 19:39] nihlathar commented on #47
Having the same problem, reinstalled chrome (x64, latest beta), gives the error yoges9 gave.

[2016-01-31 19:40] nihlathar commented on #48
You should email them at tester@rainforest.com for a better chance at a response, but I can tell you it's highly unlikely.

[2016-02-01 07:53] mall2307 commented on #46
ya It is very slow to open attend task and so many instructions in each step

[2016-02-01 08:21] JPierreS commented on #32
Looks like a nice trick but I would not chance it as the job could then get marked as "fraud".

I have had bad experiences doing this before - and I found out by accident, when I used the back button instead of REFRESH, completed the hit, it was received and everything but marked as INSTANT admin rejection.  When I investigated further I was told that the job was marked as "fraud", in other words

[2016-02-01 10:56] ahmedofhell opened #49 "Extension shows "YES" but no job received"
Hello,

Somthing wrong with the extension, Extension Status Changed to Green YES But without received any job.

Turn the extension to OFF and NO again didn't solve the problem.

I must Remove it from chorme and Add it again after every Hit I complete in order to get the next job.

[2016-02-01 13:46] nihlathar commented on #47
I fixed the problem by switching to x86 chrome stable version, should work for you too

[2016-02-01 14:19] yoges9 commented on #47
Thanks to nihlathar i installed chrome 32 bit and it works.. thanks..

[2016-02-01 15:25] pscohn commented on #48
At this time we're not planning a Firefox version of the extension.

[2016-02-01 15:25] #48 closed

[2016-02-01 16:01] #35 closed

[2016-02-01 16:02] #28 closed

[2016-02-01 16:11] PSamanta commented on #46
Always Slow, so many work (like 5 steps) in a step!! offffffff... Tired of this. Really disappointing!!

[2016-02-01 16:47] pscohn commented on #46
This GitHub issues page is only for issues related to our (Rainforest) platform, not our customer's. I'm closing this issue but I will pass on your complaints.

[2016-02-01 16:47] #46 closed

[2016-02-01 20:46] nuevao commented on #49
It is true, that happens to me too, but it is not something new, some time ago has been happening, suddenly so long that is green you get a test, or else simply placed in "NO" again and do not assign tests.

[2016-02-01 21:25] Genesis2015 commented on #49
That think happens to me too. Some times switchng off and then on resolve the problem.

[2016-02-01 23:03] warpten09025 commented on #49
Like Genesis2015 mentioned above , I think the best solution is just switching off and on !
Source :My Experience  !

[2016-02-02 03:39] goudi022 commented on #24
i am not getting single job from last three weeks
my id is 30687845

[2016-02-02 16:03] hunt40 commented on #40
17 step zenefits right after 14. step lost connection with mac terminal,ill become cancer for this mac servers,what kind of QA company have this kind of bad quality i have no idea,this is beyond terrible,i am so mad right now,cant even paste the .... url to browser,always some words missing,this is nothing but a huge joke.now i ahve to start all over agaian cant copy the ..... url.

[2016-02-02 19:14] YOYO50 commented on #27
Today I have a missing payment
https://app.rainforestqa.com/job/4525568/57619383ff220ae3f

On the job history tab it shows 779110886	ie11	 	00:00:00	—	—

I submitted the task and on the first step reported an error

[2016-02-03 18:57] Unsubmitted commented on #49
switching off and on is not working and even removing the extension and installing also is not working for me.

Rainforest Team is there any update on the issue.

[2016-02-03 23:18] androwg commented on #40
@jbarber yes Safari hits are very very slow and time consuming i hope you find a solution.

[2016-02-04 15:11] ahmedofhell commented on #49
Now Extension **NOT** shows "YES" at all, I must Remove it from chorme and Add it again after every Hit I complete in order to get the next job.

[2016-02-05 22:42] nuevao opened #52 "Taking screenshots is slow"
menu of steps, slow.

step house lasts about 5 minutes, not because it is very long activities, but because every time you want to go to the next step:

Selection is approximately 30 sec remains white.
Then a message appears stating that "screenshot has failed, try again" appears. This situation can be repeated up to 3 or 4 times until it passes the following instructions.

I imagine this usually

[2016-02-05 22:44] hunt40 commented on #22
another sad day with god knows how many oops screen,maybe 150+ i lost counts , on some forums people say same things too, so i dont know who get all those hits while we sitting here with that red flashy oops another............

[2016-02-05 23:22] ukd1 commented on #52
thanks @nuevao

@jbarber @gallois we should really move the screenshots to go direct --> vcontrol, not proxy via vmanager. Thoughts?

[2016-02-05 23:24] ukd1 commented on #49
@ahmedofhell you have to remove the whole extension? can you email us your worker ID, I'll take a look a the logs.

[2016-02-05 23:28] #47 closed

[2016-02-05 23:33] ukd1 commented on #47
@yoges9 fyi, this is fixed - you'll need to update to ``1.0.2`` which was released ~1m ago.

[2016-02-05 23:35] ukd1 commented on #33
@pscohn @jbarber @gallois - did we ever get to the bottom of this? Suggestion: lets put the ``machine-id`` visibly in the interface, so when we get screenshots we can track it back in the logs.

[2016-02-05 23:38] helloworld111gh commented on #52
Can't you guys just do a video of the terminal while testers are working,
and note when the step buttons are pressed?

You guys can remove cheaters easier and test authors can know how real
humans navigate their site (easy way to make the authors pay more $$$)
On Feb 5, 2016 15:22, "Russell Smith" <notifications@github.com> wrote:

[2016-02-06 00:16] ahmedofhell commented on #49
@ukd1 Thanks for your help.
Extension Works somehow Better now, But It's still very slow.
If you can do anything to resolve this problem.

Thanks again

[2016-02-06 14:23] marius11 commented on #52
@helloworld111gh Just image the bandwidth usage if you were to record many concurrent testers...

[2016-02-07 17:48] LimitMan commented on #5
Fast solution for sound when {work_available: true}:
1. Change manifest background section to:

`   "background": {
      "page": "background.html"
   },
`

2. Create background.html in root with next code:

`		<script src="js/howler.min.js"></script>
		<script src="js/main.js"></script>
`

3. Download howler.min.js  from https://github.com/goldfire/howler.js/ and put it in js folder (howler is fr

[2016-02-07 18:17] helloworld111gh commented on #5
Playing sounds doesn't require a big library and can be done in vanillaJS
without editing background.html with 2 lines of code.

Fast solution for sound when {work_available: true}:
1. Change manifest background section to:

"background": {
"page": "background.html"
},

   1. Create background.html in root with next code:

<script src="js/howler.min.js"></script>
<script src="js/main.js"></script>

[2016-02-07 18:27] LimitMan commented on #5
@helloworld111gh I suggested change to background.html so howler and script can be in different files. I agree that this can be done with many other libraries or even without them, but I found this is very simple way to do it without messing with writing extra code. Also, I don't find howler.js robust and resources consuming... But that is my opinion ;)
I guess developers of extension would apprec

[2016-02-07 19:51] androwg commented on #5
@LimitMan @helloworld111gh  can any one of you generously upload the whole extension with the sound because a lot of people here and sure me don't understand these codes Thanks in advance

[2016-02-07 20:21] LimitMan commented on #5
i would love to, but only if @ukd1 agree with this method...

[2016-02-08 01:55] helloworld111gh commented on #5
@androwg here you go: https://github.com/helloworld111gh/tester-chrome-extension
i also added a notification for good measure

[2016-02-08 09:38] androwg commented on #5
@helloworld111gh amazing it works Thanks a lot

[2016-02-08 13:38] ando100 commented on #5
@helloworld111gh thanks, it works, hope this is ok with Russ

[2016-02-08 14:08] Deepak0988 opened #53 "Too Many Oops! Messages Since 04 Feb 16"
On an average, I was able to complete about 8-10 tasks everyday (Mon-Fri), but after 04 Feb 16 (When server got down), There are a lot of Oops! messages and the average hits for me went down to 1-2 per day. Is there any Issue with the extension ???????? My worker ID is 32687648

[2016-02-08 14:37] akshithaaravi commented on #53
Me too, I have had only one hit after the outage, all I am getting now is ooops...

[2016-02-08 15:11] hunt40 commented on #53
same here ,today i got my first hit after 3 day and its zenefits on mac and pages not loading.

[2016-02-08 15:23] Genesis2015 commented on #53
Same here :(

[2016-02-08 15:46] normensstouns commented on #53
Same here.

[2016-02-08 16:57] GreekGuy commented on #53
Same here and not only that, i get so many Server [errors](http://prntscr.com/9ziupf) and application [errors](http://prntscr.com/9zivh0) and it takes so much to load..

[2016-02-08 17:25] ukd1 commented on #53
@GreekGuy thanks; when you get these it's super helpful if you can record the url and paste here, so we can track it back and fix it. /cc @pscohn

[2016-02-08 17:32] qpPykT commented on #53
I caught only two tasks today. So bad :(

@ukd1
Got the error "ERROR: Something went wrong on our server, sorry about this Please reload and try again.."
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxd6cb75-0c00-42cc-88c3-c3f66fb5aa64&browser=any&hitId=4527956&sig=e8cccd6a4475734bfe2d4cc5453f944a3c42e060a2d716fb9ee6b239ea0ca4d9&turkSubmitTo=%2Fthanks&workerId=31

[2016-02-08 17:38] marius11 commented on #53
@ukd1 Here are a couple of URLs:

- https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx458df6-4fa7-4827-9d23-df9302df5d8b&browser=any&hitId=4473732&sig=849d270bb7999324df245111b31ce1e58c2205184cafd2a5d4a32a9648abbc03&turkSubmitTo=%2Fthanks&workerId=12160415
- https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx9f7faf-a5db-4f6f-9f56-d83fd

[2016-02-08 18:12] Foreverrr opened #54 "Server is so slow"
@ukd1 @pscohn

Guys you should really do something with the server, right now there are 1000 testers online and the servers are running really slow, we lose hits cause the terminal isn't loading and we need to refresh the page, once we refresh the page 3 or 4 times we receive "You have requested this job too often. Please return the hit" message, at least allow us to refresh the page more times be

[2016-02-08 19:20] begsoon commented on #54
Reason why are servers slow :

[url=http://postimage.org/][img]http://s30.postimg.org/3lzqk7no1/Capture.png[/img][/url]

[2016-02-08 19:48] helloworld111gh commented on #53
Getting large amounts of app errors and screenshot errors.
This problem seems to affect all URLs, so I'll give me worker ID: 12219174
On Feb 8, 2016 11:44, "Alex" <notifications@github.com> wrote:

[2016-02-08 19:51] GreekGuy commented on #53
Application error here [link](https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx6afb77-29e1-4903-b0c9-8fba81c21e2f&browser=any&hitId=4620827&sig=802a337200cecf638a11c4a2fedda8547ca8e6d7300cec0a34496cf40944d4d3&turkSubmitTo=%2Fthanks&workerId=28212973)

[screenshot](http://prntscr.com/a0pbqb)

[2016-02-08 19:52] Foreverrr commented on #54
@begsoon

That was on February 4, when the servers were down, but right now everything seems to be normal according to their Status, expect GitHub login which doesn't affect us Testers...

[2016-02-08 19:59] JPierreS commented on #54
Crazy idea :)
How about a method that would enable instant screenshots and allow us to advance to the next step without any delay, allowing us to complete a HIT in a timely manner.........

How ?  What about storing the screenshots locally (secured of course), allow to continue on the hit, and at the end when submitting the hit, the screen caps would be sent in bulk.  If the server is down it woul

[2016-02-08 20:39] AggroTechCyber commented on #54
Yes, everything is normal when they use slower network and database, it works as it is supposed to, but doesn't support a lot of users. And there is nothing wrong with AWS, almost half of the internet uses it.

[2016-02-08 23:05] ando100 commented on #54
Let`s put something positive here as well, shall we Ladies and Gentlemen? Everything seems to be back to normal, went through with few tasks- all were working like a charm. Props to everyone involved to solve this.

[2016-02-08 23:08] Foreverrr commented on #54
@ando100

Everything is working fine cause there are only 600 testers online :)

[2016-02-09 00:16] RezwanulHaque commented on #53
Same here, not getting task like before, If get, Ooops ........is coming-
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxffbecd-279c-425b-9da3-6317b5431120&browser=any&hitId=4412020&sig=ba7542d2ef9455a57de3f3631510cd914193655eac04390b13430a59fc2df7d2&turkSubmitTo=%2Fthanks&workerId=31933957

[2016-02-09 02:42] akshithaaravi commented on #54
@Foreverrr How to find out how many users online?

[2016-02-09 02:51] Foreverrr commented on #54
@akshithaaravi

https://www.rainforestqa.com/ There's a bar under the header that is showing live stats...

[2016-02-09 07:03] akshithaaravi commented on #54
@Foreverrr Thank you :)

[2016-02-09 08:56] irj9 opened #55 "Invalid State"
Has any body else had this issue? The terminal takes an age to load, and once it does I am unable to paste the job url in the browser as every time I do, the terminal just replaces it with the original url. Again, again and again.
After several dozen attempts and much patience all I get is an error message on the terminal saying "Invalid State".
It's frustrating! I try to refresh the hit, but even

[2016-02-09 09:04] ChrisRaven commented on #5
It could also be useful to blink the browser tab on taskbar, when a job is ready. Especially, it would be good for those, who don't use Chrome as their default browser and keep it opened in the background only for the tests.
Something like this should do the job:

`chrome.windows.update(-2, {drawAttention: true});`

"-2" represents current window.

[2016-02-09 13:29] RezwanulHaque commented on #55
It seems like when you were trying, in the mean time job has been done by someone.

[2016-02-09 13:49] Deepak0988 commented on #55
@irj9 this issue is mostly with the Terminal with safari browser. Next time if you have this issue try opening the url in new tab it will surely resolve your problem of url replacing.

[2016-02-09 20:30] marius11 commented on #53
I can post more links if it helps because this issue is still present. I'm getting hit after hit and they are all Ooopses or server errors.

[2016-02-10 02:47] ukd1 commented on #54
hey all - we don't actually use AWS at the moment, we use Heroku (which is on AWS) and Hetzner in Germany for the VMs.

I hear you re-screenshots; the short version is it's badly designed - currently the request to screenshot goes:

1. from your browser - wherever you live
2. to a server (called "turker") - on the east coast US
3. to another server (called "vmanager") - on the east coast US
4. to

[2016-02-10 03:24] helloworld111gh commented on #54
Sometimes the terminal goes into a loop of screenshot errors that cannot be recovered from and then you need to get a new terminal.
By logging the errors it seems that the server forgets the terminal exists. Initially it gives "couldn't take screenshot of machine" then it changes to "terminal does not exist or cannot take screenshots at this state" and then will stick at that error eternally.

[2016-02-10 04:27] ukd1 commented on #54
@helloworld111gh interesting. One thing we're thinking of doing which might "solve" this is to change what happens when you reload; the proposal is you'll _not_ get a new virtual machine - you'll get the same one. We'll add a new button that lets you request a new one, and log a reason + message against it - we'll give you a new one and store the old one for us to investigate. This should mean we'

[2016-02-10 04:39] Gulbagh commented on #55
yes you have to start the hit within 10 minutes otherwise you will get invalid state....

[2016-02-10 04:40] ukd1 commented on #54
(accentual close)

[2016-02-10 08:41] androwg commented on #5
@helloworld111gh will we need to update your extension manually or it is like the official one it updates automatically when a new version is present? and when it updates to the new version will the sound works again?

[2016-02-10 11:43] Deepak0988 opened #59 "Ooops Something Went Wrong"
@ukd1 This is for your needful action.

1. Ooops Something Went Wrong Link :https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx1b6e8b-0661-4587-8b96-30e24bdcc01d&browser=any&hitId=4475569&sig=4f9e026ac05afef557dd21df680f34b9d2e03df827ffd3a561fb18dcc59e6c09&turkSubmitTo=%2Fthanks&workerId=32687648

2. Application Error Link:
https://tester.rainforestqa.com/tester/assi

[2016-02-10 11:44] marius11 commented on #59
There is already a thread for this problem:

https://github.com/rainforestapp/tester-chrome-extension/issues/53

[2016-02-10 11:52] #59 closed

[2016-02-10 16:26] nan43528 commented on #22
Lots and lots of oops someone else took the hit or it's an application error.  Only able to do 2 hits out  of 10...like right now just flipped me to the testing screen but oops someone else took it. @pscohn

[2016-02-10 16:28] hunt40 commented on #53
this last hour nothing but ooops and couple of server errors,then i find the solution and turn off the plugin otherwise i will lose my sanity.

[2016-02-10 16:57] MrSonNguyen commented on #32
yes same erros here.

[2016-02-10 17:27] LifeIsCod opened #60 "ERROR: Something went wrong on our server, sorry about this. Please reload and try again."
Getting lots of this error now a days
![screencapture-tester-rainforestqa-com-tester-assignment-crowd_flower-any-1455125192224](https://cloud.githubusercontent.com/assets/7995790/12955551/989477a0-d049-11e5-889e-06bc9d1f2954.png)

[2016-02-10 17:31] LifeIsCod opened #61 "Application Error"
What to do about this Application Error issue
![screencapture-tester-rainforestqa-com-tester-assignment-crowd_flower-any-1455125391847](https://cloud.githubusercontent.com/assets/7995790/12955670/1e8e4430-d04a-11e5-97d3-b329ea32b577.png)

[2016-02-10 17:32] marius11 commented on #60
There is already a thread opened addressing this issue: https://github.com/rainforestapp/tester-chrome-extension/issues/53

[2016-02-10 17:33] marius11 commented on #61
You could refresh or close the tab, but there is already a thread opened about this issue: There is already a thread opened addressing this issue: https://github.com/rainforestapp/tester-chrome-extension/issues/53

[2016-02-10 18:32] nishak14 commented on #61
Getting screenshot error on the last step! :(

Link of the hit: https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx709049-2745-4ee7-a784-ff9e5ea4030f&browser=any&hitId=4531434&sig=e4bf50859921f58845fb092b79415b912207f0fbca519e12befe31c921cfa2b6&turkSubmitTo=%2Fthanks&workerId=34155123

Do you need a screenshot as well? Oh, hold on. It just miraculously got accepted.

[2016-02-10 18:34] nishak14 commented on #61
Wait. I had an Application error here. Not hit confirmation. Finally, got it on refreshing that Application error.

Why so many problems?

[2016-02-10 18:35] RainforestMaster commented on #61
You cant do anything becouse hitler in world war II have a better server than rainforest... For whole day "app error, app down for maintanance, screenshot failed, etc" This rainforest start to be so so its more worth to look in the sky than losing hours and hours doing one hit for 30c becouse of buggy rainforest. my server on pc will work better than rainforest's one...

[2016-02-10 19:29] begsoon commented on #61
This is so frustrating ..

[2016-02-10 19:41] ukd1 commented on #52
@nuevao @helloworld111gh we're actually working on that right now, which will make screenshoting much easier.

[2016-02-10 20:34] luisdanielvc commented on #61
I have done like 4-5 test and they doesn't appear in the portal history tab :(

[2016-02-10 20:46] Genesis2015 commented on #61
I have missing tests in the portal history too :(

[2016-02-10 20:52] marius11 commented on #61
@luisdanielvc @Genesis2015 They will appear eventually. Sometimes it takes a few seconds, sometimes 15-20 minutes, but they do appear.

[2016-02-10 21:06] JPierreS commented on #61
@marius11
There is nothing CrowdFlower can do for you if you do not see your job in your
rainforest portal history or if the payment is shown pending.  You would only
contact Crowd Flower if the payment was shown in your history as completed (sent by Rainforest)
but NOT received through your channel. Otherwise if the job does not show in your RF portal at all, then it is Rainforest support. :) as

[2016-02-10 21:16] marius11 commented on #61
@JPierreS If a bonus is missing, we're told to contact CrowdFlower's support. If a bonus appears in Rainforest's history, but it takes more than 48 hours to sent it to the tester, we're told to contact Rainforest's support.

[2016-02-10 21:21] Genesis2015 commented on #61
One of the missing tests now appear in the portal history :+1:

[2016-02-10 21:25] JPierreS commented on #61
@marius11 read the message in the portal carefully.   If *ALL* payments are marked as paid and none are pending, this means RF has SENT you all the payments, in this case you would contact CrowdFlower, if you did not receive the payment to your CF channel. The text to contact CF support is providing all was paid.   If you do not see the bonus payment in your job history (it did not show up) there

[2016-02-11 01:20] BonesKnows opened #62 "Rate limit exceeded, you may do 1 requests every 10.0 seconds."
Very hard to get a hit since this came out.

[2016-02-11 10:15] androwg commented on #5
@helloworld111gh will we need to update your extension manually or it is like the official one it updates automatically when a new version is present? and when it updates to the new version will the sound works again?

[2016-02-11 12:24] ando100 commented on #5
@androwg    I`m pretty much positive it does not update automatically:)
leave it as is and it does it`s job. Also check the readme file - disclaimer @helloworld111gh added recently. And I assume the official version will have the sound alert in very near future.

[2016-02-11 12:27] jbarber commented on #54
@Foreverrr, @pscohn I believe I'm correct is saying you can resubmit the step to get the screenshot to be taken again?

[2016-02-11 12:28] jbarber commented on #54
@Foreverrr screenshots taking 2-3 minutes is very strange. Can you let us know when this happens with the job ID?

[2016-02-11 12:56] irj9 commented on #55
Thank you  @Deepak0988, I will try that :)

[2016-02-11 13:59] Foreverrr commented on #54
@jbarber

As @helloworld111gh detailed explained above, sometimes the Screenshot function stop working, let's say I have a 15 steps test, at a step, the Screenshot function stops, so I can press Yes, No, Step not clear or Other and I instantly get message that the Screenshot couldn't be submitted, even if you try for 10 minutes it will be still the same, so you need to refresh the hit and start fr

[2016-02-11 15:25] manishflyboy commented on #53
same here ,today i got my first hit after 3 day and its zenefits on mac and pages not loading.

[2016-02-11 15:32] jbarber commented on #62
@BonesKnows It's equally difficult for everyone...

[2016-02-11 15:32] #62 closed

[2016-02-11 15:44] jbarber opened #64 "CI/CD for extension"
This is a note for when we want to do full CI/CD of the extension, at the moment uploading to the app store is a manual process because generated auth tokens are only valid for 40 minutes (see just above [this part of the docs](https://developer.chrome.com/webstore/using_webstore_api#usingtheapi) and [this](https://github.com/rainforestapp/tester-chrome-extension/commit/959579682b54b126c7fd6f12f1c

[2016-02-11 15:51] manishflyboy opened #65 "64bit chrome browser Seems Not Compatiable with Rainforest Extension"
I recently installed Chrome 64 bit browser and Rainforest extension after which for every hit i got the message

Ooops Something Went Wrong on Our Server.

Links are attached for your further needful action.

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxff28bb-b9fc-42d4-8f0a-e695f36d4fdb&browser=any&hitId=4570949&sig=ce76a3c892dd2c8435f19e881b542d5bb1f67f31855d

[2016-02-11 16:44] #55 closed

[2016-02-11 19:30] BonesKnows commented on #32
same here

[2016-02-11 19:40] hunt40 commented on #61
this is not about this error but i have to tell this,i got a hit 15-20min ago , everything loaded except terminal screen stay blank and not loaded then i was thinking why and i know the answer,because of too many user on servers,i waited couple of minutes and refreshed becasuse terminal stuck on and not loadedand its there too many testers error,then i wait 3-4 min refresh the page again same too

[2016-02-11 21:49] braneb opened #66 "Blocking policy"
If tester get "you request this job too often" message will he be blocked...because most of the time its because too much workers requesting a job/we reached maximum amount of testers....this rules egzisted always but it seems like its getting serious now...obviously it becames even more stresfull ti be a tester...

[2016-02-11 21:54] pscohn commented on #66
@braneb you won't be blocked for this reason. Today we published our blocking policy in the "Help" modal that appears during tests, which you can also see right now at https://tester.rainforestqa.com/guide.

[2016-02-11 21:54] #66 closed

[2016-02-11 23:01] jbarber commented on #65
This is not a problem with Chrome. The issue is that the job has already been completed by the time you tried to do it.

[2016-02-11 23:01] #65 closed

[2016-02-12 00:48] ando100 commented on #66
@pscohn   Paul, let me do a walkthrough for you to end with beautiful solid Block..
Step1. Tester gets a hit through extension and it shows for example 10 steps, but tester
can not open or click on it, because screen turns to:
We`re sorry, having too many concurrent users etc.. please try again later.
Step 2. Tester waits few minutes
(timer is ticking 10/15 minutes)
Step 3 Tester retries.
Same iss

[2016-02-12 01:25] ando100 opened #68 "Blocking policy #66 @pscohn reopen or merge, thanks."
@pscohn Paul, let me do a walkthrough for you to end with beautiful solid Block..
Step1. Tester gets a hit through extension and it shows for example 10 steps, but tester
can not open or click on it, because screen turns to:
We`re sorry, having too many concurrent users etc.. please try again later.
Step 2. Tester waits few minutes
(timer is ticking 10/15 minutes)
Step 3 Tester retries.
Same issue

[2016-02-12 03:28] helloworld111gh opened #69 "Bonus Payments are missing half"
I've recently completed a HIT, and when I get my bonus payment it is half of what is should be. It was a 4 step job so I should of got 16c, but I only got 8c.

[2016-02-12 04:11] Dolazim commented on #69
Are hit is  datamata ?

[2016-02-12 06:48] helloworld111gh commented on #54
HIT with broken term.:
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxb0f056-8022-43b6-b7be-ab9970b0a18b&browser=any&hitId=4151004&sig=f2b5c23110f7e3e30490c3b25cab449d498751ae74a7fe08f80046de55806b74&turkSubmitTo=%2Fthanks&workerId=12219174
Terminal 9002530

[2016-02-12 07:43] yoges9 commented on #52
same as mine was with 26 step total of 29 but failed to take screenshot and conection out, terminal was very slow waste my one hour.

[2016-02-12 08:50] jbarber commented on #52
@yoges9 did you resubmit the response? This retakes the screenshot.

[2016-02-12 09:09] yoges9 commented on #52
time was out bcauze of very slow terminal and was not able to submit

[2016-02-12 09:28] jbarber commented on #52
I don't understand. How does the terminal being slow (by slow I guess you
mean it was laggy?) prevent you from submitting?

On 12 February 2016 at 09:09, yoges9 <notifications@github.com> wrote:

--
Jonathan Barber

[2016-02-12 10:04] marius11 commented on #52
I haven't had any problems with the terminal being slow, but in the last week, taking screenshots was very slow or impossible. For example, I received a hit testing the tester's guide modal, and moving to the next step took 10-15 seconds before receiving "Failed to take screenshot".

After several tries, the message would appear the next second I clicked a button. I had to refresh the whole hit to

[2016-02-12 10:11] androwg commented on #5
@ando100 Thanks lets hope @helloworld111gh  add the sound to the new version when it comes and lets hope @pscohn  hear our voice to add the sound to the official release.

[2016-02-12 15:08] yoges9 commented on #52
slow means late responsive, page were opening very late..

[2016-02-12 15:52] pscohn commented on #66
@ando100 what you described is not what we define as "accepting a job." We could clarify this in the guide, but "accepting jobs and failing to start.." means you have successfully gotten a job with a terminal that works, you are on the first step, and then you decide go watch a YouTube video, or take your lunch break, meanwhile the test sits there, not being done by anyone... we won't block you fo

[2016-02-12 15:55] pscohn commented on #68
Responded to this in the other issue.

[2016-02-12 15:55] #68 closed

[2016-02-12 18:29] warpten09025 commented on #52
There are two types of "slow" :
1/  Failed to take screen shot -> prevent popup on the page -> press yes/no again about 20 times to get to the next step
2/ Laggy terminal , mouse move very slow and sometimes it freeze .

[2016-02-12 18:36] warpten09025 commented on #52
"Just improve bandwidth and connection speed" ( if you guys can )  then everything will be done :dancers:

[2016-02-12 22:24] ukd1 commented on #69
@helloworld111gh what does it list in the portal history section?

[2016-02-12 22:26] ukd1 commented on #64
@jbarber I looked at this and got it working ...but i couldn't get the refresh token working. Apparently it's possible to get an offline token but I've not figured out how.

@campoy can you help or point us in the right direction for this? We'll trade you guys a blog post!

[2016-02-12 22:35] Dolazim commented on #69
832042531		2016-02-12 01:55:28 UTC	00:07:16	—	6c

834601149		2016-02-12 02:18:57 UTC	00:03:49	—	4c

[2016-02-12 23:05] helloworld111gh commented on #69
http://puu.sh/n5IoD/1964597ffb.png

[2016-02-13 00:45] campoy commented on #64
It seems like you should be using the refresh token that you obtain if you plan to use it after 40 minutes.

[2016-02-13 01:38] ukd1 commented on #69
@helloworld111gh ok - you can't see this but it we've found a bug with something we just enabled, we've turned it off until we fix it. We'll also be fixing the bonuses for you and the others that got this early next week. Sorry about this.

/cc @shosti

[2016-02-13 01:40] ukd1 commented on #64
@campoy we're trying to do this in CI, so storing a token and doing this every 40minutes is actually non-trivial. Is there anyway to get an offline / permanent / long-lived token?

[2016-02-13 03:11] yoges9 commented on #47
Thanks

[2016-02-13 03:32] nerdatwork opened #71 "Extension getting turned OFF automatically"
As the title suggest, without any warning the extension turns itself OFF. I have to manually turn it ON.

[2016-02-13 04:02] RezwanulHaque commented on #71
I had same situation. I updated extension with version of 12th Feb, I think it has resolved.

[2016-02-13 04:59] ahmedofhell commented on #71
Same problem here

[2016-02-13 08:03] chmi16 commented on #71
Same here. Since this morning open my RF portal and turn it off

[2016-02-13 08:18] qpPykT commented on #71
Maybe this is a new feature. If your browser is inactive for a certain time (about 10-20 minutes), the extension goes into off mode.

[2016-02-13 10:40] Genesis2015 commented on #71
If the browser is inactive for 6 minutes (I think), the extension goes into off mode.
We need an official announcement about this changes.

[2016-02-13 12:10] AggroTechCyber commented on #71
@Genesis2015 You have official announcement here: https://github.com/rainforestapp/tester-chrome-extension/pull/56

[2016-02-13 14:01] manishflyboy opened #72 "Unable to login in My profile for Rainforest Tester"
I have claimed my profile and doing tasks also
but from past two days Iam unable to login into my profile.
It is showing Invalid email/password.

When I select the option of forgot password no Mail is sent on my crowdflower id.

Previously I was able to login but from past two days Iam not able to login.
My worker ID is 33361128

Please Help

[2016-02-13 16:37] erdeminofff commented on #72
Did you use another rainforest account in past? Why I am asking, because they are connecting all past accounts to one, sometimes combine under first account. If you don't remember your old account email, can see from extension

-Go to chrome://extensions adress in chrome
-Select Developer mode check box from top right
-Find Rainforest Tester Extension and click "background page" link
-Go to Networ

[2016-02-13 18:32] ukd1 commented on #71
This is working as expected, after 6 minutes of not using your computer, we turn the button off. This is so we can give work to testers who _are_ using their computer first!

[2016-02-13 18:32] #71 closed

[2016-02-13 18:51] josejecr97 commented on #24
is there any way to the new users join Rainforest? .... still no jobs are posted on CF

[2016-02-14 01:42] manishflyboy commented on #72
The email address which is shown is same what Iam using for logging in. But still no progress. And when I click forgot password no mail is sent to my crowdflower mailbox. This is my only rainforest account.

[2016-02-14 02:18] goudi022 commented on #24
I am not a new customer I am not getting hits after extension. I am member
since 2014
On Feb 13, 2016 1:51 PM, "josejecr97" <notifications@github.com> wrote:

[2016-02-14 04:06] ukd1 commented on #24
@josejecr97 @goudi022 we're working on it - currently no, you have to wait for us to post - which takes a little while. We're going to re-work it soon.

[2016-02-14 07:16] yoges9 opened #73 "extension goes off its own"
since 2-3 days rainforest chrome-extension goes off its own ,and i need to switch it on evey time ?

[2016-02-14 13:12] marius11 commented on #73
That's an anti-idle feature introduced 2 days ago when the extension was updated.

[2016-02-14 15:17] Sateesh85 commented on #53
Today I got Ooops messages. one of them below

[Link Here](https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx2947df-f361-4bbe-8acb-56e3a3e43530&browser=any&hitId=4623384&sig=cb30456ac5adbdbe8ea089cb1d867543fdcf94d2a7276c9c43b288361c99a5b4&turkSubmitTo=%2Fthanks&workerId=34784545)

[2016-02-14 15:56] zeddbd commented on #73
This update so awful.
Why the developer not change notify with play sound if work open in new tab ? They give a little time and then turn off extension.
Before, status of extension always show YES and can't open work tab, they didn't fix.
One week one change and the tester so tired, it's not good, not better because the extension very awful.
Change the time off extension is silly.

[2016-02-14 23:32] mkdige commented on #73
OK, the purpose is not to get notified when you are not active on the net. Could you at least extend the active time, extension goes off in less then 10 minutes of non-activity

[2016-02-15 09:54] jbarber commented on #64
We can get the refresh token via the [oauth2 playground](https://developers.google.com/oauthplayground), the chrome store scope is https://www.googleapis.com/auth/chromewebstore. I don't see how to use these tokens with the various google API libraries though.

It looks like we can use the ruby gem [googleauth](https://github.com/google/google-auth-library-ruby) and the code:
[code]

I think the c

[2016-02-15 17:35] ukd1 commented on #5
@helloworld111gh wanna do a PR?

[2016-02-15 18:52] pscohn commented on #72
@manishflyboy have you sent an email to tester support?

[2016-02-15 19:20] facomega commented on #73
why turn off a notifier?
what's the point?
it's not our fault RF don't send us work to do...
at least make the notifier notifies us when it turns off

[2016-02-15 19:51] shrestha15207 commented on #73
this is the worst update. bring back the notifier that dont turn off.

[2016-02-15 20:22] jguerrero2 commented on #73
The latest changes have been the worst!
Before I had more than 15 daily hits, now I just do 4 or 5 hits per day.
I have more than an hour waiting for a hit and nothing!
But if I'm not active for 10 min the extension turns off!

[2016-02-15 21:09] shosti commented on #69
The payments should be correctly shortly. Thanks for reporting the issue!

[2016-02-15 21:09] #69 closed

[2016-02-15 21:27] sigitsenyo opened #74 "Connection Error dial tcp 52.7.223.84:443:i/o timeout if you are the tester, please report this issue machine ID: 9031367"
Connection Error
dial tcp 52.7.223.84:443:i/o timeout
if you are the tester, please report this issue
machine ID: 9031367

[2016-02-15 22:03] sigitsenyo opened #75 "why the terminal connection is often lost?"
why the terminal connection is often lost?

[2016-02-16 01:05] ando100 commented on #66
@pscohn Paul, thanks, this brought up 2 options and no, I was not meaning
               any YT or lunch.
1st. As I described. No YT or anything- how does your system detect this-
      Tester gets a job ( task assigned) and tester failes to start it at all, because-
       first screen is :  " too many concurrent..."  Fail+ fail + fail= tester has
      requested this job too often. Out.
      An

[2016-02-16 01:14] pscohn commented on #66
@ando100

First scenario - the job may be marked as abandoned in some of these cases, but we don't consider that to be "failing to start." Once you land on the test page, can see the first step, and have a terminal, if you do not make progress on the test and are marked idle than that can count as failure to start. Even if there is still a problem with the terminal, you may refresh or report error

[2016-02-16 01:19] ukd1 commented on #64
+1 to getting this done

[2016-02-16 01:40] manishflyboy commented on #72
In the terminal it was showing email rezahaqu@gmail.com (Unknown). I tried login with this email and my password and I was able to login. after login in to my profile I changed my email and now the issue is resolved.

[2016-02-16 01:40] #72 closed

[2016-02-16 01:43] ando100 commented on #66
@pscohn thanks, ok, but I guess- you are forgetting one really important thing-
when "Failed to send screenshot"- appears- tester can NOT do anything, but restart,
if restart fails and again fails- there remains pure desert without any Rainforest :) , what ends with- You have requested...
Tester can NOT REPORT anything..
And that test goes to: ....Abandoned, correct?

thanks.
ando

[2016-02-16 02:05] ando100 commented on #66
I assume you got it >  but re:   if you stay on a test page for 10 or 15 minutes and do nothing>
means the very possible situation- failed to send screenshot...from tester`s end has occured.
I mean testers who do tasks and not YT etc. same time.
I speak from my experience.
thanks.
ando

[2016-02-16 05:16] pat87 commented on #66
Hi pscohn. Could you please clarify what is meant by "Once you land on the test page, can see the first step"
I have been guilty of falling asleep with Chrome on and woken up to see I got a hit which was timed out. But I never entered the initial url and took a screenshot and never got to the "first step"
While the new idle policy (where the extension turns off automatically) would help, and I too

[2016-02-16 06:05] JPierreS commented on #52
@helloworld111gh   They don't need to record video of our terminal session, what you are referring to already exists.  Through an admin view, they can see your full interaction inside the terminal on a step by step basis, and can easily spot those who just click buttons vs. those who actually follow instructions and interact, and could spot those who do not interact properly or tamper with objects

[2016-02-16 16:32] jombere opened #76 "Work on the list of CrowdFlower."
Good afternoon friends let me know that they have solved regarding work on the list of crowflower, although not shown, I think it should resolve that soon.

[2016-02-16 17:29] jbarber commented on #76
Can you clarify what your talking about?

[2016-02-16 17:44] pscohn commented on #76
@jombere We're still working on a new system to get jobs posted to Crowdflower, and you can check https://github.com/rainforestapp/tester-chrome-extension/issues/24 to see when we post an update.

[2016-02-16 17:44] #76 closed

[2016-02-16 17:46] pscohn commented on #73
We're looking at a new way to handle idleness, but for now I'm closing this issue as it's expected behavior.

[2016-02-16 17:46] #73 closed

[2016-02-16 18:34] amare95 opened #77 "how to become new member ?"
i ame an member in rainforest since two years and i forgot how to become contributor at rainforest !
friend of mine i told him about rainforest and he is very intrest in it .
but i forgot the detail how to become new member at rainforest .

and he send help message before ...

[2016-02-16 18:37] pscohn commented on #77
Please see our new Frequently Asked Questions page in the Wiki: https://github.com/rainforestapp/tester-chrome-extension/wiki/Frequently-Asked-Questions

[2016-02-16 18:37] #77 closed

[2016-02-16 19:29] campoy commented on #64
I'm actually not very familiar with this API - but if you're interested I
can try to get you in touch with someone from that team.

On Mon, Feb 15, 2016 at 5:19 PM Russell Smith <notifications@github.com>
wrote:

[2016-02-17 15:05] masterpeing commented on #75
did you check your internet connection iam from south america and i have a horrible adsl and works great.. sometimes when overload with full testers works terrible too,  but its ok..

[2016-02-17 15:44] masterpeing commented on #52
same jpierres , iam having low terminal speed and fail screenshoots multiple times.... thanks for share your experience.

[2016-02-17 16:27] jombere commented on #76
thank you

[2016-02-17 18:16] akshithaaravi commented on #74
I got this terminal browser ; IE, after 10 mins I got this message.

Terminal 9062381
Connection Error
dial tcp 52.7.223.84:443:i/o timeout
if you are the tester, please report this issue

[2016-02-19 09:13] Foreverrr opened #78 "Terminal - Mac OS X - Scroll Direction"
I don't know if anyone asked a fix for this, but it's a simple fix...

As you probably know, Mac OS X has reverse scrolling than Windows, sometimes is quite frustrating since we need to scroll outside the terminal and then inside the terminal, this thing can be fixed pretty easy by changing the scrolling direction of Mac's terminals, I believe that you or the guys that provide you the VMs can chan

[2016-02-19 09:48] Deepak0988 commented on #78
This will be very helpful if the scrolling direction remains same for Terminals (especially MAC) and Windows.

[2016-02-19 14:04] BonesKnows opened #79 "Pasting in terminal"
Is it possible to make it instant? instead of letter by letter.

[2016-02-19 14:27] marius11 commented on #79
It's not possible to make it instant because of the lag involved.

[2016-02-19 14:35] jbarber commented on #79
Closing as prohibited by fundamental physical constraints of the known universe (i.e. speed of light).

Also, the VNC protocol (which the terminal uses) has no concept of pasting, so it's emulated by sending individual key presses. It we send these presses too quickly, the terminal gets confused and garbles the "paste", hence the pause between characters.

[2016-02-19 14:35] #79 closed

[2016-02-19 15:49] androwg commented on #5
@helloworld111gh I think your new version has a problem because it doesn't want to turn to "on" instead of "off" after clicking on the extension.

[2016-02-19 18:12] helloworld111gh commented on #79
The VNC guide says it has copy and pasting?
https://www.realvnc.com/products/vnc/documentation/5.3/guides/user/ah1025296.html

On 19 February 2016 at 06:35, Jonathan Barber <notifications@github.com>
wrote:

[2016-02-19 19:59] helloworld111gh commented on #78
This fix would be great if it could be implemented.
Also, could it be made possible so when you scroll in the terminal it does
not affect the scroll outside the terminal? It's annoying to keep scrolling
up and down and I'm already using 75% zoom to make it easier for me.

On 19 February 2016 at 01:48, Deepak Chauhan <notifications@github.com>
wrote:

[2016-02-19 20:56] Foreverrr commented on #78
@helloworld111gh

The scroll direction could be fixed very simple, they just need to edit the setting of each Mac terminal, there's an option in the Mac settings that can make scrolling direction the same as Windows scrolling direction...

The second one couldn't be really implemented, I don't really see how could it be implemented, we just need bigger screens :P

[2016-02-19 22:05] braneb opened #80 "Rejections!"
I see there is new, rejections tab on our profiles...can someone of You, guys from RF tell us more about this..is there a possibility to dispute rejections like it was before and is there limit for rejections now... Thank you in advance!

[2016-02-19 22:10] pscohn commented on #80
@braneb There is no dispute system for rejections since they don't affect your pay, but if you are blocked we will take a look at the rejections to make sure they are fair.

I added this information to the Wiki, so I'm closing this issue.

[2016-02-19 22:10] #80 closed

[2016-02-20 05:06] ukd1 commented on #64
@campoy would swap for a blog post on it!

[2016-02-20 05:34] JPierreS commented on #78
There is a quick fix everyone can use (until they fix this on their end)

Use your cursor keys.   To activate this, simply click on any non clickable link or area inside the
terminal (such as a background), then use the cursor UP / DOWN on your keyboard to scroll
up and down as you normally would using a mouse wheel, problem solved.  If you click on a
link or a forum / text entry or anything else,

[2016-02-20 10:02] m2016cf commented on #24
I wait this job alot please open signup on rainforest only one day

[2016-02-21 05:11] helloworld111gh opened #81 "Rejections tab seems to be missing content (and other bugs)"
The new rejections feature has quite a few bugs in it:
1. Rejected jobs seem to be missing the reason why they got rejected. A few of them have a step with a red X, ~~but most just have "job_step.answer_given" on all the steps, which seems that you made a variable a string.~~
2. The steps are out of order
3. The screenshots are poorly done, there is no difference between "copy this url and press t

[2016-02-21 06:25] balajisekar commented on #81
You are right @helloworld111gh I am too getting this kind bug.

I can't understand what is given, why they rejected, etc.

[2016-02-21 06:33] JPierreS commented on #81
In my opinion, might be a bad idea to show expired admin verified rejections, and show only the history for past 30 days only, these would be the standing internal rejections, also any new admin rejection from this point moving forward should provide an indication as to what step caused the rejection, as the page shows all the completed steps and screenshots.  Showing all the rejections as a total

[2016-02-21 10:21] mojenLXXXIII commented on #81
Regarding red X answer those are verified admin rejections ,as for other Hit that only showing job_step.answer_given ,

I believe that RF is hiding the rejections on a step level for a reason as this will give us a hint of answers for workers we paired with  , some workers will depend on such results in case they work on the same rejected Hit again , which is not the purpose of testing as we all k

[2016-02-21 15:22] cookin2 commented on #81
@JPierreS's suggestion makes a lot of sense to me, and I as well as many of my fellow RF members would benefit greatly from this.  Please consider it :)

[2016-02-21 17:54] pscohn commented on #81
There's currently a bug that doesn't show your answers correctly, which will be fixed on the next release (Monday).

@JPierreS, I agree with you, we'll change it to show only the last 30 days of rejections.

[2016-02-21 18:07] Genesis2015 commented on #81
@pscohn Could you provide the ability to us to see for which sites we are blocked to do tests? I'm sure I've blocked to do tests to Аttend because I have not had any since the end of November. How do I know if I'm blocked on other "test providers" :)

[2016-02-21 18:21] diabolic012 commented on #81
i have some rejected jobs for example:

Add 465 and 642 using a calculator.
Is the sum 1107?

I answered Yes but no, it is rejected ?!

[2016-02-21 18:26] braneb commented on #81
@Genesis2015 How can you be blocked for one particular site...is that even possible?

[2016-02-21 18:37] warpten09025 commented on #81
@diabolic012 : i don't think you got rejected because of test question . Sometimes the test only tell you to look at the page , but you need to do some action to change the view of the page because if too many same screenshot in one test = automatic rejection. ( I guess 3 same screenshot will be okay , but when u take 4 same screenshots in 1 test the system will reject your work )

Genesis2015 : I

[2016-02-21 18:55] ando100 commented on #81
@warpten09025  maybe no and no
1. @diabolic012 answered incorrectly to this test question or some
     other test question in this test, at the moment things are a bit messy and
     as @pscohn said- will be corrected on monday.
2. @Genesis2015  can work on tasks, but not in this particular he named, so
    TA has blocked him, very possible reason- TA did not accept his work.
@Genesis2015 - What w

[2016-02-21 20:20] JPierreS commented on #81
@warpten09025  - If you fail any of the QC / anti bot / math questions you still can continue the test to the end and get paid, however you will get an automatic internal rejection.  TIP, always use a calculator and take your time on these questions.  Some might seem like an obvious answer, but aren't, safer to use a calculator.   For the rest, authors can LIKE or BAN you, if they ban you, it mean

[2016-02-22 13:17] nerdatwork commented on #81
Also it needs a way to **appeal** rejections by which testers can justify what happened and why they answered it which got them rejected.

[2016-02-22 13:57] jbarber commented on #79
@helloworld111gh The terminal has copy and pasting...

I just looked into this further by splunking through the Real VNC code, and it looks I was wrong WRT the protocol not having a paste concept. It's called [ClientCutText](https://github.com/rfbproto/rfbproto/blob/master/rfbproto.rst#clientcuttext). Unfortunately our VNC server doesn't support it, so we'd still have to emulate it by sending the

[2016-02-22 16:00] androwg commented on #5
@helloworld111gh it stays like this with no or off option
![untitled](https://cloud.githubusercontent.com/assets/15823279/13223698/0e2bb06c-d98e-11e5-8212-e16fcd220b31.png)

[2016-02-22 16:49] pscohn commented on #81
FYI, the bug fixing the display of your answer given should be fixed.

@nerdatwork, we're not planning on adding this since the A) it would add a lot of support volume for us and B) rejections matter mainly testers who have actually been blocked, otherwise we show them to you so you can see your mistakes and improve. If you do get blocked, we'll take a look at the rejections to make sure the block

[2016-02-22 18:04] JPierreS commented on #81
@nerdatwork  I'm afraid not :)   I've been down that road before in regards to admin rejections.  You cannot dispute or have admin rejections overturned.  Furthermore, there is no use to disputing expired admin rejections.   The ones that are unfair are rare, in such a way you should not accumulate a high enough amount to cause you a block, unless you purposely do bad work.    the most admins I ha

[2016-02-22 18:08] nerdatwork commented on #81
@pscohn @JPierreS I understand but I wasnt saying that about me just in general. Also on a totally different note. The total amount of jobs done shown DO NOT MATCH with the history entries.

[2016-02-22 18:15] JPierreS commented on #81
@nerdatwork   The total shown in your profile is TOTAL JOBS, and not total jobs completed.  The moment you open an active job it will count towards the total (so all abandoned and uncompleted ones) also go to your total.  So your total jobs will likely be much higher than what is shown in your history (the history only shows you COMPLETED jobs).   Perhaps they should change this total jobs to show

[2016-02-22 18:20] nerdatwork commented on #81
@JPierreS I know that and that absolutely makes no sense. What am I going to do with jobs counted that are abandoned or uncompleted ? I want to know how many jobs are completed thats it.

[2016-02-22 18:27] JPierreS commented on #81
@nerdatwork    Exactly, as  for some extreme reasons sometimes a job gets abandoned or cannot be completed or LOST due to too many restarts, so those go towards your total.  This is one of the reasons why the % that was shown in the portal was lower for most people than what it should be.   I agree that we should only be shown our total jobs completed, and not total jobs opened, or simply add anot

[2016-02-22 18:42] pscohn commented on #81
@nerdatwork @JPierreS we can look at possibly changing this count to "total jobs completed" this week.

[2016-02-22 18:56] LimitMan commented on #5
@androwg Check if developer mode is enabled, restart your browser, and if chrome asks you to disable plugins say NO!

[2016-02-22 21:15] JPierreS commented on #79
@jbarber  The slow pasting is something that I first noticed last year (can't recall when, but probably late summer)    When I started work on this task back in September 2014 and for a great part of 2015, pasting was near instant, and I never had an issue with dropped characters.  The only issue would be for IOS terminals.    When we have one of those tests with lots of forms to paste into, it in

[2016-02-22 21:37] androwg commented on #5
@LimitMan did all of that but in vain official version is working great but helloworld111gh one gives this pic with no option of on or off
![untitled](https://cloud.githubusercontent.com/assets/15823279/13233622/3280552e-d9bd-11e5-9bd3-4c4e11059d82.png)

[2016-02-22 21:46] helloworld111gh commented on #79
@jbarber will instant c&p be supported in the future? if you're not using custom vnc solution have you checked if there is new version with instant c&p support?

[2016-02-22 23:37] DrDejan opened #82 "Machine ID 9133350 - Connection error"
Connection error
dial tcp 67.221.170.49:443: i/o timeout
If you are a tester, please report this issue.
Machine ID: 9133350

[2016-02-22 23:38] Genesis2015 commented on #82
Same here

[2016-02-23 01:36] warpten09025 commented on #81
Test questions are easy bro , 1 answer is yes and 1 is no .. It's hard to fail test questions !
I don't know RQA changed it or not , but in the past even you have all answers right but if you have too many same screenshots you will be auto reject by system ( i don't recall it is 4 or 5 same screenshots , and if there is a minor different like page zoom , ... system will accept this work ) ....
You

[2016-02-23 09:18] RezwanulHaque commented on #81
Its good to have this option in the dashboard. We will know if we are doing mistake and will be aware. I know nobody do mistake intentionally.

[2016-02-23 22:23] jbarber commented on #79
Only if there is time.

On 22 February 2016 at 21:46, Richard <notifications@github.com> wrote:

--
Jonathan Barber

[2016-02-24 12:25] akshithaaravi commented on #82
Connection error
dial tcp 67.221.170.49:443: i/o timeout
If you are a tester, please report this issue.
Machine ID: 9163200

[2016-02-24 17:21] akshithaaravi opened #84 "Jobs with more number of steps"
The job is with 19 steps, it goes to the terminal and with 2 seconds I get this message "We're sorry, we've reached the maximum number of concurrent testers we can support. Please reload and try again." and if I refresh , again its the same , it will go the job and then immediately " We are sorry message." and 3rd refresh I get this "You have requested this job too often. Please return the work."

[2016-02-24 20:57] ando100 commented on #82
@akshithaaravi  and @Genesis2015 I do not want to be internet police or smth, but this is not the place these things should be reported, you can report in your tester interface and you are in good hands:)

[2016-02-25 11:52] jbarber commented on #82
These happen because the remote server is down. We should make this more explicit in the error message.

[2016-02-25 11:52] #82 closed

[2016-02-25 15:44] masterpeing opened #85 "getting error and error and error, cant do one job."
Well iam having errors all the time , cant start one job today

getting these errors :

-Ooops: another worker accepted the job before you! It doesn't look like there is any more work for any of our hits; please try again shortly - you can refresh this page, or return this hit.

 - Something is wrong on our servers cant start the job ( or something similar).

please help!

my id : miguel maineri

[2016-02-25 15:45] masterpeing commented on #49
same here.. Start with Yes but a error close the job.. :(

[2016-02-25 15:45] masterpeing commented on #53
+1 same here

[2016-02-25 16:53] BonesKnows commented on #85
same here

[2016-02-25 16:59] haap19 commented on #85
me too

[2016-02-25 17:17] helloworld111gh commented on #85
Oops are normal, it means someone else got job faster than you.
No fix, just close tab and wait for new job
On Feb 25, 2016 8:59 AM, "haap19" <notifications@github.com> wrote:

[2016-02-25 17:25] marius11 commented on #85
@helloworld111gh Although there are frequent server error messages. More than usual. RF's status page confirms it.

[2016-02-25 17:33] helloworld111gh commented on #85
Oh then yeah that looks bad, nothing we as tester can do though, just have
to wait for them to fix it.
On Feb 25, 2016 9:25 AM, "marius11" <notifications@github.com> wrote:

[2016-02-25 21:35] Narashima219 opened #86 "getting error"
1. -Ooops: another worker accepted the job before you! It doesn't look like there is any more work for any of our hits; please try again shortly - you can refresh this page, or return this hit.

2. Something is wrong with our servers

3. Application Error

4.Very slow response

Today I did 2 jobs @ 9 hours :(

Today i got 9 to 12 links from RF and i did only 2  @ 9 Hours ...How Sad

[2016-02-26 01:24] vladfuller opened #93 "ERROR: Something went wrong on our server, sorry about this. Please reload and try again."
Forever getting this error

ERROR: Something went wrong on our server, sorry about this. Please reload and try again.

Please help... im getting this error the last hour

[2016-02-26 01:27] Foreverrr opened #94 "Extension Update Errors"
First, I tried to install the the new version from the Rainforest Profile, I click Get Chrome Extension > Add extension and I get the next message "Manifest file is invalid"

Second, I tried to install it from Chrome Web Store, it was installed but it opened a new login page and asked me to login at https://portal.rnfrst.com/login which is different from website that we usually use to login, https

[2016-02-26 02:58] nerdatwork commented on #49
The problem still persists

[2016-02-26 03:01] nerdatwork commented on #53
Covered in #22 Please check

[2016-02-26 03:05] warpten09025 commented on #85
This is normal

[2016-02-26 03:29] ahmedofhell commented on #94
Same Problem Here, Thanks for your advice.

[2016-02-26 03:30] Foreverrr commented on #94
@juliankrispel

You still need to change https://portal.rainforestqa.com/ to https://portal.rnfrst.com/ on some files, even at version 1.2.3 it still opens https://portal.rnfrst.com/

[2016-02-26 03:33] juliankrispel commented on #94
Unfortunately we had skipped the compile step for 1.2.2 and 1.2.3, 1.2.4 fixes this, sorry guys

[2016-02-26 03:34] juliankrispel commented on #94
It's deployed we just need to wait for the chrome extension store to refresh its cache

[2016-02-26 03:36] Foreverrr commented on #94
Yeah, I've installed it, now it works

[2016-02-26 03:37] juliankrispel commented on #94
yey :+1:

[2016-02-26 03:38] #94 closed

[2016-02-26 03:38] ukd1 commented on #93
can you paste the url please?

[2016-02-26 03:43] vladfuller commented on #93
i just closed the tab, cant remind what link was.. but after close and get
a new job it worked

2016-02-25 23:08 GMT-04:30 Russell Smith <notifications@github.com>:

[2016-02-26 03:52] #93 closed

[2016-02-26 08:52] chmi16 commented on #24
Is it possible to send ooops link to my referal and she just change user id (instead of mine  123456 she just put hers 654321)? Is this allowed? Will this be enough to get extension for new users?

[2016-02-26 12:33] #85 closed

[2016-02-26 12:33] #86 closed

[2016-02-26 16:53] pscohn commented on #24
@chmi16 this is not allowed and she still won't be able to get paid by us if she isn't in our system.

[2016-02-26 17:11] pscohn opened #100 "On Premise Crowd: Extension focuses their work page instead of opening job"
If on-premise workers have open their work listing and try to use the extension, it will just focus that tab instead of opening a new one with an actual job.

[2016-02-26 17:49] BonesKnows opened #101 "Extension turn ON every time when i open Google Chrome"
It is bad for users who share their computer with familly members.

[2016-02-26 18:04] nishak14 commented on #101
Either change from "Continue from where you left off" or ask family members to use different browser. BTW, you might want to use chromium if your family members like chrome. This extension works on chromium, too, and you can remove it from chrome.

I think this changes the scene. You may get hits the moment you start chrome/chromium because you are starting browser from where you left off without

[2016-02-26 18:11] nishak14 commented on #100
Meaning that the extension is exclusive for the browser irrespective of user browsing different sites or working. You may want to communicate with users about availability of your extension on chromium, too. It works OK, and I did 2 hits.

It would be better if your extensions incorporates an audible warning along with flashing tabs/icons.

[2016-02-26 18:40] akshithaaravi commented on #78
JPierreS, I just got a hit with this terminal and I tried to follow your tip to scroll down, but it seems impossible, the screen is not responding any of the keys.

[2016-02-26 19:15] JPierreS commented on #78
@akshithaaravi  It works but you have to click a background area first before using the up/down arrow keys on your keyboard, otherwise it won't scroll.  By clicking a background area, means any area that is not active (no image or link) - example a page that has a white background, click any area that is blank and then use up/down arrow.  I use this every day as I get a lot of jobs under MAC termi

[2016-02-26 19:43] JPierreS commented on #78
[](http://s12.postimg.org/jzs81y3d9/MACScroll.gif)

Test

[2016-02-26 19:58] chmi16 commented on #24
Ok. Thank you

[2016-02-26 21:41] BonesKnows commented on #24
Do you guys have exact date when the job id will be posted on CrowdFlower?

[2016-02-26 22:39] Phrogster commented on #101
Not only does it turn on when I open Google Chrome, it also turns itself on after I have turned it off and have Chrome open.
This interrupts what ever I am doing at the time - and basically, scares me, because I thought I had it turned off!

[2016-02-26 22:44] helloworld111gh commented on #101
fixed in #99

On 26 February 2016 at 14:39, Phrogster <notifications@github.com> wrote:

[2016-02-26 23:16] Ljiljica2609 opened #102 "You reached maximum of unsubmitted applications"
Hi , i have problem with HIT. I started working ( opened chrome from last session , i wasnt working few hours and everything was turned off before this start ( pc , chrome , extension ) , and hit i got from extension was saying "You have reached maximum..." but i didnt have any job opened.
My tester ID is : 858b3c41-7d9f-423d-b317-6946848412af

[2016-02-26 23:36] helloworld111gh commented on #100
tell the on premise workers to close the tab in order get the job?

[2016-02-26 23:45] pscohn commented on #100
@helloworld111gh sure, but it's better to just fix it, since they should be able to have their work page open and still use the extension :)

[2016-02-27 06:29] Phrogster commented on #101
I don't have my browser set to "Continue from where you left off".

[2016-02-27 09:42] manishflyboy commented on #53
getting too many oops msgs.

[2016-02-29 18:15] JPierreS opened #103 "Bug: Total rejections (30 days) shows cumulative total"
The total rejections (last 30 days) in tester portal still shows the cumulative total and not the actual admin rejections for past 30 days.

The ones shown under rejection tab is correct though.

[2016-02-29 18:22] pscohn commented on #103
@JPierreS A tester alerted us to this in a ticket, we're pushing out a fix today.

[2016-02-29 18:43] khristianjose opened #104 "Too many oops messages"
Ive getting too many oops messages since today, i get some like 5 job per day and now im getting like two cuz the other 3 are oops, theres a link with oops

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx4fee59-512b-47c0-8ca2-b5ff0afa4b9c&browser=any&hitId=4286446&sig=20a216718fb9bd59d4230d1159c58c8bbeeb916a04553b009b1f1baa2532b919&turkSubmitTo=%2Fthanks&workerId

[2016-02-29 18:44] khristianjose commented on #104
Another oopps

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxa05bf8-bcc7-43f5-b659-350c372ec76a&browser=any&hitId=4286446&sig=d9aab6277d85d52efb52d5c675e17238d861bbe71a61ceb4e5792c4525a6741e&turkSubmitTo=%2Fthanks&workerId=33833144

[2016-02-29 18:48] khristianjose commented on #104
And another

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx8262f1-83ec-43bd-80c9-0cac9330c2bd&browser=any&hitId=4286446&sig=9f9c2f9988284d403bb632ceceec48e59d2c7e056c12a2fc84bfbabed372bb16&turkSubmitTo=%2Fthanks&workerId=33833144

[2016-02-29 18:50] khristianjose commented on #104
4 in a row im sorry if im creating too many comments.

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx4af07a-cf95-4522-865d-ed0258e441cb&browser=any&hitId=4286446&sig=24eefdfe64ddf9ad0e37c005a1d42499b382cbd564e3eaa5347eb8e01b5f16b5&turkSubmitTo=%2Fthanks&workerId=33833144

[2016-02-29 18:51] helloworld111gh commented on #104
Oops messages are expected and not a bug.
On Feb 29, 2016 10:50, "khristianjose" <notifications@github.com> wrote:

[2016-02-29 18:52] khristianjose commented on #104
i saw this on another post and one admin was requesting the links, i dont know.

[2016-02-29 19:01] khristianjose commented on #49
Same problem here, Show YES, but then in the page OOPS

[2016-02-29 21:15] marius11 commented on #104
@helloworld111gh These oopses transformed into server errors. I averaged one hit every 15 seconds in the last three hours and 99% of them have been server errors/application errors.

[2016-02-29 22:10] masterpeing commented on #104
Ooops: another worker accepted the job before you! It doesn't look like there is any more work for any of our hits; please try again shortly - you can refresh this page, or return this hit.

today i recibe like 20 jobs and all said oops... well really this is getting really annoying . . is kinda spamming useless invitations :/

[2016-02-29 22:27] RezwanulHaque commented on #103
Same here

[2016-03-01 00:39] BonesKnows opened #105 "Mac OS Terminal freeze often"
many times i have problems with  terminal freeze when i work in mac so i need to refresh HIT to get a new vm,sometimes froze 2-3 times even when i refresh. It is very annoying when i am on the last step and need to refresh HIT.

[2016-03-01 01:22] dreicaan commented on #102
The same thing happened to me today. The extension opened new tab with " You have reached the maximum number of unsubmitted..."  and I have finished the previous job 10 minutes earlier. Could it have something to do with the fact that the bonus for that job is still pending?
I've just checked and the bonus has been paid and the "maximum number.." has turned into oops after a refresh.

[2016-03-01 02:38] Deepak0988 commented on #104
Same Issue Iam facing... Looks like after recent update of extension I got only 1 hit to complete. Every time some update happens and there issue arise.

[2016-03-01 05:15] nerdatwork commented on #104
Its already covered in #22 please check the earlier posts so Rainforest staff can better address the issue at hand. Duplicate posts will not speed up the process of fixing bugs. Thank you.

[2016-03-01 11:44] manishflyboy commented on #104
From last two days getting too many oops massages.

[2016-03-01 13:47] erdeminofff commented on #105
This problem continues for a long time. You may be think that terminal is freezing, but its not. It only loses mouse control (mostly). But keyboard works and you can click some button or links with "tab" and "space" keys. But its very limited. It does not seem difficult to solve and looks like that could be easily fix.  Rainforest must do something about it.

[2016-03-01 15:08] pscohn commented on #104
@nerdatwork and @helloworld111gh are correct, plus we have enough links, so closing :)

[2016-03-01 15:08] #104 closed

[2016-03-01 17:27] akshithaaravi commented on #78
Thank you for your tips, I will definitely try these when I get this hit.

[2016-03-02 03:53] vladfuller opened #106 "Oops while extension says "Yes""
Since yesterday i got only 2 hits.... always as extension opens a new tab it says oops... and still say "YES" green color for 5 o 6 seconds.... what is happening?

[2016-03-02 06:14] #103 closed

[2016-03-02 06:20] Dolazim opened #107 "Server Error in'/' application"
Last night I get so much this on rotageek and once on gcast...

[2016-03-02 06:23] helloworld111gh commented on #107
not a bug with rf

On 1 March 2016 at 22:20, Dolazim <notifications@github.com> wrote:

[2016-03-02 17:59] erdeminofff commented on #101
A few minutes ago I lost a job because of this reason. I went out at home for a few minutes. When I wasn't at home, my mother opened chrome browser and extension had got a hit. (She knows, she doesn't touch the tests). Whereas, I was very careful about this subject. In next release, they must remove

[2016-03-02 21:27] roko777 commented on #27
This hit never showed up in the history

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx4dca93-7ca6-44ba-84f6-776d221ec44e&browser=any&hitId=3454440&sig=d03a1f27b8a539c9faca88709fa99f707bf69a3778644066188ca8b39f417c8f&turkSubmitTo=%2Fthanks&workerId=6594279

Yesterday it was the same thing, I have a missing payment.Hit about 30 steps (creating test students websi

[2016-03-03 02:00] pupijevi commented on #106
I have same problem this week

[2016-03-03 09:36] neuro15 commented on #106
I am having the same problem, not getting a single hit.

[2016-03-03 18:58] JPierreS commented on #107
@Dolazim  These are site related and should be reported (other) like any other site application error.

[2016-03-04 17:18] chandra95 commented on #24
According to this issue almost all work is eaten by extension after launch(all most 3 months). I have few questions as a newbie
- If i refresh **CrowdFlower job listing**! is there any possibility to find out "**Test Web Application Job**"?.
- **The system that posting of jobs** in CF listing is shutdown?
- Do you guys have **enough testers** and not interested in newbies?

[2016-03-04 17:49] pscohn commented on #24
@chandra95

- It is extremely unlikely
- It's not shut down, it's just taken by Chrome extension users before it can be posted to the CF listing. The fix for this involves pushing some new jobs to Crowdflower directly.
- We will always welcome and accept any new tester who wants to work for as long as it isn't to the detriment to the tester community as a whole.

[2016-03-04 21:53] leka034 commented on #24
I think that you want to avoid the answer here...Do you plan to push any job to Crowdflower directly or not? Is that such a problem?

[2016-03-05 06:11] helloworld111gh opened #108 "Incorrect time-taken & missing started at date"
Rarely some of my jobs have incorrect time-taken (set at 0:00 when it's impossible to do a job in that timeframe), and the started at date is missing.
This is annoying because I use the history to track my daily bonuses, and my count will be off if there are missing or incorrect data.

[2016-03-05 07:23] marius11 commented on #24
@leka034 Jobs are sent to CrowdFlower, but they are immediately taken by those who use the Chrome extension.

[2016-03-05 07:42] leka034 commented on #24
@marius11 Yes, I understand that, but @pscohn said in the previous post that " The fix for this involves pushing some new jobs to Crowdflower directly", so I have asked him if it is possible?

[2016-03-07 15:48] NeoWorker commented on #106
Just keep reloading the page until you get the hit. Remember that there's a lot of testers out there. Just be patient.

[2016-03-07 18:17] Drew-Goddyn commented on #24
In the meantime, could I suggest not posting a handful of jobs to crowdflower where they'll be 'eaten' by the extension, and reserve those to be provided manually/directly to new testers who go out of their way to inquire about beginning testing? Either that or allow direct access to the extension without needing to win the lottery on crowdflower till it resolved?

As it stands, the very fact that

[2016-03-08 12:08] nerdatwork commented on #106
Please check the posts before opening up a new one. This is already covered in #49

[2016-03-09 00:40] masterpeing commented on #61
same error getting around 5 in this day... :( really sad

[2016-03-09 02:27] nerdatwork commented on #105
Please check the posts before opening up a new one. This is already covered in #40

[2016-03-09 06:04] Deepak0988 opened #109 "Rainforest Keep It Up ............ Every Task Assigned showing Oops!!!! Nice Upgrades"
There are many people posting regarding this issue. But it seems no steps have been taken at your end Rainforest Team.

[2016-03-09 06:06] helloworld111gh commented on #109
duplicate issue, see #106 or #49

[2016-03-09 09:28] JPierreS commented on #109
@Deepak0988  This is because this is not an issue, it is normal due to the way jobs are assigned.

Let me give you an example.  On CrowdFlower when you try to access a task t hat has few units, will sometimes get the message that there is no work currently available.  If you refresh that screen you will eventually get work as units are added.   It is the same principle with Rainforest.  By the tim

[2016-03-09 09:41] JPierreS commented on #81
@RezwanulHaque : Not only helpful to prevent future mistakes, BUT also as an indication to those cheating to be aware that admins check jobs, and the more they get caught, the more their jobs are likely to be checked - so it serves 2 purposes really.

As of today the total jobs was adjusted, so you should notice an increase in the number.
Also rejections now show only the past 30 days, so this val

[2016-03-09 13:43] akshithaaravi opened #110 "Safari - Problem with speed and cannot type in or paste the URL in the browser."
Facing slow terminals, and safari - not accepting the URL . I just had a 4 step hit and I couldn't complete because the terminal would not accept the URL, it will  back to its original URL - abrigo....no matter what, CTRL V , typing manually...nothing worked and the numbers at the end would increase. like 66, 67, 68 ....etc and when I refreshed again, the assignment was completed.

[2016-03-09 16:51] Deepak0988 commented on #109
Thanks For the explanation. Things got a lot clear now.

[2016-03-09 17:01] pscohn commented on #109
Well put, @JPierreS. Closing as duplicate.

[2016-03-09 17:01] #109 closed

[2016-03-09 17:06] warpten09025 commented on #110
that's because someone is faster than you in submitting the job , better find yourself a way to submit  faster

[2016-03-09 20:12] pscohn opened #111 "SyntaxError: Unexpected end of input"
[code]

[2016-03-09 21:32] JPierreS commented on #110
@warpten09025   No, once you are assigned a job it is yours to complete, nobody else can complete your assignment.  What happened here is that this particular job exceeded the idle policy, once that happens the job becomes invalid.  At step 0 (before pasting the initial URL) there is a 10 minute limit to start job, step 1 and beyond, 15 minute idle policy per step, 60 total minutes for work comple

[2016-03-09 21:34] helloworld111gh commented on #111
I've have seen this error before, typically it occurs when servers are on
fire.
On Mar 9, 2016 12:12 PM, "Paul Cohn" <notifications@github.com> wrote:

[2016-03-10 15:55] yoges9 commented on #27
i have not recieved bonus for this 34 steps job , it was  done successfully but not show in history nor bonus , it takes more than my half hour ,feeling  Fustrated.

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxafcd0a-659a-44ab-b466-79dfbba251e2&browser=any&hitId=3971825&sig=ef1ed3e6008dd61ad07576cf50dfe1efa9a82c7a8a805e9dbbc9d0e161f4207f&turkSubmitTo=%2Fthanks

[2016-03-10 17:48] dreicaan commented on #102
The same thing happened just now. I turned on the extension, new tab opened but with a "maximum number" message. I finished the last hit 7 hours ago.

[2016-03-11 02:01] #108 closed

[2016-03-11 02:12] akshithaaravi opened #112 "All RF URLs are blank"
Since this morning, the jobs I am getting does not display anything. I get the URL in a new tab and instead of oops or a job loading, Its blank, its just blank. Please help me. Thanks in advance.

[2016-03-11 03:26] erdeminofff commented on #112
Disable your adblock or another page optimization extensions. If its doesn't work go to C:\Users\"Your User Name"\AppData\Local\Google\Chrome and rename "User Data" to any name. Its like a clean installation without losing data. Try to open links with this way and if you want to go back just change folder name to "User Data" again.

[2016-03-11 03:26] masterpeing commented on #107
today my extension got  bugged said" yes" all the time and getting server error all the time

[2016-03-11 04:09] qpPykT commented on #112
I have an error in each new tab with the task.

"ERROR: Something went wrong on our server, sorry about this. Please reload and try again."

[2016-03-11 04:43] akshithaaravi commented on #112
@erdeminofff , What user name should I replace it with? Thanks for your help

[2016-03-11 05:32] Deepak0988 commented on #112
Since Morning get Oops Something went wrong continuously ..... Something happening at Rainforest

[2016-03-11 07:15] ahmedofhell opened #113 ""We cannot assign this job at the moment..".Error messageٍ appear Repeatedly!"
This's Error Message appear for too long time:
"**We cannot assign this job at the moment. Please refresh this page to get a new job.**"

[2016-03-11 07:33] rifatrahman commented on #113
Same here.

[2016-03-11 08:17] A1xx commented on #113
I have the same problem(((

[2016-03-11 08:19] pscohn commented on #113
This is being fixed right now - you should see things go back to normal shortly.

[2016-03-11 08:59] JPierreS commented on #113
It is fixed right now, oops is back in town ;-)

![1oops](https://cloud.githubusercontent.com/assets/7692133/13697765/aaf0f526-e73d-11e5-8054-6c7cda1054f4.jpg)