[2016-08-09 03:25] bilelmz commented on #368
happened again!
in last step!
so frustrating
next time, when i see a job like this, with many steps, i'll close the page simply
![sans titre](https://cloud.githubusercontent.com/assets/20234458/17503617/82bb4694-5df1-11e6-954b-67fe5e927e2d.jpg)

[2016-08-09 05:59] diabolic012 commented on #368
It seems better not to do jobs with more then ten steps. 16 steps for me few minutes ago and nothing after I press on "DONE" at the end of the job.

[2016-08-09 08:30] nerdatwork commented on #374
Does it happen to all jobs or you encountered one job with this issue ?

[2016-08-09 13:27] Fallingsoul86 opened #375 "Brand New Tester"
Good Day Rainforest Team!

First of all, thanks for the good work, keep the improvement...

I have something to ask, I started to work with a help of a friend on August 1st, I already claim the profile and have a lot of work done and bug finded, but, the payment don't reach Crowdflower, please, can you help with this issue?

Thanks in advance!.

[2016-08-09 13:32] nerdatwork commented on #375
Please give your worker id and did you file a support ticket for this issue yet ?

[2016-08-09 13:38] Fallingsoul86 commented on #375
Thanks for the quick reply Nerdatwork, My Id for Crowdflower is "38597628", and I didn't fill a support ticket yet, I only write a mail to "tester@rainforestqa.com" last Thursday.

[2016-08-09 13:41] nerdatwork commented on #375
While writing the email did you mention your worker id shown in the Rainforest profile.

[2016-08-09 14:13] djux90 commented on #374
no, that was just for yesterday, and it seems now it is ok

[2016-08-09 14:39] Fallingsoul86 commented on #375
![image](https://cloud.githubusercontent.com/assets/20804914/17520304/42aa88a4-5e1d-11e6-8a3b-1c294eb4c7f5.png)

![profile](https://cloud.githubusercontent.com/assets/20804914/17520334/5f7e9a38-5e1d-11e6-8d05-49a2992c7bb7.PNG)

That is my profile and History, my ID worker is the "38597628" that can be see on the History tab.

[2016-08-09 14:58] huynhxuanvinh opened #376 "job abandoned after 60 minutes"
Rainforest staff please change the limit time to 90 min or more, please  because I just got the first 90-step hit and get the abandoned message at the the step 78. All my work in 60 minutes is gone. Please increase the limit of time or each test, or at least change the limit time depend on the length of test.

[2016-08-09 15:08] nerdatwork commented on #376
The time limit has already been increased to **90 mins**. If you spent more time on the hit, naturally it will show you job abandoned.

[2016-08-09 16:20] huynhxuanvinh commented on #376
No, I have just done that test 5 minute before I wrote this topic and I also have count the time I spent, and it's exactly 60 minutes since I accepted the job. I have also read Idle policy in the wiki again and it also said the same
"Your job will be aborted in the following cases:

If you do not start the job within 10 minutes after accepting it.
If you do not show progress on the job for 15 cons

[2016-08-09 16:49] ukd1 opened #377 "get rate limit from the api instead of hard coding"
We should get the rate limit from the api instead of hard coding; it will save requests, plus save 400's.

[2016-08-09 17:03] pscohn commented on #368
This is our top priority to fix right now, though it's a little hard to debug/reproduce. We're going to release a log feature soon that will hopefully help us debug - you can just click to copy the log after something goes wrong and then send it to us for debugging.

[2016-08-09 17:46] bilelmz commented on #368
@pscohn
thanks
hope this problem fixed soon.

[2016-08-09 17:57] jeffreyvdhondel opened #378 "Got a invited for the new forum got a error."

[2016-08-09 18:26] #378 closed

[2016-08-09 19:00] nerdatwork commented on #368
@bilelmz Please remove the NDA client screenshot from your post. **You should NEVER discuss about NDA clients outside the Rainforest ticket support system**. Also are you using any Chrome extensions like **AdBlock Plus** or **GreaseMonkey** or **TamperMonkey**?

[2016-08-09 19:49] pscohn commented on #368
The copy log feature is now available. When this happens again to someone, please save it in a text file and you should be able to upload it here.

[2016-08-09 20:17] DrDejan opened #379 "Strange error message"
Yesterday was chrome today ie11.
When i refresh page my computer try to connect with terminal but result is this message. After 4 refreshing job goes to often or already completed....

![cudno](https://cloud.githubusercontent.com/assets/17418506/17532049/07b46208-5e7f-11e6-899e-0c82788fefca.jpg)
![cudno2](https://cloud.githubusercontent.com/assets/17418506/17532055/0d4f5dc6-5e7f-11e6-9a56-d188503f

[2016-08-09 20:26] zfonck123 commented on #379
i am loss 2 two job today for same error

[2016-08-09 20:52] zfonck123 commented on #379
![image](https://cloud.githubusercontent.com/assets/19192312/17533165/a044e9bc-5e51-11e6-907a-181148f12857.png)
this error each 30minutes affter 12pm :(

[2016-08-09 21:01] DrDejan commented on #379
zfonck123, that message is nothing strange. I think that is result because can not connect to terminal....

[2016-08-09 22:23] bilelmz commented on #368
@nerdatwork
what is "NDA client screenshot" ?
yes i use AdBlock

[2016-08-09 22:37] josejecr97 commented on #373
yes.... it takes a long time... i dont know why..

[2016-08-09 23:14] zfonck123 commented on #379
maybe but for that and trying refresh many times get job obten too T_T

[2016-08-10 00:45] diabolic012 commented on #368
This is log from my last job which didn't go through.
[New Text Document.txt](https://github.com/rainforestapp/tester-chrome-extension/files/410125/New.Text.Document.txt)

[2016-08-10 00:59] euparkeria opened #380 "Another tester was on my VM."
So I got a HIT and a terminal opened but after I pasted the URL I noticed the mouse cursor started moving on itself and someone else was also connected to the VM and tried to paste the URL. After fighting for control for a moment I decided to confirm my suspicion and typed “Who Are you” in the browser address bar and the other user answered something on the lines of “I don’t know what’s going on”.

[2016-08-10 01:04] djux90 opened #381 "Is it ok to to job when you got exceed message"
i got message rate exceed for exidentaly refreshed 2 times fast, but job appeared when i again clik on refresh instead on close. Is it ok for me to do it?
To explain it better. i accepted job, and got message that cannot get browser, i refreshed it and got rate exceed (probably refreshed two times), then aplication error came out. I refreshed it again and finish job. Is that ok? I couldn't find an

[2016-08-10 01:21] #343 closed

[2016-08-10 01:21] #336 closed

[2016-08-10 02:58] nerdatwork commented on #379
@DrDejan The error means, the extension could **NOT** get a terminal with Internet Explorer version 11 i.e. **ie11** with a screen resolution of 1440 x 900. It is perfectly normal.

@zfonck123 Your error is different that what @DrDejan mentions. Please keep the topic related to same issues. Also the error message you see happens when the terminal faces issues in getting a terminal.

[2016-08-10 02:59] nerdatwork commented on #380
Please give the Job ID or your Worker ID so Rainforest can better understand what actually happened.

[2016-08-10 03:11] nerdatwork commented on #368
@bilelmz In the most recent screenshot you posted, you can see **Sighten** which is our NDA client.

@diabolic012 Thank you for posting the log file.

[2016-08-10 03:40] sweeneyapps commented on #368
When you go to Rainforest Profile page, you signed the NDA (non-disclosure agreement) which you promised to not reveal their website to the public or tell anyone about it.   This forum is public.   The reason I'm explaining here because I think that any of you might doesn't understand what NDA means.

Here's what it looks like on the NDA page..   below

Qualifications
You can qualify for more jobs

[2016-08-10 05:28] diabolic012 commented on #368
Another log from 36 steps unsuccessful job

[10.08.2016.0725CEST.txt](https://github.com/rainforestapp/tester-chrome-extension/files/410371/10.08.2016.0725CEST.txt)

[2016-08-10 10:36] uangonline commented on #380
@euparkeria Yap, that's a bug. Don't worry just refresh the job to get a new VM.

[2016-08-10 12:39] uangonline commented on #381
@djux90 Yes, that's fine.

[2016-08-10 15:08] warpten09025 opened #382 "Got 2 job abandoned while i still active"
First job has 25 steps , when i went to step 20 , suddenly my job abandoned . Then i refresh the page and it telling me "The job has been submitted" , so I think another tester has the same job id with me and they complete it faster than me . The 2nd job , after i just click the copy button ( the button outside terminal) then i see  that job abandoned  . I think someone stole my job , or maybe bec

[2016-08-10 15:14] warpten09025 commented on #380
It happened to me half year ago

[2016-08-10 15:25] nose11 commented on #177
Hello
I work as a tester rainforesqa. And my brother does the same
Have the days but connected us to work and when i started working in the rain, my brother Could not work alone tells you. "It has Reached the maximum number of assignments unsent So we are just other workers WHO stop you from doing too much for us at once. You can complete the other task (s) and reload this page, or simply re this

[2016-08-10 15:59] nerdatwork commented on #382
Are you sure you are doing the jobs within the **Idle Policy** limits ?

[2016-08-10 16:57] Fallingsoul86 commented on #375
Requester Javier Araque Created Today at 07:33 Last activity Today at 09:01
Id #14566 Status open Worker ID 38597628 I need help with... New Tester Job Id —

[2016-08-10 16:57] Fallingsoul86 commented on #375
Ticket created

[2016-08-10 17:00] nerdatwork commented on #375
Great now wait for Rainforest to reply to your ticket.

[2016-08-10 18:08] pscohn commented on #368
Thanks for the logs @diabolic012 . It will also be helpful if someone can capture it, to have the network tab open BEFORE doing the last step (it can be popped out in a separate window), and then if the bug happens to screenshot the end of the network request list.

[2016-08-10 20:34] bilelmz commented on #368
Another one
I pressed "NO" in step 21 for a bug
[Rainforest Job 7693920.txt](https://github.com/rainforestapp/tester-chrome-extension/files/412049/Rainforest.Job.7693920.txt)
![sans titre](https://cloud.githubusercontent.com/assets/20234458/17569842/3e74bd76-5f4a-11e6-8b90-2470ff088566.jpg)

[2016-08-10 22:14] bilelmz commented on #368
And another one!
[Nouveau document texte.txt](https://github.com/rainforestapp/tester-chrome-extension/files/412209/Nouveau.document.texte.txt)

[2016-08-10 22:28] bilelmz commented on #368
I refresh and get the same result again!
[Nouveau document texte.txt](https://github.com/rainforestapp/tester-chrome-extension/files/412225/Nouveau.document.texte.txt)

[2016-08-10 22:29] pscohn commented on #368
@bilelmz merci. do you see any network errors when this happens?

[2016-08-10 22:43] bilelmz commented on #368
@pscohn For the third time, same result
![sans titre](https://cloud.githubusercontent.com/assets/20234458/17573709/7a54f34e-5f5c-11e6-8236-0d11267eca02.png)

[2016-08-10 22:49] pscohn commented on #368
@bilelmz you have to open the network tab before you get to the step, otherwise it won't start logging the requests. I'm sorry this is still happening though.

[2016-08-10 23:13] bilelmz commented on #368
@pscohn I'll do it next time.

[2016-08-10 23:59] luisdanielvc commented on #382
It happened three times to me, i got a job and it was active less than one minute, then the abandoned screen appeared

[2016-08-11 02:56] nerdatwork commented on #382
@luisdanielvc Are you sure you started the job as soon as you got the job ? It could happen that the job window was open for around 4 mins then by the time you finished doing the step it was 5 mins and you got job abandoned.

[2016-08-11 11:12] DrDejan commented on #379
Question is, what i need to do when i get message ? Wait or refresh until job goes to often?

[2016-08-11 11:14] nerdatwork commented on #379
You can refresh the page and if it says too often close the page and wait for next job.

[2016-08-11 15:03] DrDejan commented on #379
OK, thank you.

[2016-08-11 15:12] bradpittvn01 commented on #369
I just got this today. I got a Job 38 Steps. I have done 35 Steps, step by step, it took me 30 minutes.
Then at Step 35, this error happened ......

30 minutes for nothing. Then no way, had to Refresh Job, and data was existing, could only complete job at Step 11! And because of data was existing, some screen-shorts was different with expected screen-short. Eventually this job was rejected.

40 mi

[2016-08-11 15:18] nerdatwork commented on #380
@euparkeria We cannot help you if you cant provide your worker ID or Job ID for this issue.

[2016-08-11 18:20] uangonline opened #383 "Get Something bad happen everytime get a new job."
Get Something bad happen everytime get a new job, refresh on the page once and boom you request this job to often. It just getting worse by the day.

[2016-08-11 18:27] JrRandy commented on #383
They changed the refresh rate to 2 every 50 secs instead of 2 every 30 secs in hopes of reducing this I believe.

[2016-08-11 18:29] uangonline commented on #383
@JrRandy Yes i hope so.

[2016-08-11 18:40] qpPykT commented on #383
@JrRandy
The load is still there. This is the fourth consecutive day, almost at the same time.

![metrics](https://cloud.githubusercontent.com/assets/4960092/17600439/2e42f194-600c-11e6-90cb-f6e6ac9ebace.jpg)

[2016-08-11 18:49] JrRandy commented on #379
DrDejan - I usually only see this message if I have to restart a job after losing connection.  If you wait 1-2 mins instead of hitting refresh right away, it can usually find the server you need.  I found that if I refreshed too soon, it couldnt find the right type of machine and then ended in "requested too many....".  I am assuming its because the server you were connected to was still hung up,

[2016-08-11 19:02] uangonline commented on #383
@qpPykT I see a better performance for now, but something bad happen still appearing most of the time when we get a new job. Also i notice that even though we already get a VM we still sometimes redirect to something bad happened page.

[2016-08-11 19:15] uqbiii commented on #383
I think, the real purpose of this change is to reduce the status code: 400 request. After the change, extension turns to Yes more than before, no matter i got HIT or not and this error is happening to all of testers, so wait and see what will happen.

[2016-08-11 19:28] bilelmz commented on #368
@pscohn Another one
![01](https://cloud.githubusercontent.com/assets/20234458/17601869/77499570-600a-11e6-849d-450df542f14d.jpg)

[2016-08-11 19:37] pscohn commented on #368
@bilelmz that screenshot is helpful, thank you

[2016-08-11 19:38] pscohn commented on #368
@bilelmz do you have adblock enabled?

[2016-08-11 19:43] bilelmz commented on #368
@pscohn when i did this job,i disabled it
sometimes even if the adblock enabled, the problem not happened

[2016-08-11 19:49] A1xx commented on #368
@pscohn I have installed AdBlock, but it is diabled on rainforest sites. I had about 10 jobs with this problem.

[2016-08-11 20:18] JPierreS commented on #383
I do not believe this has anything to do with server load.  I work the night shift and I see some stats here, even with less than 600-700 workers, more than 1/2 less than day time, there are similar issues with "something bad happened" or other issues.  These issues are separate problems such as transient issues with hosting or application errors / local issues (non Heroku)

So those errors, slow

[2016-08-11 20:25] JPierreS commented on #382
@warpten09025 :  There are 2 types of idle policies, the 1st one is effective as soon as you have a live HIT (let's call it step 0), you have 10 minutes to pass this initial step of copying and pasting the job link and taking screenshot.  From step 1 and onward, the policy is 15 minutes.  Each time you start a new step the timer resets. In your case you mentioned that you got job abandoned at step

[2016-08-11 20:29] JPierreS commented on #381
Not a problem, when you get a live HIT it means it is now assigned to you.  The refresh limit is hard coded internally so if you were able to get through it means that you were within limits.

[2016-08-11 20:31] JrRandy commented on #383
There is likely something else going on.  The server should be able to handle the requests being thrown at it.  1500 users at 15 secs per request is only an average of 100 requests per second.  That is nothing compared to computing power nowadays.  It is always around the same time, and last for a few hours.  Its likely as @JPierreS stated.

[2016-08-11 20:32] JPierreS commented on #380
This is a rare issue where more than one tester shares the same terminal.

Do not try to complete the job.  Your only option at this point is to RESTART the HIT (refresh in your own browser) this will get you a fresh new VM.  Keep in mind if the other party refreshes first, you will see a terminal disconnect.  never attempt to complete the job inside a shared terminal, only 1 person can get paid,

[2016-08-11 20:39] JPierreS commented on #379
All these new errors are due to the new interface and code changes.

They are not really new in the sense that in the past you would only see the same generic error message.  Now with the changes you will see a better representation of the actual errors experienced.

For whatever reason at the time the system was not able to get a specific terminal VM.  The only thing to do is refresh, but as a ti

[2016-08-11 23:47] jbarber commented on #380
Hi, we thought we'd nailed this problem a while back, but it looks like it's back. I think I've got a fix which we'll deploy in the next couple of days.

[2016-08-11 23:57] begsoon commented on #383
@JPierreS I totally agree with you.

[2016-08-12 01:25] Elizabesita10 commented on #383
I've had this problem almost all day today I have completed a few job

[2016-08-12 01:47] uangonline commented on #383
@Elizabesita10 Yes, today, by far, is the worst day in RF testing history lol.

[2016-08-12 01:57] bilelmz commented on #368
The problem still exists

[2016-08-12 03:33] nerdatwork commented on #368
@bilelmz Remove Adblock extension and restart the browser. The Abdlock extension might be interfering with the normal working of the terminal. Even though you might have it disabled on the Rainforest page there are always some scripts that might be blocked. You have already spent lot of time and HITs for this error so give this a shot and I am very sure this would resolve your issue :) (fingers cr

[2016-08-12 05:16] IceCreamCake commented on #376
I have same problem, the fist time i reach 87 steps job. And after working  just 50 minute. Connection lost.  After few times try to click Reconnect, then "Job abaddon". So, that "The time limit has already been increased to 90 mins" is lie, i guess.

[2016-08-12 15:37] huynhxuanvinh commented on #383
for the last 6 hours I have gotten 8 hits and can you believe, all of them gone with "another worker..." message. I never meet this situation before when I can get 5/8 number of hit. Don't know what's happening but I think the add-on rainforest or the server has an error. So frustrated when a new open and got that message all the time.

[2016-08-12 16:21] uangonline commented on #383
@huynhxuanvinh No, that's normal. Annoying? yes, nut normal. It's just you'r not fast enough to get the job.

[2016-08-12 16:24] uqbiii commented on #383
Got 23 so far in 10 hours, but today lots of error showed up then before.

[2016-08-12 16:26] uangonline commented on #383
@uqbiii NICEEEEE!!! 5 so far in 3 hr.

[2016-08-12 16:43] huynhxuanvinh commented on #383
@uangonline  no, got some of them is normal but get that message all the time is not normal. I even can get the hits this morning but now have passed 14 hits and 14 are gone with "another worker" message. It's very strange when I lost 100% number of hits. My computer have core i7 processor and 8 GB ram and my internet speed is 80 Mbps so it had to have something wrong. My ID worker is 33676548 so

[2016-08-12 16:50] uangonline commented on #383
@huynhxuanvinh lol, I'm NOT RF staff. I just an ordinary tester like you. Try to ping tester.rainforestqa.com and tell me the time you get.

[2016-08-12 16:51] huynhxuanvinh commented on #383
@uangonline  it's 55 ms.

[2016-08-12 16:52] uangonline commented on #383
@huynhxuanvinh  Well that's normal if your not from USA.

[2016-08-12 16:55] uqbiii commented on #383
Take a look at mine, not as good as yours.  Minimum = 213ms, Maximum = 233ms, Average = 224ms. I think you should try a clean installation of extension, if still persist then reinstall chrome, I also uninstalled and reinstalled my extension yesterday.

[2016-08-12 16:55] uangonline commented on #383
@huynhxuanvinh Hope get a better luck next time though.

[2016-08-12 16:57] uangonline commented on #383
@uqbiii I don't that will help with his situation, he still got a hit from extension.

[2016-08-12 17:00] huynhxuanvinh commented on #383
My friend also confirm the problem as me. If this can happen to Vietnam so it can happen to another country which is far from the server. But till this morning I still could get hits without problem but now is so frustrating. I have installed again my extension but can't change anything. I will wait until tomorrow before reinstall my browser. Really sad if one day I can't get hit to do.

[2016-08-12 17:03] uangonline commented on #383
@huynhxuanvinh Sorry i can't give you much help. Hope you will find solution for your problem.

[2016-08-12 17:12] huynhxuanvinh commented on #383
@uangonline  thank you. I will try to find out the problem and hope everything will be better tomorrow.

[2016-08-12 17:12] uqbiii commented on #383
vinhvip: I hope tomorrow will be better than today. Good Luck

[2016-08-12 17:20] huynhxuanvinh commented on #383
@uqbiii thank you. time to sleep after a hardworking day. I do not have only rainforest job so try do do many things in the same time make me tired. By the way, try my best to catch the target of this month.

[2016-08-12 17:26] qpPykT commented on #383
@uqbiii
Ho-ho. Tomorrow will be weekend days and it's not so good for getting a lot of hit.

[2016-08-12 17:31] uqbiii commented on #383
apart from HITs there will be no one to solve all these ongoing problems, and "no vm" message increases in weekend so it will be hard to get a vm with all these problems and it looks like Monday is not much good.

[2016-08-12 17:32] MilaZj commented on #383
Worst week ever.

[2016-08-12 17:36] normensstounss commented on #383
I completed 25 hits ( but I never sleep) and yes many bad errors.

[2016-08-12 17:38] uangonline commented on #383
@normensstounss Never sleep? What are you? A robot? lol

[2016-08-12 17:42] MilaZj commented on #383
Are u a human? lol

[2016-08-12 17:47] uqbiii commented on #383
@normensstounss I think you are this guy "neotaruga" or maybe his brother, btw got 25 as well.

[2016-08-12 17:52] normensstounss commented on #383
I'm kidding, I sleep. lol :smiley:

[2016-08-12 17:54] normensstounss commented on #383
@uqbiii No I'm not "neotaruga"

[2016-08-12 18:03] qpPykT commented on #383
@normensstounss
Are you just Neo :D :japanese_ogre:

[2016-08-12 18:37] CharlieSpock opened #384 "Jobs with hundred steps and lost connection"
Why clients send jobs with too many steps like a 110 steps?. The system expels testers within an hour of the VM's. My experience a job with 110 steps when i do the step 87 a connection lost message appear, i try to reconnect using button on the VM not get connected again and lost all the job. When i refresh the page a message say that all jobs are sumited. Should recommend to customers who do not

[2016-08-12 18:48] uangonline commented on #384
@CharlieSpock I think steps is not an issue here. I'v finished jobs with many step without problem. The most important issue here is how to make sure that VM will not disconnected when tester doing a job. Jobs with many steps help a lot.

[2016-08-12 19:02] CharlieSpock commented on #384
@uangonline yes thats right! maibe the capacity of server and the many users online on certain time of day make some diference on performance of VM's

[2016-08-12 19:17] sweeneyapps commented on #384
I would recommend rainforest to save snapshot every 25 steps.  So that way, we get paid for doing every 25 steps on an one big job (unlimited steps)...   If it's feasible for them to do that.. then that would be great..

[2016-08-12 19:18] uqbiii commented on #384
I also completed one with 107 steps, it was very easy so no problem occurred and completed in 45 minutes, but i thought that if job with that much steps with a slow website appears to me, i will simply close the tab instead of wasting 60 minutes. They should make a system, like if someone is clicking yes or no and passing steps the time for him will increase accordingly, what if a website owner ma

[2016-08-12 19:23] uangonline commented on #384
1 Big thumb up for @sweeneyapps.

[2016-08-12 19:28] uqbiii commented on #384
@sweeneyapps waiting for your update on jobautoreload, i installed it yesterday and they changed the limit.

[2016-08-12 19:31] sweeneyapps commented on #384
i'll update the limit..

[2016-08-12 19:37] uangonline commented on #384
@sweeneyapps Why not give an option popup to change the timer, so you don't need to update it everytime rate limit change.

[2016-08-12 19:48] sweeneyapps commented on #384
@uqbiii For now, I set it at 30 seconds..   because I'm editing off github website.   when I have time tonight or this weekend.   I'll add the option popup like @uangonline suggested.  that would be great.     Any of you..  don't be afraid to leave Issues on my github and I'll follow up on it.

[2016-08-12 19:54] uqbiii commented on #384
That's Great!!! Thank you for the update and for the upcoming update as well. From now i will post on your own github for help related issues.

[2016-08-12 21:36] pscohn commented on #368
@nerdatwork's suggestion could work, please try it and let me know if it solves the problem. I can't find any problem in the code that would be causing it, and the vast majority of jobs seem to have no problem.

[2016-08-12 23:15] bilelmz commented on #368
@nerdatwork @pscohn I'll try it. I'll remove Adblock completely.
I think that the problem is related to the number of steps. It's not exist in the jobs with a few steps.

[2016-08-12 23:58] diabolic012 commented on #368
Problem is not in Adblock, I removed  him and still have same issue with ten stepper 2 minutes ago.

[2016-08-13 02:48] nerdatwork commented on #368
@diabolic012 Could you open this in chrome "chrome://extensions/" and post a screenshot ?

[2016-08-13 03:49] diabolic012 commented on #368
Here is a video, cannot take screenshot.
https://vimeo.com/178695080

[2016-08-13 04:37] qpPykT commented on #368
@diabolic012
Are you have been trying to disable or remove all of your plugins except rf? Have a such bunch of junk it's not a good idea.

[2016-08-13 04:39] diabolic012 commented on #368
Will try....

[2016-08-14 00:49] diabolic012 commented on #368
No, problem is not in extensions,  I tried using only RF extension on a clear chrome browser and still same problem happened on 15th stepper.

[2016-08-14 12:02] samizle commented on #384
I have also had a frustrating experience doing a job with +80 steps from Sighten NDA, not to mention that my connection was a little slow. While I was on the very last steps of the task, i lost connection forever of the VM and timed out! I cannot tell how much disappointing that was as you lose time and energy for granted. I suggest that it would be much better to divide tasks with multiple steps

[2016-08-15 08:10] vrr123 opened #387 "still no notifications"
Hello.
I confirmed 2 tasks (id 930309, 919467) and I have not received any notification. I can't claim my profile...
Support service is not responding.   my last ticket #13893

[2016-08-15 12:12] nerdatwork commented on #387
What do you mean you cant claim profile ? When did you submit your ticket ?

[2016-08-15 12:41] vrr123 commented on #387
there is no message with a link to my profile after I confirmed the task from RF - https://tasks.crowdflower.com/notifications

the ticket was created on July 19.

[2016-08-15 12:52] nerdatwork commented on #387
When did you complete the task ?

[2016-08-15 13:05] vrr123 commented on #387
11 June and 8 July.
![default](https://cloud.githubusercontent.com/assets/19910901/17665187/f72a4894-6301-11e6-9687-bb28eae8ea4f.png)

[2016-08-15 13:33] qpPykT commented on #387
@vrr123
I think if all goes well the notification with a link to claim your profile is sent on same day when the task was done.
Did you were previously registered in the rainforest?

[2016-08-15 14:01] vrr123 commented on #387
I was doing   tasks before, but I was not registered in the RF.

I was doing tasks of RF in 2015. But I did not confirm my profile at the time. All messages and notifications came and preserved.  But NOW these old links do not work, and it is impossible to confirm the user's profile.

[2016-08-15 14:09] uqbiii commented on #387
that's not possible, even if you are an old tester, you still receive a message about claiming profile, and if you are trying to get your 2nd account with the same contributor id, that may be the issue.

[2016-08-15 14:30] huynhxuanvinh commented on #384
@uqbiii where can I get that job auto load program. Link to install, please

[2016-08-15 15:38] zfonck123 opened #388 "you have reached for more 1hour"
ID 34044189

[2016-08-15 15:58] uqbiii commented on #388
Oeeeee, what kind of error is this, If you are talking about, You have t\reached the maximum number of submitted assignment, then wait for someone to complete that assignment, second clear cookies, caches, and history, and start again, hope you don't have to face it again.

[2016-08-15 16:01] uqbiii commented on #384
@huynhxuanvinh https://github.com/sweeneyapps/JobAutoReload

[2016-08-15 17:18] ukd1 commented on #377
closing this as @shosti's shrute nukes the need for this

[2016-08-15 17:18] #377 closed

[2016-08-15 17:27] #388 closed

[2016-08-15 19:07] bilelmz commented on #368
It happened again.
Although i removed Adblock completely.
Any job containing 15 or more step, the problem appears!
please fix that problem.
![sans titre](https://cloud.githubusercontent.com/assets/20234458/17675920/3d62cc58-632c-11e6-9197-281dcf80ef09.jpg)

[2016-08-15 19:29] uqbiii commented on #368
You should try to complete a HIT in incognito mode, if you have allowed any of your extensions to run in incognito mode then stop them for a while for incognito and if you do, close the original windows for a while, or try to complete a HIT in any other but updated browser.

[2016-08-15 22:11] ukd1 commented on #151
@rainforestapp/tester-product ?

[2016-08-15 22:15] bilelmz commented on #368
@uqbiii I'll try it.
But i think the problem is related to the number of steps, like i said, any job containing 15 or more step, the problem appears!

[2016-08-15 23:22] djux90 opened #389 "is it posible to click on yes, but in rejection says you clicked on no?"
I got rejection for bad summing numbers, i am really sure that i answer YES, i had some problems with "something bad happened" mesage and must click few times but i am 100% sure that i clicked yes, but in rejections it wrote that i clicked on NO. Is it posible for that to be some error? That really annoyed me

[2016-08-16 01:31] JPierreS commented on #389
It's unfortunate that this happened to you, but normally this should not happen.  It is easy sometimes to get distracted and click the wrong button.  In any case, the threshold for rejections is big enough to allow for such mistakes or issues if any.  Either way, the rejection you received an automated one and as with all rejections, will disappear after 30 days (each rejection has its own 30 days

[2016-08-16 09:39] irishclouds opened #390 "No 10% daily bonus"
Yesterday i have finished 13 jobs, but i don't see any 10% bonus, same problem 2 days ago. Someone have the same problem?

[2016-08-16 10:36] uqbiii commented on #390
Working fine for me, check if you received a notification similar to this one in your dashboard, or else check your email associated with RF account. If still nothing, you should file a ticket.
![screenshot 10](https://cloud.githubusercontent.com/assets/16700973/17696291/d9eeaa2a-63c6-11e6-9b94-6bc6e322c461.png)

[2016-08-16 13:37] qpPykT commented on #390
@uqbiii
So, and why you're post screenshot from 08/01-02/16 if right now 08/16/16.

@irishclouds

You can see your payments bonus in last task what you have done yesterday. Bonus will be automatically added to the last completed task.

[2016-08-16 14:35] uqbiii commented on #390
@qpPykT  Just because i saved it a few days ago, it was my best so i saved that, as i don't open notification for a day until the days ends, it is the easiest way to check how much HITs i completed for that day, otherwise i will post the latest one, if you want to check new one, i will post that, let me know then i will open my notifications!!!.

[2016-08-16 14:50] pscohn commented on #312
Currently we've stopped accepting new testers until we find we have a shortage again in the future.

[2016-08-16 14:50] #312 closed

[2016-08-16 15:00] uqbiii commented on #368
@bilelmz Maybe, but it's working fine for me, i completed some jobs with more than 15 steps yesterday and today but not faced such kind of problem. Hope it will be resolved soon.

[2016-08-16 15:10] uangonline opened #391 "Please also put restart job button in "Something Bad Happened" and "Application error" page."
Hello @ukd1 @pscohn, can you please also put restart job button in "Something Bad Happened" and "Application error" page? That would be nice feature.

[2016-08-16 15:20] uqbiii commented on #391
How awesome if they remove these errors,  Sounds Great!!!.
Give them some time and they will remove them as well.

[2016-08-16 15:31] uangonline commented on #391
@uqbiii I'm sure they will, but before that's happen, i think put the button is necessary.

[2016-08-16 15:34] TheOneWhoKnock commented on #391
not relate, but is there anything to push a sound when a job is comming and a new tab popup? guys? thanks

[2016-08-16 15:38] uangonline commented on #391
@TheOneWhoKnock They not give that feature, but you could add it your self to the script though.

[2016-08-16 15:41] TheOneWhoKnock commented on #391
@uangonline how to do it ? or u know any extension with same funtion?

[2016-08-16 15:45] helloworld111gh commented on #391
Theoretically, good design would have the tester interface automatically
retry if it got an error.
I'm sure there will be less complaints about server issues if there is auto
retry (just keep showing the loading bar).

[2016-08-16 15:53] TheOneWhoKnock commented on #391
@helloworld111gh yeah i found a extension to do this, u guys can try cola tab extension :D

[2016-08-16 15:56] uangonline commented on #391
@TheOneWhoKnock Just put "var audio = new Audio('any audio folder/any audio.wav');" below "var _ravenJs2" and "audio.play();" below "if (resp.work_available) {"

@helloworld111gh Agreed.

[2016-08-16 15:58] uqbiii commented on #391
i am using tempermoneky with a java script which is working really good.

[2016-08-16 16:17] TheOneWhoKnock commented on #391
@uangonline thanks mate but, i need to learn code fist :))

[2016-08-16 16:34] uangonline commented on #391
@TheOneWhoKnock Well i also new in Javascript lol.

[2016-08-16 16:37] androwg commented on #391
@uangonline  hi in witch file can i found "var _ravenJs2" ?

[2016-08-16 16:39] helloworld111gh commented on #391
@androwg It is impossible to manually edit the extension unless you are
willing to learn advanced JS and command line tools in order to compile and
install edits.

On Aug 17, 2016 01:37, "androwg" <notifications@github.com> wrote:

[2016-08-16 16:45] androwg commented on #391
@helloworld111gh Hoped that i have time to learn other things :)

[2016-08-16 16:45] uangonline commented on #391
@androwg Like @helloworld111gh  said.

[2016-08-16 20:13] djux90 commented on #389
i got one more rejections for this. And again i am sure i am not clicked wrong button. I don't know what to do? I must to record my test to prove that or something? Please some admin help, i using calculator and always double check

[2016-08-16 20:18] danaidh opened #392 "Help me, I'm not receiving payments!‏"
I haven't receive my payment, I've change my worker ID so it's no longer 37787035, i do not longer have that channel on crowdflower, I asked crowdflower about this and they said i have to talk to you guys, it's the 3rd time I send a ticket, please help me I'm working and not receiving any of the payments because of this, the new worker ID is 39094020. Please, help me!!

[2016-08-16 20:21] JPierreS commented on #389
Is this always happening during "something bad happened" or other errors ?
If so this could be a serious bug :)  I would not worry much about it, you will not be faulted if there is a bug.  I guess it would be a good idea to contact support about this so they can forward this issue to the right team to take a look at.

Sadly, unless they have proof of an actual bug, they will very unlikely overtur

[2016-08-16 20:29] djux90 commented on #389
in last days almost in every test i got few error "something bad happened" or some else erorr. But i checked now more carefuly from last rejection and again i am sure that i am not wrong. I writed to them, i don't need they overturn rejection, they will disappear, but i am worried if this continue. I will try to reinstal chrome, and will try to record every test, so if i got another one i have pro

[2016-08-16 20:38] priggy opened #393 "2-3 step jobs"
Today, whole day, i received around 12 tasks and bunch of red message hits (either another worker took my  job or something bad happened). Those 12 jobs I managed to get in had 2, 3 or at most 4 steps... Anyone having same trouble?

[2016-08-16 20:43] srsaurabh32 commented on #393
yup same issue...

[2016-08-16 22:39] sweeneyapps commented on #391
@TheOneWhoKnock  @helloworld111gh

 I wrote some tamperMonkey script here..  at my gist page..  [https://gist.github.com/sweeneyapps/9a74def901420422dafd30415a7057b2](url)
and also added  new job sound feature on my JobAutoReload github page at [https://github.com/sweeneyapps/JobAutoReload](url)

I hope those are helpful.  :)

[2016-08-16 22:43] TheOneWhoKnock commented on #391
@sưeeneyapps thank you but link not work bro pls fix :D

[2016-08-16 22:47] sweeneyapps commented on #391
@TheOneWhoKnock  @helloworld111gh

 I wrote some tamperMonkey script here..  at my gist page..  https://gist.github.com/sweeneyapps/9a74def901420422dafd30415a7057b2
and also added  new job sound feature on my JobAutoReload github page at
https://github.com/sweeneyapps/JobAutoReload

I hope those are helpful.  :)

[2016-08-16 23:07] Dolazim commented on #393
This is not issue jobs is jobs even if he have 2-3 step...

[2016-08-16 23:39] TheOneWhoKnock commented on #391
@helloworld111gh @uangonline @androwg @uqbiii can u show me how to use the gift from Mr. @sweeneyapps , thank you :+1:

[2016-08-17 00:24] TheOneWhoKnock commented on #391
@sweeneyapps it worked :D thank so much bro

[2016-08-17 01:41] sweeneyapps commented on #391
lol, I'm glad you figured it out and be able to select your own sound.

[2016-08-17 03:34] uqbiii commented on #391
@sweeneyapps It's working really good, but don't you think that using a sound from our computer is much better, as you can see the sound @TheOneWhoKnock uploaded is 75kb, and everytime it rings, it will use your 75kb (i am not asking to save data,), and this 75kb is more important for TAB instead of extension.

[2016-08-17 04:02] uqbiii commented on #392
Can I change my CrowdFlower ID used for payment?

Source: Wiki/Frequently Asked Questions

To receive payment into your new Contributor ID, you must have to complete a task from your preferred channel, which is not possible yet and you have to wait.
How do I start testing for Rainforest?

As of July 2016, we've stopped accepting new testers until the need comes up again in the future. We hope this

[2016-08-17 05:40] sweeneyapps commented on #391
@uqbiii I did some updates....  but logically, once sound is loaded from the internet, it's cached on your computer locally.

[2016-08-17 05:58] uqbiii commented on #393
1st, RainforestQA employees can't do anything about this topic, it's upto the website owner.
2nd, it's not an issue to discuss further and we should work as a tester not as a moneymaker. Our priority is to give best of our work. What if you get a 100 steps HIT and had to report it in the 1st step? What will you do, and it you feels? If you work as a tester you will fell good but you feel really ba

[2016-08-17 07:13] andrianr commented on #393
It is a good job.. You will be sure you 100% won't see "Lost connections" :)

[2016-08-17 07:42] marius11 commented on #393
That's not an issue. You should close this thread.

[2016-08-17 14:39] TheOneWhoKnock commented on #391
@sweeneyapps  @uqbiii i think so :D it respond very fast

[2016-08-17 14:52] androwg opened #394 "black area above and below browser"
Please fix this problem
![untitled](https://cloud.githubusercontent.com/assets/15823279/17740466/fc126826-6498-11e6-8931-d0c7d0744caa.png)

[2016-08-17 14:57] #393 closed

[2016-08-17 15:36] dougtheone commented on #338
It's happening with me as well.

[2016-08-17 16:55] Fallingsoul86 commented on #375
Please Paul Cohn @pscohn do you can see something about this issue please, I already have 1 Week waiting for some reply, thanks in advance and sorry for disturb.

[2016-08-18 00:50] sweeneyapps commented on #375
I noticed your profile and I don't think it's possible.. because you have been member since Aug 2016 and Rainforest stopped accepting new tester on July.   How is that possible?   That's might reason why they are not paying you.

[2016-08-18 01:15] bilelmz commented on #368
I completed a job with more than 15 steps, Adblock was removed and all extensions were disabled.
Now, i try with some extensions and see what happen.

[2016-08-18 02:22] RnkSts commented on #391
@sweeneyapps I try your JobAutoReload app and It's fully working C: Thanks so much for sharing it! I could not leave here without thank you for this amazing help :smile:

[2016-08-18 03:06] TheOneWhoKnock commented on #342
can i ask, is this posible?

[2016-08-18 03:47] uqbiii commented on #342
@TheOneWhoKnock Check #392.

[2016-08-18 03:48] TheOneWhoKnock opened #395 "CF is killing spree-Can RF open to swap RF account one for one?"
yesterday i has been got ban for task.cf account so might be i can't get paid throught over elite.cf.
Many friend of mine is have same problem, so why RF don't open to us to swap one for one  RF account (old acc will be delete or disable) so i continue work with u, this is not mean accept new worker, i am old one :(
 thank you
ps;that is so sad, i got ban just because i fail in a job in Cf :(

[2016-08-18 04:29] sweeneyapps commented on #391
no problem!   I had much fun today playing Forza Motorsport 6: Apex Beta while waiting for Rainforest job.  :)   It's free on Windows 10.   Something to keep you busy.

[2016-08-18 05:06] qpPykT commented on #395
@TheOneWhoKnock
Bans are not handed out to all and sundry. If you're doing your job badly there then what can we say about other places. You can solve your problem with CF if you got the ban unfairly.

[2016-08-18 05:11] TheOneWhoKnock commented on #395
it was unfair (i just do the quiz then out) but u know CF it take some month or never to process your ticket.

[2016-08-18 05:17] uqbiii commented on #395
It must be a sentiment job, and i hate them, never tried a single one in 3-4 years, and my account is going well. Btw, it's not good to discuss cf ban here, try to find there phone number and call them, that may work!, otherwise wait for 5-6 months for their reply.

[2016-08-18 05:17] uangonline commented on #391
@sweeneyapps Spoiler alert!!! lol.

[2016-08-18 06:24] TheOneWhoKnock commented on #395
it was not sentiment job :( just find info and i did not make money on that job at all just do the quiz and quit :(( so unfair, i mean that can RF can make a change for people like us. open to swap one for one RF (at good status at all)

[2016-08-18 08:39] nerdatwork commented on #395
@TheOneWhoKnock This place is discussing issues with Chrome extension and not CrowdFlower bans. You should contact CrowdFlower since this is not related to Rainforest in any way. Please close the thread.

[2016-08-18 08:45] nerdatwork commented on #392
@danaidh Have you done any job using **39094020** ? If yes have you claimed your profile ?

[2016-08-18 09:24] TheOneWhoKnock commented on #395
@nerdatwork no i mean CF was ban my acc in task.cf.com but acc in elite.cf.com is not baned. So when it happen i still can receive cash from RF but CF will not pay for me and i want RF can swap acc for me so i can continue work on RF

[2016-08-18 09:32] helloworld111gh commented on #395
No.
Please close this thread, Rainforest are notified of everything posted here
and hey will likely block your account after finding out your CF account
was banned.

On Aug 18, 2016 6:24 PM, "TheOneWhoKnock" <notifications@github.com> wrote:

[2016-08-18 09:36] nerdatwork commented on #395
@TheOneWhoKnock I understand your problem now. Your account is banned in some reward site and you want to change your worker id. As of now Rainforest cant help you to change your worker ID.

[2016-08-18 09:51] TheOneWhoKnock commented on #395
ok thanks for all your comment :+1:

[2016-08-18 13:02] Fallingsoul86 commented on #375
It's fair enought, I know and understand the situation, I'm just asking for a opportunity to be working on your team... thanks in advance.

[2016-08-18 13:12] TheOneWhoKnock commented on #375
@sweeneyapps may be he was not claim his profile immediately

[2016-08-18 13:27] zfonck123 commented on #375
@sweeneyapps  i think can give one oportunity to coming to team. not is a "bad tester"  80/3 is soo good

[2016-08-18 13:32] nummuss opened #396 "Could not get a ie11 machine."
Could not get a ie11 machine. Same with firefox.
assignmentId=cxe7456d-ef14-468b-89c9-6ac5d612c08b
workerId=30073888
Too often today.

[2016-08-18 14:12] TheOneWhoKnock commented on #375
@zfonck123 yep my acc is 90/2 but cf ban my acc without explain@@ RF should open for woker like us to change id.

[2016-08-18 14:17] zfonck123 commented on #375
@TheOneWhoKnock but CF is at CF, and RainForest is another.   only u can change id with another chanel example gifhunter club, elite,neobux cliksense ect, u need waiting for reopen new tester and get a job nivel 1 "rainforest" y think the  old name is " test a web application with any browser" with a new chanel.

[2016-08-18 15:04] TheOneWhoKnock commented on #375
@zfonck123 yeah but it can take a long time  till re-open :))

[2016-08-18 15:19] nerdatwork commented on #375
@TheOneWhoKnock Rainforest **does not** change worker ids. I understand your situation but there are already enough testers and when new testers are allowed to join, you can try to claim another profile but till then there is nothing you can do besides waiting.

[2016-08-18 15:23] TheOneWhoKnock commented on #375
@nerdatwork yep i know. but it so sad :(

[2016-08-18 16:24] androwg commented on #391
@sweeneyapps Can you adjust it to give a sound when we get a real work not just a another work or there is no vm messages ?

[2016-08-18 16:58] xvmmc20x opened #397 "Account Blocked"
Good people my account was blocked because * Reason for block: You have failed to follow instructions on too many jobs * How I resolve this ??

[2016-08-18 17:25] qpPykT commented on #397
@xvmmc20x
Blocks are permanent for everyone and mean you cannot do tasks with Rainforest in the future on the blocked account or any other account you create.

[2016-08-18 17:27] xvmmc20x commented on #397
Yes I read that , really dont any form to resolve this?.. Really I know that could happend

[2016-08-18 17:35] qpPykT commented on #397
@xvmmc20x
You can create a ticket but it is likely that your account has been blocked by the admin and cannot be unlocked.

[2016-08-18 17:36] Fallingsoul86 commented on #375
@sweeneyapps Something more that can be said?

[2016-08-18 17:51] uqbiii commented on #397
How much rejection has you received in last 30 days? Or it is banned without rejections?

[2016-08-18 17:55] xvmmc20x commented on #397
Yes I receive a rejections, but really man , I think they can send a email saying me hey look a lot rejection take care etc etc, but I really dont know that could be happend

[2016-08-18 18:49] GreekGuy opened #398 "You have reached the maximum number of unsubmitted assignments."
Almost one hour with this error after finishing a job.

[2016-08-18 18:53] uqbiii commented on #398
Have you tried restarting your browser. Whenever this happens to me, i simply close that tab because refreshing that tab will show the same error, you should close all tabs related to HITs, restart your browser, restart your extension and i hope you will never see this again.

[2016-08-18 18:57] rnfrst commented on #397
High number of rejections is in the Wiki and that is linked to your portal, there is no way you could miss it unless you ignore it.

[2016-08-18 18:58] GreekGuy commented on #398
I ve tried it and i also reinstalled the extension but nothing..

[2016-08-18 19:37] #398 closed

[2016-08-18 20:30] RnkSts commented on #389
I received one **rejection** for a wrong sum of numbers, I was shocked because it would be my first rejeccion in rainforest, maybe i get distracted and click wrong response how says @JPierreS . 30 days after it no longer appears in my history, but that was crazy how i can miss that sum (or a bug don't know **:v**) :open_mouth:  @djux90 Don't worry it will disappear soon.

This days I have been rec

[2016-08-18 20:45] priggy opened #399 "Somethign bad happened"
it is not that something bad happened.... it is HAPPENING.... continuously.... 5 jobs in a row, from 7 to 12 steps... each had to end at 1st... due to something bad happened message after few steps... restarted each job multiple times, same bug on same step... then it started messing up at the beginning not even taking initial screenshot...

[2016-08-18 22:30] djux90 opened #400 "Do i need to report if on vm says problem loading page?"
It says that, but VM works well, opening all links, that is just in begining, i couldn't find answer on wiki, so i don't know do i need to report that,
![1111111](https://cloud.githubusercontent.com/assets/20422665/17792875/69b02bb8-659b-11e6-9f4d-9b7b20c05cd0.JPG)

[2016-08-18 22:45] danaidh commented on #392
Yes I have. I've sent lots of support tickets, with no answer

[2016-08-18 22:57] xvmmc20x commented on #397
Thanks everyone well If I blocked nothing to do .. this piss me off .. but well, thanks a lot!

[2016-08-18 22:59] danaidh commented on #392
@uqbiii not very helpful, but thanks

[2016-08-19 00:23] sweeneyapps commented on #375
sorry, I was just surprised.  I hope thing will work it out for you with Rainforest staff.

[2016-08-19 00:28] kutch1 commented on #400
No i don't think so because you still didn't do the 1st step at all .Also you enter a link then you take a screenshot so that doesn't count .

[2016-08-19 05:07] nerdatwork commented on #397
@xvmmc20x Please close this thread if you got a response to your satisfaction.

[2016-08-19 05:32] nerdatwork commented on #400
If you are not getting any error messages or pages after pasting the link in first step then there is no need to report this error page because you have **NOT** started working yet

[2016-08-19 05:33] nerdatwork commented on #396
There is no need to report this issue here. It simply means the extension was unable to get an Internet Explorer version 11 machine. You can safely refresh the page when you see this message.

[2016-08-19 05:34] nerdatwork commented on #395
Please close the thread if you got a satisfactory response to your issue.

[2016-08-19 05:36] nerdatwork commented on #392
@danaidh Why cant you receive your payment on old id 37787035 ?

[2016-08-19 05:37] TheOneWhoKnock commented on #395
ok I forgot. sorry

[2016-08-19 05:37] #395 closed

[2016-08-19 09:40] nerdatwork commented on #390
@irishclouds What @qpPykT says is correct. Have you checked your history yet. Can you confirm whether the bonus was given to you ?

[2016-08-19 09:59] Profica opened #401 "Member classification"
Good day, Is it possible to see list of members, or just for me classification of how good am I or others doing the job? Am I fair, sloopy or something third...

[2016-08-19 11:53] #396 closed

[2016-08-19 12:12] #397 closed

[2016-08-19 13:32] zfonck123 opened #402 "ping 400+ something bad happened error"
![image](https://cloud.githubusercontent.com/assets/19192312/17811266/d7ee5100-65ef-11e6-9551-8e9e1a3d27f6.png)

[2016-08-19 13:34] IceCreamCake opened #403 "This is second time, 53 step Job Abandon after work on 35 minute mark. (83 steps job in recently time)"
How can i work, when just submit the answer yes/no already take almost 30s-1 minute, and then Lost connect - Job Abandon on 35 minute????

[2016-08-19 13:43] zfonck123 commented on #403
the server have error in this moment :( :(

[2016-08-19 13:59] uqbiii commented on #403
got a HIT at 06:11pm PST and now 06:56pm but still no hope to complete it, it has just 7 steps, but the combination is really bad, browser is edge with a website related to digital post and rf current stat is very bad. I just struggling to complete it because i don't want to abandon, as i already got 2 times "you have requested this job too often.

[2016-08-19 14:09] nerdatwork commented on #401
If you are reporting the jobs that need to be reported and following the rules to the letter then of course you are doing an awesome job. We need more testers like you that are doing their best to give best results :)
:+1:

[2016-08-19 14:09] nerdatwork commented on #402
Yes the response time is really bad but its getting better now :)

[2016-08-19 14:11] nerdatwork commented on #403
@uqbiii I feel your pain. The response time for the terminal is really very bad and we are all facing the delay. I hope it gets better.

[2016-08-19 14:12] IceCreamCake commented on #403
I hope the system can let tester choose "Saved work or not" when Job Abandon, that's will give more fair to us.

[2016-08-19 14:16] Profica commented on #401
For this month I have 2 rejections, last month I had 4, sometimes happens that I report something but, number of bug stay the same. Do You count those reports as something bad?

[2016-08-19 14:17] uqbiii commented on #403
Completed now, and after completing, got 1 HIT which shows "too ofter". Will there be any problem if we abandon too much jobs, i mean their system abandon jobs on testers behalf???
![untitled](https://cloud.githubusercontent.com/assets/16700973/17812585/2445aac0-6641-11e6-80ca-b3d0523f0b68.png)

[2016-08-19 14:28] bilelmz commented on #402
I get the same job again!
With 28 step this time, but i simply closed the window, my nerves cannot afford more fatigue.

[2016-08-19 14:41] MarinaCec commented on #399
all day, every time refreshed

[2016-08-19 14:47] j1menezz commented on #403
I was doing a hit with 107, in the step 45 (after 34 mins) the hit show me the connection lost error and Job Abandoned? Its rlly annoying!!!!!..

[2016-08-19 14:55] TheOneWhoKnock commented on #403
be happy because u can keep working with RF :( i done because shit CF

[2016-08-19 15:06] IceCreamCake commented on #403
It make my feeling turn very bad. and guess what, the admin come to this topic and response the others?? i really don't know what to say.......

[2016-08-19 15:10] uqbiii commented on #403
@TheOneWhoKnock I feel really sorry for what happened to you, and please don't be disappointed, they have lifted bans a few weeks ago from accounts which were suspended unfairly and they given a 2nd chance to all of them, i hope you will get your account soon.

[2016-08-19 15:37] xakep99 commented on #403
@ nerdatwork:

No need to feel someone else's pain and don't hope for things to get better. Instead, stop assigning new jobs that can't be finished and fix the things that should got better.

I had 39-stepper and after 40 minutes I was on step 27. In remaining 20 minutes only 6 screenshots could be taken - more than 3 minutes for a single screenshot.

Then, I got 107-stepper and got abandoned afte

[2016-08-19 15:41] nerdatwork commented on #403
@IceCreamCake Saved work concept seems good but the current process is not designed to work like that. FYI **I am not the admin**

@uqbiii When did Rainforest lift bans and where did you read that ? Could you tell more about this ?

We are all facing the same situation like you @xakep99 showing empathy is **not** a bad thing. If you are giving up hope of things not getting better then that is a pr

[2016-08-19 15:43] nerdatwork commented on #401
Bug count increases when other testers spot the same bug. Read the instructions carefully to avoid rejections. 20 rejections and your account is permanently banned.

I hope that helps.

[2016-08-19 15:57] #401 closed

[2016-08-19 15:57] uqbiii commented on #403
@nerdatwork You should read everything carefully, it will help you in the future and now check this thread again #395 . His account was not suspended by Rainforest, CF suspended his account.

[2016-08-19 16:05] TheOneWhoKnock commented on #403
@uqbiii thanks mate :+1: i send a ticket with hopeless :(  my acc at RF is very good i got more 20 hits a day and 5-6 of them have more 35 step. biggest is 116 st. money and money.

[2016-08-19 16:15] IceCreamCake commented on #403
@nerdatwork Glad to receive response. Sorry, i thought u r admin or staff of RF. And i just think maybe just have  "Saved work" when Job(with many step) Abandon to resolve current issue, not in normal job. But..... so  just waiting till it's fixed is the option.

[2016-08-19 16:27] zfonck123 commented on #402
![image](https://cloud.githubusercontent.com/assets/19192312/17816643/38cad3a0-6608-11e6-9257-60bc4b261177.png)
![image](https://cloud.githubusercontent.com/assets/19192312/17816645/3aa7a73e-6608-11e6-839e-1a2a1222e163.png)

[2016-08-19 16:35] marius11 commented on #402
A thread addressing the same issue has already been opened here: https://github.com/rainforestapp/tester-chrome-extension/issues/399

[2016-08-19 16:39] uangonline commented on #403
@All Don't loose hope... I'm sure sooner or later The RF team will fix all the errors. Just be patient.

[2016-08-19 16:44] xakep99 commented on #403
I hope I will be compensated for two hour work but it's definitely not gonna happen. Hope is that much useful in these matters.

[2016-08-19 16:46] uangonline commented on #403
@xakep99 Try to send support ticket with your word and job ID, and screenshot of your work if it available. Hope you get a best of luck.

[2016-08-19 16:47] djux90 commented on #399
yes, for me to. Hope they will fix that soon

[2016-08-19 17:10] xakep99 commented on #403
Hope, empathy and luck are philosophical categories and they just don't have anything to do with 0's and 1's which is what we talk here. If I count on luck I would buy a lottery ticket (**hope** to win and expect **empathy** if I don't).

[2016-08-19 17:41] tulko commented on #403
these days I've had problems like everyone else. Although not sending tikets because I do not get answers. Directly I hope to solve the problem. Pokemon Go this weekend :dash:

[2016-08-19 19:07] #402 closed

[2016-08-20 01:20] bilelmz commented on #368
Now, confirmed that this problem is not related to extensions!
The same problem with a job of 15 step, Adblock removed, ALL extensions disabled.
It's clear that the reason related to the number of steps, more than 15 = get problem!

[2016-08-20 02:11] nerdatwork commented on #368
@bilelmz Can you try using a different computer ?

[2016-08-20 02:27] bilelmz commented on #368
@nerdatwork Frankly, tired of trying.
I don't know, if i get this problem again, i'll close the window.

[2016-08-20 02:37] nerdatwork commented on #368
I understand but can you at least try.

[2016-08-20 04:34] A1xx commented on #368
@nerdatwork I had this problem on two different computers (one at home, one at my work).
About one week I don't have it anymore. Only once I had something like this. Done Button got disabled, but this time, after few minutes I got error message, two red lines came up on the page with text. It was something about fetch. When I made screenshot the error message had gone. Button got enabled. I presse

[2016-08-20 05:01] nerdatwork commented on #368
@A1xx Next time when you get that red error message click the "Reconnect" button and try again. It should work.

[2016-08-20 08:39] qpPykT commented on #368
@nerdatwork
Reconnect button just refresh flash inside the terminal. How it will be help with "yes" "no" or "done" buttons. It's not affecting on buttons outside the terminal.

[2016-08-20 08:47] marius11 commented on #151
I've done a test on a Linux machine today and experienced the same issue. While scrolling the page to complete a form, the screen went dark grey and a desktop selector (having 4 desktops to choose from) appeared on the screen.

[2016-08-20 12:13] uqbiii commented on #368
@A1xx The image you uploaded have two **unusual** things, first the link was bookmarked(not a problem) and HIT id is 4277331 and currently this figure is around 77***** which shows it's an old link, 2nd, there are two tabs opened for HITs, there may be some conflict, i am not sure but this could be the reason. When you get a new HIT with new HIT id, check if you face the same problem or not, and a

[2016-08-20 13:18] A1xx commented on #368
@uqbiii Thanks for reply, I opened second tab after I got error, usualy I don't open second tab with HIT. I just didn't now what to do with this buttons disabled, so I tried different stupid things))) I copied the job's url in new tab.
About old link. Should hitId in the url and Job be the same value or near it? Few minutes ago I got new job, hitid in url is 4277311 and Job is 8013092. Got other j

[2016-08-20 13:44] uqbiii commented on #368
I just checked and found that all of the my previous history contains the same HIT ID, so there is no problem for this and my assumption was wrong, sorry for that. But it's very strange scenario you are facing. I completed 15+ today without zero error, even when i started typing this comment, i got 1 and completed successfully, "Done" button works perfectly and i am still thinking whats going wron

[2016-08-20 14:26] HW71 commented on #392
Well, actually I have the same / similar problem:
I joined RF back in April 2014 through my N###x channel at CrowdFlower. For several different reasons I abandoned my N###x account some months ago and only work through C###e. Actually my N###x account has been deleted in the meanwhile.

Now the payments on RF are "pending" because my CrowdFlower Contributor ID for N###x is not valid any longer (of

[2016-08-20 14:44] helloworld111gh commented on #392
@HW71 Try changing the email on the Neobux RF account to a different one you control (if you use Gmail you don't need to make a new account, Google "Gmail alias"). Then login with whatever you made your CS account with.

If that does not work ask Crowd flower if your Neo ID bonuses can be moved to your CS id (do not reference Rainforest, just say bonuses)

Due to how Crowd flower works it is impos

[2016-08-20 15:06] A1xx commented on #368
@uqbiii I had 10+ jobs with disabled buttons at last step(((. But for last week it happend only once. And now everything seams to be fine. I hope it whould not happened again.

[2016-08-20 16:01] HW71 commented on #392
Hi @helloworld111gh

thanks for dropping in... Hopefully this could also help danaidh because I don't want to hijack his thread with my issue... :-( I just thought both problems might be related and I wanted to support him by showing that this "Contributor ID issue" might be more common than expected...

So just to make sure we have a common understanding - you ask me to do the following:

1. log-

[2016-08-20 16:07] helloworld111gh commented on #392
Yeah, the steps are correct. You may need to confirm email before it will
save. Wipe your cookies though after you log out and before you try
claiming again.

You would have to send a ticket to Rainforest to get the money transferred.
Failing that, you could ask Crowd flower to link the two IDs together (do
not mention Rainforest if you do this, just mention bonuses)

On Aug 21, 2016 00:01, "HW71"

[2016-08-20 16:13] nerdatwork commented on #368
@A1xx I hope it works well. Have you tried reinstalling chrome and the extension before ?

[2016-08-20 16:17] nerdatwork commented on #392
@HW71 You didnt hijack this thread. The whole point is to have a single thread for same issue so rest assured you did the right thing. Have you sent a support ticket about this and if so could you tell me the date ?

[2016-08-20 18:53] bilelmz commented on #368
@uqbiii you said: "Put the same url in firefox or any you prefer and try to complete the HIT. Maybe this works?"
Is it acceptable? and what about the original window in Chrome Do I have to close it?

[2016-08-20 19:14] HW71 commented on #392
@helloworld111gh
Thanks for the clarification and for taking care, Richard.

Concerning this "transfer of money"-thingy I have severe concerns, because in other discussions and - if I recall correctly - also in one of the latest AMA sessions exactly this has been ruled out! There's no such thing like transferring money from one RF account to another. And that's exactly why I talked about a "design

[2016-08-21 02:39] bilelmz commented on #368
@pscohn where are you?
The problem still happened to me, this time with just 13 step.
I removed chrome and install it again, NO Adblock NO extensions, but .......
![sans titre](https://cloud.githubusercontent.com/assets/20234458/17834996/08666dbc-6759-11e6-9107-9e8b6dba1043.jpg)

[2016-08-21 03:13] uqbiii commented on #368
**browser=any** in the link means that you can use any. When RainforestQA tasks were started, they will ask for a specific browser but the real concern was VM's browser so they changed it to any, and Chrome by default because the extension is only available to chrome users.

[2016-08-21 04:11] sweeneyapps commented on #368
@uqbiii Actually, browser=any means what kind of assignment do you want.  It's only related to the VM assignment.  It's set to any so you can have the opportunity to grab any jobs that are available.   If you set it to browser=chrome then you are limited to Chrome VM testing only.  That will limit your opportunity and miss a lot of jobs.

[2016-08-21 04:31] helloworld111gh commented on #368
@sweeneyapps This is false, uqbills answer is correct. Back in the day you did the hit in your own browser, not via VM. So you had to be testing in the browser that the HIT needed.

 @bilelmz Next time this occurs, in the network tab, click on "answers" and screenshot the stuff that pops up. Then click on "Timings" or something similar and screenshot what pops up there.

[2016-08-21 04:37] sweeneyapps commented on #368
@helloworld111gh I am correct.  Your old day is different and currently, it's related to VM.

[2016-08-21 06:42] uqbiii commented on #368
@sweeneyapps Maybe i am wrong, but still i think completing a HIT in browser other than Chrome is not a problem, they are also web browsers and are as good as Chrome. @sweeneyapps What's your opinion?

[2016-08-21 07:02] sweeneyapps commented on #368
I would suggest to stay w/ Chrome and make sure it's updated.   Because Rainforest developers expected you to be on Chrome because of the Chrome extension.

[2016-08-21 11:51] nerdatwork commented on #358
If your issue is resolved please close this thread.

[2016-08-21 11:51] nerdatwork commented on #367
If your issue is resolved please close this thread

[2016-08-21 11:52] nerdatwork commented on #374
If your issue is resolved please close this thread.

[2016-08-21 11:53] nerdatwork commented on #369
If your issue is resolved please close this thread.

[2016-08-21 11:53] nerdatwork commented on #381
If your issue is resolved please close this thread.

[2016-08-21 19:47] #387 closed

[2016-08-21 22:13] luisdanielvc commented on #369
I did not get this error the past week, i'll close it :)

[2016-08-21 22:13] #369 closed

[2016-08-22 00:40] #348 closed

[2016-08-22 03:13] #400 closed

[2016-08-22 03:15] #381 closed

[2016-08-22 03:15] #374 closed

[2016-08-22 05:08] IceCreamCake opened #404 "Job with "Choose No but TOTAL FOUND BUGS not increase""
This job always have this question when close to last tep:
 "Have history activities update ......... with time at today (08/22/2016)?"
But the time show up always is yesterday. Like 08/21/2016 with today. Or if the job is yesterday (08/21/16), time show up in the page is 08/20/2016.
I report as bug already 3 time for that kind of job but the Found Bugs not increase, so should i keep reporting it,

[2016-08-22 05:24] huynhxuanvinh commented on #403
Hello, I have a question but don't want to open a new topic because I think I can find answer here. If we abandon too many hits, how can it affect our account? I mean, our account can be suspended or some thing else if we abandon too many jobs? I turn my computer on all time and go for lunch for a while because  very few hits appear at this time, but when I come back, bump, "job abandoned". Really

[2016-08-22 05:27] nerdatwork commented on #403
@huynhxuanvinh Job abandoned will not affect your account. You are safe.

[2016-08-22 06:32] uqbiii commented on #404
I also reported several jobs for the same reason at the same step, but don't know why they are not fixing these things, and you can say they are just wasting their money on tests as they are not willing to fix these problem. I also reported this error in T**Con***t job.

[2016-08-22 06:47] huynhxuanvinh commented on #403
@nerdatwork let real blocking policy again:
Examples of bad behavior that will result in a block:

Clicking "Yes" when the answer is clearly "No," or when you run into errors or are unable to complete the test.
Clicking "Yes" for every step without performing the steps,
**Accepting a job with a working terminal and failing to start in a timely manner.**
I wonder if "accepting a job" is when we cli

[2016-08-22 07:22] IceCreamCake commented on #404
Exactly, also i worries about is it have some kind of affected to my account, i'm not sure i should keep reporting it or not... so confusing@@

[2016-08-22 07:36] uqbiii commented on #404
Keep reporting, otherwise they can reject you on the basis of screenshots, but if you reported, then they can't reject your work at all.

[2016-08-22 07:38] IceCreamCake commented on #404
Got it, thank you my fr :)

[2016-08-22 11:23] ellmirr0001 opened #405 "You have requested this job too often. Please return the work. -after first refresh"
When a chrome ext gave me a job there was a something bad happend error, the job didn't even open.
I refreshed the page for the first time and I recived 'You have requested this job too often. Please return the work.' error

[2016-08-22 11:53] #405 closed

[2016-08-22 12:47] MarinaCec opened #406 "Could not get a osx_chrome machine."
first explorer, then firefox, now also chrome.

[2016-08-22 13:25] uqbiii commented on #406
It's error time, started just now, be patient. You may have to face more errors.

[2016-08-22 13:44] marius11 commented on #406
That's not an issue or a problem, it's just a message telling you that there is no terminal with firefox/chrome browsers available at that moment.

[2016-08-22 18:56] #406 closed

[2016-08-22 19:44] uqbiii opened #407 "Too Long Jobs"
@pscohn  RainforestQA should create some limits for steps in a single HIT. In 60 minutes how can one complete 135 stepper HIT and have to click 2-3 times in some stps to pass the step and move forward. If RainforestQA devs can? I would love to watch that video but please don't increase Time Limit for yourself.
![88fb8b37079e42eaba4b243aa384b618](https://cloud.githubusercontent.com/assets/16700973/

[2016-08-22 20:30] nihlathar commented on #407
It never happened to me that I arrived even at a half of a long task so I don't think it's a real problem. You ought to find errors sooner, most of the time

[2016-08-23 04:15] huynhxuanvinh commented on #407
It happen to me too. I think they should increase to 90 minutes for each job or limit number of steps of each test. What if I do on step 80th at minute 59 and can't find any bug? I will lost all my effort in 60 mins if I don't report. Hope the team will take a look at this problem.

[2016-08-23 04:42] uqbiii commented on #407
They should remove the 3rd policy from Idle policy and trun it to this.
As you click Yes or No to proceed, 45/60/120seconds are added on your side for that step.
Even 45 seconds are enough if they add them. With that policy we get a total of 75minues for a 100 stepper and 15 minutes for their policy no. 2. 60 is best, you get 100 minutes+15minutes. And time increases according to the situation. Or

[2016-08-23 04:54] qpPykT commented on #407
@uqbiii
"gold diggers" will be happy to click it. About 60 min limit. Now it's should be 90 min but I'm not sure about it. Answer on that was in the [last AMA](https://paper.dropbox.com/doc/July-2016-AMA-Shared-with-Testers-CEDDg1Zp99tRLn2aE3bf3).
Recently I had one of bigger hits. I spent about 1 hour on it and had done 67 steps out of 110. Next was connection lost error not the job abandoned. In

[2016-08-23 05:08] uqbiii commented on #407
But #403 is the proof that time limit is still 60 minutes and Wiki also shows 60 minutes as time limit. When something bad happened shows to gold digger at 99, they may broke their machines too. It seems like they are not testing their websites they are testing our mental capabilities, believe me after completing even a 60 stepper, you need at least 10 minutes to get back to the normal condition.

[2016-08-23 05:30] qpPykT commented on #407
@uqbiii
In Wiki maybe just forgot update it if they changed limit.
About 403 issue he's told 35 min not 60 or 90min it can be just a some bug. I was spent about 60-65 min when I was doing big task.

[2016-08-23 07:15] farookabubakker opened #408 "Change to Crowdflower from MTurk"
Hi,
First I did the Rainforest job with Clixsense through Crowdflower. Later I didn't use CF but my account still active. I use Mturk over 3 months. One day I hit rainforest job. since I did that job My contributor ID change to Mturk. I couldn't do job with Crowdflower. Is there any option to change from Mturk to Crowdflower?

[2016-08-23 07:18] helloworld111gh commented on #408
Try changing your MTurk account email to a different one (that you
control), then login with your Crowdflower account details.
Note that you should stick to just one channel, and not switch between
channels. MTurk should pay the best, you should stay there.
On 23 August 2016 at 00:15, farookabubakker <notifications@github.com>
wrote:

[2016-08-23 07:26] #407 closed

[2016-08-23 08:05] farookabubakker commented on #408
Thank you. I'll do it. I can stay Mturk. But the problem is I'm from India and I cannot disburse my funds to my Bank Account. I ask them. But bullshit reply. I have only one option to transfer funds to amazon gift card. If I purchase from amazon.com, shipping is too difficult. The shipping charge, customs clearance. For example, If I purchase mobile of 65 USD, shipping and customs is about 45USD.

[2016-08-23 11:48] samizle commented on #391
The worst scenario happened to me twice now. +50 steps job and on the very last moment I received "application error" message yesterday when the task already rated and the submit button clicked. it took me like 35 minutes to get it done. What a frustration! I reloaded the page and I was taken back to the start page. I hold back my anger and disappointment and proceeded with the job again, but I ke

[2016-08-23 13:36] luisdanielvc commented on #394
Yeah, the terminal looks very small but it's not a big problem

[2016-08-23 15:50] Ashok-Reddi opened #409 "Application Error"
I am getting the Application Error now a days very frequently 3 out of 10 jobs I am getting this error. Does anyone facing this issue? What could be the reason for this?
I am also facing the other issue like "Another worker accepted...", "No virtual machines are available at this time...."
I am using 10MBPS net connection. Do I need to increase my internet speed? Does this solve the issue or these

[2016-08-23 16:01] marius11 commented on #409
You will get that message quite often when there are many testers online at the same time. A better (faster) Internet connection will not solve your issue. I have a 1000Mbps plan, but I still get application errors from time to time.

[2016-08-23 16:09] sweeneyapps commented on #408
How do I receive payment in Indian Rupees?
If you are a Worker in India, you may get an option to transfer your earnings to your local bank account. You will need to provide your birth date and a scanned copy of your Permanent Account Number (PAN) card to be eligible to transfer to your bank account. Once submitted, it may take up to 7 days to verify your card information. After we've verified you

[2016-08-23 16:13] uqbiii commented on #409
I have a wireless connection, its speed varies from time to time, currently it's around 2.5Mbps, maximum i have seen is 6 Mbps, so speed doesn't matter. When you get this message, don't refresh too quickly, wait for 20-30 seconds, then refresh, You are not alone in getting this error, everyone is facing the same issues.

[2016-08-23 16:45] ladystoneheart opened #410 "blank payment!"
i don't understand what's happening here but all my jobs done was with blank payment...
![untitled](https://cloud.githubusercontent.com/assets/20522240/17900905/dfc621be-6969-11e6-9aa6-ad8ee867fdf2.png)

[2016-08-23 16:57] marius11 commented on #407
I received the same job and it's impossible to solve it in 60 minutes. I had to report it at step 79 and politely asked them to reconsider the number of steps in their tests.

[2016-08-23 17:27] farookabubakker commented on #408
Dear sweeneyapps,
Thanks for your comment. I have birth proof and PAN data. But I don't know how to send them. I ask amazon.com regarding this. They reply as this option is under processing.

[2016-08-23 17:27] kutch1 commented on #410
I think these are the training jobs if you are a new tester . If you are an old one try contacting the support .

[2016-08-23 17:36] nerdatwork commented on #410
Did you successfully submit the jobs till the last step ?

[2016-08-23 17:41] ladystoneheart commented on #410
@nerdatwork yeah i finished and  did submit all of it, and the worst part it added to my rejections.

[2016-08-23 17:42] ladystoneheart commented on #410
@kutch1 i did write to support and  im still waiting

[2016-08-23 17:43] nerdatwork commented on #410
All of them were rejected ? Could you show the "public Profile" data from your profile ?

[2016-08-23 17:44] madeuser commented on #410
I have the same issue, it seems that we received training missions and I don't know why because in my case I'm a 2 year old member. Thanks!
<img width="598" alt="rain" src="https://cloud.githubusercontent.com/assets/21203252/17902978/55cb2320-6972-11e6-9816-416e51130998.png">

[2016-08-23 17:48] ladystoneheart commented on #410
@madeuser yeah right this was the jobs, but i thought it will be ok to done this jobs.

[2016-08-23 17:52] ladystoneheart commented on #410
@nerdatwork this was 5 this morning and after i do that jobs becomes 11
![untitled1](https://cloud.githubusercontent.com/assets/20522240/17903241/6b394452-6973-11e6-8aa7-afcc6c9f6066.png)

[2016-08-23 17:54] nerdatwork commented on #410
Ok when did you submit your ticket and what is the ticket number ?

[2016-08-23 17:54] helloworld111gh commented on #410
In order to get paid, you must do the jobs according to the rules.
Rainforest reserves the right to not pay jobs that are not done according
to the rules and instructions.

On 23 August 2016 at 10:52, ladystoneheart <notifications@github.com> wrote:

[2016-08-23 17:55] nerdatwork commented on #410
@helloworld111gh Even rejected jobs are paid but she isn't getting paid.

[2016-08-23 17:58] ladystoneheart commented on #410
@nerdatwork ticket #15010

[2016-08-23 17:58] helloworld111gh commented on #410
@nerdatwork the job type they are trying to complete does not pay money if
the job is rejected

On 23 August 2016 at 10:55, nerdatwork <notifications@github.com> wrote:

[2016-08-23 18:02] nerdatwork commented on #410
@helloworld111gh I see it now, it's training job.

@ladystoneheart When was this ticket submitted ? Also "training jobs" as you see in the screenshot do not pay.

[2016-08-23 18:11] ladystoneheart commented on #410
@nerdatwork thanks, so next time when i see training jobs i shouldn't make it? i am not a new tester. just today after i saw that payment is blank.

[2016-08-23 18:12] nerdatwork commented on #410
@ladystoneheart You wont get real jobs unless you complete training jobs but do them carefully.

[2016-08-23 18:15] ladystoneheart commented on #410
@nerdatwork ok thanks! :)

[2016-08-23 18:16] madeuser commented on #410
@nerdatwork sorry for busting in but how many training jobs do we have to do? I completed 24 already and I still receive them and the jobs keep on repeating. They are the same training jobs...

[2016-08-23 18:20] helloworld111gh commented on #410
@madeuser rainforest automatically determines the number of training jobs
you do based on your performance.
testers who are found to follow the rules and instructions will very
quickly leave training

On 23 August 2016 at 11:16, madeuser <notifications@github.com> wrote:

[2016-08-23 18:25] qpPykT commented on #410
@madeuser
Training consists of a number of jobs which you have to answer correctly to continue.

[2016-08-23 18:27] madeuser commented on #410
@helloworld111gh I know that and I followed the rules and answered all of my 26 training jobs correctly, I did not receive any rejections. I remember that I had to complete 4 training jobs when I started working with rainforest two years ago. Another questions, why did we receive training jobs if we did our jobs correctly? Today I completed over 20 payed jobs, correctly!

[2016-08-23 18:28] nerdatwork commented on #410
All jobs that have the title "Training jobs" do not pay and you need to pass them to get real jobs. All other jobs will pay.

[2016-08-23 18:32] helloworld111gh commented on #410
@madeuser there were was less training tasks 2 years ago as the rules were
more soft at that time
answering the questions correctly is not the only factor rainforest uses in
determining if you followed the instructions

On 23 August 2016 at 11:28, nerdatwork <notifications@github.com> wrote:

[2016-08-23 18:35] madeuser commented on #410
@nerdatwork As I said in my last message, until 16:28 pm all of my jobs were normal, I was payed and suddenly I received a lot of training jobs without no reason. Maybe someone is testing something and forgot to tell us? It does not bother me to work on 100 training jobs if I have to, but I would really appreciate if someone would tell me if there is a problem with the servedr and the server just

[2016-08-23 18:37] ladystoneheart commented on #410
@madeuser we are the same just this morning i received payable jobs and now i got many training jobs.

[2016-08-23 18:47] vladfuller opened #411 "More than 20 training jobs"
Its normal to get more than 10 trainings hits?

Usually i get 10 or so and i ve received to my cf profile the msg sayng You passed a training lesson! Hi , Congratulations, you completed your last training lesson successfully! If your course is complete, you should get another email shortly.

twice...
I could be able to get the normal hits right now, but still getting training hits :X

[2016-08-23 18:50] Ssamfisher commented on #411
Same error, I'm getting a lot of training jobs

[2016-08-23 18:50] vladfuller commented on #411
I just took off my plugin... its really frustrating to get more and more jobs and im not getting paid =l

[2016-08-23 18:51] Ssamfisher commented on #411
I did more than 15 jobs. Reinstalled addon and continue th same

[2016-08-23 18:54] madeuser commented on #411
So... me and @ladystoneheart are not the only ones that got a lot of training jobs. I completed over 35 already. Is this a bug maybe?

[2016-08-23 18:55] vladfuller commented on #411
i think its a bug bro... u only need to complete 10 training jobs

[2016-08-23 18:57] madeuser commented on #411
@vladfuller glad to hear that! Thanks for the info! +1:

[2016-08-23 18:59] madeuser commented on #411
I can confirm that CF sent me 42 emails in which they tell me that I completed a training lesson. I'm so awesome! :))

[2016-08-23 19:05] Ssamfisher commented on #411
I'm going to turn off the addon, it don't stop

[2016-08-23 19:10] ladystoneheart commented on #411
Your training is complete! Hi ladystoneheart, Great news: your training is complete! You will now be able to do regular work for us! Happy testing! Rainforest QA Team p.s. view your profile here: https://portal.rainforestqa.com/..... Get our Chrome plugin here: https://chrome.google.com/webstore/detail/immdjpjbcikbffjifkbncgfbohbjicpo ref: 6793

====>>> i still getting training jobs even i got man

[2016-08-23 19:13] Zamoraks commented on #411
I am also facing the same problem.
it seems to me that the rainforest or decrease the amount of workers casting undue tests if remuneration to be blocked according to their mistakes.

[2016-08-23 19:13] alncssk commented on #411
I have the same messages, Lady stoneheart, what do we do?

[2016-08-23 19:15] Ssamfisher commented on #411
@Zamoraks but I only have 3 rejections

[2016-08-23 19:15] ladystoneheart commented on #411
@alncssk i really do not know. hehe

[2016-08-23 19:16] josejecr97 commented on #411
i will turn it off ... is really unfair .

[2016-08-23 19:18] Zamoraks commented on #411
I hope to have my removed rejection , why is unfair , I already did the test .

[2016-08-23 19:19] josejecr97 commented on #411
@Zamoraks  me too i got one and i did everything right !

[2016-08-23 19:26] uqbiii commented on #407
@marius11 Now they updated the idle policy and time changed to 90 minutes, i hope it will help us in completing long jobs.

[2016-08-23 19:37] madeuser commented on #411
I just received a normal job, it seems that the issues is fixed! Happy testing! :)

[2016-08-23 19:37] madeuser commented on #410
I just received a normal job, it seems that the issues is fixed! Happy testing! :)

[2016-08-23 19:39] Zamoraks commented on #411
I still continue to receive , what did you do ?

[2016-08-23 19:40] Ssamfisher commented on #411
Same, I'm only getting training jobs

[2016-08-23 19:41] madeuser commented on #411
@Zamoraks @Ssamfisher nothing! I had my rainforest tester notifier plugin off for about 20 minutes.

[2016-08-23 19:43] Zamoraks commented on #411
I understand , I will do the same, may resolve .

[2016-08-23 19:45] Ssamfisher commented on #411
Same, comment here any new

[2016-08-23 20:51] marius11 commented on #411
This is not unusual. I also received training hits when I already had completed 1,500 jobs.

[2016-08-23 20:51] javicocuba commented on #411
Same error, I'm getting a lot of training jobs, I took more than 20

[2016-08-23 21:07] alncssk commented on #411
ey marius11, and how you completed and I'm 53 jobs jobs training, and follow....

[2016-08-23 21:09] sweeneyapps commented on #408
i was looking around for answers..   All answers pointed to earning page or account setting page.   I would suggest you to look around your Account Setting to find out how to enable your bank account on your account..  Because there should be instruction somewhere on how to send your scanned PAN data etc..    I hope you work it out.

[2016-08-23 21:41] kristen-allie commented on #410
Hey all! And @ladystoneheart -- looks like these are training jobs, which you don't get paid for. Older workers receive training jobs when their work indicates they need to be retrained.

[2016-08-23 21:50] josejecr97 commented on #411
still the same, i got 1 unfair rejection .. wtf is wrong ??????????????

[2016-08-23 21:58] slrojasc opened #412 "Why Training job?"
Anyone can guide me about it, I just activated training jobs, I've done 10, not all are paying, is a system error? or have to go through a new phase of training, I have more than a year doing the test a web and are now more 6700

[2016-08-23 22:14] ando100 commented on #411
@josejecr97 mind your language please and check
https://github.com/rainforestapp/tester-chrome-extension/issues/410#issuecomment-241889115

[2016-08-23 22:23] josejecr97 commented on #411
@ando100  my bad,  ok.

[2016-08-23 22:33] Zamoraks commented on #411
someone managed to solve this problem ?
 already I tried everything , not to come to training jobs ...

[2016-08-24 00:46] slrojasc commented on #411
I think it corrects itself ... either way, you should do the tasks correctly. I can and do normal jobs

[2016-08-24 00:48] luisdanielvc commented on #412
I have some friends that cannot work either, they get training and they're getting a lot of rejections, the system is crazy

[2016-08-24 00:55] alncssk commented on #410
they started to leave again......

[2016-08-24 00:57] luisdanielvc commented on #410
@kristen-allie I've seen people with more than 3000 jobs getting this, they don't have rejections so that couldn't be possible

[2016-08-24 01:08] rnfrst commented on #410
There are also other kind of rejections that testers do not see.

[2016-08-24 02:03] vladfuller commented on #411
Well it was solved... i think it wasnt a bug, it just was a "Training Day"...

[2016-08-24 02:45] slrojasc commented on #411
"vladfuller": You may itself have been a "training day" but I know that two testers who did not have this "training"

[2016-08-24 03:55] federicoall commented on #411
same here for me and rejection.

[2016-08-24 04:22] qpPykT commented on #411
All testers receive training jobs when their work indicates they need to be retrained. Just go through that when it's needed.

[2016-08-24 04:26] qpPykT commented on #412
@slrojasc
Why you cannot read two previous issue and created another one :-/

[2016-08-24 04:38] RezwanulHaque commented on #411
Good to have training jobs, but I got 3 unfair rejection.

[2016-08-24 04:50] qpPykT commented on #411
@RezwanulHaque
Are you sure that was unfair many testers don't see many things that they should see and know about it.

[2016-08-24 04:54] RezwanulHaque commented on #411
Well, that is my question also. I sent email to support to learn where was the problem.

[2016-08-24 04:55] ladystoneheart commented on #410
@kristen-allie @rnfrst  but how come i still receiving training jobs even i got this message that i have completed the training jobs.

Your training is complete! Hi ladystoneheart, Great news: your training is complete! You will now be able to do regular work for us! Happy testing! Rainforest QA Team p.s. view your profile here: https://portal.rainforestqa.com/.... Get our Chrome plugin here: http

[2016-08-24 04:57] sweeneyapps commented on #411
I am curious, whats the unfair rejections..  you got any example?

Sent from my iPad

[2016-08-24 05:20] ladystoneheart commented on #410
@madeuser hey did you really reciev

[2016-08-24 05:26] nerdatwork commented on #410
@ladystoneheart You got 11 rejections so far, you are only 9 rejections away from getting blocked hence you are receiving training jobs, in my opinion.

[2016-08-24 05:28] nerdatwork commented on #411
@vladfuller Can you show a screenshot of your RF profile ?

[2016-08-24 05:29] nerdatwork commented on #412
@slrojasc Can you take a screenshot of your profile ?

[2016-08-24 05:46] ladystoneheart commented on #410
@nerdatwork yeah i know. but i saw my rejections. can you review them? there are rejections i think that i have done correctly but they are rejected.
![a](https://cloud.githubusercontent.com/assets/20522240/17919565/3489edbc-69d7-11e6-965f-3436ef9552c2.png)
![b](https://cloud.githubusercontent.com/assets/20522240/17919564/34894cea-69d7-11e6-9261-fc2e5c7c833b.png)
![c](https://cloud.githubuserconte

[2016-08-24 06:01] Ashok-Reddi commented on #409
Thank you all for the clarification.

[2016-08-24 06:01] #409 closed

[2016-08-24 06:58] Zamoraks commented on #411
can not stand these jobs training , I made 43 and returned to normal, but this morning again returned to training works ...

[2016-08-24 07:21] madeuser commented on #410
@ladystoneheart here is a screenshot with the normal jobs (payed) after the training day ended for me.
<img width="841" alt="trainingday" src="https://cloud.githubusercontent.com/assets/21203252/17921434/73ffac2e-69e2-11e6-8321-304beb1cad42.png">

I received only one rejection and it's ok because I was not paying attention, I was rushing because I was frustrated for receiving all of those training

[2016-08-24 07:38] ladystoneheart commented on #410
@madeuser yeah thanks i got my also :)

[2016-08-24 07:45] Ssamfisher commented on #412
Same problem since yesterday
![perfil](https://cloud.githubusercontent.com/assets/21204433/17922468/6fb9cd32-69df-11e6-9be9-fa8a8e61ad17.PNG)

[2016-08-24 07:46] madeuser commented on #410
@ladystoneheart well done! glad to hear that! :)

[2016-08-24 08:55] irishclouds commented on #411
Same problems for me, only 2 rejection after 1 year yesterday night when i can't sleep for the earthquake in Italy, i have made some mistakes on the works, now only test job, also if RF notify me that i have passed and i can work on regular job. How i can solve this problem :(

[2016-08-24 13:13] nerdatwork commented on #412
Check this:[Why Training jobs ?](https://portal.rainforestqa.com/)

[2016-08-24 13:14] nerdatwork commented on #411
Check this:[Why Training jobs ?](https://portal.rainforestqa.com/)

[2016-08-24 13:23] nerdatwork commented on #410
Check this:[Why Training jobs ?](https://portal.rainforestqa.com/)

[2016-08-24 13:29] slrojasc commented on #412
![perfil](https://cloud.githubusercontent.com/assets/21203991/17932273/3545252c-69dd-11e6-864d-c9c70bfac3e0.jpg)

[2016-08-24 13:48] zfonck123 opened #413 "you have reached for more 1hour"
ID 34044189
![image](https://cloud.githubusercontent.com/assets/19192312/17932798/ae3150bc-69df-11e6-97d0-12b3058bf81d.png)

[2016-08-24 13:55] uqbiii commented on #413
Try clearing Cache, Cookies and History, restart Chrome and start the extension, don't open previous links realted to HITs, this always works for me and i get new jobs in 5-10 minutes if available, and always try to complete your HITs.

[2016-08-24 14:12] zfonck123 commented on #375
@pscohn any updated about that ?

[2016-08-24 14:18] madeuser commented on #411
Thank you @nerdatwork.
I have only one question: They said that a tester has poor performance... what does "poor performance" mean for rainforest if a tester has all of his tasks done correctly? I mean no rejections. I don't get it, you have poor performance and you receive rejections and you have good performance you don't get rejections. Plain and simple!

[2016-08-24 14:20] slrojasc commented on #412
Since last night comes into training again, the same thing this morning

[2016-08-24 14:46] nerdatwork commented on #412
@slrojasc Did you read the link I posted above ?

[2016-08-24 14:48] qpPykT commented on #411
Nice new improvement. Gold diggers and yes clickers will be happy.

[2016-08-24 15:00] renangloor opened #414 "Since yesterday only appear training works ."
Since yesterday , so I get a lot of TraInIng jobs that do not pay anything when they fix this bug , I go to regular work ..
To help still had 2 unfair rejections doing these workouts, did more than 20 .

[2016-08-24 15:00] madeuser commented on #411
@qpPykT I'm doing my best and nothing more, this is like saying believe and do not question. We are humans and it's normal to ask this kind of questions. I really appreciate the chance to work on this system, but rainforest could explain the way in which they categorizes poor performance testers and good performance testers if testers don't get rejections. In my opinion this could help testers to

[2016-08-24 15:02] xakep99 commented on #411
If people are not provided with proper explanation about what they did wrong, they won't be able to figure out how to improve their work. Without such explanation this is pointless.

[2016-08-24 15:05] madeuser commented on #414
Read this... https://portal.rainforestqa.com/

[2016-08-24 15:05] nerdatwork commented on #411
I will update this thread with your concern @madeuser

[2016-08-24 15:12] madeuser commented on #411
@nerdatwork thank you!? Is this a good thing or a bad thing? :)

[2016-08-24 15:14] renangloor commented on #414
Another 30 training ?, all but 2 are still frowned upon and is training , since I proved I can do the work , that this grossly unfair .

[2016-08-24 15:20] rnfrst commented on #411
@madeuser the reason behind this would only be between you and RF. No one could speculate here the reason why you and others are receiving training hits. Just keep in mind that having a rejection visible in your portal is not the only basis in testing your performance. If you are following the rules closely and reporting what needs to be reported, then there is nothing to worry about.

[2016-08-24 15:22] madeuser commented on #414
@renangloor try not to get any training jobs rejected. This is the only advice that I can give you. I was in the same situation, received training jobs without no reason (I believe, maybe I did something wrong). Rainforest introduced a new QC system yesterday and some users have to do training jobs. Don't worry, be careful at the task and questions and you will succeed! Good luck! :)

[2016-08-24 15:24] GersonTavare commented on #414
I did 74 training jobs and It appeared until now. This message that they would like to see our performance don't make sense. This trainings have a lot of unfair corrections, and my last 40+ I don't get any rejection and still continue receiving it. Almost 24 hours without receive anything but training hits and not being paid for it.

The support doesn't answer the tickets. I hope someone can tell

[2016-08-24 15:26] renangloor commented on #414
exactly

[2016-08-24 15:27] GersonTavare commented on #414
@madeuser how much trainings you do before come back to normal hits?

[2016-08-24 15:28] madeuser commented on #411
@rnfrst thank you for your answer. I'll try to get an answer from RF...
Good day!

[2016-08-24 15:29] renangloor commented on #414
Here he did not return, and I have no idea when vae back .

[2016-08-24 15:29] madeuser commented on #414
@GersonTavare about 40 hits.

[2016-08-24 15:36] maciejgryka commented on #411
@madeuser I'm happy to look at your profile and confirm whether you were put in the "training sandbox" fairly, or not (please send a support ticket starting with `"This is madeuser"` if you want me to have a look).

However, at the end of the day "poor performance" means not following the rules. We have a bunch of different ways of checking that (looking at rejections is just one of them), but the

[2016-08-24 15:44] qpPykT commented on #411
@maciejgryka
Ps: what about forum do you have any information about it? :)

[2016-08-24 15:45] nerdatwork commented on #411
@qpPykT What information do you need ?

[2016-08-24 15:46] qpPykT commented on #411
@nerdatwork
when they open it for all testers?

[2016-08-24 15:47] nerdatwork commented on #411
It's still in experimental stage. When Rainforest has enough data they will decide whether to go forward with it or not.

[2016-08-24 15:58] renangloor commented on #414
He returned at last.

[2016-08-24 16:03] GersonTavare commented on #414
@renangloor What did you do?

[2016-08-24 16:06] renangloor commented on #414
@GersonTavare  kept doing the training , the whole was about 45 , there 's nothing began to appear normal work ..

[2016-08-24 16:32] eudy66 commented on #414
hello good day, I took more than 50 tests and nothing to leave me normal yet, aside that last that have turned out I miss as it should and me is placing as bad made with which I am losing several.

[2016-08-24 16:40] #414 closed

[2016-08-24 16:41] slrojasc commented on #412
After 15 training, including one last night, and I get normal jobs ... I have understood that it is a kind of evaluation for those with low performance, but I have more than 16 months making "test a web" (one just over 6700) and rejections fail to 1.05%), then I do not think it's for "low performance"

[2016-08-24 16:54] #413 closed

[2016-08-24 17:00] irishclouds commented on #412
For me after more of 40 training jobs nothing changed, 3 notice on the RF desk that i can make normal jobs and training is ended but nothing changed really. Also 2 rejections for unfair question after 1 year substantially without rejections.

[2016-08-24 17:23] qpPykT commented on #412
@slrojasc
How many "total found bugs" do you have?

[2016-08-24 18:05] zfonck123 opened #415 "WHAT HAPPEN ??????"
![image](https://cloud.githubusercontent.com/assets/19192312/17942031/b5719ec6-6a03-11e6-9f3a-206b23ca1f7c.png)

[2016-08-24 18:13] MarinaCec commented on #415
same here

[2016-08-24 18:15] pscohn commented on #415
If you use the Chrome extension you should have no problem getting work.

[2016-08-24 18:15] #415 closed

[2016-08-24 18:28] #412 closed

[2016-08-24 18:53] Fallingsoul86 commented on #375
It's hard to be in this way =/.

[2016-08-24 19:07] madeuser commented on #411
@maciejgryka Thank you for your answer and your interest to help me and sort out this matter. I'll read again the wiki links that you posted and if I still consider that I was put to train wrongly I'll send you a ticket.
Good evening!

[2016-08-24 19:34] ellmirr0001 opened #416 "The signature in the URL is invalid."
Does this mean that we can only get job through chrome extension and no other way because i am getting few jobs with extension from 5 to 10 in one day.

[2016-08-24 19:44] josejecr97 opened #417 "Unfair test training x2 rejections.. @pscohn help please"
https://i.gyazo.com/a27a18b422dad854363da208741d04b3.png

https://i.gyazo.com/752c6e105e6e7eda04debe9aa2384b7d.png

https://i.gyazo.com/1f7dd94a0adeca83ec41d7be657a27b6.png

i still dont know why im still getting training jobs, its really unfair, i've doed like 50 now... and they are still coming .. what is wrong????

[2016-08-24 19:50] eudy66 commented on #417
friend if I miss over 50 and likewise I keep getting the same as training and worse has happened to me also what you because I have thrown three bad because of that failure ... I hope can be fixed. good day.

[2016-08-24 19:53] javicocuba commented on #416
the same problem

[2016-08-24 20:01] rnfrst commented on #416
Shouldn't it be like that, via the chrome extension?

[2016-08-24 20:09] zfonck123 commented on #416
same problem

[2016-08-24 20:10] pscohn commented on #416
You can only get jobs through the Chrome extension currently.

[2016-08-24 20:10] #416 closed

[2016-08-24 20:26] GersonTavare commented on #417
I receive 6 - ridiculous - rejections in almost 100 training hits. And I'm receiving training until now.

Rainforest just have change for the worse

[2016-08-24 21:13] bacomca commented on #411
i think this is a bad ideal since more trainning tests = more "There are no virtual machines currently available" + "maximum user" errors

[2016-08-24 21:21] josejecr97 commented on #417
http://oi63.tinypic.com/2z8w50l.jpg @pscohn @jbarber
https://gyazo.com/4ce9e91bf58718f0590226c20729530a
https://i.gyazo.com/107fe48d4a23ed83aa93a85913f3b142.png

there is a prove that i've getting unfair rejections.. please fix this ..

[2016-08-24 23:13] sweeneyapps commented on #411
I hate to ask..   any of you getting paid for the training jobs?   let me know.

[2016-08-24 23:16] sweeneyapps commented on #410
I asked on other issues..    any of you get paid for the training jobs?    let me know.

[2016-08-24 23:16] begsoon commented on #411
@sweeneyapps ''Training tasks are paid like other tasks.''

[2016-08-24 23:19] sweeneyapps commented on #411
yup I know.. that's why I am asking.. because some of testers are saying they showing that they are not paid for the training days job.

[2016-08-24 23:24] Yhenko commented on #417
Agree, 1 unfair rejection with the same Feedback "Everything on this page was correct - you should not have reported a bug."

[2016-08-24 23:45] RezwanulHaque commented on #411
Yes, I am also not receiving payment for training jobs. I have completed ~50 training jobs and no payment.

From: Paul Sweeney Jr [mailto:notifications@github.com]
Sent: Thursday, August 25, 2016 5:20 AM
To: rainforestapp/tester-chrome-extension
Cc: RezwanulHaque; Mention
Subject: Re: [rainforestapp/tester-chrome-extension] More than 20 training jobs (#411)

yup I know.. that's why I am asking.. b

[2016-08-25 00:06] sweeneyapps commented on #411
@RezwanulHaque and all others who re not being paid..     Let Rainforest know about it here..      Use this link as a supporting evidence that Training jobs are paid job.

https://github.com/rainforestapp/tester-chrome-extension/wiki/Training-Tasks

[2016-08-25 02:14] zfonck123 opened #418 "training ???"
![training](https://cloud.githubusercontent.com/assets/19192312/17954315/1f60c372-6a48-11e6-8c22-c1f5f0d049b5.jpg)

really ? o.o

[2016-08-25 02:19] kaytsu commented on #418
"Training Jobs 2016-08-24 13:02:25 UTC, Kristen Hohenstein
Hello, testers! We have various ways of evaluating your performance. Since yesterday we’ve increased our quality threshold, which means that being given paid jobs is more difficult than previously. If we see your performance isn't meeting our expectations, you will only be given training jobs until we're sure your work can be trusted (this

[2016-08-25 02:33] nerdatwork commented on #411
The jobs that have the "Training jobs (?)" in the center of the page **DO NOT PAY**. The wiki link that @sweeneyapps is referring is about the Rainforest's own jobs where you click on New Test or check schedules or check box to show the bar with duplicate, delete etc buttons. These are the **PAYING** tasks and they are also training you.

[2016-08-25 02:46] nerdatwork commented on #418
@zfonck123 There are already many threads dealing with same topic. I recommend reading the old threads and post replies in the topic that concerns you instead of opening up a new thread. Please close this thread.

[2016-08-25 02:49] #418 closed

[2016-08-25 03:24] uangonline commented on #411
@sweeneyapps Yes, it's strange when the Wiki said that the training job paid, but actually not.

[2016-08-25 03:59] irishclouds commented on #411
I have just received a paid bonus for the training jobs made yesterday, no pay for the single job, but a bonus for 36 training jobs. No normal job for me yet. :(

[2016-08-25 04:31] qpPykT commented on #411
Now we have three kind of training jobs:

1) First type when the testers start working on the rf they have a few training jobs.
2) Second type when the testers working and get a couple training jobs every day.
3) The third type of training jobs when testers do not follow the instructions exactly. They get a cycle of training jobs as long as they can prove that they are worthy to receive regular ta

[2016-08-25 04:40] nerdatwork commented on #417
@josejecr97 Post a screenshot of the rejections page in your profile. The image shows only the last step, it might be possible you answered incorrectly for the middle test questions.

[2016-08-25 05:09] uangonline commented on #417
@josejecr97 Yes, i can see that unfair correction (from the second link you gave). If the first answer is YES and marked as correct, than your last answer ("NO") should be correct since it have different password. Hope RF support team can help you.

[2016-08-25 08:04] hackyyy opened #419 "Can't get tests from the chrome extension"
This morning I can't get any tests from the chrome extension. My friends told me that they are doing tests and they have regually but nothing here. the extensions is just staying with text NO.

[2016-08-25 09:30] Profica commented on #411
So :) .... what are the news, when will all be back in normal? :)

[2016-08-25 10:07] irishclouds commented on #411
For me today is back to normal job, i hope there isn't negative surprise in next hours-days.

[2016-08-25 10:28] #419 closed

[2016-08-25 11:46] maciejgryka commented on #417
@josejecr97 I've looked at the jobs you pasted and the training system is working fine: you have made some mistakes and your work was rejected (which is exactly what training is for!). In the first job you (8154117) it looks like you mis-pasted or mistyped something. In the second one (8160437) you have completed the signup more than once within the same job.

We do not only check your answers, bu

[2016-08-25 11:58] josejecr97 commented on #417
https://i.gyazo.com/107fe48d4a23ed83aa93a85913f3b142.png
in this image is clear that the passwords are diferent ..
https://i.gyazo.com/4ce9e91bf58718f0590226c20729530a.png
and still got this.

Hmm, okey, but i still thinking that i did it right , it did jobs really carefully and i've been taking screen of all of them to post if i find something unfair.

thanks for help btw. ill take care

[2016-08-25 12:47] awnosa opened #420 "when will trainer test end"
when will trainer test end

[2016-08-25 13:14] nerdatwork commented on #420
When you are trained properly to get real jobs.

[2016-08-25 13:14] nerdatwork commented on #417
@josejecr97 Since you got a response up to your satisfaction you can close this thread.

[2016-08-25 13:15] nerdatwork commented on #411
@vladfuller If you are satisfied with the responses you got, you can close this thread.

[2016-08-25 13:20] zfonck123 commented on #420
@nerdatwork @pscohn  Your training is complete! Hi zfonck, Great news: your training is complete! You will now be able to do regular work for us! Happy testing! Rainforest QA Team p.s. view your profile here.. i get this message in the night.... now in the morning get again training jobs...

[2016-08-25 13:26] zfonck123 commented on #420
![again](https://cloud.githubusercontent.com/assets/19192312/17970778/f3ddaa36-6aa5-11e6-86c7-d06b2e997728.jpg)

[2016-08-25 13:50] zfonck123 commented on #420
![image](https://cloud.githubusercontent.com/assets/19192312/17971567/574b5642-6aa9-11e6-9d7f-65eebfd491a2.png)
  again ?

[2016-08-25 13:52] nerdatwork commented on #420
can you take screenshot of your profile ?

[2016-08-25 13:54] zfonck123 commented on #420
![image](https://cloud.githubusercontent.com/assets/19192312/17971676/d2f87630-6aa9-11e6-8808-8f03c2394ca3.png)
![image](https://cloud.githubusercontent.com/assets/19192312/17971685/e08f14de-6aa9-11e6-9fbb-be17636229ff.png)
![image](https://cloud.githubusercontent.com/assets/19192312/17971694/e7ecc2e4-6aa9-11e6-9ca0-950dbd6d3670.png)

and again training

![image](https://cloud.githubusercontent.co

[2016-08-25 14:07] zfonck123 commented on #420
I think is a bug, Again training, affter training complete
![image](https://cloud.githubusercontent.com/assets/19192312/17972088/8f1e9d98-6aab-11e6-95e9-caab07625f11.png)

![image](https://cloud.githubusercontent.com/assets/19192312/17972098/9b564b06-6aab-11e6-9556-30916281d12a.png)

[2016-08-25 14:25] mimimar commented on #420
Same thing with me. But I have a three notification that I passed the training.
![index notifications 1](https://cloud.githubusercontent.com/assets/21242801/17972831/787df9c8-6ae0-11e6-90d6-36c0552bf9e4.png)
![index notifications 2](https://cloud.githubusercontent.com/assets/21242801/17972837/80284afc-6ae0-11e6-9c4c-46ba21b61d42.png)
![index notifications 3](https://cloud.githubusercontent.com/ass

[2016-08-25 14:27] zfonck123 commented on #420
me too i have 3 and maybe in 5-10 min get the four... :(

[2016-08-25 14:38] zfonck123 commented on #420
4 with it
![image](https://cloud.githubusercontent.com/assets/19192312/17973300/ea85b6ea-6aaf-11e6-93b1-1846cb6f7aef.png)

[2016-08-25 14:39] maciejgryka commented on #420
Hi all, the message you receive after training is out-of-date (we're changing it right now), but the behavior is not a bug. Depending on your history, you might need to complete unpaid training several times before your work meets our new quality standards and you can do real work again.

[2016-08-25 14:43] mimimar commented on #420
Finally passed, no more training, I received "another worker..." and hit with real job. I hope that you too soon :)

[2016-08-25 14:48] zfonck123 commented on #420
@maciejgryka  ok. but is very strange, because complete the training 4-5 times  and each with 7 training lesson.  . i will go to finish training and try get a real job.   Thanks for ur answer.

[2016-08-25 15:15] awnosa commented on #420
@mimimar can you tell me how many msg say "your training is complete! You will now be able to do regular work for us! Happy testing!" before you received a real job

[2016-08-25 15:19] zfonck123 commented on #420
@mimimar  yesterday only 1  today 4

[2016-08-25 15:29] awnosa commented on #420
that mean i will received real job after 5 times of this msg

[2016-08-25 15:42] qpPykT commented on #420
They don't want learn need more training tasks :)

[2016-08-25 16:34] teteucalifornia2 opened #421 "Changes: They help or hinder the testers?"
Good morning everyone!
In recent days we are getting many trannings, and that consumes at least 40% of testadores.Além time that he is presenting the training unfair rejections.
These latest changes are good for the tester?
Lately, it is also happening many mistakes "Something bad happened '', among other mistakes that hurt us a lot.
When released for new testers, our quality has dropped a lot. I

[2016-08-25 16:54] marius11 commented on #421
Rainforest recently announced that they increased the quality treshold for testers, so these training hits are necessary if you do not meet the quality treshold Rainforest wants.
Also, the extension should go OFF if the user behind it is inactive, or AFK. It wouldn't be fair for active workers to have jobs taken by someone who is AFK.

[2016-08-25 17:08] teteucalifornia2 commented on #421
@marius11 Yes, I agree that training is needed. But they are coming in large quantities and often unfair rejections. And what about the mistakes that often comes up?

[2016-08-25 18:06] qpPykT commented on #421
@teteucalifornia2
If you think that these rejections are not fair it does not mean it's true. Learn all rules and do tasks more carefully. Errors always was there and before the last update.

[2016-08-25 18:16] ellmirr0001 commented on #421
how many jobs do u get via chrome ext, im getting really low like 5 to 10 in one day and that's not even 5$

[2016-08-25 18:28] teteucalifornia2 commented on #421
@qpPykT
It is unfair not only to me but to many people . So if the errors were already before the update , we can not improve ? Beautiful thought friend!!

[2016-08-25 18:29] sweeneyapps commented on #421
@ellmirr0001  by the way, the extension have little bug,  it stopped checking for job after an network error.   I am trying to pinpoint the error but I didn't have the log enabled for that.

[2016-08-25 18:35] sweeneyapps opened #422 "Extension Bug (Tester, response this if you do have the HAR data otherwise don't bother.)"
The chrome extension stopped checking for job after some sort of network error.   I didn't have the
Developer's Tools open at that time.    So whenever I do get that error,  I'll send the HAR data.   It'll take awhile.

[2016-08-25 18:36] ellmirr0001 commented on #421
@sweeneyapps tnx for the info, hope it'll be fixed soon.

[2016-08-25 18:40] bilelmz commented on #368
This time with just 10 steps!
![sans titre](https://cloud.githubusercontent.com/assets/20234458/17981454/1ea0be26-6b04-11e6-9c57-622fb9acb79d.png)

[2016-08-25 18:59] bilelmz opened #423 ""This email address is already in use" when restart a job"
This error happen if the job containing a "sign up step", and for some reason, i had to restart the job. when i do the same step again (sign up) the website says: "this email address is already in use" or something similar.
Please fix that.

[2016-08-25 19:11] pscohn commented on #368
@bilelmz are you still doing the jobs with no extensions installed? are you using an incognito window? do you have any other software or firewalls that might be blocking connections?

[2016-08-25 19:13] Electroglitch commented on #417
Can i just point a little overlooked flaw in this,
i remember doing training tasks about 2-3 month ago
and when i was doing one training task terminal was having problems with taking screenshot(failed to take a screenshot message over and over) at the last step
so i had to restart the task
and no matter if i did everything right i got 1 rejection because of what maciejgryka  wrote "(8160437) you h

[2016-08-25 19:24] A1xx commented on #368
Yesterday I had one more job with this problem. During this job on diferent steps I had error "Something bad was happened" 2 times. And at the last step I got disabled buttons(((
![test2508_2](https://cloud.githubusercontent.com/assets/17779557/17982797/93d3cb3c-6b1a-11e6-9d1f-5ae274e60483.png)

Why 2 times I got disabled buttons for a wile and then got error message and buttons enabled again, but

[2016-08-25 19:32] qpPykT commented on #421
@teteucalifornia2
Ok, if you think you are right you can submit a support ticket.

[2016-08-25 19:38] teteucalifornia2 commented on #421
@qpPykT ok

[2016-08-25 19:42] bilelmz commented on #368
@pscohn I removed Adblock, the other extensions are disabled. No i'm not using an incognito window currently, but i try it before with no change. I have kaspersky installed on my computer.

[2016-08-25 19:43] GersonTavare commented on #421
These trainings are ridiculous. I do more than 100 (one hundred) in the past 3 days, and still receiving. And unfortunately there is no support to help when you send email, only serves to give copied answers...

[2016-08-25 19:44] qpPykT commented on #423
@bilelmz
In that situation you should to report it as "no" and add explanation.

[2016-08-25 19:46] Electroglitch commented on #423
Unfortunately only thing you can do is to report it and write explanation
and hope terminal wouldn't misbehave when doing another similar test with sign up :)

[2016-08-25 19:57] A1xx commented on #368
@pscohn The internet connection could be the reason of this?

[2016-08-25 20:20] Jonashp opened #424 "complete 8x ? why ?"
![test](https://cloud.githubusercontent.com/assets/21248961/17984532/f91c4498-6ae7-11e6-9c7b-f95e85dc8565.PNG)

[2016-08-25 20:24] MarinaCec commented on #421
After the new testers came, earnings fell lot, $3(day) not buy a mcdonalds sandwich, lamentable...

"Place an audio alert when there came a new extension work. And do not let the extension be '' off '' alone, without anyone having clicked on it.
Let's change for the better Rainforest? What do you think?"  I agree...

[2016-08-25 20:27] Electroglitch commented on #424
Check this #420

[2016-08-25 20:42] MarinaCec commented on #421
Some people here accept mistakes, accept being harmed by the mere fact of being "Ass Kisser". It is fair to give our point and report to them that something is not this right or not good. No one is disregarding or disrespecting the rainforest, but simply giving advice of something that could improve to the testers, since every update get worse and never better.

[2016-08-25 20:52] teteucalifornia2 commented on #421
@MarinaCec Exactly. Together Rainforest can improve in all aspects .

[2016-08-25 21:32] mojenLXXXIII opened #425 "Reporting a Hit at Step 1"
A quick question please did anyone notice today that reporting a hit at step# 1 does not count towards total found bugs?
as i have reported 4 broken websites at first step today and i don't have the slightest doubt regard it.  unfortunately it was not counted towards my bug count.

[2016-08-25 22:08] GersonTavare commented on #421
@MarinaCec it's ridiculous, rainforest gets worse every update.

- They reduce our work - long tiime ago we can do 4 hits at the same time.
- They change the layout just to upgrade the errors - now it's more than the old one.
- Constantly we lost a day (or a few) because some internal problem - the new one is the training hits.

Unfortunately don't seems like Rainforest values the work of each one

[2016-08-25 22:27] GersonTavare commented on #424
There's no way to know, my friend. Rainforest don't answer the emails, and the post on portal don't make sense. I complete more than you, I think about 12 times, and until now I'm receiving it.

Hope they fix it soon.

[2016-08-25 23:02] zfonck123 commented on #421
affer google chrome extencion alot errors, bugs, 1 job for time... i remember in november and december 2015 easy do 100 jobs more in one day.   today only can do 20-40 jobs... but i remember to only 400 online,, now is 1800+

[2016-08-25 23:30] MarinaCec commented on #421
Sometimes I get the feeling they want to humiliate us, like "It will be our way and end, your opinion doesn't count".

At the beginning I was feeling like part of the team, cause our job is important to rainforest too,  don't feel it anymore. Sad.

[2016-08-26 04:04] marius11 commented on #421
@GersonTavare @MarinaCec That's simply not true. I have noticed an increase of number of tests in the last 2-3 weeks and new websites appeared that I've never seen before. It quite clear that Rainforest has more and more customers using their product, hence why they increased the quality threshold by delivering training tasks to those who don't have good results.

If you have problems or issues, r

[2016-08-26 11:03] #425 closed

[2016-08-26 11:11] sweeneyapps commented on #422
submitted bug fix on #426 Pull Request

[2016-08-26 11:11] #422 closed

[2016-08-26 14:00] bilelmz commented on #368
The same thing again, what a waste of time!
@pscohn .........................
![sans titre](https://cloud.githubusercontent.com/assets/20234458/18007902/2f0a011c-6ba6-11e6-9f66-a1a47b1c8de6.png)

[2016-08-26 14:53] #417 closed

[2016-08-26 14:54] #331 closed

[2016-08-26 15:16] Jonashp commented on #424
More 4x complete,same problem .-.

[2016-08-26 16:44] #424 closed

[2016-08-26 17:39] jsslng opened #427 "All kinds of unfair rejections"
Since this "training tests" stuff started, i'm getting a lot of unfair rejections and that is ruining my profile stats, i had like 3 rejections tops, and now i have 8 and the training jobs don't stop because of the rejections, it's an endless loop.

![captura de tela 2016-08-26 as 14 38 01](https://cloud.githubusercontent.com/assets/17452854/18014750/bfcb4cd0-6b9a-11e6-9e5e-b5a1200741b8.png)
![cap

[2016-08-26 18:06] HW71 opened #428 "Feedback within the survey at the end of a test..."
Hi all,

in the recent news Kristen reminds us to report "No" in case of poorly written instructions + additionally to provide feedback using the survey at the end of the test in order to give details.

The problem I see with this "survey": the input field used in this form offers just one line to enter feedback, right? At least this was the case when I used that survey the last time.

=> Would it

[2016-08-26 19:52] NeoWorker opened #429 "Continuous "Something bad happened" screen"
Ahm, something strange is happening to me right now. When I new tab open and it tries to load the hit, it gives the "Something bad happened" screen immediately. Anyone else?

[2016-08-26 20:13] uangonline commented on #427
@jsslng From your own screensshot i can say the rejection was **FAIR**! You could just put the email or password wrong between step 1 or 3. That's why you got Incorrect email/password error message at step 3. Be more carefull next time.

[2016-08-26 20:26] helloworld111gh commented on #368
Next time this happens, do "Network" > "answers" > "Timings" > Screenshot
and post results

On Aug 26, 2016 07:02, "bilelmz" <notifications@github.com> wrote:

[2016-08-26 20:41] pscohn commented on #368
@bilelmz can you do what @helloworld111gh suggested, and can you also try disabling kaspersky during your jobs to see if that helps?

[2016-08-26 20:57] samballode6 opened #430 "Unfair blocked !"
Unfair blocked !

http://oi67.tinypic.com/zl3z94.jpg

http://oi63.tinypic.com/1xxvlg.jpg

http://oi68.tinypic.com/99m1w2.jpg

[2016-08-26 20:59] samballode6 commented on #430
Unfair blocked !
![blocked 02](https://cloud.githubusercontent.com/assets/19857030/18020229/94336cd6-6c0a-11e6-91e1-6d6b2e961d5a.png)
![blocked 021](https://cloud.githubusercontent.com/assets/19857030/18020236/9cd5f214-6c0a-11e6-95da-250bd3681ad1.png)
![blocked 022](https://cloud.githubusercontent.com/assets/19857030/18020243/a3853570-6c0a-11e6-9be7-b1937c714fc7.png)

[2016-08-26 21:05] irishclouds commented on #420
For me, after 2 days without any rejections and normal jobs, now i have training jobs...i think it's impossible to understand it :(

[2016-08-26 21:35] xakep99 opened #431 "Poorly written instructions"
..."you should NOT pass a test with poorly written instructions that you can't clearly follow"...

Who's gonna judge whether I understand instructions?

Are test authors gonna be introduced to 5 Principles of Testing at least and asked to follow them?

It's interesting to see use of rule of text in quotes with number. I could see all possible wrong variations but correct ones could be seen very se

[2016-08-26 21:39] #429 closed

[2016-08-26 21:39] qpPykT commented on #420
@irishclouds
Rejections are not the main indicator for the training tasks.

[2016-08-26 21:53] helloworld111gh commented on #430
You will not be unbanned, you have cheated Rainforest many times, as
explained in your block reason. People like you are the reason why the pay
for tasks are offers are so low, and why Task Authors are trigger happy on
rejecting legit users.

On Aug 26, 2016 13:59, "samballode6" <notifications@github.com> wrote:

[2016-08-26 22:02] irishclouds commented on #420
Ok, but they are changing between real jobs and training jobs within 3 minutes...really i don't understand the new system.

[2016-08-26 22:55] thetodd1 commented on #430
ayylmao sigitsenyo
proof here use google translate
https://www.neobux.com/forum/?/22/574619/Test-Applications-For-Rainforest-Qa/1/&vl=EF1605696B1AE3A8D2F12EA092E8AF9B

if you dont wanna read the whole thread , see here
http://imgur.com/a/mK2B9

[2016-08-26 23:54] bilelmz commented on #368
@pscohn @helloworld111gh I'll try.
It's ok disable kaspersky after the job start?

[2016-08-27 07:42] ladystoneheart commented on #427
look at this also.
![untitled](https://cloud.githubusercontent.com/assets/20522240/18026000/02ea9270-6c43-11e6-84f0-944e904fd4f1.png)

[2016-08-27 10:17] IceCreamCake opened #432 "After choose NO, do i have to provide the report note again for survey."
Some bug is very simple, only thing i can provide for the survey note is the same when i report bug. So i wondering what should i do, rewrite that note again or just submit the job.

[2016-08-27 10:22] farookabubakker commented on #427
First I did 7 training test 3 months ago. I qualified and did the jobs. Unfortunately contributor gave me training test again. Like you I had one rejection. Totally I did 8 training tests including that rejection. I don't know why I asked for training again. I mailed them but replied rejection could not be reviewed individually. So keep doing the training again and again until they mail your mailb

[2016-08-27 12:12] #430 closed

[2016-08-27 14:55] jzanotto opened #433 "I have 121 total jobs completed pending by paid"
Hi Team,

I have 121 total jobs completed and I don´t have received payment of any.

Please, Can you help me???

I attach files with my profile and job history

![job history](https://cloud.githubusercontent.com/assets/20929891/18028146/a9e11684-6c44-11e6-964a-f2bc26f3b7a2.JPG)
![profile](https://cloud.githubusercontent.com/assets/20929891/18028147/aa11cb94-6c44-11e6-912d-e721a7b12bed.JPG)

[2016-08-27 15:07] begsoon commented on #433
![image](https://cloud.githubusercontent.com/assets/16007586/18028211/c51bfd18-6c78-11e6-9518-21476a457110.png)

[2016-08-27 15:16] kaytsu commented on #431
If the directions are unclear to you and you click NO they won't reject your work. You just need to add the note that the directions were unclear. You can simply say "On step X I didn't understand the directions. They were confusing and I couldn't follow them"

I've had some where the question was worded like this "The user will see this and this and this?" They are still clear enough to follow th

[2016-08-27 15:41] kaytsu commented on #421
I like the extension turning off when I don't click it. It senses that my computer is idle and will turn off instead of giving me a task which ends up abandoned because I am AFK cooking dinner or watching my nephew outside.

[2016-08-27 16:04] qpPykT commented on #433
@jzanotto
What is your payment channel neobux, clixsense and ect. Look at your worker ID maybe you claimed another ID on payment channel.

[2016-08-27 18:46] playpin commented on #421
Yes sometimes its useful as we do not end up abandoning task . otherwise it annoys me when i am reading something in same browser and it goes "off"

[2016-08-27 19:11] playpin commented on #292
Good suggestion
Even i refreshed my browser once instead of refreshing in terminal.
Of course my mistake but a confirmation will be handy

[2016-08-28 13:07] nguyenthaonhatha opened #434 "job rejection"
I can not understand the job done correctly id is 8282137. I also press the wrong step, detecting other conditions required in the first step also false. I received a message completed training but I can not finish this work to do the next job. please help me
![image](https://cloud.githubusercontent.com/assets/21291726/18033976/b2276bc6-6ce5-11e6-8398-dbe873d8bedd.png)

[2016-08-28 14:22] asdoo opened #435 "i cant Reset my password"
i request to rest my password and there is no thing happen

[2016-08-28 20:02] djux90 commented on #432
yes, if some admin can say something about this, i am interested about it to, if i choose no and give the reason why is it no, why should i write that in again in survey?

[2016-08-28 20:36] Rafaelde commented on #427
Like I have two rejections in similar tasks, but can not see where is the error.

It would be helpful if clear where the bad.
![raiforest](https://cloud.githubusercontent.com/assets/21296796/18036614/9001f022-6d3d-11e6-9fe1-23dd7bb1ba08.png)

[2016-08-28 23:22] uangonline commented on #427
Please read [https://github.com/rainforestapp/tester-chrome-extension/wiki/Guide-Rules:-Confusing-Scenarios](url)

[2016-08-29 06:05] playpin commented on #431
I tried going through this "user will..." Test
But on last step instructions got too complicated due to "user..." Thing
So i reported but no bug+

[2016-08-29 06:09] playpin opened #436 "I will be taking a 10 day break"

[2016-08-29 06:10] playpin commented on #436
I will be taking a 10 day break
Will that affect my RF account in anyway?

[2016-08-29 06:26] marius11 commented on #436
Not at all.

[2016-08-29 06:51] playpin commented on #436
Thanks a lot

[2016-08-29 06:52] mimsura opened #437 "Is there a limit af IPs that i can use?"
I have 3 different PCs in 3 different locations with different IPs. Will it be a problem if I work NOT at the same time ofcourse but for example in 1 day from 2 IP enteries ?

[2016-08-29 11:31] Rafaelde commented on #427
The link does not work

[2016-08-29 11:49] HW71 commented on #427
Hmm, this one should work:
https://github.com/rainforestapp/tester-chrome-extension/wiki/Guide-Rules:-Confusing-Scenarios

[2016-08-29 12:57] GreekGuy commented on #435
you should check cloudflower messages.

[2016-08-29 14:26] Dolazim commented on #433
How you get 121 job in one day?

[2016-08-29 15:20] pscohn commented on #432
The survey at the end has nothing to do with the bug in the test - it's for evaluating the job overall as far as the terminal (VM), instructions, and job interface. You can leave any extra feedback you have about those things in the survey, but don't have to write anything about the bug or website you were just testing.

[2016-08-29 15:20] #432 closed

[2016-08-29 15:23] pscohn commented on #292
That's a good idea. I'll close this issue and open one internally.

[2016-08-29 15:23] #292 closed

[2016-08-29 15:27] pscohn commented on #368
@bilelmz if that somehow steps the network request when finishing the job, I think that's ok.

[2016-08-29 16:07] zfonck123 commented on #433
august "29 days" for the moment. him dont say 121 jobs in one day lol. and training maybe 30-50 xD i do 50 training for get real job again

[2016-08-29 16:10] zfonck123 commented on #421
@kaytsu  if u are not old member, u dont  know nothing.    last year we can we 100 jobs or more daily.  but affter app "december" is at imposible get 100 jobs or more, for won the 20% bonus

[2016-08-29 17:18] JPierreS commented on #437
So long as you are not sharing accounts or working through multiple Rainforest accounts you should be fine. You are allowed to work only from ONE Rainforest account.

However, you MAY have issues with CrowdFlower and/or the channel you work from as they might detect the 3 different IPs and location as suspicious and flag your account.  It would be safe to let the channel you are working from know

[2016-08-29 18:10] sweeneyapps commented on #421
@zfonck123 yeah... I did 98 jobs in 24 hrs.   I took the challenge..and failed miserably.  :(    So I am recommending 500 steps for 20% because not all jobs are equal.   You'll see my recommendation on the next upcoming AMA.

[2016-08-29 18:17] sweeneyapps commented on #421
@ellmirr0001  I fixed the bug and waiting for RF to merge my code.  :)

[2016-08-29 18:55] sweeneyapps commented on #420
same here..   got into Training SandBox for no reason.

[2016-08-29 18:55] sweeneyapps commented on #411
same here..   got into Training SandBox for no reason.

[2016-08-29 18:56] zfonck123 commented on #421
@sweeneyapps excellent :D

[2016-08-29 19:07] Electroglitch commented on #436
You got your answer so could you close this thread now?

[2016-08-29 19:34] sweeneyapps opened #438 "Could not get a X machine error"
this error showing "Could not get a X machine" where X is name of machine such as Chrome, etc.  has been happening repeatedly this morning (PST) when accepting a job.    I closed those jobs because it's pointless to continue refreshing.   Then guess what I'm in training sandbox for no reason.  :-1:

[2016-08-29 19:48] #436 closed

[2016-08-29 20:11] uangonline commented on #438
@sweeneyapps Why not refreshing every 2 or 3 minutes? It works for me.

[2016-08-29 20:39] uangonline commented on #438
@sweeneyapps I'm also in training sandbox now :-1: .

[2016-08-29 20:49] josejecr97 opened #439 "Unfair rejections ... AGAIN"
@maciejgryka
@qpPykT
https://i.gyazo.com/1c680a3613b60d17e547934a527004e1.png
https://i.gyazo.com/fc27a74a6606a281405b0f6c7e094fb7.png

I'm AGAIN in training mode and get the same JOB x2 times ... i did everything and i still dont know what is wrong with this......., please do something  i did everything it says !

[2016-08-29 20:51] irishclouds commented on #439
same for me, one day on job mode, the next in training mode, without rejections...i can't understand this system, no sense on it

[2016-08-29 20:56] ellmirr0001 commented on #438
same problem too :/

[2016-08-29 21:00] zfonck123 commented on #420
training mode again ?
![image](https://cloud.githubusercontent.com/assets/19192312/18067272/10d1e2b2-6e0a-11e6-9eff-7a52c1dededf.png)

[2016-08-29 21:01] priggy commented on #439
i have same problem.... first they start testing me after i have done more than 1000 hits without one single rejection.... then they reject my testing hits... and they test me like 5 times in a row, all rejected!

[2016-08-29 21:01] Yhenko commented on #439
Same training jobs, SAME REJECTION.
https://gyazo.com/04c18a1c9e5279d2cd2d35a3335f5643

Another UNFAIR REJECTION ¬¬, can solve this please? 3 unfair rejections last week, 1 today

[2016-08-29 21:02] hackyyy commented on #439
I have the same problem, just reported the bug to the help desk, this is unfair.

[2016-08-29 21:06] helloworld111gh commented on #439
@Yhenko no one can determine if you are right if you don't post the
screenshots they provide
same message to everyone else with unfair rejection, you need to post the
screenshots they provide to determine if you are right

On 29 August 2016 at 14:02, hackyyy <notifications@github.com> wrote:

[2016-08-29 21:07] luiscl32 commented on #439
training, 1 free unfair rejection  bug :/ ,
https://i.gyazo.com/4bd75ac1797b4881b93eafb2354fc224.png
https://i.gyazo.com/5c07186bc6b769b8ac7e50bac289f8a1.png

[2016-08-29 21:07] crieli commented on #439
same problem, thousands of hits without rejections and now on training mode.

[2016-08-29 21:09] josejecr97 commented on #439
@helloworld111gh  we are posting screenshots ?¿?¿? i dont understant what do u mean

[2016-08-29 21:09] AndyARB commented on #439
Same here!
Why? JOB IDS: 8332166, 8331963, 8331788.
Fix please!

[2016-08-29 21:11] Yhenko commented on #439
@helloworld111gh Okey, lets see.
1- https://gyazo.com/04c18a1c9e5279d2cd2d35a3335f5643
2- https://gyazo.com/692da793f1f5ef48313ae979376db550
3- https://gyazo.com/943a24f572314c820dcea3b56f1e9857
4- https://gyazo.com/66bea39869c32c2c6d777816c5381013

[2016-08-29 21:12] hackyyy commented on #439
I have two others like that: :)

![unfair 5](https://cloud.githubusercontent.com/assets/2355915/18067654/5fbfff6c-6e46-11e6-9b13-23ce14c4bb06.png)
![unfair 1](https://cloud.githubusercontent.com/assets/2355915/18067653/5fbecbe2-6e46-11e6-8d76-3fbb01aa20a1.png)
![unfair 2](https://cloud.githubusercontent.com/assets/2355915/18067652/5fbe95b4-6e46-11e6-9aed-076a724b6b75.png)
![unfair 3](https://cloud

[2016-08-29 21:12] Rodolfo2709 commented on #439
Same for me, the same training of google twice and two unjust rejection...  Please fix it  T.T

[2016-08-29 21:12] zfonck123 commented on #420
2 rejection with this job, i dont understand what is my wrong in this :(
![image](https://cloud.githubusercontent.com/assets/19192312/18067635/9fd8a292-6e0b-11e6-8f57-f18036806796.png)
![image](https://cloud.githubusercontent.com/assets/19192312/18067678/ca7b9504-6e0b-11e6-8a92-2da7e433ce39.png)

[2016-08-29 21:12] priggy commented on #439
apparently, when they ask to click on a "clipboard icon" make sure IT IS VALID clipboard icon, not just a random square or scissors (in second and third try they gave me those icons) then I reported the job saying there is no clipboard icon... result: NO REJECTION... however, next was again training test, but other with different tasks and steps... pay a little more attention and maybe you will pa

[2016-08-29 21:16] AndyARB commented on #439
So, we can report it because this job have unfair questions, and unfair rejections!

[2016-08-29 21:18] zfonck123 commented on #420
i am so very sad :(   anyone can explain me ? for dont get a wrong again please :( i dont wanna loss my account for this :(
![image](https://cloud.githubusercontent.com/assets/19192312/18067806/79ee2f9c-6e0c-11e6-977e-9bc6df7a5b8f.png)

[2016-08-29 21:18] priggy commented on #439
just click NO instead of YES, same as you are reporting the bug on regular testing page... BTW... last 10 minutes, no tests popping up

[2016-08-29 21:18] ilegalna commented on #439
Same here. My ID is 29166275.

[2016-08-29 21:20] helloworld111gh commented on #439
@hackyyy the rejection was correct in your case, remember to follow the
rules to the letter at all times.
please remember that not following the rules will result in training hell.
please remember that not following the rules will cause significant
reputation penalty, causing you to require potentially hundreds of training
job to resolve

On 29 August 2016 at 14:12, hackyyy <notifications@github.c

[2016-08-29 21:20] majulink commented on #439
same here 3 jobs = 3 rejections  (wrong rejections )

[2016-08-29 21:20] mlujan opened #440 "Bad rejections."
I got a page that asked if I could scroll down three times and if it kept scrolling.  Long story short page did not keep loading so I reported the bug.  Feedback says: Everything on this page was correct - you should not have reported a bug.

Seriously? How am I supposed to be fair and honest when I know this is going to happen.

[2016-08-29 21:21] AndyARB commented on #439
Maybe the job is removed. Now, how to remove the unfair rejections? ._. I can't report it because they send me an email that say: Hello,
Due to the amount of tickets we receive, we are not able to look into individual training job rejections. We're so sorry! We will be adding clearer feedback about training job rejections in the future.

[2016-08-29 21:22] zfonck123 commented on #439
2 rejection with this job, i dont understand what is my wrong . any can help me found what is my error please ?
![image](https://cloud.githubusercontent.com/assets/19192312/18067635/9fd8a292-6e0b-11e6-8f57-f18036806796.png)
![image](https://cloud.githubusercontent.com/assets/19192312/18067678/ca7b9504-6e0b-11e6-8a92-2da7e433ce39.png)

[2016-08-29 21:23] josejecr97 commented on #439
@AndyARB  anyway , help desk never solve our troubles.. i've send allot of tickets and they never answer

[2016-08-29 21:23] ellmirr0001 commented on #439
@zfonck123 i have same problem like u with this job

[2016-08-29 21:24] AndyARB commented on #439
@josejecr97 You're right, we hope.

[2016-08-29 21:26] mimsura commented on #437
thanks a lot for your answer it really helped me :)

[2016-08-29 21:26] josejecr97 commented on #440
#439

[2016-08-29 21:28] Taruga commented on #440
I had 2 rejections with that same test. Rainforest do your work right, this is not fair.

[2016-08-29 21:29] regi92 commented on #439
same here !!
https://i.imgsafe.org/4a838869f8.png
https://i.imgsafe.org/4a8346c927.png

[2016-08-29 21:30] mlujan commented on #440
And there is more....how does this page not say google? https://s3.amazonaws.com/store.rainforestapp.com/c9296c74-701a-4e84-9e81-0e53a1459363.png?AWSAccessKeyId=AKIAI3E7F33G5BJNCP4Q&Expires=1472509752&Signature=XjhKZOnbTE9vr2aiOy5Qo6bSZlo%3D

[2016-08-29 21:30] ellmirr0001 commented on #440
look what happens when you click 'yes'
you got rejected as well
![screenshot_5](https://cloud.githubusercontent.com/assets/19805020/18068142/38dc6418-6e40-11e6-9f7d-675e00223626.png)

[2016-08-29 21:30] madeuser commented on #411
@sweeneyapps you're not alone, I keep receiving a training job and then a normal payed job. Normal job, training job, normal job, training job! If I miss the payed job (another user accepted the work before me) I receive a training job!  Oh, the joy! :)

[2016-08-29 21:32] teteucalifornia2 commented on #439
Here also is unfair rejections in excessive training. For God's sake , fix it. I can not work right due to these changes.

[2016-08-29 21:32] mlujan commented on #440
Yeah I seriously think there is some flaw in the logic here!

[2016-08-29 21:32] Taruga commented on #440
Just turned off extension, sick of this. No fair!

[2016-08-29 21:32] mlujan commented on #440
Same here!

[2016-08-29 21:32] stamos551 commented on #439
yeap, same for me here..
6 rejections
They said they are gonna fix it tommorow sooo I guess they will

[2016-08-29 21:32] AndyARB commented on #439
Calm down.

[2016-08-29 21:33] teteucalifornia2 commented on #440
https://app.rainforestqa.com/job/8342889/2989fac50602a9905

[2016-08-29 21:33] teteucalifornia2 commented on #440
Here also is unfair rejections in excessive training. For God's sake , fix it. I can not work right due to these changes.

[2016-08-29 21:35] zfonck123 commented on #440
2 rejection with this job, i dont understand what is my wrong . any can help me found what is my error please ?  same problem here
![image](https://cloud.githubusercontent.com/assets/19192312/18067635/9fd8a292-6e0b-11e6-8f57-f18036806796.png)
![image](https://cloud.githubusercontent.com/assets/19192312/18067678/ca7b9504-6e0b-11e6-8a92-2da7e433ce39.png)

[2016-08-29 21:36] Elizabesita10 opened #441 "4 rejections in one short time in training Rainforest"
Hello is happening, these are very simple work and do it all well, just are 4 steps, and has repeated the same job 4 times and continuous, but it will not hold them, all give me rejections, it is going all right with rainforest? acomulo first time that so many rejections
![sin titulo](https://cloud.githubusercontent.com/assets/20981036/18068378/45887ce8-6dfe-11e6-8bf7-77a555423c26.png)

[2016-08-29 21:36] hunt40 commented on #439
i got 1 unfair rejection too after 4 training job,also for mail,yes they never check training job rejections thats same answer i got 4 months ago ,so dont hope for anything just pray there will be no more training jobs.

[2016-08-29 21:38] ellmirr0001 commented on #441
#439 #440

[2016-08-29 21:38] saraleenew opened #442 "training rejections"
three rejections in a row (just now)???????

[2016-08-29 21:39] ellmirr0001 commented on #442
#439 #440

[2016-08-29 21:40] #442 closed

[2016-08-29 21:41] Electroglitch commented on #440
That's the problem with training jobs ,they have expected answers which is not problem in ideal enviroment but as we all know we are not testing in ideal enviroment ,far from that.
Also one more thing
from the wiki:
"•After you have made a mistake in a training task, you have to restart the task by refreshing the page to complete the task correctly."
In my opinion this will also cause rejection ,y

[2016-08-29 21:43] laga407 commented on #439
6 rejection on training job, for the google training answer no when ask for click Icon, now for the upload file don't no i miss..

[2016-08-29 21:45] khristianjose commented on #441
I got the same right now, two rainforest trainning jobs, i did those very well and it counts to me as rejected, what? Anyone knows why?

[2016-08-29 21:47] khristianjose opened #443 "BAD REJECTIONS"
Hi, i got 2 BAD REJECTIONS right now on trainning jobs, anyone knows whats happening?
![sin titulo](https://cloud.githubusercontent.com/assets/17553414/18068680/a36f383a-6e10-11e6-973a-5e47ab5f2dfa.png)
![sin titulo3](https://cloud.githubusercontent.com/assets/17553414/18068681/a37a2f10-6e10-11e6-93f5-89b37bab4011.png)

[2016-08-29 21:49] JrRandy commented on #411
Yay!  Now I get to play in the sandbox :)

[2016-08-29 21:49] diabolic012 opened #444 "Training job"
I got several training jobs and all passed, but still got messages:
 "You passed a training lesson! Hi R... C..., Congratulations, you completed your last training lesson successfully! If your course is complete, you should get another email shortly. "

And all that after 5000+ jobs and 2 rejections till now. To me it's look like some bug in Rainforest system.

[2016-08-29 21:50] lilicm commented on #440
I got 4 rejections on training hits, and i dont know why. This is unfair.

[2016-08-29 22:00] josejecr97 commented on #444
#439

[2016-08-29 22:05] josejecr97 commented on #443
#439

[2016-08-29 22:06] zfonck123 commented on #444
me too  erros alots errors with this new method of training ...

![image](https://cloud.githubusercontent.com/assets/19192312/18069171/38acef8a-6e13-11e6-8ca9-d1877d09433e.png)
![image](https://cloud.githubusercontent.com/assets/19192312/18069174/3e9be900-6e13-11e6-9d8e-a2839a11bbb8.png)

[2016-08-29 22:11] MarinaCec commented on #444
4 unfair rejections...

[2016-08-29 22:17] MarinaCec commented on #443
4 unfair rejections for me...

[2016-08-29 22:17] MarinaCec commented on #439
4 unfair rejections on training job

[2016-08-29 22:23] JrRandy commented on #441
If people gave you the correct answer on a training job, it would defeat the purpose of the training jobs.  I have completed the above training job and passed it.  So it is not "broken".  Pay attention, and read carefully.

[2016-08-29 22:24] bilelmz commented on #440
Same here!
What's going on RF?!
The first rejection ever!

[2016-08-29 22:38] Elizabesita10 commented on #441
sorry, and I realized my mistake, I did not give cicboard click the icon that is the scissors, sorry, I must pay more attention

[2016-08-29 22:40] JrRandy commented on #441
You should edit that to not provide hints or answers to other members.  I am glad you found your error.  As I said, have to read carefully :)

[2016-08-29 22:42] zfonck123 opened #445 "Real jobs and training real jobs and training ???"
what happen ?
![image](https://cloud.githubusercontent.com/assets/19192312/18069924/58258840-6e18-11e6-9509-fb5a5fa4decf.png)

[2016-08-29 22:48] JrRandy commented on #445
yeah, I have been getting the same.  Few real, few training, few real, few training.

[2016-08-29 22:48] josejecr97 commented on #445
#439

[2016-08-29 22:49] #441 closed

[2016-08-29 22:50] JrRandy commented on #445
@josejecr97 I dont think this has any relation to "Unfair rejections" thread you linked.

[2016-08-29 22:57] sweeneyapps commented on #445
nobody deserve this.     I have done like 14 training jobs after doing nothing wrong.   No rejections even no rejections on training jobs task.    So I decided to turn off my chrome extension for the day and hopefully by tomorrow, I am getting paid job.    Again, nobody deserve this at all.   Also in USA, we do pay our workers on their training day.    So Rainforest needs to go back to the drawing

[2016-08-29 22:58] sweeneyapps commented on #444
nobody deserve this. I have done like 14 training jobs after doing nothing wrong. No rejections even no rejections on training jobs task. So I decided to turn off my chrome extension for the day and hopefully by tomorrow, I am getting paid job. Again, nobody deserve this at all. Also in USA, we do pay our workers on their training day. So Rainforest needs to go back to the drawing board and figure

[2016-08-29 22:58] sweeneyapps commented on #443
nobody deserve this. I have done like 14 training jobs after doing nothing wrong. No rejections even no rejections on training jobs task. So I decided to turn off my chrome extension for the day and hopefully by tomorrow, I am getting paid job. Again, nobody deserve this at all. Also in USA, we do pay our workers on their training day. So Rainforest needs to go back to the drawing board and figure

[2016-08-29 22:58] sweeneyapps commented on #438
nobody deserve this. I have done like 14 training jobs after doing nothing wrong. No rejections even no rejections on training jobs task. So I decided to turn off my chrome extension for the day and hopefully by tomorrow, I am getting paid job. Again, nobody deserve this at all. Also in USA, we do pay our workers on their training day. So Rainforest needs to go back to the drawing board and figure

[2016-08-29 22:59] sweeneyapps commented on #411
nobody deserve this. I have done like 14 training jobs after doing nothing wrong. No rejections even no rejections on training jobs task. So I decided to turn off my chrome extension for the day and hopefully by tomorrow, I am getting paid job. Again, nobody deserve this at all. Also in USA, we do pay our workers on their training day. So Rainforest needs to go back to the drawing board and figure

[2016-08-29 23:01] IceCreamCake commented on #420
Honestly, i @#%@ hate that dog.....
ps: i keep in & out trainning job too

[2016-08-29 23:05] dollydol opened #446 "Training job and scroll"
As many of you I got a rejection on a training job regarding the dog job.
Now my question is if instructions ask to scroll 3 times, how much a scroll is? Because after a single scroll of my mouse the page did not load any more dog pictures, that's why I failed the job and got a rejection.
So my question is: 3 scroll, how much is that? Because in a long scroll website like tumblr or facebook or twi

[2016-08-29 23:09] pscohn commented on #420
@zfonck123 you need to check carefully for images to check that no 2 are the same in that training.

[2016-08-29 23:10] pscohn commented on #420
We periodically will retrain or give random trainings to all testers, not just ones who are performing badly.

[2016-08-29 23:11] mariaelite commented on #439
Rainforest has the cheapest labor in the world.
Based on that ....
Does it seem right, whatever is happening?

[2016-08-29 23:11] teteucalifornia2 commented on #443
@sweeneyapps I hung my extension as well. It is impossible to work that way.

[2016-08-29 23:12] helloworld111gh commented on #420
@pscohn Seeing as you're here, can you define what a "scroll" is for this job, and how much is one? The instructions do not specify how big a scroll is, and we can't just reject the job because it's training

[2016-08-29 23:14] mariaelite commented on #439
I have no new rechazon and I have no idea how many workouts take

[2016-08-29 23:19] xakep99 commented on #446
The same with me. I reported unclear instructions and some divine creature decided that they were clear.

I have announced that the other day in the separate topic but not to many people bothered to read and think about it. There's too much mystery around rules and everything else. Why is that?

[2016-08-29 23:23] dollydol commented on #446
I searched for this issue but I haven't found your message, good that I am not the only one fool enough to actually count three scrolls :) I reported it as bug but I don't think I will ever get a useful answer.

[2016-08-29 23:28] slrojasc commented on #446
I sended this for Bug:
Someone else happens this?
There is an inconsistency with the evaluation of the jobs described below, the six works referred to are the same job. In previous jobs identified with  ID: (8348616, 8348891, 8350908, 8351038, 8352263), I answered "YES" to all questions and were rejected.
With the latest work identified with ID: 8351869 I answered "NO" in the last question, and wa

[2016-08-29 23:30] xakep99 commented on #446
@ dollydol
Just the other day it was strongly advised to report unclear instructions.

Anyway, they can do it just because they can. That's not in mysterious set of rules.

@ slrojasc

They slightly alter the task after rejected work. You should pay attention on that.

[2016-08-29 23:40] dollydol commented on #446
@xakep99 Exactly, they even sent an email about it, but maybe it works only if it's not them !

@slrojasc I did the Google task once and it went fine but I don't remember it how tricky it was.

[2016-08-29 23:43] ivasadzakov commented on #446
I understood that by scrolling down, the pictures should load more and more when you get to the bottom, like it is case for example on Google image search. In my case, the images did not load more, and I answered fairly  (my answer was No, they did not load) and by my opinion correct. The images in this question remain the same as on the first "Take screenshot" and nothing new loaded anymore. On e

[2016-08-29 23:47] nuevao commented on #446
this I just happened to me. Only reports the fault, it turns out that you have to guess which is the failure to find they want to continue. too bad this.

[2016-08-29 23:49] Electroglitch commented on #446
Guys remember that training tasks have expected answers , so if task is programmed like let's say that you must click on some icon or link and at that moment page didn't load properly and you can't see it so you report it,
well... sadly it will be rejected.
This is just the tip of the iceberg with this poorly planned and executed idea.
So despite you are doing what you're suppose to be doing you'l

[2016-08-29 23:50] euparkeria commented on #446
Got a rejection on this test too. It’s improperly worded, no extra images “load” when scrolling down.

[2016-08-29 23:56] prpiro commented on #435
I have a problem like this, I ask for password reset but the messages never arrive to my crowdflower account message board, i am unable to work because I cant run the app if I am not logged...

[2016-08-29 23:56] xakep99 commented on #446
@Electroglitch We understand that and it's OK. Unfair, too.

They could refer us to sources (online, hard press, whatever...) when we can learn about mouse scroll measurements. It's good thing to know for the future efforts.

[2016-08-29 23:57] someone1x commented on #446
I agree with my colleague above , task with the dog is not correct ( scroll 3 times). If you need to talk honestly do not scroll half way:
![1](https://cloud.githubusercontent.com/assets/21322993/18071312/7cb8adb4-6e5d-11e6-8c40-60562937627b.PNG)

[2016-08-30 00:02] nuevao commented on #446
It is that that test had already done and in 3 scrolls appeared new images, but I sent her again, and this see the second scroll was not charged more images. I hope reconsider this....

[2016-08-30 00:02] dollydol commented on #446
@xakep99 Yes! If they had some rules you can learn, mistakes will be on you, but they haven't. You should be provided with enough lessons to pass the tests without mistakes. Bad thing is even if they will eventually strike this job out because of a bug, rejections will remain. It's just like the attention check "are you using a computer?" which was very misleading when you were working on a mobile

[2016-08-30 00:03] bilelmz commented on #446
In this job, Whether you answer yes or no = rejection!!!!!!
Look at this:
https://github.com/rainforestapp/tester-chrome-extension/issues/440
Some testers answer "yes" and get rejections!

[2016-08-30 00:06] xakep99 commented on #431
@kaytsu Somehow I don't share your opinion and that is the reason I have started this topic.  And guess what? It happened. Somebody took over divine duties and rejected my work because of poorly written instructions I couldn't understand.

User will does clicked on the blue button link green colored ...

Why these HITs are even assigned for working?!?

If task authors stick to the basis principles

[2016-08-30 00:09] dollydol commented on #446
@bilelmz  Just for the record, before the rejection I had already done a dog task, where the three scrolls were not mentioned and it was not rejected. So I don't really know what bugs are they looking for.

[2016-08-30 00:11] someone1x commented on #446
I got this job two times , the second time, I answered "yes" and there was no problem ...

[2016-08-30 00:13] Electroglitch commented on #446
@dollydol check this thread at the bottom #420

[2016-08-30 00:14] xakep99 commented on #446
@ bilelmz: As I said they slightly alter repeated tasks and although they look the same they are not.

What we discuss here is bad instructions problem which is

[2016-08-30 00:22] dollydol commented on #420
@zfonck123 maybe I am wrong (probably since I got a rejection too on this horrible dog) but in the first of your rejection, the dark background one, it could be it was not a grid? there are blank spots so maybe that or the pics don't load, there is something wrong in the pictures arrangements to me. But still VERY UNCLEAR instructions.

[2016-08-30 00:22] mobradovic commented on #446
What you discuss here mostly is poor understanding of basic English. Instructions (especially training ones) are as clear as can be.

[2016-08-30 00:27] dollydol commented on #446
@mobradovic so if they are as clear as can be, can you please explain (no sarcasm I am dead serious) the 3 scroll measure? If you say scroll, it's ok I do it and see pictures loading. If you say scroll three times and I get to the bottom of the page in half a scroll, what am I supposed to think?

[2016-08-30 00:28] euparkeria commented on #446
@mobradovic This is not true when comes to this particular task. This task is incorrectly worded. There are no images “loading” when scrolling down the page. If the question had been “Do images *appear*”, then that’s a completely different matter but “loading” is something quite specific when it comes to web pages. The instructions give the impression that more images will load and extend the page

[2016-08-30 00:32] nuevao commented on #446
@mobradovic these instructions confused, What esla clarity? if you say "Scroll down three times to load more images."
and then you ask: As you are scrolling down the page, do continue to load new images? but you see that get to the bottom and not continuous loading more images after two Scroll. What is supposed to be the answer? I do not understand

[2016-08-30 00:33] mobradovic commented on #446
No I can't (no sarcasm also), because it defeats the purpose of the test, and would be outright cheating, right?

Also, this whole discussion is totally inappropriate here, since this should be a place to talk about the extension, and extension alone... (hope someone will tidy up a bit).

[2016-08-30 00:48] someone1x commented on #446
difficult to explain to Serb  "polyglot" :)

[2016-08-30 00:57] mobradovic commented on #446
And that's the key-phrase for all this fuss.

Totally irrelevant, and kinda proves the point...

[2016-08-30 01:11] xakep99 commented on #446
So, you know whole lot about scrolling but you wouldn't tell us?

[2016-08-30 01:19] Electroglitch commented on #446
Hey people! One guy said it's just matter of poor understanding of basic English,
so there was no problem after all, close the thread and let's all go home!
Man! I sure hope my understanding of basic English and application testing gets better tommorow.

[2016-08-30 01:28] xakep99 commented on #446
No. In fact it's the problem of understanding poorly written English.

Anyway, you can go home any time you want. We are not obliged to follow you.

Concerning your understanding of basic English, you are right. Take a break and see if it gets any better.

[2016-08-30 01:32] Dani-Vase commented on #446
Same happened with me too.
Under my opinion, there won't be any changes in the rejections. They will remain in the history until it is restarted (after a month).
I just hope there won't be any penalties.

[2016-08-30 02:04] bilelmz commented on #446
Latest News
Training Jobs 2016-08-30 01:04:53 UTC, Kristen Hohenstein
Hi, everyone! Random training was enabled today. I didn't know ahead of time or I would have sent an email letting you know. I apologize for the inconvenience! This doesn't necessarily mean that bugs got released with the training, however. If you think you got unfair training rejections today, please send in a support ticket ca

[2016-08-30 02:16] #439 closed

[2016-08-30 02:43] nerdatwork commented on #437
If you are satisfied with the response you got please close this thread.

[2016-08-30 02:45] nerdatwork commented on #435
Whenever you reset your Rainforest password the email is sent to your email provider like gmail or yahoo or hotmail. Make sure to check your spam folders too.

[2016-08-30 02:49] Electroglitch commented on #446
@xakep99 Can't you recognize sarcasm?
And i really don't know why are you insulting me i thought we're on the same side concerning this,
meh...

[2016-08-30 02:53] xakep99 commented on #446
Sorry, I didn't notice that. I apologize.

[2016-08-30 03:02] nerdatwork commented on #428
Even though you see 1 line you can actually enter a whole paragraph of text in it. Try it and you will be pleasantly surprised :)

[2016-08-30 03:09] prpiro commented on #435
Thanks for your contribution, neither they have arrived to gmail

The situation is that I have two Contributor IDs (one in use and the other abandoned but active) and I mistakenly changed the first Id's profile email into the second's one, (now both account are linked to the same email) after this I wasn't able to login and an error showed: "Invalid email and/or password" . I tryed to reset the pa

[2016-08-30 03:17] helloworld111gh commented on #435
try logging in with your first accounts password (or second accounts
password, if you are currently using your first)
once you have logged in, you can change your email of that account back

On 29 August 2016 at 20:09, prpiro <notifications@github.com> wrote:

[2016-08-30 04:43] marius11 commented on #428
It's not pleasant reading a paragraph in a text box that has a single line and a small length.

[2016-08-30 05:37] sweeneyapps commented on #438
random testing...   and this error is probably just nothing.

[2016-08-30 05:37] #438 closed

[2016-08-30 08:36] Dolazim commented on #440
You get rejection for this dog photo because there is 2 same pic and this need to be report...

[2016-08-30 09:00] prpiro commented on #435
(thanks again for your support,) I'd tryed this already too....

[2016-08-30 12:28] prpiro opened #447 "Accidentally unsubscribed"
I inadvertently sent the Unsubscribe link in a RainForest message, Does anyone know how to undo this?

[2016-08-30 12:40] duda72 opened #448 "I cant claim my profile"
Hello
I am sorry for the late reply to your message.
i still have no access to my account,I am not sure if I forgot my email or my password.
Since then,I can't check my work or my potential Rejections.
I would appreciate if you could resolve my issue as soon as you can,because I am afraid of getting banned due to potential errors while doing your tests.

Thank you in advance

[2016-08-30 14:26] tulko opened #449 "problems browser"
my browser closed unexpectedly and I could not retrieve the work tab. I'm not resivo new jobs over an hour ago. my id is 29649019

[2016-08-30 14:26] javiraro opened #450 "I can't start"
I sent yesterday a ticket to try to solve my problem but I'm still waiting so I open this topic. I started too late like 2 years later doing rainforest account and everything. I did on sunday, signed every qualifications and staying with rainforest chrome extension opened for 8+ hours a day opened and always says NO (so I don't have any task to do) and yes, I'm always looking if it changes to OFF

[2016-08-30 14:50] #449 closed

[2016-08-30 15:02] MOHAMMEDAMRANI82 opened #451 "ABOUT CHANG TH ID WORKED"
MESSAGE FOR Me to rainforest team :
Aujourd'hui à 00h09
"please change my id to : 38715621"

 Answer :
Rainforest Support
Today at 05:46
Hello,
If you completed "Test Applications for Rainforest QA" while this option was still available and clicked "Claim it", check your CrowdFlower notifications and add your email address using the claim link in the instructions. If you clicked "Claim it" but did

[2016-08-30 15:59] nerdatwork commented on #451
Rainforest **does not** change worker ids.

[2016-08-30 17:31] uqbiii commented on #451
If they start changing ID's then a new business starts of buying and selling, people who have profiles will sell them to even those who don't have any Level badges, or mturk qualifications.

[2016-08-30 17:51] nerdatwork commented on #450
Even if you got a job you will NOT be paid since you came back after 2 years. You should have done a task when the new testers were being recruited. Still try to do a job and check your profile where it shows any payment confirmation. A new job loads when the extension turns to **YES** so as long as it's NO you are good to go.

[2016-08-30 17:52] nerdatwork commented on #447
You mean you clicked "unsubscribe" link inside the email ?

[2016-08-30 18:01] JPierreS commented on #451
Actually there are genuine reasons why people want to change IDs. If you stop working in one given channel you might want to resume work in another.  Sadly, the way CrowdFlower is set up is that you get a different contributor ID on each channel you work on, and Rainforest has no way of identifying you by your CrowdFlower ACCOUNT - instead, they can only identify you through whatever contributor I

[2016-08-30 18:24] JPierreS commented on #447
@prpiro
If you are referring to the STATUS updates you receive by e-mail, then please visit the following:
https://status.rainforestqa.com/

On the top right, click on "SUBSCRIBE TO UPDATES" and enter your e-mail.

--------------

In regards to the tester notification you receive from Rainforest (NOT the status updates)
then you can configure this through your rainforest profile, under "edit profi

[2016-08-30 18:37] HW71 commented on #451
Sorry @uqbiii - can you please explain a little bit more detailed where you see a problem with changing ID's? "Selling accounts"? Seriously?

The "only" problem I see is that for whatever reason RF deicded to identify a tester by his / her Crowdflower Contributor ID. Which (at least from my point of view) is the worst decision a company could take because of two reasons:

1. you make your own busi

[2016-08-30 18:38] JPierreS commented on #445
@sweeneyapps :  In an ideal world yes - but in a world of abuse and cheaters, sometimes harsh measures need to be taken.  I can completely understand Rainforest's decision NOT to pay those trainers.   In regards to the OP, the issue yesterday was due to a bug that caused assignment of  training jobs even after receiving the training complete and passed.   These are training hits that anybody is su

[2016-08-30 18:59] prpiro commented on #447
Thanks JPierreS, !

[2016-08-30 18:59] #447 closed

[2016-08-30 19:21] maciejgryka commented on #446
Hey - we've just posted an update to our news portal about yesterday's training jobs: https://portal.rainforestqa.com/.

[2016-08-30 19:21] maciejgryka commented on #445
Hey - we've just posted an update to our news portal about yesterday's training jobs: https://portal.rainforestqa.com/.

[2016-08-30 19:22] maciejgryka commented on #444
Hey - we've just posted an update to our news portal about yesterday's training jobs: https://portal.rainforestqa.com/. Please close this issue if it answers your question.

[2016-08-30 19:22] maciejgryka commented on #443
Hey - we've just posted an update to our news portal about yesterday's training jobs: https://portal.rainforestqa.com/. Please close this issue if it answers your question.

[2016-08-30 19:22] maciejgryka commented on #440
Hey - we've just posted an update to our news portal about yesterday's training jobs: https://portal.rainforestqa.com/. Please close this issue if it answers your question.

[2016-08-30 19:22] #444 closed

[2016-08-30 19:27] sweeneyapps opened #452 "Leave the page alert in wrong place"
After completing a job, "Leave the page" alert came up.  silly right?

http://imgur.com/a/g5KbA

[2016-08-30 19:46] javiraro commented on #450
Do you know when they do tasks for new testers?

[2016-08-30 19:51] gallois commented on #151
Fixed in upstream. Next Linux VM updates will have scroll on titlebar and scroll to change desktop disabled.

[2016-08-30 19:51] #151 closed

[2016-08-30 19:52] sweeneyapps commented on #445
@maciejgryka  Since it's your "oops bug",   will you pay us for all of the training lessons for those who are not really inside the bad tester's sandbox?   Keep in mind..  some of testers are living in country where their pay are 1 dollar per hour.   Rainforest is their living income and they are loyal to you...  They need to provide for their family.  A day loss isn't good.

[2016-08-30 19:58] RnkSts commented on #452
Same problem(_?_) here. Any info? :U
![screenshot_3](https://cloud.githubusercontent.com/assets/20311303/18104531/7e4885f2-6ec9-11e6-85e9-f31d627b0344.png)

[2016-08-30 20:13] awnosa opened #453 "time for task"
I got task 155 step but can't finish in 60 minutes is each task max 60 minutes to finished?

[2016-08-30 20:14] marius11 commented on #453
You now have 90 minutes instead of 60.

[2016-08-30 20:14] awnosa commented on #453
@marius11 every task 90 minutes

[2016-08-30 20:19] nerdatwork commented on #453
Read this : https://github.com/rainforestapp/tester-chrome-extension/wiki/Idle-Policy

[2016-08-30 20:20] awnosa commented on #453
@nerdatwork thanks alot

[2016-08-30 20:21] nerdatwork commented on #453
You are welcome. If you are satisfied with the response please close this thread.

[2016-08-30 20:23] #453 closed

[2016-08-30 20:23] GreekGuy commented on #452
Just Check the prevent this page.. click Leave and bye bye pop up.

[2016-08-30 20:30] NeoWorker commented on #452
I believe it's because of this:

https://github.com/rainforestapp/tester-chrome-extension/issues/292

[2016-08-30 20:31] #440 closed

[2016-08-30 20:55] pscohn commented on #452
This will be fixed shortly.

[2016-08-30 21:12] sweeneyapps commented on #452
@pscohn thanks

[2016-08-30 21:57] zfonck123 commented on #452
i think is a good, because for error u can leave the page :P

[2016-08-31 03:37] playpin commented on #452
its fixed i guess
this is useful if we refresh the page by mistake in middle of the job

[2016-08-31 06:00] sweeneyapps commented on #452
yeah.. fixed..    :)

[2016-08-31 06:00] #452 closed

[2016-08-31 13:36] #443 closed

[2016-08-31 14:08] josejecr97 commented on #451
@HW71  agree, i think the same .... many users are getting banned from cf and ptc sites, and they are unable to get their payments...

who will send accounts of RF? its not logic , we can make allot of money working here

[2016-08-31 14:09] josejecr97 commented on #451
I'd even more appreciate if RF would offer an alternative payment option ... agree with that too, would be the best thing .

[2016-08-31 14:21] dollydol commented on #446
They just sent an email about the scroll jos that says they're gonna go through rejections for that and fix it because the training job was too difficult. So I'm going to close this issue and hope my rejection will go in the end :)

[2016-08-31 14:21] #446 closed

[2016-08-31 14:32] uqbiii commented on #451
Currently i am also suspended from CrowdFlower and i don't want to work anymore with this unfair system where a third class author can suspend your 2 years old account, suppose i create a new account on CF and at that time rf also offers to change worker id's, what will i do in this case, of course i will change my previous id _(i have 4 ids related to rf, 1 claimed and three unclaimed, because wh

[2016-08-31 16:08] ellmirr0001 opened #454 "Can I do jobs with Desktop PC and laptop"
Hi,
I have two computers, one laptop and one desktop pc, so can I let's say today do jobs with my laptop and tomorrow with desktop pc.

[2016-08-31 16:17] marius11 commented on #454
You can as long as you're not using multiple accounts.

[2016-08-31 16:22] ellmirr0001 commented on #454
yes, it is just one account
Thank you.

[2016-08-31 16:22] #454 closed

[2016-08-31 19:49] sweeneyapps commented on #450
@javiraro There's no answer to your question but if Rainforest felt that they need more testers.   That is when demand is high.    Just like economy..    high demand = more workers.     Right now, there are MORE MORE worker than the demand itself.     It could stay closed for long time until demand is met because too many testers in the system right now.

[2016-09-01 07:53] nerdatwork commented on #433
@jzanotto Have you sent a support ticket ? If yes can you give your support ticket number.

[2016-09-01 08:07] nerdatwork commented on #423
@bilelmz The only thing you can do is click NO and explain that you had an error and you had to restart the job and because of this you see "This email address is already in use" message on the page. You will not be penalized for that.

[2016-09-01 08:10] nerdatwork commented on #394
This is an issue with the HD version of the terminal and Rainforest is working on fixing it. Thank you for notifying.

[2016-09-01 08:10] uqbiii commented on #433
@nerdatwork why you are asking for ticket number, please explain in details, because there is no badge on your profile with "RainforestQA Member", what will you do to this number :smiley:.

[2016-09-01 08:11] nerdatwork commented on #448
Have you submitted a support ticket ?

[2016-09-01 09:13] zfonck123 commented on #445
in my country the salary of 30 days = 22usd  :(

[2016-09-01 09:18] #445 closed

[2016-09-01 11:59] bilelmz commented on #368
@pscohn Happen again.
Kaspersky was enabled, because i completed a job before like that.
I noticed that when the terminal slow. and there is errors such as (something bad happened) the problem happen.
Also, why this problem happen just for the jobs containing 15 step or more?
Can i try to complete a job in another browser (firefox ...)? in this case, Do I have to close the original window in Chrom

[2016-09-01 13:48] bilelmz commented on #368
Another one!
![sans titre](https://cloud.githubusercontent.com/assets/20234458/18169669/7fe84dd2-705b-11e6-92c3-95250d2a7c83.png)

[2016-09-01 16:19] pscohn commented on #368
@bilelmz my question isn't whether you can complete a job with kasperspy enabled - it's whether you ever get the error with it disabled. Can you disable it for every job and let me know if it solves the problem? It may have to do with the amount of data in the request that kasperspy could be blocking for certain jobs (with a lot of steps) and not others.

[2016-09-01 17:11] JPierreS commented on #428
Indeed I agree with @marius11 - Whilst you can write paragraphs into 1 line, it would be much cleaner to provide a text box.  However I think the intentions for this survey is not to write paragraphs - The main part is the survey, you are rating the virtual VM, the test instructions and the tester interface which is self explanatory.  You can send the right message with a small note.

For example

[2016-09-01 17:32] bilelmz commented on #368
@pscohn I'll try.
What about the other question: Can i try to complete a job in another browser (firefox ...)? in this case, Do I have to close the original window in Chrome?
Is it possible that the problem related to Internet connection (DNS ...)?

[2016-09-01 18:27] qpPykT commented on #433
@uqbiii
I think he's one of the...

[2016-09-01 18:56] bilelmz commented on #368
@pscohn This time, Kaspersky was disabled.
I restarted the job and completed it.
![sans titre](https://cloud.githubusercontent.com/assets/20234458/18180270/61fe861c-7086-11e6-9913-e585874bd054.png)

[2016-09-01 19:40] HW71 commented on #428
Hi all,

of course one can write "Steps are confusing". For that a single line field is absolute sufficient. But at least when I write test cases @ work and send them to review I expect a little bit more than that.

On the other hand the survey and the related feedback is most probably intended for RF (while the comment we leave after clicking "No" gets read by the client). So I guess both feedbac

[2016-09-01 20:02] jzanotto commented on #433
I am a new tester since August 1st and I want to konw when I'll be part of the team rainforest.
I have shown that I can do this job.

[2016-09-01 21:26] qpPykT commented on #433
@jzanotto
Registration for new testers was closed on 29 July. When the registration will be open again, nobody knows.

[2016-09-01 22:10] JPierreS commented on #428
These are not read by clients directly, but rather by one of the CSMs who work with the clients  :)
I guess having a bigger text box would be good for some situations that warrant more explanations.
I guess this would not hurt.  :)

[2016-09-02 00:06] hupapa opened #455 "Security error"
Hi all.

I´m trying to do a HIT but all of the sudden I get a " An IO error occured: ioError, Error #2031 " error.
I looked into the Wiki and refreshed the HIT but now the VM wont even load and the same error appears.
Refreshed a 3th time and same thing.
The HIT itself doesnt have the option to refresh sending feedback to RF about the error and the Reconnect option gives the same error...
Should i

[2016-09-02 01:07] zfonck123 commented on #455
u need only clik and button restar job and reporting the error inssue vm

[2016-09-02 01:18] hupapa commented on #455
Thanks for your response.
Like i said, that button was not there. There´s was just the " Reconnect " button and that one didn´t work either.

[2016-09-02 01:31] suplazam opened #456 "Problem with do jobs You have reached... bug in my account"
In this afternoon I had a problem with the jobs. The jobs says "You have reached the maximum number of unsubmitted assignments". After a while it seems off and the extension gives me a link without work. I refresh the job but then for no reason I get the same and I can not perform work . Please help me with this problem.

[2016-09-02 09:13] duda72 commented on #448
Yes I wrote went on biopsy forgotten mail or password, and never got
instructions for resetting passwords

2016-09-01 10:11 GMT+02:00 nerdatwork <notifications@github.com>:

[2016-09-02 09:16] duda72 commented on #448
For months, I can not go in on my profile because I forgot password

2016-09-02 11:13 GMT+02:00 Dusica Jocic <dusicajocic2@gmail.com>:

[2016-09-02 10:59] nerdatwork commented on #456
Try clearing your cache and history from Chrome. If it doesn't work. Re-install Chrome and Rainforest extension.

[2016-09-02 11:01] nerdatwork commented on #455
Did it happen to just 1 HIT or all the HITs ? A refresh should have given you a new terminal without the error message but in some rare instances the error persists.

[2016-09-02 11:02] nerdatwork commented on #448
Please remove your email address from the previous post.

[2016-09-02 11:12] hupapa commented on #455
Today happened again but when i refreshed went back to normal...
Seems that yesterday was just a rare case.

[2016-09-02 11:17] nerdatwork commented on #455
That is great. If you are satisfied with the response please close this thread. Happy testing :)

[2016-09-02 11:21] Levendy opened #457 "Stuck IDs in diferent IP address, locations and ISP"
Last week a friend stayed at home for the weekend and brought his work with him, since then, when He has an open Job, my chrome extension gives me only "no" or "You have reached the maximun number of..." and viceversa, as if the ID stuck togeder. Is this temporary?, if not... Can be Undo this?

[2016-09-02 12:03] marius11 commented on #456
@nerdatwork You should stop advising people to reinstall Chrome. It doesn't make any sense, at all.

[2016-09-02 12:41] awnosa opened #458 "Answer of this test"
any one got this test what's Answer today and yesterday 0.00 of EST.WAGES

I am not found today where in this pic? Found yesterday only sometimes answer yes and no

![untitled](https://cloud.githubusercontent.com/assets/16338438/18203564/a3a1afb8-70cc-11e6-8887-56ec2e2a824d.png)

[2016-09-02 13:03] uqbiii commented on #456
This never happens to me, like when i am facing the "You have reached...", no new HIT opens until the HIT i missed got abandoned, after that if i get a link it doesn't contain this statement, but if you open a previous saved link from history, it will show the same error until the missed job got abandoned, there is nothing to worry about, it takes 10 to 15 minutes mostly, in this time don't open a

[2016-09-02 13:48] marius11 commented on #458
The value for today is right under "EST. WAGES".

[2016-09-02 14:21] #455 closed

[2016-09-02 14:24] uqbiii commented on #457
You should take a look here [https://github.com/rainforestapp/tester-chrome-extension/wiki/Troubleshooting-&-Common-Errors-Explained#you-reached-maximum-of-unsubmitted-applications](url) before sharing internet.
If you are still using the same internet connection, you have to stop sharing to get rid of these messages.

[2016-09-02 15:03] awnosa commented on #458
@marius11 but under EST. WAGES say "yesterday"

[2016-09-02 15:09] uqbiii commented on #458
"vs" is the main thing to understand, which is before yesterday, yesterday is past, and we can't think about future is EST. WAGES, then what is before vs, its present, and present is today, it's a little tricky question but not difficult.

[2016-09-02 15:34] marius11 commented on #458
@awnosa It says in big bold characters **$0.00**. That's the value for today. Under it, you find the value for the day before.

[2016-09-02 15:41] awnosa commented on #458
@marius11 @uqbiii  Thanks a lot I am understand now.

[2016-09-02 15:47] mijorojas commented on #456
Just wait for some minutes and everything will be normal. It has happened to me several times.

[2016-09-02 15:56] #458 closed

[2016-09-02 17:08] Levendy commented on #457
Thank you for answering uqbiii. Certainly we share internet for 2 days but when my friend returned to his house arose the problem I described in the previous comment. My question is: we must do to fix this? we try to reinstall the chrome extension and delete cookies but continue our stuck accounts.

[2016-09-02 17:38] sweeneyapps commented on #457
@Levendy, have you tried logging out and log back in?

[2016-09-02 18:24] bilelmz commented on #368
@pscohn The same again!
Kaspersky was disabled.
So frustrating!
![sans titre](https://cloud.githubusercontent.com/assets/20234458/18214007/2c61df84-714b-11e6-8a16-a324d6c6830a.jpg)

[2016-09-02 18:36] pscohn commented on #368
@bilelmz I'm sorry you're still getting this, I'm not really sure what the cause is. Do you have any other software or extensions that might be blocking network requests?

[2016-09-02 19:16] duda72 commented on #448
Ok

2016-09-02 13:02 GMT+02:00 nerdatwork <notifications@github.com>:

[2016-09-02 19:24] duda72 commented on #448
Ticket number: 16150

2016-09-02 21:16 GMT+02:00 Dusica Jocic <dusicajocic2@gmail.com>:

[2016-09-02 19:41] ddiiego1 opened #459 "Too many Training jobs daily"
Hi, i'm worker 38569716, since like 5 days I've been receiving a lot of training jobs daily (I have passed it all), and it is not allowing me to earn anything.
I know that there was an problem with the platform the past days (I read the portal news daily) but you said that it was now fixed up, but I still having this problem and cant work because of this.
Please take a look and help me.
![14249181

[2016-09-02 20:40] isabel40 commented on #451
I was working for RF in a PTC that it suspended my account. I have active my RF account, but I´m not working because I lose the payment. Actually, I´m working in another PTC that have CF;  there is any way to change the RF payments to this new PTC?  I sent a ticket to RF one week ago, but I haven´t answer :( Sorry if I don´t explain well, Thank you for your help

[2016-09-02 22:10] bilelmz commented on #368
@pscohn All extentions are disabled, i removed Adblock completly.
I have only Kaspersky.
I had many times the security errors (#2048, #2031) related?
Can i try to complete a job in another browser (firefox ...)? in this case, Do I have to close the original window in Chrome?
Is it possible that the problem related to Internet connection (DNS ...)?

[2016-09-02 23:01] uangonline commented on #457
@Levendy If your ISP use dynamic IP, Try to turn off your modem for 10 minutes to get the new IP. If thats not help and you have another computer that never used for RF job, try to login with that computer.
NEVER user same computer for different RF ID.
Hope that's help.

[2016-09-02 23:09] pscohn commented on #368
@bilelmz you can try in firefox, and probably close the chrome tab before opening it. If you have access to a different internet connection, or even computer, it's worth trying to see where the problem is.

[2016-09-02 23:13] uangonline commented on #456
@suplazam It seems you have the same problem as @Levendy, are you the "friend" he is talking about? read #457 and try the solution writen there. Hope thats help.

[2016-09-03 00:06] tulko opened #460 "unsubmitted assignments."
You have reached the maximum number of unsubmitted assignments.

Tester id: 29649019
----- over an hour ago   ------

that happen?

refresh the page after  something bad happened....

please fix this

[2016-09-03 00:16] #460 closed

[2016-09-03 03:21] uqbiii commented on #451
Sorry Dear, but currently you cannot change your worker id, and there are lots of people facing the same problem, i hope their will be a good solution from RainforestQA.

[2016-09-03 04:09] nerdatwork commented on #451
@isabel40 Rainforest does not change worker ids and payment and/or stats from one id cannot be transferred into another id. If and when Rainforest opens it's doors to new testers you can try to claim a new profile but till then I am really sorry there is nothing can be done.

_Thank you for being part of **Rainforest**._

[2016-09-03 04:12] nerdatwork commented on #459
How many rejections have you gotten in the past few days ? The whole point of training jobs is for you to get trained. If you keep on making mistakes you will NOT be taken out of the sandbox and made to do training tasks till you get perfect.

[2016-09-03 10:32] samizle opened #461 "Linking Rainforest Account With Another Channel"
Hello,

I have recently had my Neobux account suspended because I mistakenly used a proxy without even accessing the site. I do not really know how it detected my location change, maybe through the Neobux extension installed on my browser.

Briefly, I hope I get it reopened, if not, is it possible to link my rainforest account to another channel like Clixsense or with another new Neobux account?
W

[2016-09-03 15:42] nerdatwork commented on #461
It is sad to know that your account is suspended @ Neobux but Rainforest **DOES NOT** link accounts or stats or payment from one id to another. The only real hope is if Neobux reopens your account else you have to wait till Rainforest opens it's doors for new testers for you to be able to claim a new profile.

[2016-09-03 15:44] warpten09025 opened #462 "Count total cent make today on portal"
I think the portal need to display the total cent that tester make on the latest day.
So I managed to write some jquery code to do this .
The code is very bad because i'm just a student.
I will post this code on youtube if this is legit :+1:
![image](https://cloud.githubusercontent.com/assets/15846336/18225843/fa482ab6-7227-11e6-8d91-a3b7541c8ace.png)

[2016-09-03 15:50] sweeneyapps commented on #462
it doesn't work that way.  Javascript can't do stuff like this because it will only count the total on each page only.   If you did more than 25 jobs on that day, you will get the total wrong.    What Rainforest can do is write code on their server-side (SQL/NoSQL) to display the daily earning total on the page.

[2016-09-03 15:58] warpten09025 commented on #462
You're right . This is much more easy if  it was on server side .
my code only work on one page so you need to go to page 2 or even page 3,4,5 and just need to do it again ( If page 1 sum is $3 , page 2 sum is $2 then you make $5 on that day)

[2016-09-03 16:52] #457 closed

[2016-09-03 18:09] JPierreS commented on #462
@warpten09025  Unless Rainforest allows to change the value of per page entries (25, 50, 100, 500, etc)
or export the history :D
I'm not too experienced in JS  but I could have a stand alone app do this and much more such as total time taken for all jobs, calculated $/hr, total earning, type of browsers, etc :dancer:

Of course the best method would be server side, but then again it probably is no

[2016-09-03 18:22] JPierreS commented on #461
@samizle  I'm sorry to learn that you got banned from NEOBUX, but what happened is that you got detected through the neobux extension.  Keep in mind that the use of PROXY is prohibited on legit GPT / PTC sites as well.  Obviously you can argue that this was an honest mistake and that you did not click any ads through the use of the proxy.   Send a request to support and be super polite about it an

[2016-09-03 19:31] ddiiego1 commented on #459
I have 4 rejections, but since like 1 week (because of the bug in the training jobs), but in the past few days I had not got any rejections and I pass all my training jobs correctly. Thats my problem.

[2016-09-03 19:43] samizle commented on #461
Thank you @nerdatwork for your support.

@JPierreS thank you very much for this detailed explanation. Guys, trust me I did not use a proxy to fraud Neobux and I made sure I closed the Neobux window before using it, but I forgot to deactivate the Neobux extension which, certainly, was the one detecting my location change.

 It is so stupid the reason behind my using a proxy, but here it is: I used

[2016-09-03 21:57] GreekGuy commented on #462
@warpten09025  download notepad++ ;)

[2016-09-04 01:37] JPierreS commented on #461
@samizle Ok in your case you clearly did not intend to cheat advertisers therefore I think this was an honest mistake.  Whatever you do, do not create a new neobux account, you will not get the same contributor ID you had before.
Try contacting their support through support@neobux.com if that does not work
use tickets@neobux.com and explain what happened.

You received an automatic suspension, so

[2016-09-04 09:39] HW71 commented on #451
@nerdatwork
Since you repeatedly stated "RF does not change worker id and **cannot** forward payment / stats to another id" it would be really interesting for all impacted testers, what the technical reason behind this decision is. As I already pointed out earlier at least from my point of view this is an architectural design flaw on Rainforest end and of course it should be possible to use a diff

[2016-09-04 09:50] nerdatwork commented on #451
@HW71 Please read this: [Can I change CrowdFlower id used for payment](https://github.com/rainforestapp/tester-chrome-extension/wiki/Frequently-Asked-Questions#can-i-change-my-crowdflower-id-used-for-payment)

[2016-09-04 09:54] HW71 commented on #451
@nerdatwork
Is my English that bad?

[2016-09-04 09:56] samizle commented on #461
@JPierreS Thank you very much for your reply and being helpful to me. I have good news. Yes, I got it back. I checked my email box but ain't no reply. I head directly to the site and I found it running back to normal. And I could also cash out successfully. Thank God!

There is truly nothing more I was sad about is losing my Rainforest account than losing Neobux with the cash inside. I extremely l

[2016-09-04 09:57] nerdatwork commented on #451
Nope but I know someone who can give you a very detailed reply ;)

[2016-09-04 10:03] nerdatwork commented on #461
@samizle I am very happy that you got your account back. It is good to know that honest members are getting the right support they need. Learn from these mistakes and help others when they face issues. Let's be an awesome community of testers working towards providing quality results.

**_Keep the faith and Happy Testing_**

[2016-09-04 10:21] HW71 commented on #451
OK, and this "someone" can be found in the FAQ, or what? Sorry, I don't get the point why you initially linked to the FAQ ... :-( Anyhow: I'm really glad to hear that you know someone who could give a detailed reply :-) - but this doesn't help the rest of us, right? And if I have a look through the tickets opened recently there are a lot of similar issues related to this (as "expected" some weeks

[2016-09-04 10:38] hagenes opened #463 "Clixsense problem."
What should we do? What if he does not recover ?

[2016-09-04 10:57] runna17 commented on #463
Instead ClixSense opens gay porn site.

[2016-09-04 11:04] HW71 commented on #463
Wow! Just double-checked - happens for me, too!
Now [my request for having additional payout options](https://github.com/rainforestapp/tester-chrome-extension/issues/451#issuecomment-244594788) (like Paypal) gets even more important! Didn't thought that this could happen to big PTC sites like ClixSense, but anyways. Keeping fingers crossed that this gets fixed by ClixSense, soon!

[2016-09-04 11:52] A1xx commented on #463
Do anybody know is there any way to change worker ID? I work on CrowdFlower with clixsense and neobux, All payments from rainforest go to clixsense . Is there anyway to change it on neobux or other ptc? Or what shoud we do if clixsense will not work again.

[2016-09-04 12:01] HW71 commented on #463
@A1xx Well, as you read in the thread I linked in my post above there's on ongoing discussion regarding "Change of worker ID".

Unfortunately the CURRENT situation is: Rainforest will not offer the possibility to change the Crowdflower Contributor ID because of a unlucky design decision taken most probably early in the beginning. Point is: Rainforest uses the Crowdflower workder ID to uniquely ide

[2016-09-04 12:29] A1xx commented on #463
@HW71 Thanks for reply. So, right now I can't work with RF anymore( I hope ClixSense will recower

[2016-09-04 12:57] susgar77 commented on #463
I'm in the same situation, and very terrified of what might happen. I do not understand why not let us change PTC.

[2016-09-04 13:00] HW71 commented on #463
@A1xx You're welcome... :-) Actually you should still be able to work on Rainforest tasks, right? Assuming you use the Chrome extension you would still get HITs and can work on them. And the bonuses should get forwarded via Crowdflower to ClixSense. Of course the payout from ClixSense is a bit uncertain right now, but if we assume that it "just" a hack and ClixSense is still in business (what I de

[2016-09-04 13:08] HW71 commented on #463
@susgar77 As mentioned in several other places it's not that easy: I totally second the view of Rainforest that changing this would have MAJOR impact on ther side, because as of new every Rainforest account is directly linked to a Crowdflower Contributor ID.
What does that mean: if they would allow us to change our Contributor ID then we would get a NEW Rainforest account and loose our pending pay

[2016-09-04 13:10] samizle commented on #461
@nerdatwork I am truly glad to have my account back and delighted to be a part of this supportive and helpful community. Thank you for your assistance, I appreciate it!

Keep up the good work and happy testing! :)

[2016-09-04 13:10] #461 closed

[2016-09-04 13:24] nerdatwork commented on #463
Clixsense is an old trusted site and they take backup of their site on regular basis. As soon as they open their offices they will take action to restore the site like any other business will do.

@HW71 You know all the answers yet you look clueless.
What you suggest is 100% correct and yes there should be a way to get independent payments directly from Rainforest but since Rainforest has used Cro

[2016-09-04 13:27] EricBen commented on #463
Hello Everyone, first let me apologize for the issues today. Over the last several weeks we have been the target of a hacker who I believe first created the bot csadviewer and then moved on to submitting ads that when a viewer opened an attachment that popped up they got infected and their PC was compromised. Today, this hacker changed our DNS to a wonderful gay porn site. They removed our website

[2016-09-04 13:32] A1xx commented on #463
@EricBen It's a great news. Thank you. I hope Jim can handle it in short time.

[2016-09-04 13:35] nerdatwork commented on #463
@EricBen Where did you see this originally ?

[2016-09-04 13:36] HW71 commented on #463
The statement from Jim can be found here:
http://www.emoneyspace.com/forum/index.php/topic,413038.msg3874504.html

[2016-09-04 13:45] susgar77 commented on #463
My question is, if CrowdFlower offers us the opportunity to do their tasks
 with different ID according to the page for that work, why can not associate other of these IDs to account Rainforest and receive payments on the other page?
Would continue working with CF and RF also

![sin titulo](https://cloud.githubusercontent.com/assets/21985504/18231295/92adf75c-72b6-11e6-907d-fe4c18122538.png)

[2016-09-04 13:46] susgar77 commented on #463
My question is, if CrowdFlower offers us the opportunity to do their homework with different ID according to the page for that work, why can not associate other of these IDs to account Rainforest and receive payments on the other page?
Would continue working with CF and RF also

![sin titulo](https://cloud.githubusercontent.com/assets/21985504/18231299/bdbf4414-72b6-11e6-99d7-d4f8188ccc5d.png)