[2016-06-22 18:26] zfonck123 commented on #244
same here, and in another jobs same too

[2016-06-22 18:36] khristianjose commented on #244
Same here, With Rf test and Twyla too, white and gray screens.

[2016-06-22 18:36] pscohn commented on #244
It's not your job to worry about bugs that happen for websites under test. Please just follow the test instructions and answer "Yes" or "No", and only report issues with the testing interface/assignment/extension here.

[2016-06-22 18:36] #244 closed

[2016-06-23 02:47] cayejon commented on #231
Hello Goodnight. I have the same problem. I sent a ticket to support, where I explain the possible causes (unsolvable). Would please solve my problem. Greetings and long life to Rainforest.

Note: Ticket # 12297

[2016-06-23 02:48] cayejon commented on #231
Hello Goodnight. I have the same problem. I sent a ticket, where I explain the possible causes (unsolvable). Would please solve my problem. Greetings and long life to Rainforest.

Note: Request #12297

[2016-06-23 06:56] angelfelixgarciamolina commented on #24
The problem of the ID's is de CrowFlowder o RainForest? The paid is aboned in RF but not arrived in CF

[2016-06-23 10:06] aneesahmad commented on #228
We are not supposed to have more than one account in crowdflower. I would like to ask you, do you have any connection/relation with the technical members of RF? Because this thing happened because of a fault from RF side, they are supposed correct it for me. RF changed my id once for no reason and now they are saying that they can't change it back. Actually the support from RF replied that they ar

[2016-06-23 12:05] jeloy1 commented on #24
I did training in rainforestqa and I passed successfully, I got the notice: "Your training is complete Hi guerraeloy1, Great news: your training is complete You will now be reliable to do regularly work for us Happy testing Rainforest QA!!! Team ps view your profile here ... " but is not reflected bonds each task on my profile rainforestqa. Nor is it reflected in my ClixSense.

[2016-06-23 12:07] jeloy1 commented on #24
I did training in rainforestqa and I passed successfully, I got the notice:
"Your training is complete Hi guerraeloy1, Great news: your training is
complete You will now be reliable to do regularly work for us Happy testing
Rainforest QA!!! Team ps view your profile here ... "but is not reflected
bonds each task on my profile rainforestqa. Nor is it reflected in my
ClixSense.

2016-06-23 2:56 GMT-

[2016-06-24 06:08] mikesez opened #245 "Can not switch IDs"
Hello, I have two id (one from elite  and other from neobux), but I dont know how to get into elite profile, I suppose that I forgot an email address which I registered it with (because when I try the only one i remember it shows me my neobux id profile), is it somehow possible to get inside anyways if I have the "grab your profile" code?

Please help, I have already wasted 6 dollars because it we

[2016-06-24 06:29] mikesez commented on #245
P.S. I tried to find email when i was grabbing my elite profile, but it navigates me to a page with email filled-up, and it is the same email that i have in neobux id.. What should I do?

[2016-06-24 06:35] marius11 commented on #245
You should send them a support ticket.

[2016-06-24 10:32] nerdatwork commented on #245
@mikesez The site from which you did the Rainforest job, that site's Crowdflower id is associated with your Rainforest profile. If you have claimed your profile by visiting the link you got in the Crowdflower notification then that is how you login to Rainforest portal. From what you are trying to say. You have claimed Rainforest profile from Neobux and Elite portals. Now since you cant remember w

[2016-06-24 11:28] duda72 opened #246 "I cant claim my profile"
I cant claim my profile, i click on claim, but no notification message come in my crowflower notification inbox, please help me.

[2016-06-24 11:37] nerdatwork commented on #246
@duda72 After you click on the claim profile link, you need to login to the portal at https://portal.rainforestqa.com/login. After you login to the portal you can install the Google Chrome plugin by clicking the "Get Chrome Extension" button in your portal. There is no notification in Crowdflower for any of this process.

[2016-06-24 11:51] duda72 commented on #246
@nerdatwork
I did so and again
I can not log in to the portal to this link. Login
Invalid email and/or password.

[2016-06-24 11:53] nerdatwork commented on #246
@duda72 Click the "Forgot Password" link and try again.

[2016-06-24 11:56] duda72 commented on #246
@nerdatwork
Thank you. I repeated to himself by repeatedly but nothing we do not arrive at the email

[2016-06-24 11:57] nerdatwork commented on #246
@duda72 You need to wait for the email to arrive in your inbox. Did you successfully request your forgotten password ?

[2016-06-24 12:03] duda72 commented on #246
@nerdatwork
 how long i should wait ?
i go on forgot password before ,and nothing.

[2016-06-24 12:06] nerdatwork commented on #246
It depends on the email provider. Sometimes it gets within few mins sometimes it takes hours. If you dont get the email for a long time. You can send a support ticket at tester@rainforestqa.com

[2016-06-24 12:12] duda72 commented on #246
Thank you. I am waiting

2016-06-24 14:06 GMT+02:00 nerdatwork <notifications@github.com>:

[2016-06-24 12:13] DarrE9o commented on #246
I think that you dont understand her, she dont have link to claim.  When i claim my profile, i go on claim it, then i give notification that says, you want to claim your profile, good to hear that and then they give me link to go, something like that... ANd when she go on claim it, nothing happened...

[2016-06-24 12:17] mikesez commented on #245
Yes I sent tickets but no reply for a long time :(

Actually I am not sure if i used fake email or not, because it is really long time ago, but i have tried many of my emails and none working..

[2016-06-24 12:19] nerdatwork commented on #245
@mikesez The support desk is filled with tickets so it takes time for them to reply back.

[2016-06-24 12:28] mikesez commented on #245
Just a question, is it possible to have same email on both accounts? Cause when I click the address i used to claim my account 6 months ago, it leads me to page where i should fill my password, but the email is already filled and it is the same I have on my neobux id. (When I submit it tells me that this account is already claimed..)

[2016-06-24 12:40] nerdatwork commented on #245
The already filled email is a "feature" of Chrome so if you remember the exact email you used you can enter that and proceed accordingly. Which two accounts are you talking about ?

[2016-06-24 13:56] iamdric opened #247 "Account Blocked during Training mode"
When I was doing the training mode, I reported errors with the steps. But the system rejected my answer. I kept doing it and I ended up getting rejected for 12 times. Now my account is blocked. After sending a ticket, I received a notification that the job I did was accepted. But my account is still BLOCKED. My ID is 37267524
![evidence 1](https://cloud.githubusercontent.com/assets/20128671/163396

[2016-06-24 14:00] marius11 commented on #247
Your tasks will be approved (and paid) regardless if you did them correct or wrong. Use the green "Help" button from the top right to contact Rainforest.

[2016-06-24 14:03] iamdric commented on #247
I already did. I'm worried of what Wiki states that if I'm blocked, I'm blocked forever... Which is why I'm raising this issue. I've been assisted but I'm still blocked.

[2016-06-24 15:08] nerdatwork commented on #247
@iamdric The sheer amount of rejections is the keyword here. It clearly states the reason too. Rarely accounts are unblocked so I would advice not to raise your hopes up. Since you have already raised a support ticket. It will be answered in due time.

[2016-06-24 15:14] nerdatwork commented on #224
@JrRandy If you arent facing this issue again I would recommend closing this thread so Rainforest can focus on other open threads.

[2016-06-24 15:53] iamdric commented on #247
That is exactly what I'm worried about. Hopefully, they investigate the screenshots automatically made by the system. It was hard getting a profile and losing it just because I reported the right answer is just frustrating.

[2016-06-24 15:57] nerdatwork commented on #247
It clearly said you didnt follow instructions and trust me I have seen other testers that have been blocked. They surely will check before replying to your support ticket but again dont get your hopes up.

[2016-06-24 16:18] sbanquez922 opened #248 "Any ideas on why this error came up?"
![lost 2](https://cloud.githubusercontent.com/assets/19278419/16343470/f4782b1c-39fc-11e6-93a1-e0383d536e38.png)
![lost 3](https://cloud.githubusercontent.com/assets/19278419/16343474/f8a8db6e-39fc-11e6-9b5d-27b09a094385.png)

I keep getting this error today.
Refreshing the browser is not helping.

[2016-06-24 16:26] iamdric commented on #247
First picture shows that my job is accepted after filing a ticket. But still blocked.

[2016-06-24 16:30] nerdatwork commented on #247
It isnt a job acceptance notification that you see at the very first message from Crowdflower. That was a bonus notification which you got after you did 13 jobs. Currently you get 10% bonus for doing 10 or more jobs and 20% for 100 or more. So after your account got blocked you wont be able to do any jobs but since you did do more than 10 jobs you got the bonus. Was that helpful ?

[2016-06-24 16:34] nerdatwork commented on #248
Is this happening to all the jobs that load. If so try reinstalling Chrome and it might help. Also could you tell me what is the icon to the left of Rainforest Extension ?

[2016-06-24 16:37] iamdric commented on #247
Even when it stated that it approved 13 jobs earning 13c ? In RF, you still get a bonus even if your job is rejected ? And yes, your comment is helpful.

[2016-06-24 16:40] nerdatwork commented on #247
All jobs that show paid to you amounts to you doing them and getting credited for the same. Since you did 13 jobs and were paid for them, you met the criteria for the bonus.

[2016-06-24 20:38] tulko opened #249 "rainforest tester notifier"
You could add a little red dot, or something like that when there is a new notice?

[2016-06-24 22:02] alfredolol opened #250 "problem with work crowflower"
I have a problem never before I created a profile to work with rainforest but when entering the work from crowflower I get a message saying that I already have an account that I can do? , and try recuperr password but never arrives already have more than 48 hours waiting for the message in my mail has not arrived

[2016-06-25 02:09] iamdric commented on #247
I see.. so now all I can do is wait. How long does it usually takes to at least to reply to me based from your experience?

[2016-06-25 02:18] nerdatwork commented on #249
Good idea but there are lot of other stuff pending to be done but eventually we all can hope to see that implemented.

[2016-06-25 02:19] nerdatwork commented on #250
Send a support ticket at tester@rainforestqa.com with all the details and Rainforest will help you.

[2016-06-25 02:20] iamdric commented on #247
Okay I've received a reply. This is frustrating. Any RF qa here please explain how I failed to follow instructions. I print screened 1 job only. there's another 11 which I will not print screen for now. RF please explain. Whoever check my ticket, please re-check again.

![rf unfair 2](https://cloud.githubusercontent.com/assets/20128671/16354190/3f3106bc-3abe-11e6-973e-467da793c734.jpg)
![rf unfair

[2016-06-25 02:25] nerdatwork commented on #247
@iamdric Double screenshots is an automatic rejection in your case.

[2016-06-25 02:28] iamdric commented on #247
What do you mean by double screenshots? I only clicked once during the 1st step ! This is the system's record that I can see in my profile.

[2016-06-25 02:28] kaytsu commented on #247
The step that you didn't follow will have a red X next to the word yes or no. On the step before did you use the white search box to look for the book title or did you just scroll down? The directions said to use the search box.

[2016-06-25 02:32] iamdric commented on #247
Manually searched it. But the 1st job I did was correct and I did exactly the same.

[2016-06-25 02:33] nerdatwork commented on #247
@iamdric If you had used the search box only 1 entry should have been shown on the page. Since it doesnt it means you didnt use the search box hence "Didnt follow instructions"

[2016-06-25 02:35] iamdric commented on #247
Yep I understand. But the first job I passed with the same method. So I thought all are the same. which is to just locate. Now I can't get another RF account. great. GG

[2016-06-25 02:36] nerdatwork commented on #247
The keyword is "FOLLOW INSTRUCTIONS", if the first job was done according to the instructions then it was accepted else it would have been 13 out of 13 for you.

[2016-06-25 02:37] iamdric commented on #247
Yes it was accepted without using the search box. That's why I thought it is the same throughout. My bad.

[2016-06-25 02:37] kaytsu commented on #247
When you failed your 2nd job you needed to look and see why you had failed so you wouldn't continue to make the same mistakes. But you continued to fail the training lessons without apparently learning from your mistakes so they blocked you from continuing.

[2016-06-25 02:38] nerdatwork commented on #247
@iamdric If you are satisfied with the responses you got, I would recommend closing this thread.

[2016-06-25 02:38] iamdric commented on #247
I understand. No more RF for me then.Since I can't get another account anyways.

[2016-06-25 03:02] #247 closed

[2016-06-25 06:58] mikesez commented on #245
Solved now :)

[2016-06-25 07:07] nerdatwork commented on #245
Great please close the thread.

[2016-06-25 07:14] mikesez commented on #245
Ok, just for info, both accounts were on the same email and i could not get to acc which i wanted (must have changed email in the first account and then it was ok, but there are some bugs which are making it hard to reset your password..)

[2016-06-25 07:14] #245 closed

[2016-06-25 09:00] Vasil-RainforestQA-Tester commented on #24
Guys all we experience almost same problems. At that moment as regular tester I can confirm that Rainforest try to respond quickly as posible of any issue and support tickets feom all of us.  We are so many ! Try to think from their side too. Its not so easy to be managed and separately our payments depends from third party - CrowdFlower and/or their contactors. Be confident. Most of the issues de

[2016-06-25 12:25] Deepak0988 opened #251 "Latest Updated Extension polls for work less frequently which means less work for testers ...20 Jun 16"
Recently on 20 Jun 16 the extension was updated which polls for the work less frequently when compared to the previous version of extensions.

Surely it will reduce the load on Rainforest servers but ultimately we testers are getting less work from past week.

Please update are you facing the issue too.

[2016-06-25 13:16] tulko commented on #251
no longer I need to be recharged. also it is less the message "missing virtual machines"

[2016-06-25 14:21] marius11 commented on #251
Every user of the extension uses the same polling frequency, which is 16 seconds.

I don't really see the issue in that.

[2016-06-25 15:29] nerdatwork commented on #251
@Deepak0988 How did you figure out the extension is polling less frequently now ?

@marius11  How do you know its polling for exactly 16 seconds ?

[2016-06-25 16:00] marius11 commented on #251
@nerdatwork You can check the extension's source code by clicking the "Code" tab next to the "Issues (_)" where _ can be any number at the top of the page. :)

- The file which was recently modified: https://github.com/rainforestapp/tester-chrome-extension/blob/develop/src/constants.js
- The list of modifications to the above file: https://github.com/rainforestapp/tester-chrome-extension/commit/a8

[2016-06-25 16:18] nberchev commented on #251
Yep, definetely I receive twice less work this week. RF warned about it on the AMA's but said that they are also adding new clients and the two things will balance eventually. I just hope the quality of work do not lower during the process.

[2016-06-25 17:00] nerdatwork commented on #251
@marius11 Thank you, that was insightful.

[2016-06-25 18:00] nerdatwork commented on #251
@Deepak0988 I understand you not getting more jobs but this is an update done by Rainforest to better address the error messages that testers are facing. This **IS NOT AN** issue since github is a place to report issues. I recommend closing the thread.

[2016-06-26 01:17] #251 closed

[2016-06-26 10:25] uqbiii commented on #246
same happened to me in 2 time, then i repeated the whole procedure and when it comes to submit my email and password at signup, i clicked Save instead of hitting enter and it worked. I hope it works for you. Another thing you won't receive any email about forgotten password, because in their system you are not signed up.

[2016-06-26 11:41] nerdatwork commented on #249
@tulko This is considered as a suggestion and not an issue for which this particular section is meant for.

[2016-06-27 05:47] RezwanulHaque opened #252 "extension 'YES' but no job receving"
Hi, I have noticed chrome extension is YES but no Job is reeving. Its happening from last two day's.
Please check.

[2016-06-27 06:17] nerdatwork commented on #246
@duda72 Is your issue resolved ?

[2016-06-27 11:39] Narashima219 opened #253 "Terminal Error"
A security error occurred (Error #2048).
Please check you can connect to http://v084.ext.prd.rnfrst.com:843

[2016-06-27 12:23] nerdatwork commented on #252
So you have not done any job in last 2 days ? Even after receiving YES on the extension ?

[2016-06-27 12:24] nerdatwork commented on #253
In such situations click NO and report the error you see on the screen in the note that pops under the NO button. That is how you should be working. This place isnt for posting that issue.

[2016-06-27 13:38] RezwanulHaque commented on #252
It was. But now I am receiving job. Did two jobs in last 5/6 hrs.

From: nerdatwork [mailto:notifications@github.com]
Sent: Monday, June 27, 2016 6:23 PM
To: rainforestapp/tester-chrome-extension
Cc: RezwanulHaque; Author
Subject: Re: [rainforestapp/tester-chrome-extension] extension 'YES' but no job receving (#252)

So you have not done any job in last 2 days ? Even after receiving YES on the ext

[2016-06-27 15:02] qpPykT commented on #252
@nerdatwork
Fellow, how many hits you get in an usual day?

[2016-06-27 22:40] tulko opened #254 "screenshot problems"
They have become problems in taking a screenshot in almost every test.

[2016-06-28 05:21] nerdatwork commented on #252
@RezwanulHaque If your issue is resolved please close this thread.

[2016-06-28 11:56] RezwanulHaque commented on #252
Usually I get 15/20 jobs per day (in week days). But last couple of days I did get very minimum jobs. from this morning I am getting jobs, like I got~10 jobs.

Thank you

[2016-06-28 11:57] #252 closed

[2016-06-28 13:24] felipeinsanobr opened #255 "(REQUEST) - REMOVING SAFARI BROWSER"
HOW WE ARE WORKERS RAINFOREST, I MAKE SURE HOW SO I AND MANY We think NEVEGADOR OF SAFARI IS VERY SLOW AND OTHER Hinders AT WORK.
US WHEN CAUGHT SAFARI JA FICO NERVOUS. IS COMPLICATED TO CATCH A 20 STEPS OF WORK ON SAFARI FOR ONE MORE THAN 80 STEPS ... PLEASE ASK OF YOU THE OPINION WORKERS FOR A RESPONSE TEAM RAINFOREST.

[2016-06-28 15:53] duda72 commented on #246
I have not succeeded. The order I made in December but the new members are
not able to operate TV. That's why I did not pay much attention and now I
do not know the password to join the order. When I go to the forgot
password option is stated that she would send me instructions but nothing
happens

2016-06-27 8:17 GMT+02:00 nerdatwork <notifications@github.com>:

[2016-06-28 16:19] nerdatwork commented on #255
@felipeinsanobr First of all writing is all caps is considered at yelling. I understand you are frustrated but that does not mean giving up on talking politely. Secondly Safari is for clients that want to test their websites/applications on iOS or MAC operating system so you cannot expect Rainforest to remove it just because you are unable to do the task.

[2016-06-28 16:53] ddiiego1 opened #256 "Missed payments after 1 day"
Hi, yesterday I worked all the day, and in my count, I made at least 15$ but in my gift hunter account I did just receive like 6$, there's a lot of payments that I dont see added to my gifthunter account, even if it appears as paid in crowdflower and the portal, specially these payments: 678335071  678335071  678335071. But that ones are not the only delayed, there's a lot of bonuses I did not rec

[2016-06-28 17:00] ddiiego1 commented on #256
I'm tester 35076405

[2016-06-28 17:25] felipeinsanobr commented on #256
here are normal !
I work in Elite ... don't have discounts equal others sites ... Clixsense, neobux ...

[2016-06-28 17:34] Julekhaakhter commented on #256
It happened to me also. Rainforest Job ID's are: 6627000 and 6626680.

[2016-06-28 18:37] ddiiego1 commented on #256
It still happening today, its frustrating to know that I'm working for nothing, look at the first image, there appear the bonuses as paid, but look at the second image, in my gifthunter account, it was not added, so I'm working for nothing.
![2](https://cloud.githubusercontent.com/assets/19738677/16427818/d21d4abc-3d34-11e6-9ff6-1fee0faa3f84.png)
![1](https://cloud.githubusercontent.com/assets/197

[2016-06-28 18:43] felipeinsanobr commented on #256
Well come on, I will try to explain to you what's going on ...
The CF is like the central payment network ... the only company that is the CF is the Elite.
Other companies like Neobux, Clixsense, IntaGC and others (including yours) they are companies of which are linked with CrowdFlower. ie they take a certain% of your gain for them ... then there is the Rainforest standing stealing ... but you ar

[2016-06-28 18:46] felipeinsanobr commented on #256
which site for which you do the tasks?

[2016-06-28 18:48] ddiiego1 commented on #256
Oh man, I understand that, I know that the only page that does not have a fee is CFElite, and that's not the problem, just take a look at the images, I work in gift hunter club, and I know that they pay me 3,68c for every 4c that I made, I know it. The problem is that the bonuses just appeard as paid (with ghclub taking the fee) but I did not receive my part. do you understand me now?

[2016-06-28 18:53] felipeinsanobr commented on #256
So the problem is with your PC and not with the Rain.

[2016-06-28 19:05] uangonline commented on #256
@ddiiego1 You should contact gifthunter since it seems the problem is between CF and gifthunter. It was happened before with clixsense. If you already received email in your CF notification for the work you've done, it's mean RF already send the payment to your CF id account.

[2016-06-28 22:30] tulko commented on #255
Safari has some problems, but trust me improved a lot. I mention you have to consider that the staff is working constantly to make improvements

[2016-06-28 22:33] pscohn commented on #255
We are also working on improving our metrics for our VM performance, which will help us debug and improve the terminals. As @nerdatwork says, we can't remove the VM because our customers need them, but in the meantime you can either check your network connection and make sure it's good, or provide us with more detail about what's not working properly.

[2016-06-28 22:33] #255 closed

[2016-06-28 22:39] tulko commented on #256
I can make myself CF elite using the same identifier currently I have with neobux?

[2016-06-28 22:40] #249 closed

[2016-06-29 02:51] Julekhaakhter commented on #256
I have two other missing payments today for ID's 6687396 and 6687164. Rainforest portal and CF says paid but did not arrive at gifthunterclub. Is there any way to migrate from gifthunterclub to other channel?

[2016-06-29 03:50] nerdatwork commented on #256
@ddiiego1 The problem is with gifthunterclub since payment is released by Rainforest to CrowdFlower and CrowdFlower shows you via notification in their portal. Ask gifthunter support to look into this and give you details of any payments made and show them the payment proof. Since from your screenshots its evident that Rainforest and Crowdflower have paid you.

@tulko Yes you can but since you are

[2016-06-29 04:20] ddiiego1 commented on #256
@nerdatwork Thanks a lot, I understand that the problem is the gift hunter page, so I will close this thread because rainforest has nothing to do with this.

[2016-06-29 05:47] nerdatwork commented on #256
@ddiiego1 I got a notification for your message about closing the thread but its not on this thread. Did you create then delete your post ?

[2016-06-29 08:22] JPierreS commented on #256
The issue you are having is between CrowdFlower and the channel you are working from. You should contact gifthunter directly in this case.  Are you getting issues with other tasks not paying ?

Also keep in mind sometimes you can receive bonus payments merged together on some channels, for instance 2 tasks' bonuses merged into 1.  It will show individually on your CrowdFlower inbox, but you might

[2016-06-29 14:51] tulko opened #257 "Fewer and fewer jobs"
I understand they want to have new testers, but think we are experiencing frustration old testers.
Explain which is the ideal configuration to be on equal terms.
According to RF is not about speed or the ping?
Then randomly assigned?
That way your system simulates randomness.
They continue to work to change the system to assign test?

[2016-06-29 15:09] tulko commented on #257
RF said that whoever comes first is who has the job
I have to run a marathon, train there anything I can do to make deserving of a test?
I took almost two years and nearly 2000 test, there are new testers who are doing more tests and takes less than a month.
RF I ask to you that seems just?

Use channels, allocate medals, priority system.

I think RF is not taken into account nor old, neither the

[2016-06-29 16:07] zfonck123 opened #258 "you have reached."
You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit.

How many minutes for can dissapear that ?  i have this error, when visual of plataform change...

[2016-06-29 16:13] zfonck123 commented on #258
my friends have a same problem

[2016-06-29 16:21] felipeinsanobr opened #259 "Unexpected token < in JSON at position"
What's it ?

[2016-06-29 16:22] qpPykT commented on #257
It's so unfair when some testers get 40-60 hits per day while others get 5-15 hits. It's like a chaos.

[2016-06-29 16:25] ddiiego1 commented on #256
Yes, I understand that rainforest has nothing to do with this problem, but I cant close the thread. Thanks everyone, and for the persons that see this, GIFT HUNTER CLUB is not paying the bonuses, time to get out of there.

[2016-06-29 16:25] #256 closed

[2016-06-29 16:26] pscohn commented on #259
When someone sees this, can they provide a screenshot of the javascript or network console, wherever they see an error? It will be due to some bad network request.

[2016-06-29 16:26] jombere commented on #258
me to.

[2016-06-29 16:30] nuevao commented on #257
Everything was fine until Monday, you can not be going but I think RF is updating the platform, I think you have to have a little patience, no one should be few hit's otherwise we will take our time and devote ourselves to something else, and RF will always be new people who arrive and are disappointed by low incomes. let's hope that everything goes better in the remainder of the week. Greetings.

[2016-06-29 16:33] zfonck123 commented on #258
.... about 50minutes in you have reached :/

[2016-06-29 16:38] khristianjose commented on #257
Yep ive been receiving like 15 jobs per day when the last week i was doing like 40 per day, its so sad, im an old tester too, have like 2k+ jobs done. Lets hope this will be fixed soon.

[2016-06-29 16:40] zfonck123 commented on #257
new update with alot errors u.u, and need more speed conection and better pc lol... soo bad

[2016-06-29 16:41] ahmedofhell commented on #258
same with me.

[2016-06-29 16:41] zfonck123 commented on #259
same here, and you have reached too

[2016-06-29 16:43] erdeminofff commented on #258
Every tester have same problem. We are not getting any hit becasue of this reason

[2016-06-29 16:47] felipeinsanobr commented on #259
when it appears again I send print.
now he stopped ... but that tava appearing in place of another ...
and now is just stuck on you have done ... I have a group of friends in vk.com, everyone is trapped You have done the maximum and submit the time the portal. rainforest, profile ta buggy TBM.
in addition to the delay when we submit it is taking too long to appear on the list of historical and pay

[2016-06-29 16:48] felipeinsanobr commented on #259
It is just so ...
http://puu.sh/pKnKW/567e464cd6.jpg

[2016-06-29 16:51] GersonTavare commented on #259
Same here and maximum error since the exchange of layout was made.

[2016-06-29 16:52] zfonck123 commented on #259
60minutes with a same error

[2016-06-29 16:52] uangonline opened #260 "Becarefull of IOFFICE job."
You will get rejection even you give correct answer. And no submitted time appear in the history.
![rainforest tester portal1](https://cloud.githubusercontent.com/assets/17927929/16461007/93f979a6-3e54-11e6-9816-4b68efc32c5e.jpeg)

[2016-06-29 16:53] MarinaCec opened #261 "Interfacet Update and "You have..." message"
The new layout is very weak color, I can hardly see and is very annoying to have to zoom out to see the whole screen, many small letters... and I don't know, but after the update also have the message "You have Reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. you can complete the other assignment (s) and refresh this

[2016-06-29 16:55] zfonck123 commented on #261
i want back the old school. the new school is soo bad..

[2016-06-29 16:55] GersonTavare commented on #259
Same as here. Or more  than 1 hour. Always when there's some layout change we receive a lot of errors during the day. RF should take weekend to make this changes,

[2016-06-29 16:57] ellmirr0001 commented on #260
yeah. I got the same problem, everything is correct but it got rejected

[2016-06-29 16:59] MarinaCec commented on #260
I need a real job, rainforest is getting very unstable, just falling ... I will not be able to pay my bills this month :(

[2016-06-29 17:00] qpPykT commented on #260
I have same problem. This hit was rejected.

[2016-06-29 17:01] GersonTavare commented on #261
Yes, I don't like the new layout too, the terminal is extremely small. The less things on the screen,  better, so we can see a big and clean terminal. Btw, the most annoying thing on the day was the errors caused by layout change.

[2016-06-29 17:01] cookin2 commented on #260
I got a rejection too on the same task.  No red "x".  Math and attention questions were not marked wrong.  I could really use some guidance here - have shut off the extension until I can find out what I did wrong.

Please help!

[2016-06-29 17:02] priggy commented on #261
I am getting the same error after i finished IOFFICE job... that job crashed everything.... counts as submitted, lasted for 0 seconds??? :O and ofc is now listed under rejected...

[2016-06-29 17:02] JrRandy commented on #260
Same

[2016-06-29 17:03] priggy commented on #260
same thing... and what is the worst... after this does not let you do anything else...

[2016-06-29 17:04] priggy commented on #260
Add 245 and 122 using a calculator.
Is the sum 376?

answer: no

[2016-06-29 17:06] uangonline commented on #260
Yap. For now i just closed the ioffice job everytime it's appear.  I don't know if the RF team will fix this and reversing the rejection. But i hope so.

[2016-06-29 17:09] rahayusri commented on #260
I even got 2 rejection.
![rainforest tester portal](https://cloud.githubusercontent.com/assets/20210695/16461442/c2cc13f4-3e56-11e6-8c02-790c0307c314.jpeg)

AND

![rainforest tester portal1](https://cloud.githubusercontent.com/assets/20210695/16461468/f036f7d2-3e56-11e6-94e5-b73f415a72d2.jpeg)

[2016-06-29 17:13] pscohn commented on #260
We're reverting today's update to fix this, it should be working again soon and we'll reverse the rejections.

[2016-06-29 17:13] #260 closed

[2016-06-29 17:19] uangonline opened #262 "Job abandon in less then 30 minutes"
Got job abandon when working on a job in less the 30 minutes. Lost another opportunity.
![rainforest tester portal](https://cloud.githubusercontent.com/assets/17927929/16461712/141e333a-3e58-11e6-9b0f-887491ab3822.jpeg)

[2016-06-29 17:21] felipeinsanobr opened #263 "BUG REJECTION"
all the works I did were rejected that?

[2016-06-29 17:21] GersonTavare commented on #258
More than 1 hour in this error here.

[2016-06-29 17:23] CassianoTerzi commented on #261
I think, instead of trying to fix all the errors why they prefer to change the interface ? The past 2 weeks the terminals have been very slow, with "falied to screenshots", Oftens with just one refresh page, with messages as "You have..." "We're sorry....", since the RainForestQA got back to CrowdFlower, We all have been harmed .

[2016-06-29 17:25] MarinaCec commented on #261
@CassianoTerzi I totally agree, since the RainForestQA got back to CrowdFlower, We all have been harmed .

[2016-06-29 17:27] zfonck123 commented on #258
yeh and this problem continue :(

[2016-06-29 17:27] kaytsu opened #264 "3 rejections in a row and no time shown on history"
I did 3 HITS with the new interface and all 3 of them were immediately rejected. I have over 400 jobs completed with very few rejections. The 3 jobs all have no time shown on the history and no submit time listed but all 3 of them were completed to the point of me giving a rating and submitting.

![image](https://cloud.githubusercontent.com/assets/20136128/16461725/8bc39052-3df3-11e6-853e-a85e3afe

[2016-06-29 17:29] kaytsu commented on #263
Mine was also - I had 3 hits rejected without me making any mistakes/doing any errors. It has to be a bug with the new coding/terminals..... I've turned off the extension until they get it fixed.
![image](https://cloud.githubusercontent.com/assets/20136128/16462029/0e1faac6-3df5-11e6-8d5f-4e08235c5cd8.png)

[2016-06-29 17:30] qpPykT commented on #263
https://github.com/rainforestapp/tester-chrome-extension/issues/260

[2016-06-29 17:30] qpPykT commented on #264
https://github.com/rainforestapp/tester-chrome-extension/issues/260

[2016-06-29 17:33] zfonck123 commented on #261
any update in you have reached ?

[2016-06-29 17:34] MarinaCec commented on #261
@zfonck123 nothing, still the same, 2 hours with that message "You have reached the maximum..."

[2016-06-29 17:35] kaytsu commented on #264
But mine weren't IOFFICE jobs - they were 'trendkite', 'rgnwldqa', and 'workforce-intuit'

[2016-06-29 17:38] achernovRF commented on #263
just now I got one and got unfairly rejected, It had two "browse to ----> take screenshot" steps and those where counted with another step as a single step (is it rejected becouse RF marked them as missing steps), is it the new interface? time taken is marked as 00:00:00 and there is no submitted information

[2016-06-29 17:42] ilegalna commented on #260
Hi,

Same here. I got rejection but don't see any mistake. My worker ID is 29166275

[2016-06-29 17:45] priggy commented on #264
i guess they have internal problem... it is not about particular job... its all up to their system... can you notice they rerolled back the CSS and design changes???

[2016-06-29 17:49] kaytsu commented on #264
nope, I turned off rainforest after getting those 3 rejections and am waiting for stuff to be fixed....

[2016-06-29 17:58] qpPykT commented on #264
@kaytsu
Job Rejection Bug 2016-06-29 17:24:04 UTC, Kristen Hohenstein
Hello, dear testers! There's a bug with the new interface update that's causing some jobs to be unfairly rejected :( The team is working on fixing this bug now. When it's fixed, all unfair rejections will be automatically reversed! Since the fix is on the way, please don't send in a support ticket about this. We're very sorry fo

[2016-06-29 18:01] #264 closed

[2016-06-29 18:17] BonesKnows commented on #261
i have the same problem with "You have reached the maximum..." message..

[2016-06-29 18:18] BonesKnows commented on #258
same here

[2016-06-29 18:35] AndyARB commented on #258
Same here.

[2016-06-29 18:38] shrestha15207 commented on #258
more than 2 hours now

[2016-06-29 18:51] zfonck123 commented on #258
yes :(

[2016-06-29 18:52] st53stefanov commented on #261
more than 2,5 hours...
You have reached the maximum number of unsubmitted assignments....

[2016-06-29 19:02] samballode6 commented on #258
Same here.

[2016-06-29 19:02] CassianoTerzi commented on #257
I agree.
I think they are worrying more with customers than with the testers, but they forget that who does all the work are the testers.
If we can't do the Jobs, who will do it ?
6.266
Testers (24h)
6,266 testers, 2 weeks agoo It was about 4,000...
RainforestQA needs to know that quantity doesn't ensures quality.

[2016-06-29 19:04] samballode6 commented on #261
Same here.

[2016-06-29 19:06] luisdanielvc commented on #261
Same here

[2016-06-29 19:09] priggy commented on #263
all jobs are like this.... unsubmited, but paid, and time taken 0:00:00... and rejected as well...

[2016-06-29 19:13] AndyARB commented on #261
Same here.

[2016-06-29 19:15] GersonTavare commented on #261
Day played in the trash. More than 3 hours on maximum error. Only because they want a worse interface, that will disturb because of small terminal size. Nice idea.

[2016-06-29 19:20] marius11 commented on #261
@GersonTavare I haven't noticed any differences in the size of the terminal with the new interface.

[2016-06-29 19:32] uangonline opened #265 "Notifier keep getting jobs eventhough i'm already got a job todo."
Notifier keep getting jobs eventhough i'm already got a job todo. Have to turn off the extension everytime i got a job.

[2016-06-29 19:35] shrestha15207 commented on #258
3 hours and counting :(

[2016-06-29 19:37] ahmedofhell commented on #258
almost 5 hours for me :((

[2016-06-29 19:42] priggy commented on #265
lucky you... you are getting jobs... we are not getting any!!!

[2016-06-29 19:44] zfonck123 commented on #261
about 4 hours+

[2016-06-29 19:44] uangonline commented on #265
Sorry to hear that. Currentlly i'm turning off the extension to see if that's help.

[2016-06-29 19:49] samballode6 commented on #258
Is good now..

[2016-06-29 19:49] samballode6 commented on #261
Is good now..

[2016-06-29 19:53] MarinaCec commented on #261
about 4 hours+

[2016-06-29 19:55] zfonck123 commented on #261
:( me 5 hours  and nothing T____T

[2016-06-29 19:56] zfonck123 commented on #258
5 hours and counting T_T

[2016-06-29 20:02] uangonline commented on #265
Updated: Turn the extension back on and all seems back to normal. Case close.

[2016-06-29 20:05] uangonline commented on #265
Sorry seems the problem returns. Have turn off extension every time i got a job since the extension keep give me a yes notification.

[2016-06-29 20:16] GreekGuy commented on #258
same here.... for 5 hours..

[2016-06-29 20:28] #265 closed

[2016-06-29 20:30] zfonck123 opened #266 "6 Hours with a same problems"
![image](https://cloud.githubusercontent.com/assets/19192312/16467758/7f9a5abc-3e12-11e6-8508-525149a43c1d.png)

can say what happen  plz plz

[2016-06-29 20:30] pscohn commented on #266
What is your worker ID? @zfonck123

[2016-06-29 20:31] zfonck123 commented on #266
34044189

[2016-06-29 20:32] zfonck123 commented on #266
![image](https://cloud.githubusercontent.com/assets/19192312/16467825/e323fe8a-3e12-11e6-99b6-8c8c6f607f9b.png)

[2016-06-29 20:36] st53stefanov commented on #266
Same with me: ID 16657692

[2016-06-29 20:37] pscohn commented on #266
@zfonck123 is it better now?

[2016-06-29 20:37] zfonck123 commented on #266
yes thanks very much @pscohn

[2016-06-29 20:38] #258 closed

[2016-06-29 20:39] pscohn commented on #266
@st53stefanov have you shared ip addresses or computers with another worker?

[2016-06-29 20:40] st53stefanov commented on #266
No I have fixed IP only for me

[2016-06-29 20:41] st53stefanov commented on #266
Now I see :Another worker accepted the job before you! It doesn't look like there is any more work for any of our hits; please try again shortly - you can refresh this page, or close and wait for a new job.

[2016-06-29 20:42] zfonck123 commented on #266
@st53stefanov  it is a normal message by waiting for jobs. n.n

[2016-06-29 20:43] st53stefanov commented on #266
Yes I know that but 4,5 hours i was like you

[2016-06-29 20:44] sizika66 commented on #266
Hello! I have the same problem. The last HIT I've done with the new interface 2016-06-29 15:57:54 UTC and from that time "You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit."
No shared IP.
ID 12316854
thank you! :)

[2016-06-29 20:49] uangonline commented on #266
@pscohn The problem was also happened to me. But now everything seems back to normal.

[2016-06-29 20:53] sizika66 commented on #266
It's back to normal. Thank you ! :)

[2016-06-29 20:55] zfonck123 commented on #266
.

[2016-06-29 20:55] #266 closed

[2016-06-29 21:05] GersonTavare commented on #261
@marius11 I made only two hits with this new interface, but both had the sides cutted, very strange.
More than 5 hours and counting.

[2016-06-29 21:09] nuevao commented on #263
The same around here, I have only one task with the new interface and have rejected

[2016-06-29 21:11] nuevao commented on #261
![captura](https://cloud.githubusercontent.com/assets/16979522/16468974/87ef4376-3e1c-11e6-8030-700debe11836.JPG)

I hope it's a mistake, because otherwise it means they want to leave out those who took more time with them.

[2016-06-29 21:22] ichithekiller commented on #261
Just got one HIT after 5 hours of waiting and it's back with "You have reached" message.
Oh well, Skyrim time, then.

[2016-06-29 21:28] MarinaCec commented on #261
@nuevao @ichithekiller the message change to "another..." for a few minutes here, but then the "You have reached the maximum..." come back

[2016-06-29 21:38] st53stefanov commented on #261
@MarinaCec  same here.I think the old: (We're sorry, we've reached the maximum number of concurrent testers we can support. Please reload and try again.) is now replaced with "You have reached the maximum..." And this is definitely a bug.

[2016-06-29 21:38] Electroglitch commented on #261
Maybe i'm wrong but this looks to me like same situation as #17

[2016-06-29 21:39] normensstounss commented on #257
Rainforest respected new testers not old testers..

[2016-06-29 21:40] GersonTavare commented on #261
@Electroglitch but since this time we just can use one account. I guess it's a problem generated by layout change, like the new rejection errors.

[2016-06-29 21:44] nuevao commented on #261
@Electroglitch # 17're right, I think it's the same problem, and according to comments RF was caused by some users were using multiple accounts to make the hit's

[2016-06-29 21:44] uangonline commented on #261
It seems the problem is for everyone. I also encaunter the maximum unsubmited, but not always though.

[2016-06-29 21:45] nuevao commented on #261
Clearly it is a mistake because in my case and I'm sure in yours not use multiple accounts.

[2016-06-29 21:46] Electroglitch commented on #261
@GersonTavare Yes you are right you can work only account but
my point is if you ever had any other account no matter if you use it or not
system will give you this message and you'll never get any test do
so whatever was implemented and fixed in #17 looks like its broken with this update

[2016-06-29 21:47] uangonline commented on #261
@nuevao : I think it's a bug, not because someone using multiple accounts since it's start to happen today when they tried to use the new interface.

[2016-06-29 21:49] uangonline commented on #261
It's useless to make multiple accounts to find a hits, since it eill only give you an error.

[2016-06-29 21:52] nuevao commented on #261
guys read https://portal.rainforestqa.com/

[2016-06-29 21:54] nuevao commented on #263
guys read https://portal.rainforestqa.com/

[2016-06-29 21:57] Electroglitch commented on #261
That's not the point offcourse you can't do hits from more than one account
ok Let's look it this way , let's say you had account on neobux once in past but in meantime switched to elite because of no fees etc...
and after you continued to work only on elte for months with no problems,
today, just as with that update in november ,
somehow system sees 2 accounts linked to 1 same place and somehow g

[2016-06-29 21:58] philips13 opened #267 "I get received a hit when I was doing another ."
Hello
While performing a task came out a hit on another tab.
Thanks

[2016-06-29 22:00] uangonline commented on #261
@nuevao Tell you the truth that i prefer the old interface since it seem lighter than the new one. With animated interface it will make things heavier.

[2016-06-29 22:02] rahayusri commented on #261
@Electroglitch I only have 1 account but still get the same error messege.

[2016-06-29 22:03] uangonline commented on #267
@philips13 I also have encaunter the same bugs, at first it's also open a new tab. But now even the extension still send a yes notification, it's no longer open a new tab.

[2016-06-29 22:12] uangonline commented on #261
@rahayusri Yap eventhough you have 10 account from different channel, you still can only use 1 at a time. So it's definitely a bug.

[2016-06-29 23:26] #254 closed

[2016-06-30 00:09] Lomaximo opened #268 "Test Applications For Qa Id Rainforest no Notificactions Neobux"
Hello day 06/21/2016 realize this traballo called Test Applications For Qa Id Rainforest 919,467 by Neobux but have not received their Nofificacion to create the account and follow the steps I sent them email and do not answer me Thanks
![sin titulo3](https://cloud.githubusercontent.com/assets/20029178/16472809/25b8a886-3e31-11e6-935c-8aaf173b89f4.png)

[2016-06-30 00:19] Electroglitch commented on #267
I also can confirm this bug, had to turn off extension because it opened another tab luckily with no virtual machines message
and it was just couple of seconds maybe 10 after it opened first tab
 and i just pasted url at beginning of the test (Browse to/take screenshot part)

[2016-06-30 00:25] tulko commented on #261
40 tes per day to less than 10, great progress

[2016-06-30 01:18] taoufik508 commented on #262
the same problem for me

[2016-06-30 02:39] MarinaCec commented on #261
@tulko same thing here, very disappointed

[2016-06-30 04:42] jombere opened #270 "hello, good night friends, regarding payments gifhunterclub."
I would like to know who besides me are not paying you anything at all? I miss more than $ 7 today, of which I have paid around $ 1.5. If anyone has information, please pasarmela, thanks in advance

[2016-06-30 05:38] huynhxuanvinh opened #271 "How many rejections to be banned?"
Hello, I'm new here, as the question, I want to know the limit of rejections because I have 2 rejections after 21 jobs (one of them is because of accident). I don't want to be banned so really want to know the limit. Thanks everybody for your help.

[2016-06-30 08:35] helloworld111gh commented on #271
From 0 - 20. Internal statistics/admin checks decide the max.
On Jun 29, 2016 10:38 PM, "huynhxuanvinh" <notifications@github.com> wrote:

[2016-06-30 10:45] nerdatwork commented on #270
Read this  #256

[2016-06-30 13:18] MarinaCec opened #272 "Missing hits"
I only got one hit today, is this normal?

[2016-06-30 13:20] CassianoTerzi commented on #272
Me too, It has been 4 hours since my last hit

[2016-06-30 13:21] MarinaCec commented on #272
@CassianoTerzi same here, this is so sad :(

[2016-06-30 13:21] khristianjose commented on #272
Ive started the day like 5 hours ago and i only receive one hit from now, just a bad day immo, or i dont know, this is a bad week for Rainforest, very low jobs for testers.

[2016-06-30 13:21] GedocBorges commented on #272
Regrettable, almost 6hrs without hits.

[2016-06-30 13:22] ilegalna commented on #272
Same here :(

[2016-06-30 13:26] zfonck123 commented on #272
same here

[2016-06-30 13:45] CassianoTerzi commented on #272
And When one Hit appear....
"Error 522 Ray ID: 2bb20cd8659b4c90 • 2016-06-30 13:44:13 UTC
Connection timed out"

[2016-06-30 14:02] suplazam opened #273 "Terminals grossly increased their consumption data packet."
This morning I started to do jobs. But I see my data packets comsumption has increased too much. Before yesterday. The consumption of data packets had between 10-20 MB per job in the terminal. Now That comsumption has increased between 150MB or more per job in the terminal. For example I had a 448 MB consumption for two jobs (each job with 11 steps). I really think this is a big bug. Please, you c

[2016-06-30 14:06] MarinaCec commented on #272
@CassianoTerzi I love to work for rainforest, but unfortunately I think q they are not caring about the dissatisfaction of testers, every day comes more testers and work/site get worse, and comes less tests pro older members

[2016-06-30 14:10] CassianoTerzi commented on #272
@MarinaCec I totaly agree with you

[2016-06-30 14:11] tulko commented on #272
more testers who can support your system. A test requires some concentration. I can not do anything when I do a test, I can not spend hours and hours waiting for a test. This is sad. Neobux forum I see very happy new testers for its 10 dollars a day.

[2016-06-30 14:30] MarinaCec commented on #272
@tulko good point, I'm getting less than 3 dollars a day, this is very sad, doesn't worth it

[2016-06-30 14:49] qpPykT commented on #272
@MarinaCec
If you do well enough with English. Take a look on usability testing. On the Internet there are a lot of projects with that type of testing.

[2016-06-30 15:18] SliderKPP opened #274 "About my worker id"
Hello everyone.

I have a really big problem and it's stupid in the same time...So let start, I have my rainforest account for more than one year, since when I had my neobux account, the thing is when I start to do jobs on rainforest money went directly on neobux account with this worker id "32206861" now my neobux account no longer exist, now I raise money directly in crowdflower elite, and 2 day

[2016-06-30 15:20] #273 closed

[2016-06-30 15:22] MarinaCec commented on #272
@qpPykT Do you know any site that uses testers like the rainforest?

[2016-06-30 15:29] tulko commented on #272
there are many tasks. the problem is that indiscriminately increase the amount of tester. They have a random system that benefits few. They tell you if you try you can make 100 test, so we give you the bonus. But there is nothing you can do to get to do 100 tests in one day. You just need to be lucky. They say they are working on a new allocation system works. But until the momenton or there was n

[2016-06-30 15:30] pscohn commented on #272
I'm going to bring this up to the team and see if we can do something quickly to benefit the testers that have been around longer.

[2016-06-30 15:47] Julekhaakhter commented on #270
Got the payments after reporting it to gifthunterclub.

[2016-06-30 16:10] Yhenko commented on #272
im frustrated, VM's errors and other workers accepts the hit :(

[2016-06-30 16:35] ilegalna commented on #272
Thank you @pscohn :+1:

[2016-06-30 16:44] MarinaCec commented on #272
@pscohn ok, thanks :+1:

[2016-06-30 17:04] federicoall commented on #272
@pscohn thank you bro

[2016-06-30 17:15] vladfuller commented on #272
Please bro.... I know you are acepting new testers to the system, but i think u need to do something special for testers are with u since 6 month ago or 1 year ago and testers already did more than 2000 hits... it will be great

[2016-06-30 17:26] #224 closed

[2016-06-30 17:29] MarinaCec commented on #272
I think they should have a little consideration at least with regular testers like us, I'm testing 5/7 days a week for more than 8 months, I'm kind 16hours/day active

[2016-06-30 17:35] nerdatwork commented on #274
Send support ticket to **tester@rainforestqa.com** mentioning all the details so Rainforest can help you better.

[2016-06-30 17:54] SliderKPP commented on #274
Thank you for your answer, I opened already a ticket this morning, now I'm waiting for them to answer, I hope at least they can change my worker id I don't care for that 2 days when I worked for nothing.

[2016-06-30 17:56] philips13 commented on #267
I still have the same problem.
I'll leave it off for the rest of today.

[2016-06-30 18:16] dreicaan commented on #267
this is happening to me as well. What should we do? Should we just do all the work we get?

[2016-06-30 18:19] pscohn commented on #267
We temporarily increased the number of jobs a worker could take at once during a high load period yesterday, we've decreased it back to the normal level, so you can turn your extension back on @philips13 :)

[2016-06-30 18:19] #267 closed

[2016-06-30 19:59] Electroglitch commented on #261
@MarinaCec Since everything seems to be back to normal you should close this

[2016-06-30 20:22] felipeinsanobr opened #275 "Failed To Screen And You Have Done Maximum Every Time Back Again !"
Dear Staff RainforestQa
Good afternoon, good day today was not bad ... but I realized that the Rainforest made a new update, it again put the You Have done the maximum .... because she put again? because before was giving to 2 hit at the same time and so you again withdrew it this damn message back!
Simply you have to see it further during the HIT all the time ta giving Failed to Screen ...
Please

[2016-06-30 20:22] jeffreyvdhondel opened #276 "Not getting paid."
As the title says i don't get paid for the jobs is complete :S.

Worker id = 22060024

<img width="890" alt="jobs" src="https://cloud.githubusercontent.com/assets/15087173/16502981/42c63f7a-3f11-11e6-8286-c8918dad5e59.png">

[2016-06-30 20:22] felipeinsanobr commented on #275
ERROR: Something went wrong on our server, sorry about this. Please reload and try again.

[2016-06-30 20:28] MarinaCec commented on #275
"Failed" all the time =/

[2016-06-30 20:33] nuevao commented on #7
Greetings guys, this problem has become very frequent tests performed in less than 3 minutes take up to 10 minutes so slow taking Screenshort. and the typical error message when not slow appears "failed to report Screenshort ..." which generates many times that you can not complete the test. It occurs most often from Monday June 27
![capturafallo](https://cloud.githubusercontent.com/assets/1697952

[2016-06-30 20:34] erdeminofff commented on #275
Got 38 step Slated Hit but I can't finish becasue of this screenshot errors and terminal connection lost. Very annoying

[2016-06-30 20:35] felipeinsanobr commented on #275
And more, every time the Failed to screen, we have to F5 and start all JIT

[2016-06-30 20:44] zfonck123 commented on #275
same here

[2016-06-30 20:45] JPierreS commented on #276
Which channel are you working from ?

[2016-06-30 20:50] samballode6 opened #277 "Something went wrong while getting a terminal."
Something went wrong while getting a terminal.
I get this message, what happen ?

[2016-06-30 20:50] felipeinsanobr commented on #275
the system is too slow ... so the terminal both the payment in history

[2016-06-30 20:51] felipeinsanobr commented on #276
the system is too slow ... so the terminal both the payment in history

[2016-06-30 20:51] felipeinsanobr commented on #277
the system is too slow ... so the terminal both the payment in history

[2016-06-30 20:52] jeffreyvdhondel commented on #276
Crowdflower is my channel. I did them yesterday i get these messages on my crowdflower account but no payment.
<img width="1160" alt="cf" src="https://cloud.githubusercontent.com/assets/15087173/16503868/543637de-3f15-11e6-8352-0a1f6b618915.png">

[2016-06-30 20:58] samballode6 commented on #277
Ok thanks

[2016-06-30 20:58] #277 closed

[2016-06-30 21:04] #261 closed

[2016-06-30 21:12] Electroglitch commented on #276
You are not doing via Crowdflower Elite because i can see there is fee deducted from your payments,
according to cut percent looks like you're doing via Neobux if i'm right or some other channel  so problem is between Neobux or some other channel and Crowdflower it has nothing to do with Rainforest

[2016-06-30 21:12] DarrE9o commented on #271
10.

[2016-06-30 21:30] Hendrazz opened #278 "My yesterday rejection bug still not revoked."
Hello my rejection bug of ioffice job still not revoked.
![rainforest tester portal](https://cloud.githubusercontent.com/assets/20232204/16504906/8b4da30e-3f44-11e6-97db-557090f2049c.jpeg)

[2016-06-30 21:32] felipeinsanobr commented on #276
Good afternoon, you do not fully receive your payment because you work on another channel, the channel that you work takes a certain% of what you get.
the only channel that does not pay a fee, to my knowledge, is the EliteCrowdflower else you pay a fee if you do the Intagc, Neobux, Clixsense, Hunter, etc ... all of these sites take a fee from you and all other contributors.

I hope to have help.

[2016-06-30 22:04] mlujan opened #279 "Testing errors"
I get a lot of screenshot errors. Also I have noticed that the app sometimes has errors during test.  This leads to either redoing the test or not being able to finish at all.

Anyone have experience in multiple os(mac,linux.win) that could tell me which platform is the most stable.

My current Environment:
Win 10
i5 desktop 8gb ssd

Tomorrow I will test on a live boot of linux and see if I notice

[2016-06-30 22:07] priggy opened #280 "Screenshot reporting"
it has became a pain in the ass with this error returning from browser... Failed to report a screenshot... especially when hit job with lots of steps, and the problem happens somewhere near the end... and you need to refresh browser because half an hour waiting and clicking same YES or NO button and waiting to move on to next step is so frustrating! And then you do it all over again!
.............

[2016-06-30 22:09] JPierreS commented on #276
@jeffreyvdhondel
This is an issue between CrowdFlower and the channel you are working from. By channel, I mean ClixSense, Neobux, orther.   Do not worry about missing payments, once issue is resolved all payments will come through.  There may be a temporary issue right now.

Keep in mind some tasks are merged together and sent as 1 payment, so you may be getting 2 payments into 1, as an example.

[2016-06-30 22:15] mlujan commented on #279
![image](https://cloud.githubusercontent.com/assets/1491534/16506156/a426062e-3eee-11e6-9bb6-2120aeed1c32.png)

[2016-06-30 22:16] mlujan commented on #279
That is an example of an error that makes me restart the whole test.  This uses more vm time and prevents me from doing quality work efficiently.

[2016-06-30 22:33] AndyARB opened #281 ""Application Offline for Maintenance""
In the last half hour, I could not do any work due to an error that appears to enter a web in the terminal.

![pruebarain](https://cloud.githubusercontent.com/assets/20212027/16506526/f4dc7c54-3ef0-11e6-8ed0-7e6dd2d52c4b.png)

Currently I lost almost 5 job due to this maintenance error, is normal? It is true they are doing such maintenance?

[2016-06-30 22:37] mlujan commented on #281
Yes I have this error too on a few recent jobs.

[2016-06-30 22:56] #278 closed

[2016-06-30 23:06] Electroglitch commented on #281
Click No report and your job is done. :)

[2016-07-01 00:43] rifatrahman commented on #280
same.

[2016-07-01 01:12] liladybugz26 opened #282 "Rejected 3 Times for Providing Correct Answer"
Hello,

ref: 6748291, 6748342, 6748368

I completed three HITs that asked the question: "Is there a signup form on this page". My answer was: "No, this is a login page that has a signup link, but there is **NO** signup form on **THIS** page. On my list of rejections, it says the question was: "Click Sign up!"  "Do you see a signup form?" This was **not** the question on the HITs. It never asked me

[2016-07-01 01:15] federicoall opened #283 "so many connection lost"
2 times i go not for report and notice  see job abandoned :/
![rf error](https://cloud.githubusercontent.com/assets/8026903/16509091/91fc00a2-3f07-11e6-845b-c3f46416cfee.JPG)

[2016-07-01 01:56] nerdatwork commented on #281
@AndyARB This is **NOT** an issue. Whenever you encounter any error INSIDE the terminal or face issue with the interface while testing, report it.

[2016-07-01 02:09] algset777 commented on #280
same here
A full hour with the job, and in the end ... nothing !

[2016-07-01 02:15] nerdatwork commented on #282
@liladybugz26 If the screenshot of the **Rejections** tab was posted maybe that will help to understand the rejection better. Also submit a support ticket by clicking the **HELP** tab in your Rainforest portal.

[2016-07-01 02:16] helloworld111gh commented on #282
Did you send a support ticket? You would get a better response there, but...

You sure it didn't ask to click on the sign up link before checking if
there is one? Post a screenshot of rejection page to make sure.
On Jun 30, 2016 18:12, "liladybugz26" <notifications@github.com> wrote:

Hello,

ref: 6748291, 6748342, 6748368

I completed three HITs that asked the question: "Is there a signup form on

[2016-07-01 02:20] nerdatwork commented on #283
@federicoall Please read this https://github.com/rainforestapp/tester-chrome-extension/wiki/Idle-Policy

[2016-07-01 02:33] nerdatwork commented on #276
@jeffreyvdhondel CrowdFlower is **not** a channel its a platform. CrowdFlower's Elite is a channel so is Neobux. As seen from the screenshot it is indeed notification of payment made to your Neobux account. Raise a support ticket with Neobux and ask them about your payments. Since Rainforest and CrowdFlower have already paid you.

[2016-07-01 04:17] algset777 commented on #283
@nerdatwork I have the same problem as @federicoall

My problem is not related to the conditions listed in "Idle Policy"

[2016-07-01 05:13] huynhxuanvinh commented on #272
I can't understand old members have complaint for what? They have joined early for months or for years, do many jobs (many people show above 2000 jobs). At their time, they have 30-50 hits per day to test (8-20 $ per day). Some of them have passed 1000$ until today and now they start complaining about the number of hits they get. Do you know a new member has only 1 or 3 or 5 hit per day. This job

[2016-07-01 06:58] mobradovic commented on #272
Totally agree.

[2016-07-01 07:38] rubikks commented on #280
same for me since yesterday but not for all hits

[2016-07-01 08:12] nerdatwork commented on #275
@felipeinsanobr Could you try to be polite and **NOT** use all caps.

[2016-07-01 08:51] nerdatwork commented on #279
@mlujan You can use any computer and operating system. Its **NOT** dependent on hardware.

[2016-07-01 09:27] hunt40 commented on #280
screenshot errors all time since yesterday

[2016-07-01 13:18] uangonline commented on #283
@algset777 The connection lost just become more and more frequent latelly.

[2016-07-01 13:46] sweeneyapps commented on #283
I understand what you meant,  if I do 10 steps and I lose connection then refresh to get the VM back on my screen, I go BACK to step 1!!   It's SILLY!   Because we already did the work half way or even close to the end.   Doing task over again, we should be paid double for that!.   Unless they fix that bug.

[2016-07-01 14:32] olikengr commented on #272
Same here, less jobs for old testers...

[2016-07-01 16:09] dreicaan commented on #281
I believe that the application error AndyARB is talking about is not the one inside of the terminal browser, but the one that shows up instead of the entire job page inside your browser, so there is no way to report it. As you can see in the screenshot, there are no Yes and No buttons. :)

[2016-07-01 16:54] edwardbass commented on #280
This is fustranting I had this problem in a hit I tried and tried many times but It was always the same message: Failed to report a screenshot so I decide to restart the hit. The fact is that When I introduced the datas (email) I got this message: the customer email already exist this because I used before. What can I do?

[2016-07-01 18:41] sighanchi opened #284 "NO VMs FREE FOR TASK, LOST 10-15 JOBS ON MY FIRST DAY!!!!!!!"
on my very first day i got 10-15 jobs in about 5-6 hours but was unable to start & complete a single task as it states error **"No virtual machines free. try after some moments** after refreshing after 40-60 seconds sometime 2-3 minute it changes error to "another tester accepted the task" so haven't got a single task from RF can anyone tell the possible cause for it and the solution to the proble

[2016-07-01 18:51] zfonck123 commented on #284
not is a error...

[2016-07-01 18:53] zfonck123 commented on #284
another tester aceepted the task is a normal message. only u need refreashing and waiting...

[2016-07-01 18:54] zfonck123 commented on #284
Another worker accepted the job before you! It doesn't look like there is any more work for any of our hits; please try again shortly - you can refresh this page, or close and wait for a new job. this is a normal message

[2016-07-01 19:11] angelfelixgarciamolina commented on #274
Este problema es muy común y trae locos a muchos, yo por ejemplo soy uno de ellos, lo que voy a hacer es resetaer todas mi cuentas y empezar de nuevo

[2016-07-01 19:27] rous86 opened #285 "change of contributor id"
![4](https://cloud.githubusercontent.com/assets/20247825/16532344/1ce4273a-3fda-11e6-86cc-23892ed8166e.png)
hello, i have an issue with my contributor id, i signed up with rainforest more than a year ago with a neobux account that i stopped using a while ago.. the problem is that i use a clixsense account when using my crowdflower and rainforest tasks, but the rainforest has the id of payment of t

[2016-07-01 19:43] felipeinsanobr commented on #284
Another worker accepted the job before you! It doesn't look like there is any more work for any of our hits; please try again shortly - you can refresh this page, or close and wait for a new job. this is a normal message .
It's normal !
Wait
This message is more than You have done the maximum amount of work on this job. You have done the maximum amount of work on this job.

[2016-07-01 19:48] SliderKPP commented on #274
Angelfelix I think you said it's a common problem or something like this? Can you translate, if you don't mind?

[2016-07-01 21:21] tulko opened #286 "I do not receive my bonus 10%"
a while ago I not collect my daily bonuses. Send a tiket two days ago and no response

[2016-07-01 22:13] angelfelixgarciamolina commented on #274
Excuse me jejejeje it is the translate:

"This problem is very common and brings many crazy, I for example am one of them, what I'm going to do is resetaer all my accounts and start over"

[2016-07-01 22:22] felipeinsanobr commented on #286
here is normal ... You do 10 Tasks for day?
I do more 10 normaly

[2016-07-01 22:40] zfonck123 commented on #286
this problem is with CF , not Rainforest. i think

[2016-07-01 22:43] zfonck123 commented on #284
and in ur firts job u get alots jobs training

[2016-07-02 00:30] tulko commented on #286
No, because there is no payment notice in my history of RF. Do not make me explain, a lot is happening.

[2016-07-02 00:36] jombere opened #287 "I do not receive payment of my work."
good, today I present the case of a friend, who is not receiving payments rainforest, would like to know this, thanks in advance is due.
![13528089_1010238879024743_3579203983318619829_o](https://cloud.githubusercontent.com/assets/15624230/16537227/62516058-3fcb-11e6-8b51-d4ddb4e064f5.jpg)

[2016-07-02 00:40] #286 closed

[2016-07-02 01:22] kaytsu commented on #287
Did they just start today? When i did my training tasks I didn't get any bonuses. Neither did my mom if I remember correctly.

[2016-07-02 01:24] algset777 commented on #280
I got (job abandoned) Because of this error !!
It's so frustrating !

[2016-07-02 03:48] SliderKPP commented on #274
Thank you very much, and how I can reset/delete rainforest tester account? And after that I need to find another task in crowdflower jobs list?

[2016-07-02 03:51] sighanchi commented on #284
i have completed my training and now its second day i still get jobs with chrome extension but as i accept it message is shown as per above so is my net slow or any other problem from my side also my extension opens page after sometime of displaying "YES" in extension so can it be a possible cause.

[2016-07-02 04:33] angelfelixgarciamolina commented on #274
That would open a new account on each web page, including CF, RF, and the channel you use

[2016-07-02 04:45] SliderKPP commented on #274
To open a new account on CF too?? But you are not allowed to have more than one account on CF.

"Please be reminded that, per our Terms of Service, your CrowdFlower account will be subject to automatic suspension if you:

1) create more than one (1) CrowdFlower account
2) link 5 or more Contributor IDs from SuperRewards, or more than 1 Contributor ID from any other task distribution channel
3) lin

[2016-07-02 09:40] jeffreyvdhondel commented on #276
So i send Neobux a message the told met that the problem is with Crowdflower.
Send message to Crowdflower but the told me the problem is with RainforestQA.
Send them a message but still didn't receive nothing from them yet.

[2016-07-02 11:36] Devenderraghav opened #288 "NO hits available since morning"
today there are very less hits available and i lost most of them because of error no vr available.

[2016-07-02 11:36] #288 closed

[2016-07-02 13:24] samballode6 commented on #287
This is training jobs ?
Training jobs indeed don't get payment.
Will get payment in next actual jobs if you past the training test.

[2016-07-02 13:48] samballode6 commented on #285
This is a really hard problem.
Very hard to change your id on RF.
I suggest you to find and do a new jobs id in CrowdFlower task for RF in your new id at Clixsense, for get and claim a new profile page.
But you can also tries send a ticket to tester@rainforestqa.com
I wish you success for that...

[2016-07-02 13:52] samballode6 commented on #268
Have you check carefully in here ?
https://tasks.crowdflower.com/notifications

[2016-07-02 13:54] samballode6 commented on #272
Same here

[2016-07-02 14:16] rous86 commented on #285
but i already sent them message but they do not reply about it, not even tell me "hey forget it no chance", or to give me instructions to do this or that...

how can i do that? even if i make a new crowdflower account the rainforest account will still be the same, and for some reason i cannot delete the rainforest account and make a new

Have u had the same issue also?

[2016-07-02 16:33] nerdatwork commented on #281
@dreicaan If you see the image properly you can see its a screenshot of terminal and not outside the terminal. When you paste the main URL and it leads to such page, click Take Screenshot and then in next step click NO and report it mentioning all the details.

[2016-07-02 16:34] nerdatwork commented on #287
@jombere Why are you posting your friend's issue ? Why cant he post it himself or herself ?

[2016-07-02 16:50] dreicaan commented on #281
@nerdatwork Oops, didn't notice the terminal number in the top left corner, sorry! :)
Yes, in that case, report it. But what if it happens outside of the terminal? I was working on a step and got connection lost,

[2016-07-02 17:18] SliderKPP commented on #285
I have the same problem, my rainforest account have my old neobux worker id, but that account no longer exist, I opened a ticket too and they still don't respond me. I tried to make another account but when I need to claim it, is the same account with my neobux worker id, and I can't delete rainforest accout too...soo yes it's annoying.

[2016-07-02 17:25] nerdatwork commented on #285
@rous86 Rainforest support will respond to your ticket in time but please know Rainforest as of now does not change worker ids.

[2016-07-02 17:29] nagabhyru commented on #284
"No VM's" and "Another worker" messages are common when you are working in weekends (Saturday and Sunday) due to less number of jobs and more number of workers. In week days you will get jobs.

[2016-07-02 17:30] nerdatwork commented on #284
@sighanchi The extension is working perfectly and whenever you get such messages, close the tab and wait for the next job. There is nothing that you can do for getting "more" jobs. Everybody gets these messages.

[2016-07-02 17:40] SliderKPP commented on #285
@nerdatwork But how I can close this account  so I can make another one?? If I will try to make another account when I need to claim the account will be the same with this one...it's like they merge the account

[2016-07-02 18:00] nerdatwork commented on #285
@SliderKPP You cant close your account. Rainforest support will look into your issue and provide you with a solution. The support desk is filled with support tickets but you will get a solution either way, till then keep the faith :+1:

[2016-07-02 18:15] rous86 commented on #285
so guys in order to rephrase the question, has anyone sent a support ticket and rainforest actually changed his worker id or not? and if yes, after how long since the support ticket they replied

@SliderKPP i sent my support ticket 3 days ago, how long ago did u sent it?

@nerdatwork if rainforest does not change ids, i assume at least they have to reply the support ticket and say not to do any ra

[2016-07-02 18:18] angelfelixgarciamolina commented on #274
Yes, you're right.

That such a bad thing that of the id, seems that there is a rally between CF and RF and none resolves the channel where you pay.

It seems to me that willingness to resolve it there is, the only thing close to a solution RF gave me, they told me that I could request another id but it turns out that when I click on the task of RF CF message is that I have already made the maximu

[2016-07-02 18:27] SliderKPP commented on #285
@rous86 I sent the ticket 3 days ago too, eh anyway, we are not the only one who have this problem, I will just wait for them to answer me. They have some more important things to do now, so I'm not in a rush. :)

[2016-07-02 18:30] mikeb79 commented on #272
Same to me :(

[2016-07-02 18:33] SliderKPP commented on #274
Yes, the patience is everything.

[2016-07-02 18:36] samballode6 commented on #287
Yes, this is very funny...
Posting profile someone else ...
Very suspicious...

[2016-07-02 18:48] mikeb79 opened #289 "Another tester hit first than me."
When I finally could get a task and the page began to load, it said "Another tester hit first than you".
What is that??
How could i get to hit first??

[2016-07-02 19:04] #279 closed

[2016-07-02 19:07] samballode6 commented on #285
Hello friend,
You must do new CrowdFlower task first, to change your new contributor id.
After system has change your contributor id automatically with task you have done in new CrowdFlower task, after that you can do your first RF job.
Must try like that...

[2016-07-02 19:17] samballode6 commented on #289
Try to be patience, you will get the jobs sometimes...
Many worker have this problem...
Lucky unlucky...

[2016-07-02 19:21] rous86 commented on #285
@samballode6 you mean to logout from my crowdflower id, signup with a new one? but the RF task require level 1 badge i think

[2016-07-02 19:24] mikeb79 commented on #289
Ok,
Thanks!

[2016-07-02 19:24] #289 closed

[2016-07-02 19:25] samballode6 commented on #285
I had this problem before, but now that problem is solved.
That's the way until I succeed.

[2016-07-02 19:33] rous86 commented on #285
i tried doing what u said @samballode6 no luck still the same

[2016-07-02 19:35] SliderKPP commented on #285
Rous86 don't make more than one crowdflower account, it's not allowed, you can be banned permanently.

[2016-07-02 19:36] samballode6 commented on #285
Yes, logout Crowdflower first, wait level 0 task appear, while task level 0 appear, click task from Clixsense, but on Crowdflower sign in, you must sign in with your old id, that will change your id 13521049 synchronize with CrowdFlower id

[2016-07-02 19:40] samballode6 commented on #285
You must tell CrowdFlower first, about you changed your id, explaint to them, what your problem, they are human too...
They can understand that...

[2016-07-02 19:43] samballode6 commented on #285
In my case, they answer like this :

Hi samballode6,

Thanks for replying.

We understand that your Contributor ID 31722590 from NeoBux is no longer active. We also understand that your Contributor ID 38173505 from NeoBux is your active ID and that you have selected it as Preferred. You will not be banned for having 2 IDs from the same website because your first one is not active.

To respond to t

[2016-07-02 19:45] samballode6 commented on #285
Maybe my explaination can help you...
I wish you success for that...

[2016-07-02 20:27] jombere commented on #287
@samballode6 @nerdatwork  It is new in rainforest and has no knowledge of these forums, I did just the favor.

[2016-07-03 04:14] #284 closed

[2016-07-03 04:34] nerdatwork commented on #287
@jombere Everybody is new at first. Ask that person to post his/her problem. We are all here to help.

[2016-07-03 09:29] nerdatwork commented on #263
@felipeinsanobr This was a bug and has been rectified. Please close this thread. Unless you are still facing this issue.

[2016-07-04 01:19] #275 closed

[2016-07-04 02:32] #263 closed

[2016-07-04 05:45] rous86 commented on #285
ok guys i sent ticket, the crowdflower says send ticket to rainforest, rainforest does not reply at all...the thing @samballode6 said about signout and log with new id, doesnt work either, so if anyone expects something from it, just do not expect anything, they do not change it, it is a complete waste of time, just do the other crowdflower tasks, rainforest simply is not worthy of your time if u

[2016-07-04 05:48] nerdatwork commented on #285
@rous86 You need to calm down a bit. Its still Sunday at Rainforest and Monday is 4th of July, which is a national holiday. Have some patience and stop with the negativity. I understand your frustration.

[2016-07-04 13:35] uangonline opened #290 "Happy independence day."
Happy independence day to all American from us in Indonesia!

[2016-07-04 13:35] samballode6 commented on #285
I don't understand, why you don't succeed yet.
All I do is change my not active id from Neobux and make new id on Neobux too.
I don't know, maybe you make your new id on Clixsense that make different from my ways...
Like you see on my ticket at CrowdFlower...
But one thing for your remember, I have been succeed with the same problem with you.
And I just want to help and try to give explanation for

[2016-07-04 13:50] maciejgryka commented on #24
@pscohn Hope it's OK to close this? We now regularly post training jobs for new people on CF.

[2016-07-04 13:50] #24 closed

[2016-07-04 13:51] #290 closed

[2016-07-04 13:53] maciejgryka commented on #287
@jombere please open a support ticket for any payment issues. We only track problems with the Chrome extension itself in this repository.

[2016-07-04 13:53] #287 closed

[2016-07-04 13:55] #282 closed

[2016-07-04 13:59] maciejgryka commented on #118
Please open a support ticket through the tester portal for any issues specific to your account. This repository is only used to track bugs in he Chrome extension itself.

[2016-07-04 13:59] #118 closed

[2016-07-04 14:24] rous86 commented on #285
i believe u @samballode6 that u succeeded with that but i do not know maybe as u say its because of difference between neobux and clixsense, i did what u said but from crowdflower they said it cannot change, thank u for ur time guys, ill just dont do RF if they change it in future let it be

[2016-07-04 20:25] pscohn commented on #285
We have a high volume in tickets so it may take some time to respond to tickets individually. However we do not change IDs or close accounts. Each CrowdFlower channel will have a different Rainforest profile. If you wish to use a different CrowdFlower channel, you can log into that channel and do the starter job for Rainforest. If you already have a Rainforest profile for that channel, you will be

[2016-07-04 20:25] #285 closed

[2016-07-05 00:02] tulko opened #291 "I can not turn on (NO) the application"
the application is OFF click on the extension remains OFF, no changes to NO or YES

[2016-07-05 00:17] #291 closed

[2016-07-05 00:31] NeoWorker opened #292 "When refreshing/closing the tab while doing a hit, ask for sure"
Just a suggestion. I just had to redo a hit because I accidentally clicked the refresh button in my browser. So it would be nice to have a popup asking for sure when closing or refreshing the tab while doing a hit. Sorry my english.

[2016-07-05 01:19] IceCreamCake opened #293 "Tester Notifier and Fullscreen Video"
I just want to ask is the Rainforest Tester Notifier still working normal (popup new test when it's availble) when i watch video with full screen (like youtube....) on chrome. Really precious any help, thank you and have nice day!

[2016-07-05 01:38] ahmedofhell commented on #292
Nice idea +1

[2016-07-05 04:10] nerdatwork commented on #293
Yes it is working normally. If you are watching a youtube video and the job loads but you fail to start it in time by the time  you finish watching the video, you will see the Job Abandoned page. This is assuming that the extension doesnt turn OFF while you are watching the video.

[2016-07-05 04:15] mircka opened #294 "how to get more jobs?"
How can I get more jobs? It says 20% bonus for 100 jobs at day, but I hardly get 10-15 jobs for a day.

[2016-07-05 04:19] helloworld111gh commented on #294
to get jobs, you have to turn on the extension, and stay active.

On 4 July 2016 at 21:15, mircka <notifications@github.com> wrote:

[2016-07-05 04:22] nerdatwork commented on #294
There is nothing extra you can do to get "more" jobs. As long as you are active (meaning **extension says NO**) you will get jobs when they are available.

[2016-07-05 04:27] mircka commented on #294
So,is there anyone that had 100 jobs for a day?I'd really like to know.

[2016-07-05 04:38] helloworld111gh commented on #294
yes, it is possible to get 20% bonus, there are many people who have done
so. as this is not a problem with extension/tester interface, can you
please close this issue?

On 4 July 2016 at 21:27, mircka <notifications@github.com> wrote:

[2016-07-05 04:46] mircka commented on #294
o.k.

[2016-07-05 04:46] #294 closed

[2016-07-05 05:03] qpPykT commented on #294
@helloworld111gh "there are many people who have done
so"
Ha-ha you mean what it's a small group who have unlimited tasks per day or have high prioritize with getting tasks.

[2016-07-05 05:44] nagabhyru commented on #272
Same here. Getting some couple of jobs but they are ending up with either "No VM's" or "Another worker". Waiting for hours for couple of jobs that hardly earns $1 or $2 is not worthy.

Like crowdflower, RF should have levels (Level-1, Level-2 and Level-3) and accuracy rate. It will help the members to assess the quality of work they are doing and each one get there share of work.

[2016-07-05 06:54] IceCreamCake commented on #293
I got it, thank you very much.... oh, and does it still popup when i'm watching full screen. I worry about the job not popup, so i don't know and missed it.

[2016-07-05 06:56] nerdatwork commented on #293
It wont notify you as such when in fullscreen, you have to manually check it.

[2016-07-05 07:00] IceCreamCake commented on #293
That's all i need to know. Thanks, your're wonderful :)

[2016-07-05 07:23] nerdatwork commented on #293
You are most welcome. I would suggest closing this thread if you are satisfied with the responses.

[2016-07-05 08:04] #293 closed

[2016-07-05 09:33] qpPykT commented on #291
@tulko
Sometimes it's lagging.

[2016-07-05 10:32] srsaurabh32 opened #295 "Unknown Error?"
![what is this error](https://cloud.githubusercontent.com/assets/19935406/16581935/a04d1342-42c9-11e6-8fcd-f2145e83f84a.PNG)

What does it even mean?
No error...And this is happening since last week. Anyone else? Unable to do jobs because of this pink bar, having no clues, what's happening?

[2016-07-05 11:26] ilegalna commented on #272
Another worker.... all day :(

[2016-07-05 11:30] ilegalna commented on #295
See the end of the link ... Are you missing thanks&workerId=.....(your ID)

[2016-07-05 12:29] nerdatwork commented on #295
@srsaurabh32 I dont think the URL of the HIT is right. This URL is specific to "browser=ie8". Rainforest HITs are usually "browser=any" kind.

[2016-07-05 12:46] jeffreyvdhondel commented on #276
After almoste a week and 3 tickets i got a message of RainforestQA yesterday.

"Hi there,

It looks like you are due to do training, which we are not paying for at this time. Once you complete the training jobs (this is about 8-10 very short jobs), you will be qualified for the real paying work.

Rainforest Support
rainforestqa.com
Read the Wiki: https://github.com/rainforestapp/tester-chrome-exte

[2016-07-05 13:18] nagabhyru commented on #272
Again "Another worker". "No VMS" all the day.

[2016-07-05 13:35] MarinaCec commented on #272
@nagabhyru "Like crowdflower, RF should have levels (Level-1, Level-2 and Level-3) and accuracy rate. It will help the members to assess the quality of work they are doing and each one get there share of work."

it sounds good

[2016-07-05 13:59] felipeinsanobr commented on #276
Good afternoon, you do not fully receive your payment because you work on another channel, the channel that you work takes a certain% of what you get.
the only channel that does not pay a fee, to my knowledge, is the EliteCrowdflower else you pay a fee if you do the Intagc, Neobux, Clixsense, Hunter, etc ... all of these sites take a fee from you and all other contributors.

I hope to have help.

[2016-07-05 14:10] jeffreyvdhondel commented on #276
@felipeinsanobr  No you don't understand me. I didn't receive **NOTHING** not even 1 cent.

[2016-07-05 14:29] samballode6 commented on #272
The more day pass, more less jobs received, why is that ?

[2016-07-05 14:45] jeffreyvdhondel commented on #276
Yes i did so i have to wait again.

[2016-07-05 15:46] felipeinsanobr commented on #272
same here !

[2016-07-05 15:46] MarinaCec commented on #272
nothing today :(

[2016-07-05 18:37] srsaurabh32 commented on #295
@ilegalna its not missing, it is there. I have contacted RF for the same but they did not respond. Anyways thanks for suggestion.

[2016-07-05 18:48] ilegalna commented on #295
I hope you'll get an answer from RF. Be sure to try one more time to delete the extension and re-install it.

[2016-07-05 23:52] vladfuller commented on #272
3 days in a row and got only 5 hits

[2016-07-06 01:18] mikeb79 commented on #272
Got 1 today but took me out "lost connection", could not get it back :/

[2016-07-06 01:22] Leonaam opened #296 "Job Abandoned on long hits"
I've got the message "Job Abandoned" when doing a hit a little longer than the usual (25 steps).

It hadn't passed much time since i'd began the task and I got this message. It wasn't enough time for me to complete the job.

[2016-07-06 02:29] muerte01 commented on #296
same here i was trying to complete a hit (35 steps) and in the step 25 lost conection and star over then page show me job abandoned :s

[2016-07-06 02:33] huynhxuanvinh commented on #272
yesterday is dried for me but today I got 10 hits on the first 2 hours. Hope can reach 40 hits today. Very happy.

[2016-07-06 02:40] mikeb79 commented on #272
Got 3 since my last comment. (y)

[2016-07-06 03:16] renangloor opened #297 "Rejections number to be locked account ."
Hello , I wonder if there is a fixed or approximate number of rejections to be blocked, or rely on some percentage ? In my case I have 358 tasks done , 12 bugs found and 14 rejections , I can have more many rejections before someone gets locked out because I am concerned , and will only reset 13 .

[2016-07-06 03:19] helloworld111gh commented on #297
check #271,
this is a duplicate, please close this

[2016-07-06 04:31] nerdatwork commented on #297
As per the current rules you can have a maximum of 20 rejections after which your account is blocked. Also try to search the existing threads since most of the issues are already covered. If you are not satisfied by reading those threads and still face the issue, you can open a new thread.

Whenever you read the replies and are satisfied with the response, please close this thread.

[2016-07-06 04:32] nerdatwork commented on #296
@Leonaam @muerte01 Please read this

https://github.com/rainforestapp/tester-chrome-extension/wiki/Idle-Policy

[2016-07-06 05:57] #297 closed

[2016-07-06 11:47] tulko opened #298 "extension off"
I can not turn on the extension

[2016-07-06 11:48] #298 closed

[2016-07-06 11:55] Josephapq commented on #250
Good morning.

My brother has the same problem. He performs the test today, and the notification remains no send to his crowdflower account.

A admin can say:

How solved the problem?

[2016-07-06 11:56] Josephapq commented on #246
Good morning.

My brother has the same problem. He performs the test today, and the notification remains no send to his crowdflower account.

A admin can say:

How solved the problem?

[2016-07-06 13:41] nagabhyru commented on #272
Today also same. Some jobs didn't open at all. Some open end up with "No VM's" followed by "Another worker". I think it time to move on :(

[2016-07-06 16:01] Leonaam commented on #296
@nerdatwork none of this apply to my case. I was doing the hit and then I got "Job Abandoned", aproximately 10 minutes after accepting the job.

[2016-07-06 16:06] nerdatwork commented on #271
@huynhxuanvinh You have received the appropriate response so I suggest closing this thread.

[2016-07-06 17:17] luisdanielvc commented on #246
Same here, a friend wanted to work and the email never arrived, he did the job via crowdflower and nothing happened, can you please check? His ID is 38418874

[2016-07-06 17:25] kristen-allie commented on #274
Hey, @SliderKPP! We're looking into this and will update you when we know more. Sorry for the wait!

[2016-07-06 17:34] MarinaCec commented on #272
@nagabhyru same here, had to report on the first step the few that came

[2016-07-06 18:17] kristen-allie commented on #274
@SliderKPP I don't think it will be possible for you to retrieve funds from the RF profile (32206861) associated with your deleted neobux account. I'm trying to find out for sure though!

If you are having trouble logging in or using your new RF profile (32207386) associated with your CrowdFlower Elite account, you can try to claim the profile again. You should have the claim profile link in your

[2016-07-06 18:38] josejecr97 commented on #268
i  have 2 friends with the same problem.. their contribuitor id is : 38560198
and 38593155      pls help them .. thanks

[2016-07-06 18:42] josejecr97 opened #299 "unable to claim profile"
i have two friends that wants to test web app.. but when they tried to claim profile they dont get any notification back .. can pls help them?..

their contribuitor id are : 38560198
and 38593155 .

thanks.

[2016-07-06 18:55] kristen-allie commented on #274
Hi @SliderKPP. All your bonuses for account 32206861 were paid on our end as you completed jobs, but since your Neobux account was deleted, you didn't receive those payments. You'll have to contact Neobux about whether or not you'll be able to receive those payments. Sorry there's nothing we can do :(  Unfortunately, I wasn't able to find contact info for Neobux support.

[2016-07-06 19:04] Blackls opened #301 "worker type"
Hello everybody, when enables here to be able to receive the hits is only appearing this message:

"Hit 2xxxxx7 is not valid for your worker type."

I would like a help to solve this,
thank you

[2016-07-06 19:15] luisdanielvc commented on #301
This is the same as #246 but nobody answers there, i have a friend with ID number 38418874 in the same situation.

[2016-07-06 19:16] luisdanielvc commented on #299
This is the same as #246 but nobody answers there, i have a friend with ID number 38418874 in the same situation.

[2016-07-06 21:07] josejecr97 commented on #299
@pscohn

[2016-07-06 21:11] pscohn commented on #299
@josejecr97 I checked both of these ids and we don't have a record of them in our system. Have they both completed the starter job using those IDs?

[2016-07-06 21:49] josejecr97 commented on #299
@pscohn yes, and they are unable to do the job again .... even using another plataform ... the job is in their job list

[2016-07-06 23:09] IceCreamCake opened #302 "Is it possible to click to get a job instead of waiting notifier popup new job."
I ask because sometime i saw RTesterNotifier transfer to "Yes" but no job popup, and few second (3-5s) later it change to No again. Any help would be great, thanks.

[2016-07-07 02:34] nerdatwork commented on #302
That is not how the extension works. The extension polls the work pool for job and when there are jobs it will open the tab for you. We all sometimes see the extension turn to YES and no tab opens so dont worry its not just you :)

[2016-07-07 02:44] Lomaximo commented on #268
hello samballode6 I do not notice that bar after having done the job of sending emails and Rain and do not respond

[2016-07-07 02:48] IceCreamCake commented on #302
ohh, thank you very much. I just thought it's just me, so.. everything good :) Thanks thanks!

[2016-07-07 02:49] #302 closed

[2016-07-07 04:27] angelfelixgarciamolina commented on #274
Hello, is it possible to unsubscribe from Rainforest and start again with my kannst channel? This is my id 31266106 active.

My count of neobux not exists

[2016-07-07 13:10] persman commented on #299
@pscohn hi, I have the same problem. I did  "Test Applications For Rainforest Qa", there was just a box and instruction, I read your instruction completely then I checked the box and submitted the job. but I didn't receive any notification. this is my crowdflower ID: 36563074
please help me. I attached my job history too.
thanks
![pic](https://cloud.githubusercontent.com/assets/20339005/16654164/c

[2016-07-07 13:28] josejecr97 commented on #299
yes... same here ..

pls help us.. is there anyway to take another ID in cf? restart the job or something? i think is bugged ......  :( sad

![restart](https://cloud.githubusercontent.com/assets/17110228/16654623/a1075426-4424-11e6-9587-8b79e61451de.png)

[2016-07-07 14:44] angelfelixgarciamolina commented on #274
Excuse me, not is "kannst", is clixsense

[2016-07-07 15:41] luisdanielvc commented on #268
Same here, a friend with id 38418874 didn't receive the email for getting his profile in RF

[2016-07-07 17:17] nerdatwork commented on #281
@AndyARB If you arent facing this issue please close this thread.

[2016-07-07 18:37] persman commented on #299
@pscohn  please help us.
thanks

[2016-07-07 23:33] Josephapq commented on #299
Same here for my brother:
Worker ID: 38585414

![job history](https://cloud.githubusercontent.com/assets/16495666/16673076/e4a45536-4478-11e6-82d1-acea1e0f054f.jpg)

@pscohn Please help to my brother.

This problem is happening to several people.
Thanks

[2016-07-08 02:56] felipeinsanobr opened #303 "Question about You Have Done The Maximum 07/07/2016"
Good evening / morning / afternoon good come talk about this maximum and I think it's the possible causes of advent.
Well what I have been noticing is that after finishing the HIT and give the submit it HIT this holding in the terminal and it is # Unavailable to do to carry out other work, given that even the finished terminal considers that I am / we are the old HIT to do.
So I do not know what i

[2016-07-08 02:56] #259 closed

[2016-07-08 03:07] felipeinsanobr commented on #303
Sometimes encounter BUG on the site and I report and also takes a century to return to normal, is always stuck in the Maximum.
When performing work without BUG he usually returns to normal without giving Maximum.
Sometimes we make the right to report the BUG and losing a HIT 30 steps, losing in Step room and only in ferramos after being arrested in the Maximum

[2016-07-08 04:02] qpPykT commented on #303
@felipeinsanobr
I can not understand what do you mean.

[2016-07-08 07:34] Niopup opened #304 "Good I have a question that can be mturk and CrowdFlower work simultaneously with rainforest ?"
Good I have a question that can be mturk and CrowdFlower work simultaneously with rainforest ?

[2016-07-08 08:24] nerdatwork commented on #304
@Niopup Could you try to explain more ?

Just so you know. Rainforest uses CrowdFlower to post jobs which can be accessed using the Google Chrome extension after you claim your profile. Mturk is an independent platform like CrowdFlower. Mturk is managed and owned by Amazon. Amazon, CrowdFlower and Rainforest are all different companies.

[2016-07-08 08:25] helloworld111gh commented on #304
Unlikely, you are not allowed multiple active accounts on RF

[2016-07-08 10:23] Hanifmamun opened #305 "White Blank Page Error"
Continuous blank white page error in rainforest hit.
![screenshot 82](https://cloud.githubusercontent.com/assets/18037395/16684676/33b0c09c-4528-11e6-90c1-c19e0b4a5565.png)

[2016-07-08 10:41] qpPykT commented on #303
@nerdatwork
Google translator is so insidious (tricky). Sometimes it translates text very differently than sometimes wants to say.

[2016-07-08 11:02] loverrr commented on #299
hello
I have same problem. please fix it. my ID is 38604955.

[2016-07-08 11:13] loverrr commented on #299
@pscohn

[2016-07-08 12:17] #305 closed

[2016-07-08 12:33] felipeinsanobr commented on #303
kkk
I used the translator that he is bugged

summary :From what I barely understood was that you get stuck after clicking the button to submit and it took forever to submit thereby triggering the Idle Policy rule. So you lost lot of HITs because of that.
But because some friends are normal? without the maximum.
And in the morning I was normal? the afternoon for the evening was so.
this seems to be

[2016-07-08 12:37] nerdatwork commented on #303
@felipeinsanobr You broke Google Translator buddy.

[2016-07-08 12:43] felipeinsanobr commented on #303
What happens is that when you give submit on the HIT he holds the ID in the terminal, and with this there is the problem of the maximum.

[2016-07-08 12:43] felipeinsanobr commented on #303
And this ta turning routine lately, is random ... sometimes it is me sometimes with some friends

[2016-07-08 12:44] felipeinsanobr commented on #303
One day a friend got stuck in MAXIMUM all day, always when it came to hit all the other for she was holding, and yesterday it happened to me

[2016-07-08 12:45] felipeinsanobr commented on #303
I'm thinking that the terminal once in a while Cali with some ID and leaves stuck in the Terminal for about 10 minutes as if it had stopped without nobody mess

[2016-07-08 12:47] felipeinsanobr commented on #303
One day I counted, so that started coming from the HIT FR my hold on maximum and the others were normally, but 10 minutes later returned to normal giving another worker.

[2016-07-08 12:47] felipeinsanobr commented on #303
Work on it here for almost 2 years and these errors comes only given after these latest updates.

[2016-07-08 12:49] felipeinsanobr commented on #303
Finally, I think that once in a while this bug has been occurring randomly.

[2016-07-08 12:52] qpPykT commented on #303
@felipeinsanobr
Did you and your friend use same ip-address and id's or different?

[2016-07-08 12:56] felipeinsanobr commented on #303
We are a group that do Rain, which we know only through the internet.

[2016-07-08 14:42] Niopup commented on #304
@nerdatwork
I mean, if I can do tasks rainforest in mturk which is a different platform and perform tasks asu see the extension and CrowdFlower . Because I have mturk account and yesterday saw the tasks rainforest.

[2016-07-08 15:13] nerdatwork commented on #304
Yes you can do Rainforest tasks from the mturk platform but you will get jobs ONLY from the Google Chrome extension. The jobs that are posted on CrowdFlower via Mturk are for recruiting new members only. If you read the instruction it says if you have already claimed a profile you SHOULD NOT do the job.

Was that helpful ?

[2016-07-08 16:34] Psychodelicc commented on #299
I have the same problem my id 38616501

[2016-07-08 16:37] pscohn commented on #304
You can do RF jobs from only one account at a time. It doesn't matter whether you go through CF or mturk.

[2016-07-08 16:37] #304 closed

[2016-07-08 16:43] pscohn commented on #303
I'm still not really sure what the problem is, but the "maximum" message usually happens after you finish a job until we are done processing your results. If you are using the extension it shouldn't give you another job until it is ready. If you have some other issue you open a new issue with some more details like your worker ID and a screenshot if it's relevant.

[2016-07-08 16:43] #303 closed

[2016-07-08 16:43] pscohn commented on #301
How often are you facing this?

[2016-07-08 16:46] jombere opened #306 "I sent the work from CrowdFlower and I do not get any notification."
send work and I do not get any notice, my id is 38616673 contributor, I'd really like to solve this little problem to enter the rainforest.
:(
![a](https://cloud.githubusercontent.com/assets/15624230/16694713/c36d3fcc-4509-11e6-8803-c9ca8a3ab853.jpg)

![screenshot_1sss](https://cloud.githubusercontent.com/assets/15624230/16694714/c377c9ec-4509-11e6-99d7-be93fc1e9e48.jpg)

@pscohn

[2016-07-08 16:56] persman commented on #306
hi
we all have the same problem
you can check it here:
https://github.com/rainforestapp/tester-chrome-extension/issues/299
I hope that @pscohn solves this problem

[2016-07-08 16:59] josejecr97 commented on #306
we're many with the same problem... check #299

[2016-07-08 17:03] pscohn commented on #306
Duplicate of https://github.com/rainforestapp/tester-chrome-extension/issues/299

[2016-07-08 17:03] #306 closed

[2016-07-08 17:03] jombere commented on #299
![a](https://cloud.githubusercontent.com/assets/15624230/16695132/f67bbf22-450b-11e6-911d-7059638b99cc.jpg)
![screenshot_1sss](https://cloud.githubusercontent.com/assets/15624230/16695133/f6a22a36-450b-11e6-9da6-7c7a7be27cf8.jpg)

send work and I do not get any notice, my id is 38616673 contributor, I'd really like to solve this little problem to enter the rainforest.

[2016-07-08 17:04] pscohn commented on #299
It looks like we've found a problem on our end with creating new testers, I'll update here when we have a fix in place.

[2016-07-08 17:04] shosti commented on #299
We found the root cause, it should be fixed shortly (within a few hours). Once it's fixed we'll open a new (identical) job on CrowdFlower that you should be able to complete correctly.

[2016-07-08 17:04] persman commented on #299
thank you very much :D

[2016-07-08 17:08] pscohn commented on #296
@Leonaam do you have the job ID? If not you can give your worker ID and the approximate day and time of your job.

[2016-07-08 17:10] josejecr97 commented on #299
THANKS!

[2016-07-08 17:12] pscohn commented on #295
Are you still seeing this frequently @srsaurabh32 ? How often? If you see it again, you can open up the Chrome developer tools and look for errors in the javascript or network tabs, and post a screenshot here.

[2016-07-08 17:15] jombere commented on #299
ty <3.

[2016-07-08 17:18] #299 closed

[2016-07-08 17:36] jombere commented on #299
Okay, one last question, which we had already sent the job, we have to get a new corwdflower account? because if so...

[2016-07-08 17:38] srsaurabh32 commented on #295
@pscohn yes i am still seeing it. several times in a row. I dont know why. I will post the screen shots soon, as this thing never stops.

[2016-07-08 17:42] shosti commented on #299
@jombere no, you won't need a new CrowdFlower account. We'll open a new CrowdFlower job and you can use it using your existing CrowdFlower account (but only if your previous attempt didn't get processed properly).

[2016-07-08 17:43] jombere commented on #299
many thanks. @shosti  <3.<3

[2016-07-08 17:45] srsaurabh32 commented on #295
![what is this error 4](https://cloud.githubusercontent.com/assets/19935406/16696239/b817e2be-4561-11e6-82a3-fc2290a9b385.PNG)
![what is this error 1](https://cloud.githubusercontent.com/assets/19935406/16696240/b825c7d0-4561-11e6-8f3e-9d3a09dc04df.PNG)
![what is this error 2](https://cloud.githubusercontent.com/assets/19935406/16696242/b82e6ac0-4561-11e6-9baf-1b05c74cc243.PNG)
![what is this erro

[2016-07-08 17:46] persman commented on #299
thank you, please tell us the ID or the name of the job when you lunch it. thank you again.

[2016-07-08 17:54] nerdatwork commented on #295
@srsaurabh32 Are you using Mturk to do those HITs ?

[2016-07-08 18:06] pscohn commented on #295
@srsaurabh32 are you using the chrome extension or making your own links?

[2016-07-08 18:08] srsaurabh32 commented on #295
i am definitely using chrome extension not making my own and @nerdatwork i do some hits on mturk as well.

[2016-07-08 18:11] srsaurabh32 commented on #295
and now this error....this also make its presence several times
![error](https://cloud.githubusercontent.com/assets/19935406/16697043/5e2c6a28-4565-11e6-86cd-c786baa38555.PNG)

[2016-07-08 18:13] nerdatwork commented on #295
@srsaurabh32 Now this is the right error message also like I mentioned earlier check the URL of this HIT. It shows browser=any and not browser=ie8

[2016-07-08 18:13] srsaurabh32 commented on #295
and on refreshing this came

![error 1](https://cloud.githubusercontent.com/assets/19935406/16697105/b6875250-4565-11e6-8017-7019465589de.PNG)

[2016-07-08 18:15] srsaurabh32 commented on #295
@nerdatwork i knew you were correct, but it does not mean the error I asked about does not exist....it does and it is irritating.

[2016-07-08 18:16] pscohn commented on #295
@srsaurabh32 If you stick to using the extension and not mturk you'll have the same experience as other testers, and I would suggest not refreshing links unless you have reached the job page, so it is fair for all testers to get a job.

[2016-07-08 18:16] #295 closed

[2016-07-08 18:18] srsaurabh32 commented on #295
i know that how refreshing page works but that is not the solution.....i am getting this error without any refresh. something is terribly wrong....why am i getting browser=ie8 instead of browser=any as @nerdatwork suggest.

[2016-07-08 18:20] srsaurabh32 commented on #295
@nerdatwork you are right that whenever this browser=ie8, It has not landed me on the job window but the same error each time.

[2016-07-08 18:25] nerdatwork commented on #295
Let the extension open the HIT. You will definitely land on a working HIT like rest of us. Dont do anything to the URL.

[2016-07-08 18:31] srsaurabh32 commented on #295
@nerdatwork  look i value your suggestions and respect....but i am aware of these facts, i have done each and every thing:
1. wait for the extension to load the test.
2. do not refresh the page
3. removed the extension
4. reinstalled the extension
5. reinstalled chrome as well

what else?

sorry no offense but i am frustrated.

[2016-07-08 18:35] jeffreyvdhondel commented on #276
Still nothing. Didn't expect that this problem takes so long to resolve :S

[2016-07-08 18:39] nerdatwork commented on #295
I understand and I am only trying to help. Can you try it on another computer ?

[2016-07-08 18:41] shosti commented on #299
The job has been published (ID 930309, name is unchanged).

[2016-07-08 18:43] srsaurabh32 commented on #295
I can agree on this....I will try. May be there is an error in my machine. And why has @pscohn closed this issue. This is absolutely rude.

[2016-07-08 18:49] nerdatwork commented on #295
He isnt being rude. He is one of the most helpful RF members here. He has to rectify issues and manage this place. So other open threads can be resolved. Try the things we talked and open another thread if you face any more problem. We are all here to help.

[2016-07-08 18:55] srsaurabh32 commented on #295
okay.....thanks. I will open another thread if problem still exists. thanx again @nerdatwork for your time. Sorry if I was rude somewhere..

[2016-07-08 18:56] nerdatwork commented on #295
Thank me when its resolved :) Good luck

[2016-07-08 18:59] srsaurabh32 commented on #295
yup...sure

[2016-07-08 21:34] jombere commented on #299
Good, I again arose another question, what if new people want to enter the rf? They use the id antigui work? or how do they?
@shosti @pscohn

[2016-07-08 21:52] pscohn commented on #299
New testers can do the Rainforest job published on CrowdFlower to get set up with an RF profile. @jombere

[2016-07-09 02:18] #281 closed

[2016-07-09 05:05] IceCreamCake opened #307 "Is today no job?"
More than 6 hours and not a single job pop up, i just want to ask is no jobs for the weekend. I'm sorry, i really don't know because I just started work in this week.

[2016-07-09 05:45] marius11 commented on #307
There are less jobs in the weekend than during the weekdays.

[2016-07-09 05:49] IceCreamCake commented on #307
oh, thank you very much. That's all i need to know :)

[2016-07-09 05:49] #307 closed

[2016-07-09 06:38] #274 closed

[2016-07-09 14:33] ruben767 commented on #299
Seems like this new ID has the same issue, my cousin did it yesterday and he haven't received any notification on his CF notifications index.

[2016-07-10 09:06] srsaurabh32 opened #308 "Unknown Error? with the same blank pink bar."
As notified earlier and did not get a satisfactory answer from RF, this problem still exists.

whenever I get this browser=ie8 this error shows up, please don't send me this link if it does not work.

screenshot:
![1](https://cloud.githubusercontent.com/assets/19935406/16712656/7dd2661a-46ab-11e6-8ce3-64a3e83545cd.PNG)

[2016-07-10 10:23] RezwanulHaque commented on #257
Same things here also, I am old user and have completed ~ 2600 job. But recently receiving few test daily. Not sure why. If RF dont like old user, they can let us know. so that we will not sit in the computer to do RF jobs. Thanks RF team for considering old users concern.

[2016-07-10 16:33] srsaurabh32 commented on #272
only did two hits in the whoooole day.......don't know why?

[2016-07-10 16:36] srsaurabh32 commented on #295
@pscohn I am still facing the **same** issue.

[2016-07-10 17:24] marius11 commented on #272
@srsaurabh32 Because it's the weekend, more specifically, Sunday?

[2016-07-10 17:37] nerdatwork commented on #308
@srsaurabh32 were you ever paid for any Rainforest HIT ? If so which website is it ?

[2016-07-10 17:39] nerdatwork commented on #280
@priggy If you are not facing this issue please close this thread.

[2016-07-10 19:57] srsaurabh32 commented on #272
@marius11 is it? Fine but i have one more issue did you see the issue I have listed on top : Unknown error? please look at the screen shots and please revert back, have you seen this before.

[2016-07-10 20:02] qpPykT commented on #308
@srsaurabh32
Another testers don't have it. Apparently that problem is on your side. Maybe you do something wrong or do you have specific settings, operating system or any plug-ins (extensions) that can interfere with tasks receipt in your browser and break the proper work of the rainforest extention.

[2016-07-10 20:02] srsaurabh32 commented on #308
@nerdatwork yeah sure. I use Google Chrome Version 51.0.2704.106 m (64-bit). My machine is Acer manufactured and run on windows 7 OS. The extension I am using is Rainforest Tester Notifier 1.2.8.

And yes I have completed around 400 tests for RF and I have been paid for each of it. I work only through extension and through Mturk.

[2016-07-10 20:06] srsaurabh32 commented on #308
@qpPykT I don't understand what the problem is? Do you suggest me to reinstall everything. Then i already did it, except reinstalling the OS. Should i do that? I guess not, there must be a solution to this.

[2016-07-10 20:13] nerdatwork commented on #308
@srsaurabh32 Could you also tell me which are those other icons besides Rainforest ?

[2016-07-10 20:22] srsaurabh32 commented on #308
1. userbrain testing: it is a sreen recorder.
2. TurkOpticon: A forum for Mturk workers and requester.
3. TamperMonkey: used for running scripts on Mturk.
4. Hideyourass: A proxy or VPN ; i have removed it now.

Still the problem exists.

[2016-07-10 20:31] helloworld111gh commented on #308
Can you go into your F12 -> Network tab, then look for the "
tester.rainforestqa.com/api/1/jobs/get/..." section (you may need to
refresh the page), then go to "Response".
Can you copy and paste what is in that box?

On 10 July 2016 at 13:22, srsaurabh32 <notifications@github.com> wrote:

[2016-07-10 20:34] srsaurabh32 commented on #308
@helloworld111gh ok let me try.

[2016-07-10 20:39] srsaurabh32 commented on #308
@helloworld111gh
this is the response code:

<!DOCTYPE html>
<html>
<head>
<script>
  var _sf_startpt=(new Date()).getTime()
</script>
<script>
  var PUNCHCLOCK_URL="https://punchclock.rainforestqa.com"
</script>
<script src='//cdn.ravenjs.com/1.1.19/native/raven.min.js'></script>
<script>
  Raven.config("https://44446efb6f624ad88006c0cd44b3fd79@app.getsentry.com/18148", {
    whitelistUrls: ["tes

[2016-07-10 20:44] srsaurabh32 commented on #308
@helloworld111gh @nerdatwork

related screenshots

![error 1](https://cloud.githubusercontent.com/assets/19935406/16715993/215e3be0-470d-11e6-9024-7585f5fdc0e8.PNG)

![error2](https://cloud.githubusercontent.com/assets/19935406/16715994/2adbc318-470d-11e6-9cb2-6d644fed6976.PNG)

![error3](https://cloud.githubusercontent.com/assets/19935406/16715997/3317c446-470d-11e6-8d9e-a1d788a44811.PNG)

![erro

[2016-07-10 20:47] helloworld111gh commented on #308
that's not the one, scroll down, its near the bottom, it might as red text

On 10 July 2016 at 13:44, saurabh rathore <notifications@github.com> wrote:

[2016-07-10 20:52] srsaurabh32 commented on #308
@helloworld111gh
I am at this page, where am i supposed to click now:

![where](https://cloud.githubusercontent.com/assets/19935406/16716023/4b07f610-470e-11e6-874f-291f9953a495.PNG)

[2016-07-10 20:54] helloworld111gh commented on #308
in the table scroll down, look for the row that has "/api/1/jobs/get/..
<http://tester.rainforestqa.com/api/1/jobs/>." (near bottom), click on it,
go to "Response" and show whats there

On 10 July 2016 at 13:52, saurabh rathore <notifications@github.com> wrote:

[2016-07-10 21:03] srsaurabh32 commented on #308
@helloworld111gh

can't find anything like this at the bottom

![cant](https://cloud.githubusercontent.com/assets/19935406/16716082/d94055ac-470f-11e6-8f44-41ebc1a56469.PNG)

[2016-07-10 21:05] helloworld111gh commented on #308
Check the middle?

[2016-07-10 21:09] srsaurabh32 commented on #308
@helloworld111gh

can't find it anywhere, see for yourself:

![nowhere1](https://cloud.githubusercontent.com/assets/19935406/16716101/894ffb32-4710-11e6-9cc2-5273bad4d38f.PNG)

![nowhere2](https://cloud.githubusercontent.com/assets/19935406/16716102/94b6c82a-4710-11e6-92cb-bd99c224be93.PNG)

![nowhere3](https://cloud.githubusercontent.com/assets/19935406/16716104/9c1217aa-4710-11e6-901e-a49ed33155

[2016-07-10 21:14] srsaurabh32 commented on #308
@helloworld111gh
 i found what you are asking for but not with this job url that have browser=ie8 but browser=any

screenshot from browser=any?

![found](https://cloud.githubusercontent.com/assets/19935406/16716126/44caa39e-4711-11e6-9809-70ca59d3409c.PNG)

[2016-07-10 21:21] srsaurabh32 commented on #308
@helloworld111gh

I am going to bed now, its too late now 02:50 AM, thanx for your help. We will continue later.

[2016-07-11 08:15] ecliptica777 opened #309 "Rejections"
<img src="https://pp.vk.me/c633229/v633229959/3db9c/j9hVeyBITIM.jpg" alt="Rejections" />

Why is the rejections here? Unfortunately Rainforest support is not responding. I have 2 rejections and the reason is unclear. Who have problems with rejections?

[2016-07-11 19:50] kaytsu commented on #309
double check your math. 622 +709 does not equal 1341. It equals 1331.

[2016-07-11 20:06] pscohn commented on #309
It looks like it's because you didn't go to the correct link at the start of the test. We'll work on adding this information to the rejections view so it's more obvious.

[2016-07-11 20:06] #309 closed

[2016-07-11 20:58] persman opened #310 "Job abandoned because of screenshot problem"
Hi, I had a problem with Screenshot (Failed to report a screenshot) and I got (job abandoned) Because of this error. What should I do now?

[2016-07-12 00:56] felipeinsanobr opened #311 "30 Minutes of You Have Done The Maximum ! Affs :("
At 21h (Brazil) I am with 30 minutes with You Have Done The Maximum ! Almost every day is happening this with my ID

My ID: 38484087
Check Pliz

[2016-07-12 01:08] ahmedofhell commented on #311
same here

[2016-07-12 01:17] zfonck123 commented on #311
same here id : 34044189

[2016-07-12 01:23] tulko commented on #311
same here 29649019

[2016-07-12 02:23] nerdatwork commented on #310
This happens to most of us. Its unfortunate but Rainforest is working on fixing it. If you get job abandoned, close the tab and wait for another job to load.

[2016-07-12 08:32] persman commented on #310
thank you :)

[2016-07-12 08:32] #310 closed

[2016-07-12 15:41] saulruiz opened #312 "Test applications for Rainforest QA not appear (again) in CrowdFlower."
Hi.

From 2 days ago I searched the work to create me a new account and I can not find it in the list. They happening since changed the id to 930309. Anyone seen it? Sorry for the bad English

[2016-07-12 16:54] srsaurabh32 commented on #308
@nerdatwork  continuously getting this same error url with browser=ie8, cant do work, Please RF help me.

[2016-07-12 17:31] zfonck123 opened #313 "2 job without payment"
![image](https://cloud.githubusercontent.com/assets/19192312/16776833/22c4692c-4835-11e6-9a5f-183c92e182f2.png)

  2 job without payment

[2016-07-12 17:34] tulko commented on #311
I have the same problem in the present day, it is due to rejection? It was only in the sum test, could find another way to test anti bot. I'm tired of adding

[2016-07-12 17:38] philips13 commented on #313
same problem

[2016-07-12 17:40] tulko opened #314 "Tired of adding"
I'm pretty tired of doing antibot sums. But when I make mistakes. It seems silly but when you do many tests you get tired and make mistakes. Could leave alone the robot, sandwich, pyramid, and find some other silly question for this test?

[2016-07-12 17:58] nerdatwork commented on #314
You will get tired of other silly anti-bot questions too eventually. How often should you suggest to keep changing the anti-bot questions ?

[2016-07-12 17:59] nerdatwork commented on #313
Have you read this at the top of the HISTORY in your profile ?

"**NOTE: Bonuses are normally paid within 24 hours, usually less. Occasionally there are delays. If a bonus takes longer than 48 hours during Monday-Friday**"

[2016-07-12 18:17] marius11 commented on #314
Tired of answering the easiest question in a task?

You need to pay attention to details. If you're not patient enough to add two numbers, how can you solve the rest of the task?

Adding other silly questions wouldn't make any difference.

[2016-07-12 18:25] nerdatwork commented on #314
If it was up to me just to satisfy your curiosity I would make the anti-bot questions something like this

## ax + cy = p

Find value of b.

[2016-07-12 18:30] philips13 commented on #313
the task appears as if we had not made ​​any steps. I understand that payments can take up to 48 hours and that is not the problem.

[2016-07-12 18:41] JrRandy commented on #314
I'd be happy if the anti-bot questions just didnt take screenshots.  Nothing worse then getting "Are you a human" and then failing to take screenshot 7 times before it moves forward lol

[2016-07-12 18:45] zfonck123 commented on #313
when i done this task, i get one problem " aplicattion offline" and realod and say send the job thx. later when check my perfil  have this error.

[2016-07-12 19:00] MuhammadRafique182014 commented on #313
@nerdatwork are you drunk LOL look at the Screen shots
@zfonck123 yeah its a bug, same here but 1 hit

[2016-07-12 19:04] nerdatwork commented on #313
@MuhammadRafique182014 How did you know I was drinking coffee ?

[2016-07-12 19:08] MuhammadRafique182014 commented on #313
@nerdatwork I got it with your comment LOL

[2016-07-12 19:09] nerdatwork commented on #313
How very perceptive of you!

[2016-07-12 19:24] Electroglitch commented on #313
Happened to me today also, for the first time ever to see this kind of bug,
i was on the last step and screenshot error appeared ,after trying 7-8 times (closing error message and clicking Yes) it looked like everything went just fine, submited test after that
but in profile history saw situation just like in screenshot above
no submitting time no bonuses just "-" but time taken was present 00:05:

[2016-07-12 19:34] nerdatwork commented on #313
Maybe those jobs are travelling through the Bermuda Triangle and lost track of time by the time they reached your profile :dash:

Also on other hand, you took screenshot of your profile, pasted in paint and took screenshot of paint! You must really be frustrated.

[2016-07-12 20:12] qpPykT commented on #314
I'm tired of "There are no virtual machines currently available. Please retry in a few minutes." :ghost:

[2016-07-12 22:59] GreekGuy commented on #314
Who cares about these anti-bot questions when there is no work.... -.-

[2016-07-12 23:28] tulko commented on #314
Perhaps it is a response to what I'm doing enough jobs, which is good. I can do sums, I'm practicing them without the calculator. I just feel frustrated by a rejection, by a bad sum with the mind

[2016-07-13 00:07] sweeneyapps opened #315 "Delay in Extension Programming"
I noticed when jobs were actually FOUND, the extension's button turned "YES" (green), there's delay on opening a new TAB.    So I looked into your source code and discovered that there's no delay between those actions.   Because I wrote my own extension to start with... I discovered that when I request a new tab, it opens ASAP!.   I tried another test to see if it's possible to delay the tab from

[2016-07-13 00:15] helloworld111gh commented on #315
extension is open source, if you can make a better extension, then make one & do PR.
personally I do not have a lot of lag from "YES" to open tab.

[2016-07-13 01:08] #313 closed

[2016-07-13 05:21] qpPykT commented on #315
And what about the delay between when a new tab is already open and receive a response with the hit or with any message. A small circle on the right side at the top, it can be spinning about 10-20 seconds. Is it same problem or not?

[2016-07-13 08:06] sweeneyapps commented on #315
Alex, this is different problem.

spinning wheel loading is server side problem...  Nothing to do with Google Chrome Extension.     This extension only connect with the server to supply user information such as idle time, and ping the server for job availability.     It's like the extension asking the server, You got job?  Server just response back either Yes or No.   If Yes, then the extension wi

[2016-07-13 08:17] sweeneyapps commented on #315
Richard,  I'll love to improve this extension but I don't work for Rainforest and it's their job to improve their own extension.    Yes, It's open source w/ poor documentation or closed documentation.   Also there's a lot of area where they could have done better other than the extension itself.   Such as how they deal with virtual machine availability and job ownership.    We should not see the "

[2016-07-13 13:52] persman opened #316 "a very slow test"
hi,
there is a test that is very very slow  and I did it 2 times ( 11 steps and 10 steps) and in both of them I saw abandoned error. is it my problem? I don't have any problem with other tests. what can I do for this test?
best regards.
I didn't tell the name of that test, because I think it is not legal (it is NOT NDA test).

[2016-07-13 14:13] nerdatwork commented on #316
Taking a hint from the Title change I understand your problem but you didnt do anything wrong. That particular website is slow in the terminal. Many testers face that issue. Try your best to do it in time if not there is nothing else that you can do about it. Happy Testing ;)

[2016-07-13 14:19] persman commented on #316
thank you for your quick answer.
Is it dangerous for my account? I am new so I am scared of everything :S I don't want to be banned so I am asking everything from you.

[2016-07-13 14:21] nerdatwork commented on #316
Your account is safe as long as you follow rules. Lots of testers face slow speed for that particular website.

[2016-07-13 14:25] persman commented on #316
thank you very much. good luck :)

[2016-07-13 14:26] #316 closed

[2016-07-13 16:37] nagabhyru opened #317 ""Another Worker Accepted"-Getting this all the day"
Hi friends,
Did any of you getting this message "Another worker Accepted" message while getting tests. Today I got this message too often (Almost 90%). Some times the extension turns YES and simply turns NO with out opening any test. If open they are end with "Another worker". Is this due to new interface or due to less work.

[2016-07-13 17:15] ilegalna commented on #317
Same here, all day.

[2016-07-13 19:22] tulko opened #318 "AMA?"
What happened to the AMA

[2016-07-13 19:24] marius11 commented on #318
It's been postponed.
https://portal.rainforestqa.com/

[2016-07-13 19:27] #318 closed

[2016-07-13 19:30] Angelituss commented on #317
The same here all day, from Argentina

[2016-07-13 20:07] ando100 commented on #318
@tulko  it`s on atm, feel free to check.

[2016-07-13 20:49] GreekGuy commented on #315
app.openOrFocusTab(resp.url);  You wait for the server to send the url so there is delay like propagation delay.

[2016-07-13 21:46] rafaelzerpa commented on #317
hello friends could help create an account to do work like this?

[2016-07-13 21:47] rafaelzerpa commented on #317
as I can be on the team of testers

[2016-07-13 22:43] berkomay opened #319 "A security error occurred (Error #2048)."
A security error occurred (Error #2048).
Please check you can connect to http://v061.ext.prd.rnfrst.com:843

[2016-07-14 00:50] JrRandy commented on #317
Over the last 24 hours, they have had 6500+ testers working (1256 online right now).  Chances are, someone who has a refresh slightly ahead of you was able to steal the job.  This is normal.  Annoying, but normal.  Please close this thread as this is functioning as designed and not a bug.

[2016-07-14 00:52] JrRandy commented on #319
If this was inside the terminal (Which it always has been in my experience) click "No" report issue, and move on to next job.  Please do not report issues inside the terminal on this github.  This is strictly for reporting issues with the interface/extension itself, and not issues that can be reported via the No button while performing tests.

[2016-07-14 00:55] JrRandy commented on #311
#303

Looks like the same issue.  @pscohn

[2016-07-14 00:56] JrRandy commented on #272
Not sure if this issue is still happening to some of you, but if not please close this thread so we can keep active issues being addressed.

[2016-07-14 00:58] JrRandy commented on #280
@nerdatwork : Issue happens at least a few times daily to me, and I am sure others.  Most of us just power through it now I think :)

[2016-07-14 01:07] JrRandy commented on #276
If the messages are showing up in crowdflower, they are receiving the payment from RF.  Otherwise, how would they know how much the bonus is?  Go to:  https://tasks.crowdflower.com/profile and match your Worker ID with the contributor ID to see where the payment is going.  Chances are, it is going somewhere you are not expecting it or to an expired neobux account.

[2016-07-14 01:08] JrRandy commented on #250
Please close this thread if this issue has been resolved.

[2016-07-14 01:11] JrRandy commented on #270
Please close thread if issue has been resolved.

[2016-07-14 01:12] JrRandy commented on #280
#7 Looks like this has been a long outstanding issue.  Can we close this thread to keep a single thread on the issue?

[2016-07-14 04:42] tulko commented on #315
I think it has to do with each particular computer. I made changes to my computer (configurations) greatly improved the overall performance of the virtual machine, also in my router and I'm not connected directly to the Internet.
As for the delay in loading the site. I think it is because sometimes have too much traffic and saturates.
Regarding the case when set to YES and I will not have a tab, i

[2016-07-14 05:09] nerdatwork commented on #319
All errors inside the terminal **must be reported by clicking NO** and mentioning the details in the pop up that shows under NO. Please close this thread.

[2016-07-14 05:17] nerdatwork commented on #315
@tulko I am humbled by the amount of energy and thoughts you have put into this idea. To feed your curiousity Rainforest is already working on a system called "Schrute". This system will give priority to testers who are online for most of the time among other things thereby eliminating testers complaining of sitting for hours and not getting any job. I hope that was helpful.

@sweeneyapps I thank

[2016-07-14 06:18] sweeneyapps commented on #315
@tulko you are incorrect on the part where extension had to wait until RF send a URL.   I completely test RF extension.   The extension check for the job, and the server ping back Yes or No, if Yes, it does include the job url, then the badge will turn Green.  There is supposed to be NO DELAY on opening a tab w/ the url supplied even if the server is still loading.   I'll include my own job checke

[2016-07-14 10:07] nberchev commented on #315
@tulko Can I ask you what changes you made to ur computer (configurations) which greatly improved the overall performance of the virtual machine?

[2016-07-14 11:30] nedim184 opened #320 "vnxgmv"
ilgiuoćč

[2016-07-14 12:39] tulko commented on #315
@sweeneyapps I'm not desarrallor, although it is something I would like to learn. What I tell is by simple observation and comments gitub.
If YES and extention was not open any tab, because another reason to be ?.  yourself have said that in the code there is no delay. There is another reason, I do not want to mention why I believe this to YES if not the tab is opened is because there no url to lo

[2016-07-14 12:56] #314 closed

[2016-07-14 13:49] Ashok-Reddi commented on #276
@jeffreyvdhondel I am also facing same issue. moreover this I found some one else's jobs in my history page rather than my jobs. And the same thing in CF dashboard I got deducted messages but nothing is got paid in my eliteCF. The same thing is happened in my case too. RF asked me to finish the training jobs and I do well. After that I do 3 jobs but nothing is credited in eliteCF. If you found the

[2016-07-14 14:12] Ashok-Reddi opened #321 "Job history gone & not credited for newly done jobs."
This is my actual profile.
![rainforest_ashok](https://cloud.githubusercontent.com/assets/20459671/16842070/ab5ba8ac-49f9-11e6-861e-aff6224e43c2.png)
but some thing has gone wrong and I got the different stats in my profile. pls check here.
![ashokrfnew](https://cloud.githubusercontent.com/assets/20459671/16842264/7d630746-49fa-11e6-9456-c8cdd4ecfd43.png)
Here are the job history with new profile

[2016-07-14 15:20] yoges9 opened #322 "There are no virtual machines currently available. Please retry in a few minutes."
i am ready to do jobs, but since 2 days every time getting first There are no virtual machines currently available. Please retry in a few minutes and after that another worker accept the job , this is not a fair system , i have done more than 1600 jobs for rainforestqa, and its very frustating to wait a whole 24 hours and then recieving these messages. plz respect testers if you are  are providing

[2016-07-14 15:20] mijorojas opened #323 "Too many errors"
I am not receiving any HIT. It always says "Another worker accepted the job before you"

[2016-07-14 15:25] JrRandy commented on #323
Not an error, working as designed.  Another worker took the job before you could load it.  Please close this thread.

[2016-07-14 15:28] JrRandy commented on #322
They are working on an updated system.  This is annoying, but not a bug as it is an expected message when the system runs out of virtual servers.  Please look through the closed threads, and you will see many instances of this same report.  Please close this thread so we do not distract from true issues in the system.

[2016-07-14 15:29] #323 closed

[2016-07-14 15:34] JrRandy commented on #321
The tester link is different for the 2.  They look like 2 different profiles, not an updated profile.  Are you sure you used the right email?  It looks like at some point you made 2 profiles for whatever reason, and now have 2 accounts.

[2016-07-14 16:57] nerdatwork commented on #320
What is this ??

[2016-07-14 16:59] Ashok-Reddi commented on #321
@JrRandy, I dont know how 2nd profile was created. suppose in this case how can I deactivate the second profile. Can you please let me know the process

[2016-07-14 17:00] nerdatwork commented on #321
These are clearly 2 profiles. Did you take prior permission before opening up a new profile ? Having 2 Rainforest accounts is against the TERMS of use.

[2016-07-14 17:01] Ashok-Reddi commented on #321
@JrRandy, I dont know how the 2nd profile was created. In this case can you please let  me know how to deactivate my second profile and continue with the first one?

[2016-07-14 17:05] Ashok-Reddi commented on #321
@nerdatwork, Can you please suggest me what to do in my case. I just wants to go with my 1st profile ie., 55jobs completed profile. Whom do I ask to resolve this issue?

[2016-07-14 17:40] JrRandy commented on #321
You can't deactivate an account to my knowledge.  You need to log in using the email address you logged in with on the 13th, and not the one you logged in with on the 14th.

[2016-07-14 17:46] Ashok-Reddi commented on #321
@JrRandy, the 2 profiles are linked with same email. that is what the issue here. I dont know how it happened with out my notice.

[2016-07-14 17:50] JrRandy commented on #321
If thats the case, then only the help desk via a ticket can assist.  Considering it doesn't appear that you logged into the first account now that I look again (Login button is still visible), I am guessing they are not attached to the same email and that you just had a link stored from 2 years ago when you started testing.  Try some other email addresses that you use, and you may find the actual

[2016-07-14 17:54] pscohn commented on #321
It's likely that you have the same email addresses for both profiles. Please try logging into one profile,changing the email address, and see if you can log into the other one. If it works, please respond to the ticket you sent in as well. @Ashok-Reddi

[2016-07-14 18:31] Ashok-Reddi commented on #321
@pscohn, Thank you so much bro. It worked perfectly. I got my history back. I just done a small job and it is showing in my profile too. waiting to check the amount to be credited. Thanks a lot @pscohn, it was a great help to me.

[2016-07-14 18:56] helloworld111gh commented on #315
Just going to throw out a theory:
Maybe the delay is to ensure that when the tab opens you don't hit the rate
limit. Because if it opens as soon the yes is there, you might get rate
limit exceeded. So it waits a bit cool down that rate limiter.

On Jul 14, 2016 05:39, "tulko" <notifications@github.com> wrote:

[2016-07-14 18:57] Ashok-Reddi commented on #321
As it solved my problem now I am closing the issue. once again Thanks @pscohn.

[2016-07-14 18:57] #321 closed

[2016-07-14 19:25] sweeneyapps commented on #315
@helloworld111gh   it's nothing to do with rate limit or anything.  Inside the code, whenever the Icon Button turn GREEN "YES", the only next step is to open a tab with a URL.   That's it.   Nothing to do with loading, server error or anything.   It is just something to do with javascript having hard time handling too much loads on all the scripts added into the memory.   Also it's handling too ma

[2016-07-14 20:27] #322 closed

[2016-07-14 20:51] tulko opened #324 "new interface"
On several occasions I got an error "Failed to perform action on machine".
this was to take screenshot
I had to start over several times

[2016-07-14 20:52] jeffreyvdhondel commented on #276
@Ashok-Reddi Will keep you up to date. But good luck mate my first ticket is dated  June 21, 2016.
23 days and going. :(

[2016-07-14 20:55] tulko commented on #324
at the end refresh, four times and I could not finish

[2016-07-14 20:58] philips13 opened #325 "In the New interface you can not see the steps above when passing the cursor over it."
Before you could read the above steps performed when you hover the cursor above the step , this was very useful. But now with the new interface as the cursor moves by the previous step this is not read .
This option could again be added ?

[2016-07-14 21:16] murilus opened #326 "New Interface Error"
@pscohn @ukd1

I received a test on the New Interface, it showed me Loading, I've waited 5 minutes, it still showed me Loading, after 5+ minutes, I refreshed the link, it showed me Loading again, been waiting again like 2+ minutes, still the same, refreshed again, been waiting again, refreshed and received You've requested this job to often.

After that the extension gave me another link but I rec

[2016-07-14 21:23] mlujan opened #327 "Got rejected for this"
https://s3.amazonaws.com/store.rainforestapp.com/7378a611-b3e5-4e74-9ad0-1c89207bb1d8.png?AWSAccessKeyId=AKIAI3E7F33G5BJNCP4Q&Expires=1468534957&Signature=r7jqbccnakbb2twzTAz5SEf6DhM%3D

[2016-07-14 21:23] mlujan commented on #327
Looks an awfully lot like an error to me.

[2016-07-14 21:27] JrRandy commented on #327
Include a screenshot of the rejection.  That way we can see if you actually got rejected there or somewhere else.

[2016-07-14 21:29] mlujan commented on #327
http://prntscr.com/bt01p0

[2016-07-14 21:31] Blackls commented on #301
Direct. I made the record and say that I already have account since 2014 and can not do anything.

[2016-07-14 21:31] JrRandy commented on #327
None of those show a red X, so isnt the reason for the rejection (Unless that was changed along with the interface change).  Do you see a red X anywhere else in the rejection?

[2016-07-14 21:35] murilus commented on #326
Now I don't receive that error anymore and I just received a test, but I believe it's because 60 minutes passed since then, so I believe it's still an error...

[2016-07-14 21:37] mlujan commented on #327
actually looks like 532+ 739 is really 1262? http://prntscr.com/bt05cq

[2016-07-14 21:38] JrRandy commented on #327
That says 523+739 which is in fact 1262

[2016-07-14 21:39] mlujan commented on #327
Doh!

[2016-07-14 21:39] #327 closed

[2016-07-14 21:47] tulko commented on #325
surely they will wear. He also commented on a test notes. This well qeu what we report, you may not know how much we use it

[2016-07-14 21:53] NeoWorker opened #328 "Unexpected token < in JSON at position 0"
I keep receiving this error. When I tryed to reload the page, I was getting only this message in the page.

Pic:

http://storage3.static.itmages.com/i/16/0714/h_1468533212_4983875_5b99a4489f.png

[2016-07-14 21:58] GreekGuy commented on #328
I got it instead of screenshot error i believe.

[2016-07-14 22:00] nuevao opened #329 "Unexpected token"
greetings, very common error in my case in the new interface, after giving click to take the screenshot with the error image![image](https://cloud.githubusercontent.com/assets/16979522/16856974/1a6bf580-49eb-11e6-99e8-4b923c6fd3a8.png), besides presenting a delay in taking the screenshot. other so very nice, modern interface.

[2016-07-14 22:03] JrRandy commented on #329
Please post in #328 and close this thread as they are for the same issue.

[2016-07-14 22:05] ilegalna commented on #324
"Unsuspected token" error on my side:

<a href="http://screenshot.net/jgvn5a0" rel="nofollow"><img src="http://screenshot.net/jgvn5a0.jpg" /></a>

[2016-07-14 22:07] tulko commented on #328
I think it's the same error of taking a screenshot. wait a few moments and try again.

[2016-07-14 22:11] JrRandy commented on #324
@ilegalna Can you move your post to #328 as Tulko's error is different than yours.  328 is related to your issue (Error appears when taking screenshot)

[2016-07-14 22:12] ilegalna commented on #324
Of course @JrRandy :)

[2016-07-14 22:16] ilegalna commented on #328
<a href="http://screenshot.net/jgvn5a0" rel="nofollow"><img src="http://screenshot.net/jgvn5a0.jpg" /></a>

[2016-07-14 22:31] nuevao commented on #329
@JrRandy  you are right, Closed

[2016-07-14 22:31] #329 closed

[2016-07-14 22:44] JrRandy commented on #326
From the portal:

Rolling Back the Update 2016-07-14 22:24:55 UTC, Paul Cohn
We're rolling back the update for now - we discovered a bug with some jobs that caused a long period of the "maximum unsubmitted assignments" message. Thanks to everyone who reported this problem!

[2016-07-14 23:24] tulko opened #330 "You have reached the maximum number of unsubmitted assignments"
You have reached the maximum number of unsubmitted assignments.

for more than half an hour and counting

id 29649019

[2016-07-14 23:28] #330 closed

[2016-07-15 13:11] MarinaCec commented on #272
@JrRandy YES still happening, had no tests today

[2016-07-15 15:36] KurtCobain82 commented on #299
I have the same problem, i do twice and nothing notification.. Look.
![rainforest test](https://cloud.githubusercontent.com/assets/20479049/16879816/4de89392-4a80-11e6-9e7c-8ce3d055fd10.jpg)

[2016-07-15 16:54] luisdanielvc commented on #328
At least this error was much better than the screenshoot one in the old interface.

[2016-07-15 20:10] srsaurabh32 commented on #308
common RF at least try to understand this issue, in the whole day i get several errors; these errors. browser=ie8 and always it end up with a pink blank strip and nothing else. I dont know what to do so I just close the tab in hope that the next task would not disappoint me, but again the same thing happens and it happens continuously and for the whole day. Please look into this matter, because on

[2016-07-15 20:15] josejecr97 opened #331 "Another worker take my job"
I have some troubles because when im finishing my job it says that somebody else finish my job... i have this error all the day .. i cant do anything .. is really unfair :( please fix :(

[2016-07-15 20:22] pscohn commented on #331
@josejecr97 can you screenshot the error and provide your worker ID, and a job/assignment ID if possible?

[2016-07-15 20:26] #320 closed

[2016-07-15 20:27] #326 closed

[2016-07-15 20:27] #324 closed

[2016-07-15 20:27] #328 closed

[2016-07-15 23:36] josejecr97 commented on #331
Oh i dont see the post, sorry .. OK, i dont have any screen yet but i will post here when it happens again..

[2016-07-16 03:56] Halcongris commented on #331
Tengo un problema cuando abro los trabajos me dice BAD GATEWAY 502

[2016-07-16 03:57] Halcongris commented on #331
I have problems when I open the work tells me 502 bad gateway

[2016-07-16 03:59] Halcongris opened #332 "BAD GATEWAY 502"
I have problems when I open the work tells me 502 bad gateway

[2016-07-16 06:22] #270 closed

[2016-07-16 07:05] nerdatwork commented on #332
Take a screenshot and update your post.

[2016-07-16 08:33] nerdatwork commented on #331
@Halcongris Stay with your thread, this thread is not for your issue. Use ENGLISH when you are replying.

[2016-07-17 07:22] srsaurabh32 opened #333 "Problem with the url"
https://tester.rainforestqa.com/tester/assignment/aws/ie8?assignmentId=cx7ad4d3-e366-4470-8c24-989b1c350720&browser=ie8&hitId=2TFKNQY2RCJKNEV1PR8R8KUIQI33SI&sig=6378601f20452af391476fc7d097e987e8e2c8e11ad064272753a63b9d26a609&turkSubmitTo=%2Fthanks&workerId=A3QP3LRCVC20M0

can anyone please tell me what is wrong with this url, it never lands me on a job page, instead I receive a blank pink bar onl

[2016-07-17 15:30] josejecr97 commented on #331
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx7d6eef-471f-4966-a7cb-a62a7b14e0ae&browser=any&hitId=4375118&sig=c3336876a335f9e5acd7d317362de646149caddd97bf6ea3bd6586d36ac78631&turkSubmitTo=%2Fthanks&workerId=33601615

i dont know whats the id.. so i post the link, @pscohn  i've doing job like 2 mins.. when i press yes to get another step it says that some one el

[2016-07-17 17:13] nerdatwork commented on #333
Try opening the browser=ie8 link in Internet Explorer 8 and see if it works.

[2016-07-17 17:41] srsaurabh32 commented on #333
i have windows 10 and ie8 is not supported, i tried it on ie edge and same results; blank pink strip.

[2016-07-17 22:38] tulko commented on #333
I call your attention id worker, usually a number, you have something alpha numeric

[2016-07-18 04:37] srsaurabh32 commented on #333
@tulko this worker id belongs to Mturk hence alphanumeric, your must be of some different platform. The problem is not the worker id, it is the browser, when the url contain browser=any, I am able to complete the job but when browser=ie8 nothing but a blank pink bar shows us.

[2016-07-18 06:14] Devil3000 commented on #333
I have same problem

[2016-07-18 06:15] srsaurabh32 commented on #333
@Devil3000 the same blank pink bar problem? browser=ie8? and since how long?

[2016-07-18 06:37] Devil3000 opened #334 "Website is offline | 525 : SSL handshake failed"
I have this problem since 2 days

![2016-07-18_083309](https://cloud.githubusercontent.com/assets/19398759/16907256/3ea2d3ae-4cc2-11e6-8611-e77d69185c47.png)

[2016-07-18 06:49] nerdatwork commented on #333
@Devil3000 Your problem is not the same as this thread. Please stay in your thread a proper response will be given to you.

[2016-07-18 06:52] nerdatwork commented on #334
@Devil3000 Are you using the Chrome extension to get jobs ? Take a screenshot of whole screen including the URL and extension.

[2016-07-18 06:52] srsaurabh32 commented on #333
@nerdatwork what am i supposed to do now, no one has any idea how to deal with this problem.

[2016-07-18 06:55] nerdatwork commented on #333
have you tried another computer ? I recommend windows 7 which can run ie8.

[2016-07-18 07:09] Devil3000 commented on #334
yes i using the Chrome extension to get jobs
![2016-07-18_090052](https://cloud.githubusercontent.com/assets/19398759/16907749/6280f504-4cc6-11e6-8cfb-aa7c40af6462.png)
when i refresh this page turned to :
![2016-07-18_083309](https://cloud.githubusercontent.com/assets/19398759/16907814/dff84316-4cc6-11e6-91fb-181e600481a9.png)
must be click on "Retry for alive version" to back me  "Another worker

[2016-07-18 07:17] nerdatwork commented on #334
If you see that error, you need to close that tab and not refresh it. Clear your Chrome cache by going to settings and history then clear all history/cache from "Beginning of time".

[2016-07-18 11:13] tulko commented on #333
@nerdatwork you're administrator or something.?

[2016-07-18 12:21] srsaurabh32 commented on #333
@nerdatwork  yup i followed your advice, tried it on different machine, with windows 7 but the same problem, not only this, but i checked logging in on different machines but the same problem and as a matter of fact one of my friend who also work for RF, I tried working on his machine, there too I got the same error. My friend who also works for RF have never witnessed anything like this. I am the

[2016-07-18 12:37] nerdatwork commented on #333
This is completely strange. Could you confirm the version of Rainforest extension whether its up to date.

[2016-07-18 13:02] srsaurabh32 commented on #333
@nerdatwork  Take a look:
![rainforrest](https://cloud.githubusercontent.com/assets/19935406/16915575/e6cb766e-4d15-11e6-92fb-38ec7476a96d.PNG)

[2016-07-18 13:03] srsaurabh32 commented on #333
@nerdatwork  this is the latest link that i just received

https://tester.rainforestqa.com/tester/assignment/aws/ie8?assignmentId=cx718f14-1069-4024-9844-cc4764e7e2d0&browser=ie8&hitId=2TFKNQY2RCJKNEV1PR8R8KUIQI33SI&sig=391b6b034ac2f0f78e1dbf1b1c5287eaf9ee62dc677865ce9b40ab4d220673ba&turkSubmitTo=%2Fthanks&workerId=A3QP3LRCVC20M0

[2016-07-18 13:04] srsaurabh32 commented on #333
![enw](https://cloud.githubusercontent.com/assets/19935406/16915633/46ce29d0-4d16-11e6-8e55-722f326cab9f.PNG)

[2016-07-18 13:15] nerdatwork commented on #333
Well this week there are company wide meetings so support will be limited. Have your fingers crossed. I hope you find a response because only Rainforest staff can help you now.

[2016-07-18 13:24] srsaurabh32 commented on #333
@nerdatwork ok lets wait then.

I have one more question: what platform do you use?

[2016-07-18 15:23] srsaurabh32 commented on #333
@nerdatwork guess what i took my friend's RF id and logged in using his id and worked on for 1 hour but did not receive the error once. This proves that problem is not on my side but it is on the RF's side.

[2016-07-18 17:45] ladystoneheart opened #335 "ERROR #2048"
PLEASE tell me what is this error! photo attach. and if i report this they haven't paid me for reporting as error!
![error 2048](https://cloud.githubusercontent.com/assets/20522240/16924546/825d550e-4d28-11e6-9391-300c15f22416.png)

[2016-07-18 17:49] kaytsu commented on #280
same - step 18 of 22 had the same error and then refreshed (after trying to get the screenshot for 5 minutes) and got to step 6 of the same test before it did the same screenshot stuff - finally just had to close the task because it wouldn't let me finish.

[2016-07-18 18:37] nerdatwork commented on #335
All errors inside the terminal **MUST** be reported by clicking NO and mentioning the details in the pop up. If your payment is delayed, the official waiting period is 48 hours. After that you can file a support ticket.

[2016-07-18 19:00] marius11 commented on #335
You are aware that in this case reporting by clicking NO is impossible, right? I was disconnected 10 minutes into a 24 step test without any reason today. When you're disconnected like this, you **CANNOT** report using the NO button.

[2016-07-18 19:01] rnfrst commented on #335
This is the kind of error that even you report, you won't be paid because you haven't even entered yet the initial url indicating that you have accepted the job. You should get a new terminal instead of reporting this.

[2016-07-18 19:30] ladystoneheart commented on #335
@nerdatwork AS i said i report as error but no payment for this
![error](https://cloud.githubusercontent.com/assets/20522240/16927673/33818842-4d37-11e6-89f7-5a032532a21c.png)

[2016-07-18 19:32] ladystoneheart commented on #335
@rnfrst yes thanks for info.

[2016-07-18 21:21] djux90 opened #336 "this assignment has already been completed."
it show like i was worked on that job, but it just saying no virtual machine. Then after i reload, this message appear, i really don't understand, i hope that is not count  like abandoned job or some
![rf2](https://cloud.githubusercontent.com/assets/20422665/16930752/e4bb28ba-4d3d-11e6-95a9-391967303cac.JPG)
---------------------------------------
![rf1](https://cloud.githubusercontent.com/assets/

[2016-07-18 21:26] jeffreyvdhondel commented on #276
Update at my side still no contact from the Rainforest team there support is bad every BAD!

[2016-07-18 23:55] luisdanielvc opened #337 "Something went wrong while getting a terminal"
I've been getting this a lot of times this day :(

[2016-07-19 04:11] nerdatwork commented on #336
It happens when you are working on a job and there is some issue which makes you refresh the page. Then you get "NO Vms" message by the time you refresh it again, the job has already been picked and uploaded by another tester. I would advice you to make sure your internet is working fine when you get the job. For delayed payment please wait for 48 hours, if you are still not paid then file a suppo

[2016-07-19 04:12] nerdatwork commented on #337
Check your internet connection. When you get this message it is safe to refresh the page till you get the terminal or you get an error message.

[2016-07-19 04:16] nerdatwork commented on #335
@ladystoneheart Wait for 48 hours if you still arent paid you can file a support ticket. When you get this message you can refresh the page to get new terminal but by the sheer amount of new testers we have the probability that the job is picked by someone else is very much HIGH.

@marius11 Did you refresh the HIT and were able to submit the job?

[2016-07-19 15:27] djux90 commented on #336
but i didn't worked on job, it just came that message, and that is strange

[2016-07-19 19:41] zfonck123 opened #338 "You have reached the maximum number of unsubmitted assignments."
please  i have 1hours with this messag e, affter job obten ( for one error of aplicattion) my id : 34044189

[2016-07-19 19:46] zfonck123 commented on #338
![image](https://cloud.githubusercontent.com/assets/19192312/16964178/fe6cd864-4dc7-11e6-944d-ea67594c827e.png)

[2016-07-19 19:47] zfonck123 commented on #338
@pscohn please look this thx

[2016-07-19 20:18] #338 closed

[2016-07-19 23:18] sweeneyapps commented on #315
I found some bugs :)   I will fix them and submit a pull request.

[2016-07-20 00:25] tulko commented on #336
I spend ever the same. as is not so common never report it, you do well in report

[2016-07-20 00:33] tulko commented on #333
@srsaurabh32 use neobux, I think it is the best option for all channels of payment and immediate payment. On one occasion I thought I'd switch to CF elite, but pay only for paypal. Neteller  have a card mastercard and withdraw my money with that plastic.

[2016-07-20 06:27] srsaurabh32 commented on #333
@tulko thanks for the suggestion. How much time does it take to switch from clixsense to neobux.

[2016-07-20 08:48] nerdatwork commented on #333
Every reward site takes a % from what you get paid besides Elite. As of now you **CANNOT** switch accounts or create new accounts or close Rainforest account.

[2016-07-20 10:34] sweeneyapps commented on #315
fixed some bugs! :) and did a pull request, https://github.com/rainforestapp/tester-chrome-extension/pull/339

all of testing is done on my "testing tab" extension on my github repo at https://github.com/sweeneyapps/TestWorkTab

[2016-07-20 10:34] #315 closed

[2016-07-20 14:16] tulko commented on #333
@nerdatwork  It was in response to a question from @srsaurabh32
@nerdatwork  you are a moderator?
@srsaurabh32 in neobux they charge a%, but if you get "golden" of reintegrating 30% for every dollar you earn in CF, easily amortize the "golden" and recover the commission

[2016-07-20 14:52] nerdatwork commented on #333
@tulko Dude check what he was asking. It was never about the payment just a question on which reward site I was using. You quickly jumped on to the payment aspect of it.

@srsaurabh32 Wait for Rainforest to respond to your support ticket. I apologize on their behalf for the delay.

[2016-07-20 19:15] MuhammadRafique182014 commented on #337
LOL this is also a bug from RF side its not his Internet connection LOL

[2016-07-20 20:27] srsaurabh32 commented on #333
mturk does not charge a single penny. @nerdatwork  @tulko

I contacted crowdflower regarding switching accounts but they denied any such thing, and asked me to consult RF if they can allow such change.

[2016-07-20 21:10] hunt40 commented on #337
their servers cant handle 1900+ tester hammered their servers at same time and this error happened with their own test.this is the problem,they have tons of problem and i dont see them fixed it anytime and with now tons of new testers coming everyday.....

[2016-07-20 23:48] luisdanielvc commented on #337
It is not my internet connection and it is not safe to refresh while getting this error because the you have requested this job too often appears :(

[2016-07-21 00:51] MuhammadRafique182014 commented on #337
@luisdanielvc so sad :(

[2016-07-21 02:40] sweeneyapps commented on #337
here's good tip.  when u see VM not available.. go ahead try refresh.   If still unavailable, you just wait for the Rainforest Plugin to turn Green (YES).   Hit refresh ASAP.    You'll get lucky or not.   It's highly likely that u'll still secure the job.

[2016-07-21 11:19] qpPykT commented on #333
Dark :horse:

[2016-07-21 15:44] limsanto commented on #296
i think RF should check their idle timer rules
it happen to me twice, "job abandon" when job in progress, usually in long hit
From my observation, it must because the idle rules is set by how long from we get the job not from how long we have been idle

[2016-07-22 03:35] sweeneyapps commented on #337
I worked on this today..   all of us will be cheering!!     tonight!!     This is only for Virtual Machine unavailability.   It'll increase your chance to grab the job before anyone else grab it.

here is it....   https://github.com/sweeneyapps/JobAutoReload

[2016-07-23 22:46] MOHAMMEDAMRANI82 opened #342 "CHANGE MY worker ID rainfoster"
MY ACCOUNT NEOBUX BE SUSPENDED
AND I WANT TO CREATE A NEW ACCOUNT
IS CAN I CHANGE MY worker ID rainfoster FOR PAY THE GAIN IN NEW ACCOUNT or no
AND THANKS

[2016-07-24 02:10] nerdatwork commented on #342
Send a support ticket at tester@rainforestqa.com

[2016-07-25 10:40] limsanto commented on #335
I report this error long time ago.
RF respond is, there is nothing wrong with their system and asking me to check my internet security system, and now it seems RF can not get away from this error again with many others worker have the same problem.
RF please check your system security which maybe blocking the terminal connection with worker.
For worker, if you face this error problem, please refre

[2016-07-25 10:41] limsanto commented on #332
click take screen shoot button and select NO button and report the error, you will get paid $0.04

[2016-07-25 17:21] djux90 opened #343 "i couldn't clik on yes or no"
when i try to click on yes or no, nothing happened, i got job with 7 steps, but 2 or 3 times when i was on step 4, i couldn't move forward, no message error like failed screenshoot. I refreshed job and got Rate limit exceeded... That isn't first time that yes or no didn't work, i quees it is internet problem or some and it worked when i refresh page

[2016-07-26 06:19] nerdatwork commented on #343
Can you take a screenshot of the page and post it here next time that happens ?

[2016-07-26 09:56] jeffreyvdhondel commented on #276
And 8 days with NO response :S
@Ashok-Reddi Did you get a response?

[2016-07-26 14:57] djux90 commented on #343
Yes, but on screenshoot you can't see anything cause it is all normal,  just yes or no don't work. I will post video when that happen again

[2016-07-26 17:31] JPierreS commented on #343
@djux90  This is an issue related to the screenshot system. You will not always get the warning that the screenshot failed as it is still trying to reach the server.  Also make sure when you got your last failed screenshot pop-up that you did not click on the box to not warn you again.  Sometimes for whatever reason the screenshot system can be very slow, so when you click YES/NO button they will

[2016-07-26 17:49] sweeneyapps commented on #3
if u accept my pull request https://github.com/rainforestapp/tester-chrome-extension/pull/340

then this solve this problem.  w/ my code, you don't have to close the tab when you re done in order to get the next job.

[2016-07-26 17:52] cookin2 commented on #3
Hi Paul!

Have the people at RF given the ok for members to use your app?

On Tue, Jul 26, 2016 at 1:49 PM, Paul Sweeney Jr <notifications@github.com>
wrote:

[2016-07-26 18:08] bilelmz opened #344 "the job about "earth.paperlesspost.com" is a disaster!"
I got an job about this website: earth.paperlesspost.com
it's very very very slow!
I think because there is lot of images
also, "failed to report screenshot" error happened many time
Five steps in half an hour, in the end, i clicked "NO" Because a bug, and the website refused to respond!
what a disappointment!

[2016-07-26 22:16] sweeneyapps commented on #3
@cookin2  this is only proposal to do Pull Request.  we'll see if they accept my Pull Request.  If they do.. then that's great..  It will solves all the problem at once.

[2016-07-26 22:18] sweeneyapps commented on #5
that's easy..  I'll add to my pull request to add this feature.   My sound file will say, Job Found.

[2016-07-27 00:35] cookin2 commented on #3
@Paul, I didn't know how things work, thank you for the explanation :)

On Tue, Jul 26, 2016 at 6:16 PM, Paul Sweeney Jr <notifications@github.com>
wrote:

[2016-07-27 00:35] samballode6 opened #345 "71 steps, 30 minutes...job abandon ?"
71 steps, 30 minutes...job abandoned ?
It's supposed 60 minutes, aren't they ?

[2016-07-27 00:45] sweeneyapps commented on #3
@cookin2 that's ok..   What I really did was, I read their code and test them.  I find bugs and then fix them by editing them.  It's my own copy from their copy.   Then if I want my code to merge with their code, I have to submit Pull Request, it's a request for Rainforest to evaluate my code and approve it.   Once they approve it, then they might wait for another developer at their company to add

[2016-07-27 04:35] qpPykT commented on #345
@samballode6

Now it's should be 90 min.

_"The time limit has recently been changed from 60 minutes to 90 minutes in order to accommodate tests that customers have a hard time making shorter. "_

[2016-07-27 06:14] skoraatw opened #347 "Question about blocking policy"
I have one question
For example I have 2 rainforest profiles, one in clixsense and one in neobux, so my question is when I get 11 rejections in neobux and 11 in clixsense I get banned in all profiles, or if I make 21 rejections on neobux I get banned on neobux only

[2016-07-27 06:19] helloworld111gh commented on #347
you are not allowed to work on two accounts

On 26 July 2016 at 23:14, skoraatw <notifications@github.com> wrote:

[2016-07-27 06:38] skoraatw commented on #347
I mean when i used clixsense i have 11 rejections, then i claim my profile to neobux and start making tasks with neobux profile in rainforest

[2016-07-27 07:47] hunt40 commented on #344
yeah paperlesspost is the new attend,its like that since beginning

[2016-07-27 08:30] henspear opened #348 "Please Help with VM security error"
I very hopeless to find solution for this problem always occur when I got hit job to do from RF, I already tried all suggestion from here and clixsense furom but still no hope. Please help me guys to solve this kind of problem....

![rainforesterror](https://cloud.githubusercontent.com/assets/13687619/17168878/9947bcc4-5399-11e6-9634-8230a009dd69.png)

[2016-07-27 11:20] nerdatwork commented on #348
Whenever  you face problem like this, you can refresh the page in order to get a new working terminal.

[2016-07-27 11:22] nerdatwork commented on #347
You are violating Rainforest rules by using 2 accounts. You **MUST use only 1 account**. Pick either account and only use that account henceforth.

[2016-07-27 11:23] nerdatwork commented on #345
@samballode6 You were banned from Rainforest, is that correct ?

[2016-07-27 12:12] samballode6 commented on #345
@nerdatwork
No...I am not banned from Rainforest, I am just fine now...
May I know. why do you ask ?

[2016-07-27 22:39] thetodd1 commented on #345
sambellende6 aka sigitsenyo , reported him for duplicate accounts, eventually he will be banned.

[2016-07-28 00:37] samballode6 commented on #345
@thetodd1
I don't have duplicate accounts
I use just one now
Please understand, thank you...

[2016-07-28 01:08] samballode6 commented on #345
@qpPykT
Thank you for your info, I appreciate that...

[2016-07-28 01:46] sweeneyapps commented on #3
I closed my Pull Request anyway...  because in 2.0 is underway.

[2016-07-28 01:52] sweeneyapps commented on #5
I closed my pull request due to 2.0 is underway..    anyway..   what I used was basically base64 format on audio..    (data:audio/mp3;base64) using Audio().   Good luck w/ 2.0.. hopefully u guys get everything patched up.

[2016-07-28 01:57] luisdanielvc commented on #344
Rotagreek is another disaster, a lot of steps in a single one

[2016-07-28 03:15] MarinaCec opened #349 "New ERROR?? "Something bad happened""
I was testing well and now I'm stuck in this message... :(

[2016-07-28 03:19] henspear commented on #348
Still hopeless even I refresh it many time, I don't know what happen to this..,

[2016-07-28 03:19] MarinaCec commented on #349
Aand now... You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit.

The update was good until a few minutes, faster terminal, shame that this error occurred, I hope that fix or that it does not last long.

[2016-07-28 03:19] DrDejan commented on #349
Same thing with me. After "Loading" screen bar "Something bad happened" message appear. I refresh my browser only once and message "You requested this job too often" shows up.

[2016-07-28 03:26] MarinaCec commented on #349
@DrDejan I'm thinking that this message is replacing "something get wrong"

[2016-07-28 03:40] henspear commented on #348
Even in new update still I got this error.., too bad this error won't get away on me...

![rferror](https://cloud.githubusercontent.com/assets/13687619/17200463/5663d0a4-543a-11e6-87f7-e9fd173b079b.png)

[2016-07-28 06:13] nerdatwork commented on #349
In the new interface you will  get some older messages and some new messages, its part of the update. Its not an issue as such.

[2016-07-28 06:14] nerdatwork commented on #348
Try reinstalling chrome and the extension for Rainforest.

[2016-07-28 07:13] henspear commented on #348
@nerdatwork: Thanks for replying, I did what you suggest but still this security error occurred.., I really don't know now what to do with this error..,

[2016-07-28 08:07] DrDejan commented on #349
nerdatwork, What is with message "You requested this job too often..."? Before new interface that message appear after 4 time refreshing browser and after that message was impossible to continue with task.

https://github.com/rainforestapp/tester-chrome-extension/wiki/Troubleshooting-&-Common-Errors-Explained

"You have requested this job too often. Please return the work.

This message will appea

[2016-07-28 08:38] nerdatwork commented on #349
@DrDejan You are correct, you can refresh a job a total of 4 times and only 2 times in 30 seconds.

[2016-07-28 10:13] qpPykT commented on #348
@henspear
What kind of type internet connection do you use. Cable fiber or mobile like 2G-3G-LTE. Or something else.

[2016-07-28 10:47] henspear commented on #348
@qpPykT: I use Cable Fiber, not the mobile type of connection. Does it affect with internet connection?

[2016-07-28 11:53] DrDejan commented on #349
nerdatwork, I know i am correct but....
Problem is: Loading bar is on the screen ( beginning of the new job, before starting terminal ) , suddenly loading bar disappear  and "Something bad happened" message appear on the screen. I refresh ( only one time ) browser and "You have requested this job too often. Please return the work." message appear.
This is not normal :-(
Is it a new rule or it is a

[2016-07-28 12:04] edwardbass commented on #333
I have the same problem the url never load just a white page

[2016-07-28 12:40] uangonline commented on #349
@DrDejan That's a new bug, All we can do now is wait until RF team fix this.

@nerdatwork You'r not a RF Admin right? Since most of the time your explaination make people got more confuse.

[2016-07-28 12:51] nerdatwork commented on #349
@uangonline Thank you for your valuable feedback I have been waiting for this moment for years now.

@DrDejan In that case I think its a bug, please file a support ticket explaining your issue in detail and if you can add relevant screenshots that will be more helpful.

[2016-07-28 13:14] thetodd1 commented on #345
same type of avatar , same posting style writing long sentences ending in .....
even nerdatwork figured you out lol , waiting for a response from rf  about you .
enjoy your account while you can .

[2016-07-28 13:24] uangonline commented on #349
@nerdatwork I know you mean no harm. Just read what other people say more carefully next time before you give help. It could be dangerous if other think you are a RF team Admin (which is i know you'r not) but give some confusing explanation.

[2016-07-28 13:29] samballode6 commented on #345
@ thetodd1...
I think, this is not for your concern...
Please do you own business, not mine...
I did not do wrong thing with you...
What are you problems guys...
Who are you exactly ?
Are you human ?

[2016-07-28 13:31] zfonck123 opened #350 "new error, affter try take screemshoot"
![image](https://cloud.githubusercontent.com/assets/19192312/17214244/fb20f278-54a5-11e6-96ee-13efcff1746c.png)

[2016-07-28 13:33] uangonline commented on #348
@henspear Do you use proxies?

[2016-07-28 13:38] uangonline commented on #350
@zfonck123 Same error/bug but different text message. It's mean it's "failed to report screenshot". Try to do it again several times. If still failed, all you can do is refresh the job and start all offer again or you can tried until "connection lost" error appear.

[2016-07-28 14:13] #345 closed

[2016-07-28 14:16] MarinaCec commented on #349
''This machine does not exist yet or this machine is incapable of having screenshots in it's state."

WHATS IS THAT????

[2016-07-28 14:22] uangonline commented on #349
@MarinaCec It's mean "Failed to report screenshot". It same error/bug with different text message. But unfortunetly if you see this message in this new interface (unlike the old one) most of the time all you can do is refresh the job and start all offer again. I encounter this error several times and most of the time i must refresh the job.

[2016-07-28 15:19] alfredolol opened #351 "problem to work"
hello I have a problem,when I have a job the page is blank and I do not get anything someone know wy? i try reinstall chrome extension but the problem continue, and i try reinstall chrome Navigator an the problen continue too

[2016-07-28 17:50] #350 closed

[2016-07-28 17:51] zfonck123 opened #352 "another error, if try reload i will get job obten"
![image](https://cloud.githubusercontent.com/assets/19192312/17223383/51827e9c-54ca-11e6-9c61-373b696b6f56.png)

[2016-07-28 17:55] zfonck123 commented on #352
Could not get a osx_firefox machine.

[2016-07-28 18:31] uangonline opened #353 "Still can't see any vm performance improvement with this new interface."
Still can't see any vm performance improvement with this new interface. Still have a lot of bugs.

[2016-07-28 18:50] kaytsu opened #354 "Typo in the new error messages"
![image](https://cloud.githubusercontent.com/assets/20136128/17224794/04ef854a-54c8-11e6-9694-e2125a7b0d4f.png)

**it's** is a contraction of it is or it has (It's time to test the website)
**its** is possessive (The tree has lost all of its leaves.)

The error message should just be its with no apostrophe.

This machine does not exist yet or this machine is incapable of having screenshots in **it

[2016-07-28 18:56] nerdatwork commented on #353
List the bugs you found.

[2016-07-28 19:12] nerdatwork commented on #354
I dont think there is any typo in the error message. It merely states that the machine in it's current state cannot take screenshots. Here the "it" is machine/terminal so machine's state is same as it's state. You have explained it earlier its = it is now if we use your logic the sentence would be "This machine does not exist yet or this machine is incapable of having screenshots in **it is** stat

[2016-07-28 19:16] uangonline commented on #353
@nerdatwork Same bugs as the old one.

[2016-07-28 19:20] nerdatwork commented on #353
So you see absolutely no improvement in speed, performance, layout, total working of the terminal ?

[2016-07-28 19:26] nerdatwork commented on #352
This error is specific and in detail than earlier message of "There are no VMs...". So you can safely refresh the page to get the terminal.

[2016-07-28 19:34] kaytsu commented on #354
http://www.grammar-monster.com/easily_confused/its_its.htm
This is from the website - you are the one that is incorrect.
![image](https://cloud.githubusercontent.com/assets/20136128/17226539/9a7785ca-54cf-11e6-8430-8eb465ee875c.png)

Grammar dictates that a contraction has to have an apostrophe. So the contraction of it is becomes it's. The apostrophe takes the place of the removed letters in a co

[2016-07-28 19:40] uangonline commented on #353
@nerdatwork Nope, No improvement what so ever with speed and performance and all the bugs that the old interface has, which is the most important to fix. So can you fix this?

[2016-07-28 19:41] nerdatwork commented on #353
Thank you for your feedback.

[2016-07-28 19:42] uangonline commented on #353
@nerdatwork Are you one of the RF team?

[2016-07-28 19:45] zfonck123 commented on #352
not is that error, i get a job affter 10seconds get error. but affter 5minutes and 2 refresh get my job again

[2016-07-28 19:45] #352 closed

[2016-07-28 19:58] kaytsu commented on #353
With the tasks that I have done using the new terminal I have still seen no terminal available, and someone else took the job the same amount.

In the tests themselves I have gotten less "failed to report screenshot" (only once maybe?) and connection lost. (I don't think I've gotten any connection lost today)

So in my opinion the new interface is better then the old one.

[2016-07-28 20:00] nerdatwork commented on #353
Is it better "then" or better **"than"** ?? :)

[2016-07-28 20:06] nerdatwork commented on #354
Wow I stand corrected. Thank you for this lesson :)

[2016-07-28 20:14] uangonline commented on #353
@kaytsu: I still encounter connection lost, Failed to report screenshots and other bugs.

@nerdatwork And why that so important? Great atitude you have there.

[2016-07-28 20:50] kristen-allie commented on #354
Thanks for reporting this! I'll share it with the team!

[2016-07-28 21:49] tulko commented on #353
the new interface works very well. please do not remove.
same question @nerdatwork  you are a tester or RF staff

[2016-07-28 22:09] #353 closed

[2016-07-29 00:35] luisdanielvc commented on #354
Connection lost everywhere

[2016-07-29 01:16] zfonck123 opened #356 "only is a question."
in this moment, us have job with CF, or when open again for new members ? i remember two friends comming work withs us at 27 of june, but affter 4 july, i dont never see the job.

[2016-07-29 01:17] #354 closed

[2016-07-29 01:20] sweeneyapps opened #357 "Bug fixes (revisit issue)"
I did fix some serious bugs going on with your extension.

Here's list of bugs
- It dropped job and fail to open a new tab until the next polling cycle.
- polling too much (16 seconds is not good for the server)

I did submit pull request against the Master branch today and updated everything by bumping up version and fixing the test.  It should build without any problem thru CI then you guys coul

[2016-07-29 01:20] zfonck123 opened #358 "error2048"
![image](https://cloud.githubusercontent.com/assets/19192312/17234679/1a1590cc-5509-11e6-8e94-fc6cdae1264b.png)

[2016-07-29 01:22] henspear commented on #348
@uangonline: nope I don't use proxies, i don't know also how to use it.... :)

[2016-07-29 01:26] henspear commented on #358
@zfonck123: We have same problem, I don't find a best solution for this.

[2016-07-29 01:48] luisdanielvc commented on #356
The last time i saw it was the 24th of July

[2016-07-29 02:20] nerdatwork commented on #333
@srsaurabh32 Is your support ticket answered yet ?

[2016-07-29 13:16] josejecr97 opened #359 "Rain closed again?"
Is rainforest closed again to new testers? i have some days without see the job in the crowdflower list

[2016-07-29 13:33] nerdatwork commented on #359
If you are already registered then why are you looking for the job in CF list ?

[2016-07-29 13:36] josejecr97 commented on #359
refferals??

[2016-07-29 14:22] sweeneyapps opened #360 "2 Testers sharing same VM"
It's so funny!  I started on a job and then someone took over the screen and doing the work.  I'm like hey! I am working on this job!!  so then I went ahead refresh and finish the job without any problem.   I don't know if refresh did solve the problem but probably the other tester left the job.

[2016-07-29 14:29] nerdatwork commented on #359
As of today, Rainforest has stopped accepting new testers until the need comes up in the future. Thank you.

[2016-07-29 14:32] nerdatwork commented on #360
That is odd and that issue was resolved. Was it the only time this happened ?

[2016-07-29 14:36] josejecr97 commented on #359
:O srsly? @nerdatwork where u read that?

[2016-07-29 14:40] nerdatwork commented on #359
You will get a notification either in your email or in the CF inbox.

[2016-07-29 14:46] josejecr97 commented on #359
oh thanks!

[2016-07-29 14:47] uangonline commented on #360
@sweeneyapps Yap i also encounter this 1 time. You should refresh the job to get a new VM, don't close the tab just refresh it.

[2016-07-29 14:50] uangonline commented on #348
@henspear Yes seems it's a bug since also encounter this once in a while, and i also doesn't use proxy.

[2016-07-29 14:52] kristen-allie commented on #360
Thanks, all! I'm reporting this to the team.

[2016-07-29 14:57] kristen-allie commented on #360
@sweeneyapps can you provide the job ID or your worker ID? The team can't see any evidence of this in the logs, so one of those might be helpful in tracking down the issue.

[2016-07-29 15:04] nerdatwork commented on #360
@uangonline You can also provide with the job ID or worker ID to help Rainforest fix this issue asap.

[2016-07-29 15:32] nerdatwork commented on #359
Update: Check this https://portal.rainforestqa.com/

[2016-07-29 16:18] uangonline commented on #359
@nerdatwork Are you sure? There is nothing mention on not taking new member from the link you provide. So where do you read about this?

[2016-07-29 16:26] #325 closed

[2016-07-29 16:29] luisdanielvc commented on #359
@uangonline It clearly says "As of today, we've stopped accepting new testers until the need comes up in the future."

[2016-07-29 16:33] uangonline commented on #359
@luisdanielvc On what date?

[2016-07-29 16:35] jombere opened #361 "good, I want to express my dissatisfaction with the closure to new people to RF."
I wonder how long will this ?, I think it would be good to open the RF new people once a month.

[2016-07-29 16:37] uangonline commented on #359
@luisdanielvc ah yes my mistake. Sorry.

[2016-07-29 16:39] sweeneyapps commented on #360
@kristen-allie here's my worker ID A2IZF5P145XIE
 I think it was on job ID 7388308

[2016-07-29 16:40] luisdanielvc commented on #361
It is good because the team can concentrate in solving the problems of the server, the more users on the system, the more problems we'll have. I know it's sad, i had like 4 referrals who wanted to start but there are a lot of people testing at the same time and the server cannot with that.

[2016-07-29 16:56] uangonline commented on #361
@luisdanielvc Agreed, Fixing bugs is more important right now.

[2016-07-29 17:44] jeffreyvdhondel commented on #276
.. Still nothing its getting annoying.....

[2016-07-29 18:37] josejecr97 commented on #361
I think is really good the close, because there are many tester and is really hard to find any job...

[2016-07-29 18:37] #359 closed

[2016-07-29 18:56] jeloy1 opened #365 "New testers"
Hello, I managed to take the Rainforest QA task but I have not even claimed my profile. I claim is that although they have already closed the acaptación of new devices? I repeat: I took the job, but had not yet claimed my profile. I can do it now?

[2016-07-30 03:46] #357 closed

[2016-07-30 03:48] sweeneyapps commented on #360
as long, it's reported. :)  closing this..

[2016-07-30 03:48] #360 closed

[2016-07-30 03:56] nerdatwork commented on #361
@jombere Your feedback is duly noted. Since this place is for posting issues testers face related to the chrome extension, please close this thread.

[2016-07-30 04:44] nerdatwork commented on #365
Claim the profile if you havent and install the Chrome extension to get more jobs.

[2016-07-30 04:49] srsaurabh32 commented on #333
@nerdatwork happy to announce that my problem is now resolved, i did a job recently that had browser=ie8. So happy to submit that job successfully. I'll close this thread now. Thanks for the support everyone specially @nerdatwork .

[2016-07-30 04:49] #333 closed

[2016-07-30 04:51] srsaurabh32 commented on #308
@nerdatwork problem resolved. Closing this thread. Thanks for the support. Happy working.

[2016-07-30 04:51] #308 closed

[2016-07-30 05:24] nerdatwork commented on #351
Can you take a screenshot of the page whenever you encounter it as blank ?

[2016-07-30 07:08] nerdatwork commented on #356
Here's a quick update on Rainforest testers! As of today, we've stopped accepting new testers until the need comes up in the future. We hope this will allow us to focus on providing better quality results to our customers, along with a better quality testing environment for all of you. That being said, welcome to all the new testers that have joined us recently! We're excited to have you! Keep up

[2016-07-30 16:04] #361 closed

[2016-07-30 22:25] nihlathar commented on #365
Yeah it's a bit confusing, I don't know that it is explained anywhere where to actually find the link to claim your profile. You should see it on your profile on crowdflower, here https://tasks.crowdflower.com/notifications (if you use CF, if amazon mturk then I dont know where to find it). Make sure you're logged in on CF in order to see the page. If you've completed any tasks (and submitted your

[2016-07-30 22:27] nihlathar commented on #356
Claim your rainforest profile, then you can get the work through the app (if you've done any tasks, recently, you should see a notification with the link here https://tasks.crowdflower.com/notifications)

[2016-07-30 22:29] nihlathar commented on #351
It's a new problem that appeared when they introduced the new interface. It's probably fixed by now, if not, try to get a new terminal and if problem persists, report it through the 'no' option

[2016-07-30 22:31] nihlathar commented on #349
Don't mind the errors. If terminal closed, or there's an issue just get a new one. If you can't because of some other red-text message, close the tab, and wait for new work (i recommend to reinstall the app periodically, helps with a lot of problems)

[2016-07-30 22:37] nihlathar commented on #347
Having more than 1 account provides no benefit, they made it that way a long time ago. But you should stick to one, they can definitively ban all your accounts when they find out.

Anyway, you should only get rejected sporadically, current system is fair and quite lenient therefore you should not get rejected unless you report 'no' in some bizarre part of the instruction, or, fail a test question

[2016-07-30 22:42] nihlathar commented on #343
According to the new rules if you encounter any problem at all you should report it, however, it's best to try and get a new terminal and/or wait a couple minutes (5-10, just make sure you don't time out) and try again.

[2016-07-30 22:44] nihlathar commented on #357
222

[2016-07-31 08:47] balajisekar opened #366 "Unable to get the final rating page or thanks page"
Hi,

**Rainforest Job 7403168**

After completing all the steps, at the final step (12th step) job is not getting submitted. After final step, page is not redirecting to rating page. I got the same response after doing it 2nd time. If rating page doesn't came I didn't get payment for this job.

Please look into this issue and resolve this as soon as possible. Past week this happened to me for more

[2016-07-31 15:13] luisdonner97 opened #367 "rainforest tester notifier not working"
I give the button to change the "off" to "no" and the extension does not work help me

[2016-07-31 15:38] nerdatwork commented on #367
What do you mean it does not work ? Can you explain more ? If it says NO its working and will turn into YES when there is job.

[2016-07-31 17:43] nerdatwork commented on #366
Have you filed a support ticket yet ?

[2016-07-31 17:50] balajisekar commented on #366
Yes, I have filed a support ticket too.

[2016-08-01 00:06] #356 closed

[2016-08-01 02:35] luisdonner97 commented on #367
the "off" button I click and does not change "no"

[2016-08-01 04:09] josejecr97 commented on #367
try to reinstall the notifier

[2016-08-01 07:23] henspear commented on #348
Is there any way to resolve this bug? I wanna work with RF so many hits I already miss due to this error. please help me of this guys.

[2016-08-01 09:15] nerdatwork commented on #348
@henspear Did you file a support ticket ?

[2016-08-01 09:36] nerdatwork commented on #367
Try reinstalling chrome and the Rainforest extension and see if that helps.

[2016-08-01 11:30] maciejgryka commented on #347
@skoraatw What others said is exactly right - you can only do work using one profile.

@nihlathar a small note: we almost never punish people for clicking "no" (your work might not be accepted, but there will be no negative consequences). On the other hand we often block people who click "yes" in a wrong place. If you're ever in doubt, it's better to answer "No", or at least leave a comment.

[2016-08-01 11:30] #347 closed

[2016-08-01 11:41] uangonline commented on #348
@henspear Most of the time just refreshing the job will do. If you encounter it again and again after refresh the job than i suggest to report it.

[2016-08-01 12:24] josejecr97 commented on #366
hey i think is against the terms post work caps.... be care

[2016-08-01 12:53] nerdatwork commented on #366
@josejecr97 : You are not supposed to post/discuss clients whose NDAs you have signed outside Rainforest Support other than that its ok to post screenshots. To protect your privacy I would recommend removing or blurring your email address. You can always discuss or mention them privately in the support ticket.

[2016-08-01 16:15] #366 closed

[2016-08-01 16:24] macocha commented on #366
As @nerdatwork mentioned. Please do not discuss and especially post screenshots of jobs under NDA outside our Support channel.

We removed screenshots from the original post and will close the issue, please take it further with our support.

[2016-08-01 18:54] bilelmz opened #368 "Site stopped!"
I don't know what to say!
With the recent improvements, I think that things are better, but...
The picture says it all
In step 26, site stopped!
The site have a lot of problems, especially in the many steps jobs
![sans titre](https://cloud.githubusercontent.com/assets/20234458/17305210/a684b3b2-5829-11e6-96bb-cbf14cb731e9.jpg)

[2016-08-01 18:56] nerdatwork commented on #368
Did you try to refresh the HIT and complete the job ?

[2016-08-01 19:01] bilelmz commented on #368
i try 3 time before!
Every time i get a problem
This is the fourth one

[2016-08-01 22:54] zfonck123 commented on #368
refresh the job 2 or 3 times is loss at time, and if refresh mroe of 4 times  u get job obten "loss at job" and block for 30min or more

[2016-08-02 01:14] henspear commented on #348
@nerdatwork: I already file a support ticket and its more than a week already but still no reply from them.

@uangonline: I never stop trying on refreshing the job even the error always appear again and again, but I feel wasted on all the hit job I miss.

[2016-08-02 03:23] luisdanielvc opened #369 "This machine does not exist yet or this machine is incapable of having screenshots in its state."
I don't understand why we have to struggle everyday with this, i'm always with fear when i get a long job because this error appears and there's nothing else to do more than refreshing and starting again.

[2016-08-02 09:22] maxx88 commented on #369
Yes, it's really annoying
![m](https://cloud.githubusercontent.com/assets/20210918/17323692/1d6b1496-58b4-11e6-8f21-98dcd8cd069d.jpg)

[2016-08-02 16:36] luisdanielvc commented on #369
![zzzzzzzzzzz](https://cloud.githubusercontent.com/assets/16393092/17336796/5e66c7ba-58a5-11e6-9cfd-6b5219b8a759.PNG)
Beautiful, a 38 step job lost

[2016-08-03 15:54] zfonck123 commented on #369
i hate it,  always time get this error, need refresh and start again :(

[2016-08-03 18:25] diabolic012 commented on #368
Same problem here. Last 2 days experienced same problem 4 or 5 times. Refresh do not help.

[2016-08-03 19:39] mijorojas opened #370 "A lot of issues today"
What is happening today? I have got a lot of problems when clicking YES or NO in a test.

[2016-08-03 21:31] amerkurta commented on #348
Check the DNS settings, if still does not work, set the google dns on your computer (8.8.8.8) and you've solved the problem. Good luck!

[2016-08-03 21:52] uangonline commented on #370
@mijorojas Alot of "Something bad happened" error message today.

[2016-08-03 23:09] luisdanielvc commented on #370
And problems with the screenshot as usual

[2016-08-03 23:21] euparkeria commented on #370
Something very weird happened to me today. I couldn’t login because the username and password was incorrect so I answered “No” and gave a report of the error but the test did not end and It continued to ask me the other questions(are you human, add this and that number)… Very weird.

[2016-08-04 02:07] huynhxuanvinh commented on #370
Lost conection many times. If previously I have terminal after refreshing 1-3 times, now I can't have one even refresh 4 times and finally have to abandon job. So frustrating.

[2016-08-04 07:12] Deepak0988 opened #371 "4c Per Step If a Verified bug is reported. No Longer Available"
Few days before, during the bonus payments, 4c per step was given for all the steps available in a test, if a verified bug was reported. But today It is no longer Like that. Is this issue only with me?

[2016-08-04 07:23] maciejgryka commented on #371
@Deepak0988 this was an experiment, which we finished yesterday. In short, for a limited time we were paying some workers for all steps after reported bugs to check whether this increased result quality for our clients. It didn't, so we put everyone back on the old system.

We always send emails about things like that to workers, who gave us their email addresses. Make sure your profile is up-to-d

[2016-08-04 07:23] #371 closed

[2016-08-04 14:25] bilelmz commented on #368
I got the same problem again
In the last step the site does not respond
i did the job twice, but .... nothing!
i send support ticket, but as usual, no response!
![sans titre](https://cloud.githubusercontent.com/assets/20234458/17405498/02894dde-5a60-11e6-8eb1-6a6237ac164b.jpg)

[2016-08-04 14:57] nerdatwork commented on #368
@bilelmz You can hide your email address but keep the job id so its easier to diagnose the issue.

[2016-08-04 15:21] kaytsu commented on #370
@euparkeria That is a normal test for that site. It is testing the login system. (making sure the right messages show up when it is wrong)

[2016-08-04 15:44] bilelmz commented on #368
@nerdatwork thanks
this is the job id: 7504735
i didn't get a reply for this support ticket, and for the Previous tickets

[2016-08-04 16:08] pscohn commented on #368
When this happens, can someone screenshot the javascript console and/or the network console? There may be some error showing that will help us diagnose.

[2016-08-04 16:13] nerdatwork commented on #368
@bilelmz You can **press F12** on the job page to show the different options and choose **Network tab** for the screenshot. This is what @pscohn meant. In case you dont know how to see network console.

[2016-08-04 16:19] bilelmz commented on #368
@nerdatwork @pscohn thanks
I'll do that next time

[2016-08-04 16:54] bilelmz commented on #368
this happened few minutes ago
I completed the job after refresh
![02](https://cloud.githubusercontent.com/assets/20234458/17410614/c569952a-5a74-11e6-9af2-23527e23e258.jpg)
![03](https://cloud.githubusercontent.com/assets/20234458/17410631/cf059fc0-5a74-11e6-8582-ac27913d471b.jpg)

[2016-08-04 17:05] pscohn commented on #368
I don't see anything that might be related to this bug in the screenshots, so I'll look into this some more.

[2016-08-04 17:44] uangonline commented on #368
@pscohn I think it's not complitly stop. I think i've encounter this type of error before with this new interface. It just took longer time to show an error than the old one. I have to waited full 3 minutes to see the error message. But not always though.

[2016-08-04 18:04] pscohn commented on #368
@uangonline what error did it show?

[2016-08-04 18:11] uangonline commented on #368
@pscohn I think "Something Bad Happen" and " Fail to perform..." This 2 kind of error that i saw when that happen.

[2016-08-04 18:21] uangonline commented on #368
@pscohn One more thing, can you please change the way the error message display? It just add a new error message below the old message and close the "YES NO" button, if we tried to click "YES NO" button before the old one diseppear.

[2016-08-04 20:35] kaytsu commented on #371
For me personally, during that experiment if I got to a step with a bug I tended to:
1-spend more time trying to make the page work - including refreshing and starting again in case it was user error and
2-write more about the problem to help them fix it (because I knew I would get paid for the time spent trying to make it work).
Before (and now after) I will write what didn't work but don't write

[2016-08-04 21:02] Genesis2015 commented on #371
@kaytsu Am doing the same things, but now... :(

[2016-08-04 22:58] ando100 commented on #371
@kaytsu and @Genesis2015 - Pheww...Gees..., You guys got it completely wrong. Sad about that :( You are never supposed to "fix" anything... You were supposed to report a bug/ error at sight, simple as that.

[2016-08-05 01:56] bilelmz commented on #368
It's happened again
in the last step, Step 24!
so frustrating!
![01](https://cloud.githubusercontent.com/assets/20234458/17424064/9ca200f4-5ac0-11e6-9ffe-00bb8ed055b9.jpg)

[2016-08-05 02:32] kaytsu commented on #371
@ando100 I wouldn't try to "fix" the problem.  I said I would make sure it wasn't user error (me making a mistake) or write more about the problem (including that I had tried again or what other things happened) instead of just getting a bug and and saying simply "xyz didn't happen".
During the experiment I would write a few sentences about the step/bug. "xyz didn't show up on the screen when I cl

[2016-08-05 15:32] marius11 commented on #371
@kaytsu Testers must report bugs, and not to find workarounds them.

[2016-08-05 15:54] pscohn commented on #371
@ando100 and @marius11 are correct, and if you read the third rule:

"Do not perform any actions except for the ones for the current step."

This includes refreshing, re-trying, or doing anything other than what is suggested you do in the instructions.

[2016-08-05 17:26] Genesis2015 commented on #371
Under the statement "fixing the site" I meant that I wanted to be sure that the error is not because of me. For example: "Incorrect Log In info" error - I try to log in several times before to report the error. Sometimes I put some extra characters/space accidentally and this make errors.
I was hoping that the experimental program will become a reality! This thought makes me even more careful.
An

[2016-08-05 19:29] MarinaCec commented on #369
very annoying, it's the worst error on the new interface

[2016-08-05 21:19] A1xx commented on #368
Hi everyone! I have the same problems several times. Yes No buttons are disabled and I can not do anything. I am so disappointed, because it happens at last step((( Maybe there is any way to make buttons enabled? Think about such function. Something like reconnect button
![errror](https://cloud.githubusercontent.com/assets/17779557/17450823/960e40b4-5b73-11e6-81a7-c6cadf9f6427.jpg)

Here is url of

[2016-08-06 00:53] bilelmz commented on #368
@A1xx OMG 58 step!

[2016-08-06 08:03] diabolic012 commented on #368
Already 2 jobs like that today. Job done, no payment....

[2016-08-06 10:55] qpPykT commented on #368
@A1xx
You signed NDA. Your screenshot has a part of NDA site.

[2016-08-06 17:55] uangonline commented on #368
@A1xx It's disabled before you click the button or after?

[2016-08-06 18:01] A1xx commented on #368
@uangonline After I pressed the button. And I can tell you for sure that the site didn't stop. I had one more job with such problem. The terminal worked, the site worked it didnt freeze. I waited and got "Job abandoned". So I think that somehow after pressed the button at last step I just wasn't redirected to confirmation page.

[2016-08-08 09:30] myIssue opened #372 "@pscohn My ticket, please check. Thank YOU."
Hallo Mr.

I want to you check my ticket #12839 for my issue detail. Till now it hasn't been resolved yet.
Thank YOU for your help.

[2016-08-08 10:15] nerdatwork commented on #372
@myIssue How long ago was the ticket submitted ?

[2016-08-08 10:26] nerdatwork commented on #365
@jeloy1 Is your issue solved yet ?

[2016-08-08 15:54] myIssue commented on #372
@nerdatwork  since 27 June

[2016-08-08 16:08] kutch1 commented on #372
I submitted also alot of tickets and there are no replies on them !

[2016-08-08 16:15] pscohn commented on #372
Responded to your ticket

[2016-08-08 16:15] #372 closed

[2016-08-08 16:36] kutch1 opened #373 "@pscohn I submitted 2 tickets long time ago and i had no response"
Can you please check ? #14328 and #13604 !

Thanks in advance

[2016-08-08 18:03] nerdatwork commented on #373
When did you submit the ticket ?

[2016-08-08 20:24] kutch1 commented on #373
July 11th and the other one is 5 days ago .

[2016-08-09 02:27] djux90 opened #374 "Suddenly appear Job abandon"
Today i got two job abandon, and says that i waited too long, but jobs just appeared, or it says no VM and when refresh, just got that job abandon message

[2016-08-09 02:30] nerdatwork commented on #374
Please read this : https://github.com/rainforestapp/tester-chrome-extension/wiki/Idle-Policy

[2016-08-09 02:48] djux90 commented on #374
I know that, and that is because i post this. It is all diferent from that, like i said, it is suddenly, just appeared, i was there, waiting for job, and just got that