[2016-03-11 09:15] marius11 commented on #113
Everything is normal now. The "cannot assign this job" errors are gone.

[2016-03-11 10:04] A1xx commented on #113
Everything seams to be ok, cannot assign... error has gone. Thanks;)

[2016-03-11 11:02] erdeminofff commented on #112
@akshithaaravi https://www.youtube.com/watch?v=YlnmPhBZ728 this video ll help you

[2016-03-11 11:09] ahmedofhell commented on #113
Yes, It's Fixed.
Thanks @pscohn

[2016-03-11 16:46] #113 closed

[2016-03-11 16:46] Ranky2211 opened #114 "After Failed to report Screenshot error Reporting button is not Clickable.Have to restart Hit."
Hi Rf Team,

Previously when Failed to report screenshot error occur reporting button works after repeatedly  pressing the button but now all reporting button greyed out and not working or clickable.Therefore have to restart Hit from beginning.Please Fix this.

Worker ID: 33432784

[2016-03-11 16:50] pscohn commented on #114
We're working on fixing this right now @Ranky2211

[2016-03-11 16:54] Ranky2211 commented on #114
@pscohn Thanks so i am closing this issue.

[2016-03-11 17:31] leka034 commented on #24
@pschon Can we expect to become a testers or that is nission impossible? Looking forward to your answer...

[2016-03-11 18:52] pscohn commented on #24
@leka034 yes - it's still coming!

[2016-03-11 19:35] hunt40 commented on #112
i am fed up all this oops thing everyday since beginning,if 20 hit windows open 19 is oops.

[2016-03-14 15:04] Dolazim opened #115 "Rejection"
Job ID:4884974
Assignment ID:cxe2b686-683e-4d31-8e75-65d562c54847

I work this task and I got ss error then terminal offline...
I Refresh  hit and start work again but email is already taken for last time I go to 10 setep where I get ss error and contine to work but get rejection
what now?

[2016-03-14 15:05] pscohn commented on #115
@Dolazim please send us a support ticket from your profile for this type of request.

[2016-03-14 15:05] #115 closed

[2016-03-17 00:30] jombere opened #116 "With regard to work on the list of CF."
I wonder if anyone has information or for when the work will be available on the list of CF, to get back into rainforest

[2016-03-17 03:40] nerdatwork commented on #116
Please check #24 since its already covered there. Helping to reduce duplicate threads helps RF to fix issues more efficiently. Thank you.

[2016-03-17 16:09] pscohn commented on #116
Thank you, @nerdatwork

[2016-03-17 16:09] #116 closed

[2016-03-17 16:46] pscohn commented on #111
This is the line that triggers it: https://github.com/rainforestapp/tester-chrome-extension/blob/develop/src/app.js#L228 @juliankrispel or @nxvl know off of the top of your head where this could be coming from?

[2016-03-17 16:53] juliankrispel commented on #111
I'm guessing there's an empty response

Julian Krispel-Samsel
rainforestqa.com
goodafternoon.co

[2016-03-17 16:54] juliankrispel commented on #111
JSON.parse will through that error I believe if the string is empty or invalid json

Julian Krispel-Samsel
rainforestqa.com
goodafternoon.co

[2016-03-17 18:40] nerdatwork commented on #110
Its already covered in #40. Please check existing threads before opening new ones since having all issues related to a single bug/problem in 1 place helps RF address it better. Thank you.

[2016-03-17 21:03] pat87 opened #117 "Cursor being unresponsive in MacOS terminals"
I had a very large 48 step hit and the cursor stopped working at hit 44.
These are hits that cant be restarted..
A) took nearly 40 minutes so it'll never be done in 1 hr if i start again.
B) use certain emails to register and proceed. So cant restart and work with the same instructions

I can also not report hits with terminal issues..
So what am I supposed to do? close the terminal and forget it?

[2016-03-17 21:48] Genesis2015 commented on #117
Same happen to me this morning. Veeery annoying situation :(

[2016-03-17 22:28] jombere commented on #24
About how much time will be available on CD work? Dear time? gracais in advance

[2016-03-18 04:10] ahmedofhell commented on #117
Same problem here.

[2016-03-18 08:42] nerdatwork commented on #117
This has already been covered in #40 so please check the existing threads before opening new ones with same issue. Thank you.

[2016-03-18 09:34] pat87 commented on #117
This is not about reporting the issue.
I am asking what I'm supposed to do in that situation so that it doesnt register as a rejection.
Reporting terminal issue is a rejection.
Abandoning hits is a rejection.

[2016-03-18 09:37] nerdatwork commented on #117
Its about Mac and issues with the terminal. Since theres already a thread about it, if you post it in the same thread RF people will be better to address them. Opening multiple threads is cumbersome and time consuming. They can devote that time fixing bugs instead of reading throw different threads addressing same issues with MAC.
I am trying to say, just read the title of the thread and make a po

[2016-03-18 12:54] uangonline opened #118 "Lost hit due to terminal connection lost"
Hi admin

At first i got hit from rainforestqa extention, but than it said "reach concurent bla bla". So after couple of minute i refresh the page still " reach concurent bla bla". But finally i manage to get the terminal working, so i do the step until step 6 and the terminal suddenly lost it connection. So the only thing i can do was refresh the page again. After refresh than BOOM "You request j

[2016-03-18 15:08] hunt40 commented on #117
yeah mac terminals is the worst,specially mac with safari is deadly combo,very lethal your mental health,god know i lost how many hits and start all over again,and not the mention you watch sites open in slideshow you can go make some shopping and come back while opening.

[2016-03-21 15:37] hunt40 commented on #114
@Ranky2211 please open this again,this problem still continue i am stuck at 32 step hit,great job rf great job,now i have to start all over again.

[2016-03-22 15:25] andywrt commented on #114
Same problem

[2016-03-22 15:42] #81 closed

[2016-03-22 15:43] pscohn commented on #112
@akshithaaravi is this still happening? Can you open the dev console and show a screenshot of any errors if so?

[2016-03-22 15:45] pscohn commented on #114
@hunt40 is the button greyed out after the first time clicking a button, or does it allow you to retry?

[2016-03-22 15:56] leka034 commented on #24
@pscohn Any news/updates about job posting on list? Or some other way to became testers?

[2016-03-22 15:58] hunt40 commented on #114
@pscohn its stuck on greyed out buttons not active again

what i did is i was on step 21-22 cant remember now,click on yes to move to next step then failed screenshot pop up show up and after that all butons stay in greyed out,waited 2-3 min. and its still stuck to greyed out and then i have to restart the terminal to start from beginning.

[2016-03-22 18:32] hunt40 commented on #93
this is what happens now another server error and what you have to but refresh and bam

You have requested this job too often. Please return the work.

just get few hit and its gone too because server error,and some people other forums claim they got 5 hits back to back.

so fair great

[2016-03-22 18:33] hunt40 commented on #61
this is what happens now server error and what you have to but refresh and bam its like my fault

You have requested this job too often. Please return the work.

hard to catch hits nd its gone too because server error,and some people other forums claim they got 5 hits back to back.

so fair great

[2016-03-22 18:34] marius11 commented on #93
@hunt40 That happens when there are a lot of concurrent testers (over 800).

[2016-03-22 18:37] pat87 opened #119 ""You must open this link inside the terminal" message"
This when I am opening the link inside the terminal.
Doesnt make sense..
![errorterminal](https://cloud.githubusercontent.com/assets/17265000/13963381/224752a4-f08b-11e5-908a-68202dabb9cb.PNG)

[2016-03-22 18:41] uangonline commented on #119
Yap I have the same problem.

[2016-03-22 18:41] NeoWorker opened #120 "You have requested this job too often. Please return the work."
Got this message (title) after trying to refresh the page too many times because I was always getting the message: Oops. Something went wrong. What should I do about this? Did I lost the hit?

[2016-03-22 18:50] marius11 opened #121 "Problem opening the initial link inside the terminal's browser"
Hello,

I'm having an issue with the initial link that we're given. When I copy/paste it in the terminal's browser and try to enter it, I received the following message:
![rferr](https://cloud.githubusercontent.com/assets/11650839/13964330/e21132f4-f071-11e5-90f4-0f7868253fa8.png)

This happened with two hits. In the first hit, while trying to copy the given link, I accidentally clicked it and it

[2016-03-22 18:50] shrestha15207 commented on #119
and i got 1 auto rejection for reporting this issue :(

[2016-03-22 18:53] shrestha15207 commented on #121
so did u get rejections?

[2016-03-22 18:53] uangonline commented on #119
@shrestha15207: Yes i have the same rejection.

[2016-03-22 18:54] akshithaaravi commented on #112
@pscohn , No, not any more, it just happened for an hour or so , I don't even remember what I did? when I restarted, it was back to normal.

[2016-03-22 18:58] marius11 commented on #121
@shrestha15207 No, but I don't really see why anyone would get a rejection for that. It looks like a lot of people are having the same issue.

[2016-03-22 19:03] shrestha15207 commented on #121
but i got rejection on that. anything can be done to overcome the rejection?

[2016-03-22 19:09] marius11 commented on #121
@shrestha15207 I would likely contact support using the help button (you can find it in your Rainforest profile), but I would wait 24 hours at least. They are most likely aware of what's happening and probably everything will be back to normal.

[2016-03-22 19:16] shrestha15207 commented on #121
contacted support...thanks bro..and got reply as well

Hello,

I sincerely apologize for the inconvenience. Earlier today we were experiencing some issues with our virtual machines, which caused tests and screenshots to fail. This problem is now fixed, but we can't do anything about the failed tests. I apologize for the inconvenience. Please let us know if you continue to experience this problem i

[2016-03-22 21:11] hunt40 commented on #121
terminal not even load on my case,i got this when i got few hits last 2 or 2 hours

Oops. Something went wrong.

[2016-03-22 21:14] renoid commented on #120
Same thing here. Two times today. I got "Oops. Something went wrong." or "Application Error".

[2016-03-22 21:16] marius11 commented on #121
It happened again (2 hrs after I started this thread), this time I noticed that when the hit opened, the modal that has all the rules doesn't show up like it used to do before any hit.

[2016-03-22 21:25] Ranky2211 commented on #114
@pscohn  I faced the the same issue.First Failed to report screenshot then All button greyed out then i restart Hit something went wrong Terminal is not loading.After 4 or 5 retries You requested this job too often Lost 4 Hit So Sad.

[2016-03-22 21:58] awnosa opened #122 "terminal slow"
if terminal very slow can use my browser in computer or not

[2016-03-22 22:09] marius11 commented on #122
@awnosa You can definitely not use your computer's browser(s) to complete the task.

[2016-03-22 23:47] GreekGuy commented on #120
Same here. I got 4-5 tests where i could see the steps of the test and the terminal loading but after awhile... "Oops. Something went wrong"

[2016-03-23 15:21] pscohn commented on #122
@marius11 is correct - @awnosa anyone using their own browser risk rejections and being banned.

[2016-03-23 15:21] #122 closed

[2016-03-23 15:23] pscohn commented on #119
This was an error we faced yesterday during an outage - it should be resolved now, and you won't be blocked for any rejections you have gotten for this error.

[2016-03-23 15:23] #119 closed

[2016-03-23 15:23] pscohn commented on #121
This was an error we faced yesterday during an outage - it should be resolved now, and you won't be blocked for any rejections you have gotten for this error.

[2016-03-23 15:23] #121 closed

[2016-03-23 15:54] kristen-allie commented on #24
@leka034 Hello! I'm the new Ambassador to Testers for Rainforest. There are no updates, other than that it's still coming. There is no solid date yet, but I will update you all when there is one. I apologize for the delay! @jombere Does that answer your question as well?

[2016-03-23 16:33] leka034 commented on #24
@kristen-allie Thank you, we are waiting for you information...

[2016-03-23 16:33] hunt40 commented on #120
yes application error back now and after that they have more then enough tester

next error you are requested this job too offen coming.....

i just have left 1 more refresh, after waiting more then 4 min,i am tired and sick of this problems and in the end we are punished because of their incompetence.and my tension high here and i lose another hit.i am tired and angry.

[2016-03-23 20:25] jombere commented on #24
Welcome! I hope we are very helpful and we keep abreast of all updates, very successful. @kristen-allie

[2016-03-23 23:38] CliX-er commented on #32
"We're sorry, we've reached the maximum number of concurrent testers we can support. Please reload and try again." which leads to "You have requested this job too often. Please return the work.".

https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx7faa18-c973-4158-b18a-736bcf0bbfe1&browser=any&hitId=3981217&sig=9a943f903c69d54a98714da18ed0a2594cec4a3c22a6bdebc26efc83

[2016-03-24 11:45] marius11 commented on #32
There are no errors. Those messages are normal when someone accepts a job before you, or when there are too many testers on the same hit.

You can try to refresh those hits, but it is not certain that you'll receive a hit.

[2016-03-24 19:08] Venci73 opened #123 "Job Rejections"
Hello. What is the maximum number of Job Rejections for a month? Thanks!

[2016-03-24 19:12] pscohn commented on #123
@Venci73 if you get around 20 or more you will be blocked, but you can also be blocked at any number of rejections at an admin's discretion if you are caught breaking rules.

[2016-03-24 19:12] #123 closed

[2016-03-25 02:15] akshithaaravi commented on #112
@pscohn , Again today I have been getting blanks screens, here is screen shot of the console. Please check and resolve the issue. Thanks!
https://www.dropbox.com/s/mimzeq9tqsuywq8/Screenshot%202016-03-25%2007.43.39.png?dl=0

[2016-03-25 04:44] akshithaaravi commented on #112
@pscohn , I just uninstalled and installed the chrome, its resolved now, I am getting oops.

[2016-03-25 05:12] JPierreS commented on #120
@NeoWorker : Unfortunately yes, if you get the message that you have requested too often, the job will gets assigned to another worker. Your only option at this point is to close the tab and wait for  another assignment.  Due to the session that was opened first, you will have to wait a minimum of 10min before receiving an assignment or 15min if you refreshed and lost a job past step 0.

[2016-03-25 05:25] JPierreS commented on #117
@pat87 You will never get rejected for work that you were not able to complete and abandon under these extreme circumstances.  Rejections can only happen on work that was submitted, and this only happens at the end of the assignment when you click the blue submit button on the last screen, OR when you fail a step (report) and submit.  You will also receive an auto rejection if you report an issue

[2016-03-26 04:05] AmaiaKao commented on #112
i have this issue for months, sent ticket to RF but still have the issue, usually after few restart and reset router, the link will go back to oops, but for few days now, it's all blank, yes I do get links straight from the plugin but could not work on it since it's all white page. I have ticket for this with screenshots (with console showing errors) I do not have adblocker, no other plugins/exten

[2016-03-26 04:39] akshithaaravi commented on #112
@AmaiaKao , I agree with you completely, everytime I start my computer and open the browser, dreading that RF pages may go blank....couple of other users also have complained this on the other forums, their situation has not resolved yet. Hopefully RF gives some attention to this and find out what is going on........Its definitely not our hardware or software issue, because when it is working fine

[2016-03-29 06:46] limsanto opened #124 "Rejection for paid job"
2 of my job get rejected due to bug, the real status of the job is accepted and i get paid already.

I try send email to Rainforest, but things keep happen, it will effect my job accuracy, please fix it soon.

below the respond from Rainforest

Hello,

It looks like the job may have been rejected due to a bug on our end that didn't show you were clicking things. I apologize. We are looking into wh

[2016-03-29 07:00] helloworld111gh commented on #124
"It looks like the job may have been rejected due to a bug on their end
that didn't show you were clicking things. They apologize. They are looking
into what caused it. Unfortunately they can't reverse the rejection, but
your account is still in good standing!"
From the support message you attached

[2016-03-29 07:09] limsanto commented on #124
That email is 10 days ago, and today i still face that problem, hope they can fix it soon

[2016-03-29 08:47] mukikuki opened #125 "Payment step value 8 cent or 4 cent?"
Dear Rainforest Support Team,
Can you please clarify how much is a value o a completed step. Today i noticed in the help section during a test,  that the value o a completed step is 8 cent and plus 4 cent for accepting the job. But when i check the history of completed jobs  i get only 4 cent per step, and i do not get the 4 cent for accepting the test as written in the payment section. I know tha

[2016-03-29 14:18] marius11 commented on #125
It's still 4c per step.

[2016-03-29 16:46] pscohn commented on #125
We have not changed payment - this looks like a bug, we'll fix shortly.

[2016-03-29 17:11] JPierreS commented on #125
@pscohn  LOL - Interesting bug ;)  Or perhaps someone's idea of an April Fool's joke :dancer:
Would have been amusing if this bug occurred on April 1st though :dancer:

[2016-03-29 17:34] ahmedofhell commented on #124
I'm Facing the same problem. Reported (First Step) job gets rejected.

[2016-03-29 17:41] ando100 commented on #125
@pscohn  Well, change the payment and you don`t have to take care of this little bug  :) Makes your life easier you know, thank me later  :)

[2016-03-29 18:29] nberchev commented on #125
Bug fixed at my terminal.

[2016-03-29 21:43] mukikuki commented on #125
Thanks. I noticed that the 8 cent bug was already fixed, will you fix the 4 cent bug for accepting the job? When i have a 7 step job i receive 28 cent for a competed job, not 32 cent as explained in help section.

Thanks again for your quick reply.

[2016-03-29 21:44] helloworld111gh commented on #125
I think you only get paid the job accepted bonus if you do the job via
mturk or cf
On Mar 29, 2016 14:43, "mukikuki" <notifications@github.com> wrote:

[2016-03-29 21:44] pscohn commented on #125
@mukikuki we will fix this as well very soon - this is left over from when hits were gotten through CrowdFlower directly.

[2016-03-29 21:44] #125 closed

[2016-03-29 21:47] helloworld111gh commented on #125
@pscohn Fixing it as in removing the text or paying the bonus (2nd option
preferred)?
On Mar 29, 2016 14:44, "Paul Cohn" <notifications@github.com> wrote:

[2016-03-29 21:49] pscohn commented on #125
@helloworld111gh ;)

In the short term, removing the text. However, I'll discuss with the team whether it's possible to do the 2nd option.

[2016-03-30 01:23] limsanto commented on #124
@ahmedofhell, mine is get paid, but the status is rejected.
Hope they solve this problem soon, so it not make my job history more worse.

[2016-03-30 07:29] neobuxianohd opened #126 "ACCOUNT STANDING: Blocked"
help my  my account  STANDING:Blocked
Reason for block: You have failed to follow instructions on too many jobs

how can I solve that?

[2016-03-30 07:51] marius11 commented on #126
You could try to contact them via the help button from your Rainforest profile page.

[2016-03-30 15:10] jbarber commented on #112
If any of you get a blank page, please open the console and visit one of the URLs that are returning 403 and tell us what the message is.

I suspect it will be a message from a services we use asking you to pass a CAPTCHA.

[2016-03-30 20:33] khristianjose opened #127 "Everytime i get a job from today it stay on a blank page, no oops no job."
Hi, everytime the plugging gets a new job, the page that opens is on blank, no job on it, and no oops or another message, im putting two screenshots that i looked different from today, i was working yesterday and it was fine.

![sin titulo](https://cloud.githubusercontent.com/assets/17553414/14156580/f9c2abd8-f690-11e5-891a-68bae5d38bd3.png)
![sin titulo2](https://cloud.githubusercontent.com/asset

[2016-03-30 20:39] khristianjose commented on #127
Worker ID 33833144

[2016-03-31 00:23] ahmedofhell commented on #124
@limsanto I get paid too (4c).
Hope so.

[2016-03-31 04:50] manishflyboy opened #128 "Bonus payments"
Recently I had noticed that the some bonus payments are shown in RF history and CF history also but the bonus were not added in clixsense not the task were added. this is happening to me from 5 to 6 day. Anybody facing the same problem. please help.

[2016-03-31 06:31] marius11 commented on #114
Having this issue again, but this time the buttons are not greyed out.

[2016-03-31 07:18] JPierreS commented on #128
There is sometimes a delay in CrowdFlower sending payments to channels.  Payments will show in your inbox and Rainforest history but not received in your channel balance.  These payments will eventually be processed and you should receive them to your balance.  If you did not receive payments within 24h, contact CrowdFlower support (in the case where those payments are non pending and show up in y

[2016-03-31 07:20] Hanifmamun commented on #114
it is happening over and over again, failed to report screenshot even after waiting for few moment and restarting the hit but nothing changes just popup appear.

[2016-03-31 07:22] JPierreS commented on #126
@neobuxianohd  All blocks of this nature are permanent. You may have received too many verified rejections or an admin determined that you have not properly completed many tests.

If you are certain that you have done nothing wrong and followed instructions you can request for an account review, in this case they will review your recent job history and determine if the block was fair or not.  Othe

[2016-03-31 07:22] GreekGuy opened #129 "Failed to take screenshot."
I got my first 2 tests today and i couldn't do anything.. I stuck on the first step where you copy paste the url for the job. When i click "Take screenshot" it does not wait for 2-3 sec but it throws me "Failed to take screenshot" so i have to refresh again and again until "You have requested too often for the job" ....

[2016-03-31 07:25] ahmedofhell commented on #129
Same problem here.

[2016-03-31 07:27] roko777 commented on #129
Same problem here.4tests today and i couldn't do anything.(((
![5](https://cloud.githubusercontent.com/assets/16417121/14168458/34e5acca-f72b-11e5-8477-d064fc310b1a.jpg)

[2016-03-31 07:28] helloworld111gh commented on #129
screenshot is sending req to
*https://tester.rainforestqa.com/tester/assignment/crowd_flower
<https://tester.rainforestqa.com/tester/assignment/crowd_flower>*/
tester.rainforestqa.com/public/v1/machines/x/screenshots/?job_id=x
bold part is broken part

On 31 March 2016 at 00:26, Ahmed Galal <notifications@github.com> wrote:

[2016-03-31 07:28] mukikuki commented on #129
same here with 2 test , cannot take screenshot

[2016-03-31 07:29] mojenLXXXIII commented on #129
Although its showing that All Systems Operational.

 https://status.rainforestqa.com/

[2016-03-31 07:36] neobuxianohd commented on #126
How I can request a review of my account?

[2016-03-31 07:41] rocsannt opened #130 "I do not get any work"
Why not leave me any working?
I just enlist in rainforest and performed the steps correctly, the status of my account is Activa, I have añadiada the extension of rainforest in condition and not getting any work,
What have I done wrong?

[2016-03-31 07:46] diabolic012 commented on #129
Same here, several lost jobs because I am unable to take screenshoot.

[2016-03-31 07:53] ZoiaCosmo commented on #129
Same here, 4 lost jobs because I am unable to take screenshoot.

[2016-03-31 08:01] mdmunabbir commented on #129
Still no solution
Same here, several lost jobs because I am unable to take screenshoot.

[2016-03-31 08:12] JPierreS commented on #129
@helloworld111gh  There is a 404 condition, a resource is not found  - Looks like they probably changed the path / but something was not updated to reflect the change.

[2016-03-31 08:46] jbarber commented on #129
Hi guys, we're looking into this. If you have any jobs in progress you should stop them and try again.

[2016-03-31 08:57] JPierreS commented on #129
@jbarber Thank you - things are back to normal now. (so far) :)

[2016-03-31 10:10] manishflyboy commented on #128
thanks

On Thu, Mar 31, 2016 at 12:48 PM, Jean-Pierre Sabbagh <
notifications@github.com> wrote:

[2016-03-31 10:10] #128 closed

[2016-03-31 11:58] jbarber commented on #129
We found the problem and fixed it, thanks for the heads up guys!

[2016-03-31 11:58] #129 closed

[2016-03-31 16:54] JPierreS commented on #126
@neobuxianohd  Only if you are absolutely sure that you have followed all the rules and worked correctly, you can contact support for an account review, they will check your recent jobs history and determine if the block was fair or not.   Do you recall what was the value under rejections (in your portal) before you got blocked ?

[2016-03-31 17:07] pscohn commented on #126
@neobuxianohd If you feel your block was unfair you can contact us directly using the Help link in your profile, and we do a review.

[2016-03-31 17:07] #126 closed

[2016-03-31 17:08] pscohn commented on #130
@rocsannt Please contact our support channel using the Help button in your profile for individual issues like this - thanks!

[2016-03-31 17:08] #130 closed

[2016-03-31 19:42] marius11 opened #131 "Microsoft Office missing"
Hello,

In a hit I have received earlier, I was asked to open a .csv file, but the terminal didn't have Microsoft Office installed.

Terminal ID: 9708549

[2016-03-31 21:07] JPierreS commented on #124
If you are reporting an error / issue on step 1, make sure that initial link you pasted on step 0 marked with "-" was properly pasted and that it converted to another link (the site being tested).  if the initial link is unable to open for some reason, and you report on step 1, you will receive an automatic rejection as their system did not detect that the job was opened in the first place.
The in

[2016-04-01 00:50] GreekGuy commented on #131
You can open them with notepad, csv files are like text files..

[2016-04-01 01:20] limsanto commented on #127
it's happen to me too, it seems because of the IP address, i try change my internet connection and the problem is solved.

[2016-04-01 01:40] limsanto commented on #124
@JPierreS , it's seem you misunderstand our problem, we get paid for the job but the status is rejected, if rejected. why we get paid ???

[2016-04-01 01:41] limsanto commented on #124
@JPierreS , it's seem you misunderstand our problem, we get paid for the job but the status is rejected, if rejected. why we get paid ???

[2016-04-01 02:47] JPierreS commented on #124
@limsanto :  All jobs submitted get paid, whether you get rejected or not. In your case it was an automatic rejection due to the system not detecting that you opened the job (initial link was not processed).  Whether you get auto rejected or admin rejected, your job will still be paid  - it will also show as "approved" in your CrowdFlower inbox, that is a separate thing.  Status does not affect pa

[2016-04-01 05:04] qpPykT commented on #131
What about files format .xlsx or .pdf. If we don't have "Microsoft Office" or "PDF viewers".

[2016-04-01 05:46] marius11 commented on #131
@GreekGuy I opened the file in WordPad, but the problem was that the Excel file had a lot of columns, making it very difficult to read.

[2016-04-01 08:52] jbarber commented on #127
Someone else on your network is being naughty and abusing the service, this message is shown when that happens to prevent the naughtiness.

[2016-04-01 08:52] #127 closed

[2016-04-01 08:55] jbarber commented on #114
@marius11 / @Hanifmamun I think your problem was solved yesterday in #129

[2016-04-01 10:45] akshithaaravi commented on #112
@jbarber ,

I don't have the error now, but I have got the screen shot of the Dev console when I was getting blank pages https://www.dropbox.com/s/mimzeq9tqsuywq8/Screenshot%202016-03-25%2007.43.39.png?dl=0

And I think one of the reasons for this blank screen is because of this message in the terminal, which happens sometime, not sure if its for that particular Hit. Please check the below image t

[2016-04-01 10:58] jbarber commented on #112
@akshithaaravi I don't believe the problem is because of any of your previous HITs. Did you visit one of the URLs that was reporting a 403?

[2016-04-01 11:14] AmaiaKao commented on #112
I think the issue is about captcha stuff. I tried to open my link on my brother's home (different ISP) and it works fine there. I have dynamic IP so my friend told me to check "project honeypot" site to check the data my IP was having, so I found there that my IP has issues with email spamming etc. The thing is maybe my IP is blocklisted somewhere because of spamming issues and my brother's IP is

[2016-04-01 12:16] Deepak0988 opened #132 "Terminal Does not Load"
The terminal does not load and finally got the message, job abandon

[2016-04-01 16:34] ahmedofhell commented on #132
Same here.

[2016-04-02 04:27] philips13 opened #133 "Error daily payment bonus % 10"
Hello
I want to report an error with bonus payment of 10% daily , because in my case I have paid the same bonus 32 times in one day .
They could tell me how I should proceed in this case? I understand that I am not the only user who happened to him .
I am looking forward to your response. Thank you

[2016-04-02 04:48] ahmedofhell commented on #133
Same happened with me.

[2016-04-02 06:07] qpPykT commented on #133
I have a similar situation here. A few hours ago, it was a lot of payment at the same time. This has never happened before.

![rf-n-bux](https://cloud.githubusercontent.com/assets/4960092/14224811/3a262c22-f8b2-11e5-8415-3aee875b975b.jpg)

[2016-04-02 06:08] shrestha15207 commented on #133
same here..donno what is going on..already sent a support ticket.

[2016-04-02 06:23] Dolazim commented on #133
Omg how this happend I think this i crowdflower missake not rainforest but very crazy mistake you get 34,56$ for noting :D

[2016-04-02 06:37] kamrishwwzj commented on #133
Today at 06:08	60483368	Test A Web Application Using Any Browser
$0.42
Today at 06:08	60483362	Test A Web Application Using Any Browser
$0.42
Today at 06:08	60483354	Test A Web Application Using Any Browser (and 1 other job)
$0.85
Today at 06:08	60483347	Test A Web Application Using Any Browser
$0.42
Today at 06:08	60483342	Test A Web Application Using Any Browser
$0.42
Today at 06:08	60483336	Tes

[2016-04-02 06:57] mdmunabbir commented on #133
I've also been paid. Is this an error?

[2016-04-02 07:01] jitsatya commented on #133
Not paid here. Horrible glitch

[2016-04-02 07:38] ecliptica777 commented on #133
same problem. I hope it will not affect the rainforest. CF need to adjust the balance
[img]https://pp.vk.me/c629514/v629514959/40f36/7tPjdUmC-Wk.jpg[/img]

[2016-04-02 09:37] GreekGuy commented on #133
Same here!! I can see the daily bonus as pending in my history on my rainforest account and i was paid 30+ times in crowdflower

[2016-04-02 09:37] nummuss commented on #133
same problem

01 Apr 2016 21:08 EST	Test A Web Application Using Any Browser	$0.4900
01 Apr 2016 21:08 EST	Test A Web Application Using Any Browser (and 2 other jobs)	$1.4700
01 Apr 2016 21:08 EST	Test A Web Application Using Any Browser	$0.4900
01 Apr 2016 21:08 EST	Test A Web Application Using Any Browser (and 1 other job)	$1.9500
01 Apr 2016 21:08 EST	Test A Web Application Using Any Browser	$0

[2016-04-02 12:27] CliX-er commented on #133
Same here but I can't send them a message because the green "help" button in the bottom right corner of my profile doesn't work. Neither the e-mails sent to tester@rainforestqa.com...

[2016-04-02 17:50] nihlathar commented on #133
I thought this was bonus for some of the missing payments past few days. So what happens now?   ..

[2016-04-02 17:58] nihlathar commented on #131
If there is no explicit explanation for how you are supposed to do something (navigate through the OS to find a program etc), then you just report you were unable to open it and that's it.

[2016-04-03 16:53] nerdatwork commented on #133
Rainforest staff is probably enjoying family time on their weekends and they will respond as soon as they start work on Monday. I am humbled how many honest testers I have the pleasure to work with. Keep up the good work guys.

[2016-04-03 16:57] nerdatwork commented on #131
It is for the same reasons like these the TEST NOTES option is provided and I would like to suggest to use that option to let the Test owner/author(person posting the job) know what issues the (testers) you are facing.

[2016-04-03 18:08] GreekGuy commented on #133
Its better to say the truth instead of having your account banned from rainforest

[2016-04-03 20:32] marius11 commented on #131
@nerdatwork Test notes was not enabled for that test.

[2016-04-03 23:47] Aleksandar85 commented on #133
Yes it is, i also got a bonus about 10$

[2016-04-04 03:27] irj9 commented on #133
I got this too, I was thinking that it might be an end of the financial year thing, but now I am very concerned that it's an error. The website that I receive my payment through gave me a bonus for the extra payment, I hope I don't get into trouble for this!

[2016-04-04 08:20] uangonline commented on #133
Same happened to me. But since i open my elite id before i open the rainforest id, i already ask for withdraw, but it still in pending state though. Maybe someone can adjust the withdraw?

[2016-04-04 11:16] nerdatwork commented on #120
I think the poster was given a satisfactory response hence I recommend closing this thread.

[2016-04-04 11:23] nerdatwork commented on #131
@marius11 in that case you are in a pickle. In my understanding Rainforest are just providing a platform for websites to be tested. The test owner/author decides what to ask whether to ask to download csv or xls or pdf file. I maybe wrong but lets see what RF staff says.

[2016-04-04 14:15] nerdatwork commented on #133
Big Bonuses 2016-04-04 13:30:47 UTC, Kristen Hohenstein
**Hello! We had an issue over the weekend with bonus payments being multiplied by 30. Thank you to everyone who reported it! I will post an update when I have more information.**

Please refer to: [https://portal.rainforestqa.com/](url)

[2016-04-04 18:25] ecliptica777 commented on #133
Update: All issues from Friday with Bonuses have been resolved. If you have any issues, please let us know! :)

___________________________________
how the issue was resolved? I don't see any changes in the balance.

[2016-04-04 18:37] kristen-allie commented on #133
Hello @ecliptica777  and everyone else! People affected by the bug will be emailed an update about their balance by the end of they day. Thanks for your patience as we worked out the issue!

[2016-04-04 19:51] philips13 commented on #133
It has already reached my email confirmation , I guess other users too, so I close the subject.

thanks to the team Rainforest!!!

[2016-04-04 19:51] #133 closed

[2016-04-04 20:00] kristen-allie commented on #133
You're welcome @philips13! A lot of people might not receive the email until later today -- this doesn't mean we forgot you! Just takes time :)

[2016-04-05 14:54] androwg commented on #132
@pscohn  @jbarber right now it is not working it gives a black screen even you wait a long time
![4](https://cloud.githubusercontent.com/assets/15823279/14286343/ff6d0282-fb4e-11e5-968f-bbd7db617334.png)

[2016-04-05 15:07] uangonline opened #134 "Rainforest is so awesome!!!"
Friday Over-Bonus from Rainforest Hi gwbanget! On Friday we accidentally overpaid bonuses to you and a small number of workers by a lot more than normal. This was due to a bug in Rainforest’s code, which has since been fixed. A number of you have contacted us, offering to refund it - we are overwhelmed by this honesty, and we have decided you should keep the extra bonuses as a gift from Rainforest

[2016-04-05 15:45] pscohn commented on #132
@androwg did you try interacting with the terminal before refreshing? It's possible there's a screensaver, or clicking in it will kick it in gear

[2016-04-05 15:57] androwg commented on #132
@pscohn sure but it didn't give any sense i lost the hit that i posted its link and when i received another hit it is the same after 4 refreshes , terminal worked.

[2016-04-05 16:48] nummuss commented on #134
Thanks a lot and long life Rainforstqa.

[2016-04-05 17:00] Hanifmamun opened #135 "Security Error (Error#2048)"
I lost a hit because of this error. It says "an security error occured (error#2048) check your policy-policy server configuration. I refreshed the hit but same error appeared all the time.
![error](https://cloud.githubusercontent.com/assets/18037395/14290760/3519c572-fb82-11e5-85c5-b9dd65d7e8d5.jpg)

[2016-04-05 17:44] roko777 opened #136 "The test is not noted in history, ALSO NO BONUS"
3 tests were left without payment. They do not exist in history. final test by 35 steps
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx23b7b4-4e43-41fa-af73-24c00da2bd00&browser=any&hitId=4447600&sig=5cce387a4b2bb7df5e1cfd13560eee7560efb97936ff71213193a5d484b3bd31&turkSubmitTo=%2Fthanks&workerId=6594279

https://tester.rainforestqa.com/tester/assignment/crowd_flo

[2016-04-05 18:01] marius11 commented on #136
When you submit a hit, it doesn't always appear immediately in the history tab. You should wait at least 30 minutes before asking help.

Speaking of help, you should use the help link from your Rainforest profile. This forum is used to address issues with the extension, and not individual problems.

[2016-04-05 18:34] roko777 commented on #136
It has already passed more than 2 hours

[2016-04-05 19:12] uangonline opened #137 "Why the new No button ack strange?"
The "No" button for the security question such as "Find Salmon Egg on the page" etc2, ack strange. When click on the button a popup for a reason came up and must click the report button. But the most strange things is it send me to the finish button and can't continue to the next step.

[2016-04-05 19:14] shrestha15207 commented on #137
same here...whats wrong?? should we report the test questions now??

[2016-04-05 19:18] pscohn commented on #137
This has been fixed, though you may have to refresh the page if you still see this issue.

[2016-04-05 19:18] #137 closed

[2016-04-05 19:24] Ranky2211 commented on #114
Problem is solved now.Thanks RF Team.

[2016-04-05 19:24] #114 closed

[2016-04-05 19:38] pvenkat7 opened #138 "New modification on tester interface"
New modifications on tester interface are simple and concise. The only bug is "**No**" button has no control over security checks (if we click no for those checks it require to report and leave other steps).
In my opinion you can modify it like "**Other**" which has two choices. Means when we click "**No**" it opens pop up with two choices to choose either "**Not exact instructions**" or "**securi

[2016-04-05 20:02] helloworld111gh commented on #137
Authors can set questions so that no is correct answer
On Apr 5, 2016 12:12, "uangonline" <notifications@github.com> wrote:

[2016-04-06 01:13] Deepak0988 commented on #132
In my case I tried clicking on the terminal, But it remains freeze

[2016-04-06 05:20] limsanto commented on #135
It severally happen to me too, send ticket to Rainforest and after checking by them, their answer is nothing wrong in their side.
Try to change the encoding and clear browsing history, many times it help.

[2016-04-06 12:31] AmaiaKao commented on #112
@jbarber
HI. it's been a while since I get a blank page because RF Support staff gave me a temporary link to fix this (application.js link). So now I got a blank link, I opened the console to get the link error and here it is.
https://static.rnfrst.com/8dde8d506e542526c16626b9c8672578d1ef01d2/application.css

My blank page was fine and back to normal after this post, since I pasted the link given

[2016-04-06 19:00] pscohn commented on #138
Thanks for reporting and your feedback @pvenkat7 - it should be fixed now!

[2016-04-06 19:18] #138 closed

[2016-04-06 20:41] pscohn commented on #112
This exact link @AmaiaKao posted changes as we release new code, so if it does not work, you can find the updated link by right clicking/view source of the page, and open the application.js/css. However, @jbarber released a fix for the problem, so it shouldn't be happening as much.

[2016-04-06 20:41] #112 closed

[2016-04-06 20:44] pscohn commented on #136
Please use the help form for these individual history/bonus issues.

[2016-04-06 20:44] #136 closed

[2016-04-06 20:44] pscohn commented on #134
:)

[2016-04-06 20:44] #134 closed

[2016-04-06 21:31] JPierreS commented on #135
Are you using your home connection or office ? Something on your end is blocking communication.  Are you using adblockers, script blockers, firewall ?

[2016-04-06 21:36] JPierreS commented on #132
Actually it may not be frozen.  How long do you wait before refreshing ? In some cases it might show a black area but will eventually appear - try giving it some time before restarting.

[2016-04-07 02:14] Deepak0988 opened #139 "Invalid parameter:Crowd_Flower"
Got an error today
Here is the link for the error
"Invalid parameter:Crowd_Flower"
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx168c5e-f951-485c-94c9-b05e83b43c0a&browser=any&hitId=4623090&sig=3ba26aaf40f69e772ddc2a83e57d53d70fcf0a78bf3816c19d2e7b7778791bd2&turkSubmitTo=%2Fthanks&workerId=32687648

[2016-04-07 02:14] ecliptica777 opened #140 "Invalid parameter: crowd_flower"
I see Error: Invalid parameter: crowd_flower

https://pp.vk.me/c628519/v628519959/3b0a0/zlrs0lwJl10.jpg

[2016-04-07 02:15] Deepak0988 commented on #132
waited for the max time rainforest provide for a hit, and eventually lost the hit

[2016-04-07 02:15] ahmedofhell opened #141 "Invalid parameter: crowd_flower"
"Invalid parameter: crowd_flower" This message appeared instead of "Another worker accepted the job before you! It doesn't look like there is any more work for any of our hits; please try again shortly - you can refresh this page, or close and wait for a new job." message!

[2016-04-07 02:17] nummuss commented on #141
Same: Invalid parameter: crowd_flower

[2016-04-07 02:17] haap19 commented on #140
same here

[2016-04-07 02:17] Dolazim commented on #141
Same there...

[2016-04-07 02:17] roko777 commented on #141
the same as in the new work

[2016-04-07 02:18] ecliptica777 commented on #140
Topics repeat

[2016-04-07 02:18] #140 closed

[2016-04-07 02:20] roko777 commented on #140
same here

[2016-04-07 02:23] BonesKnows commented on #141
same here

[2016-04-07 02:23] mkdige commented on #141
yup same here Invalid parameter: crowd_flower

[2016-04-07 02:24] kwimy commented on #141
Another more with the same issue.

[2016-04-07 02:26] akvinod commented on #141
same here

[2016-04-07 02:26] pscohn commented on #141
Thanks for reporting - we're looking into this now.

[2016-04-07 02:27] nuevao commented on #141
same here

[2016-04-07 02:31] obiwanke commented on #141
Hey Obi there... The same problem =)

[2016-04-07 02:34] Dolazim commented on #141
Problem is fix ty... :)

[2016-04-07 02:34] ahmedofhell commented on #141
Problem Solved!

[2016-04-07 02:37] #141 closed

[2016-04-07 02:38] pscohn commented on #141
Thanks for reporting so quickly - we've rolled back the buggy code!

[2016-04-07 02:38] pscohn commented on #139
We've rolled back the buggy code, this is now fixed. Thanks for reporting!

[2016-04-07 02:38] #139 closed

[2016-04-07 07:24] nerdatwork opened #142 "Tooltip overlaps buttons"
The tool tip over YES "Click only if the instructions pass EXACTLY" overlaps all the buttons and after clicking Yes it still stays on when the next step shows up. It should automatically go away after few seconds.

[2016-04-07 08:53] ChrisRaven commented on #142
Also, the tooltip could be displayed over or under the selected button, not at cursor. It will look much better.

[2016-04-07 09:02] nerdatwork commented on #142
The buttons are quite self explanatory so tool tip shouldnt be there at all but that is just me.

[2016-04-07 09:07] ChrisRaven commented on #142
True, they're not needed. But, I like some indication, which button I have clicked, because sometimes it happens, that I click a button (especially those in the test questions) and a second after I'm not sure, which one I've chosen and I wonder, if I did the question right. Actually, the first version (the one, where the selected button had changed background color to white) was best for me.

[2016-04-07 09:17] nerdatwork commented on #142
Exactly. I have mentioned the same in the TEST NOTES. The clicked button MUST be blurred out to show which of the buttons was clicked. I get goosebumps thinking "Boy O boy this test gonna show up in the rejections for sure" since all buttons get blurred out.

[2016-04-07 11:32] marius11 commented on #135
If I use my university's WiFi (or broadband) connection (which has some ports blocked) I receive the same error. This error doesn't appear if I use my connection at home.

[2016-04-07 13:45] pscohn commented on #142
This will be fixed in the next release, which is scheduled for whenever our testers give it the :+1: :)

[2016-04-07 13:45] #142 closed

[2016-04-07 13:51] pscohn commented on #74
This is an issue that comes up occasionally depending on the client, and are fixed as we get the reports.

[2016-04-07 13:51] #74 closed

[2016-04-07 13:52] #32 closed

[2016-04-07 17:07] Hanifmamun commented on #135
I never used ad-blockers, script blockers or firewall.

[2016-04-08 06:53] leka034 commented on #24
@kristen-allie I wonder if all current testers quit testing for you, would you consider to do someting to acquire  new testers?

[2016-04-08 13:46] BonesKnows commented on #24
@kristen-allie Is there any information?

[2016-04-08 18:06] pscohn commented on #24
@BonesKnows Our core team is working on the new onboarding system right now - we don't have an exact date, but we estimate it should be ready in 3-4 weeks, maybe sooner :)

[2016-04-12 03:12] #135 closed

[2016-04-12 03:18] Hanifmamun opened #143 "Abandoning Hit because of "take screenshot" VS "Click to Take Screenshot""
In the beginning of a hit it asks "take screenshot" but I see "Click to Take Screenshot". What should I do? Abandon the hit or proceed by ignoring it? You know there is no button to report. I am asking this because it is not included in wiki's frequently asked questions about the new rules.

[2016-04-12 03:49] pscohn commented on #143
We have fixed this and you should see the text updated in the next 5-10 minutes.

[2016-04-12 03:49] #143 closed

[2016-04-12 04:04] chmi16 opened #144 "3 bonus payment instead of one"
Hello,
I have received 3 bonus payment instead of one.Other payments are ok.
I also send you message from RF test portal with more details (copy of messages).

[2016-04-12 10:05] jbarber commented on #135
Your computer must be able to reach port 843 on the servers. If it can't then the terminal will display this message. This is a security requirement of the terminal client.

[2016-04-12 17:46] ahmedofhell opened #145 "Slow server and failed to take screenshot error"
The server is pretty slow and takes screenshot also very slow.
Failed to take screenshot error appear most of the time after it "Yes,No,Other" buttons disabled totally and had to return once again from the beginning.

Is anyone facing these problems Or I'm the only one?

[2016-04-12 18:58] BonesKnows commented on #145
very slow for me to

[2016-04-13 00:29] Hanifmamun commented on #145
Faced same issue
On Apr 12, 2016 11:46 PM, "Ahmed Galal" <notifications@github.com> wrote:

[2016-04-13 12:52] Begushhij opened #146 "No payment."
Actually, I was already tired to write in different instances.
The question is simple. Why I do not pay portal.rainforestqa.com?
Support silent.

Maybe that's the reason for this - http://fs5.directupload.net/images/160413/pdx2sfgi.jpg

[2016-04-13 21:18] ukd1 commented on #64
@campoy ping! Did you have any luck?

[2016-04-14 19:17] campoy commented on #64
An internal conversation is currently going on (since yesterday, sorry) and I'll keep you updated as soon as we have an expert that can help you ;)

[2016-04-14 22:04] ukd1 commented on #27
@pscohn can we get an update here?

[2016-04-14 22:13] pscohn commented on #27
Sorry for not updating when this happened - on Jan 20 we paid for 113 jobs due to this error, if you have an instance after this date where you haven't been paid, please open a ticket in your profile and we'll take a look.

[2016-04-14 22:13] #27 closed

[2016-04-15 00:49] GreekGuy opened #147 "Errors errors so many errors.."
Server errors again and again i can not get tests  [http://prnt.sc/asd9m0](http://prnt.sc/asd9m0).. Anyone has the same problem?

[2016-04-15 00:59] manishflyboy commented on #147
yes. same here. it is started around 2200 hrs IST.

[2016-04-15 03:34] yoges9 commented on #27
hi thanks ,

Yogesh

On 15 April 2016 at 03:43, Paul Cohn <notifications@github.com> wrote:

[2016-04-15 10:53] taoufik508 commented on #145
yes, also for me in so many times

[2016-04-15 12:37] L4kshmi commented on #24
@pscohn 4 months waiting for that :(. You always said that, it is very frustrating

[2016-04-15 17:36] qpPykT commented on #33
Today I had the cross connection bug again. The terminal was shared between the two testers.

[2016-04-15 17:40] Genesis2015 commented on #33
Me too few day ago.

[2016-04-15 19:28] rojita7 opened #148 "Payment accumulated"
Since yesterday, I have accumulated payments.
Does anyone happens the same?

[2016-04-15 19:37] JPierreS commented on #146
@Begushhij  Since the payments are pending in your Rainforest account, there is nothing that CrowdFlower can do at this point.  According to the history page, you can contact Rainforest support for missing payments, after 48h has passed.   You would contact CrowdFlower only in cases where your Rainforest history shows no pending bonuses, but payments did not come through to your channel, after som

[2016-04-15 20:09] Genesis2015 commented on #148
Same to me - more then 20 pending payments :(

[2016-04-15 20:50] khristianjose commented on #148
same here, like 10 jobs in pending payments.

[2016-04-15 21:41] rojita7 commented on #24
pscohn: Are through ptc? hopefully be direct with the rainforestqa
The ptc are taking many cents. Thank you.

[2016-04-15 21:50] BonesKnows commented on #148
same here

[2016-04-15 23:21] rojita7 commented on #24
@pscohn I worry that reduce jobs by adding more users.
Some have a rainforest as an important source of income

[2016-04-18 14:50] L4kshmi commented on #24
@rojita7 All we want to work as TESTER can also take the job seriously. It sounds a bit selfish of you.

[2016-04-19 01:47] helloworld111gh opened #149 "Only can hit "Yes" if screenshot error"
If there is a screenshot error, the no and other buttons get locked and you can only press "Yes"

[2016-04-19 14:31] pscohn commented on #149
@helloworld111gh Did this happen on a particular test or step that you can recall?

[2016-04-19 19:40] pscohn commented on #148
This was due to an error in processing Crowdflower payments - it should be fixed now.

[2016-04-19 19:40] #148 closed

[2016-04-19 19:41] pscohn commented on #147
This may have been an intermittent outage - is it better now, can this be closed?

[2016-04-19 19:42] pscohn commented on #146
If you are missing some payment, you can contact our helpdesk through your profile.

[2016-04-19 19:42] #146 closed

[2016-04-19 20:54] ahmedofhell opened #150 "There are no virtual machines currently available. Please retry in a few minutes."
**"There are no virtual machines currently available. Please retry in a few minutes."** This message appeared instead of **"Another worker accepted the job before you! It doesn't look like there is any more work for any of our hits; please try again shortly - you can refresh this page, or close and wait for a new job."** message!

[2016-04-19 20:56] pscohn commented on #150
This is a new message to clarify why the job didn't load in some cases. Previously it would just show "Another worker" even if the reason was that we ran out of VMs. Now the error is more specific in those cases.

I'll leave this open for now for visibility, but this is not actually a new error.

[2016-04-19 21:06] ahmedofhell commented on #150
Thanks @pscohn It's changed to "Another worker" again.

[2016-04-19 21:07] pscohn commented on #150
You should see both messages from time to time, depending on why you didn't get the job :)

[2016-04-19 21:20] ahmedofhell commented on #150
Yes, Got it! :)

[2016-04-20 08:28] GreekGuy commented on #147
I am still getting some Errors Something went wrong but its okay you can close it. Thank you.

[2016-04-20 13:31] lilymar commented on #149
Same thing but all buttons stuck. Terminal 10665388, "Paperlesspost", ID 34867195

[2016-04-20 17:03] #147 closed

[2016-04-20 18:23] roko777 commented on #150
There are no virtual machines currently available. Please retry in a few minutes.?????what is it?

[2016-04-20 18:59] marius11 commented on #150
@roko777 Tester are required to use the terminal in order to complete hits. If there aren't enough terminals, you will receive that message.

[2016-04-20 19:05] helloworld111gh commented on #150
Shouldn't terminals be dynamically started based on demand? Pretty sure
it's better to have less workers waiting for terminals and more workers
doing the tests.
On Apr 20, 2016 11:59, "marius11" <notifications@github.com> wrote:

[2016-04-20 21:50] hunt40 commented on #150
this system have to change ,like i did maybe 6 test today,some people on forums said he did 35 and 40 task respectively in 2 days,whos have fast internet then other got way more test.this is since late november and looks like its keep going as like this.

[2016-04-20 23:27] NeoWorker commented on #150
I agree with @hunt40, it's not very nice when you're doing something in the Internet, watching a video, playing games on browser and have to stop everything just to receive error messages in a new tab.

[2016-04-21 15:22] roko777 commented on #150
It used to be a lot of work, but now it is almost there (((unfairly

[2016-04-21 16:42] braneb commented on #150
Its not unfair...some people work more, sleep less and have a bit more luck...like every other task, we didnt get promise to have much work as we want to...i wish that there is much more work for all of us, someday it may be, but for now thats how it is

[2016-04-21 18:23] marius11 opened #151 "New operating systems - issues with Linux/Windows 10"
On Linux based machines, scrolling will toggle the desktop selector which might hide the browser.

~~Also, on Windows 10, some licenses are about to expire and the browsers are not maximized by default when the terminal starts up.~~

[2016-04-21 22:10] hunt40 commented on #150
to be honest i have no job so i am doing this and other tasks and sitting on pc and looking this screen 15-16h everday and when i see 30-40 time oops or any other error you'll getting frustared,angry,and i know this is crouwdsource stuff there is no fairness at all and this test differnt then other tasks but this is getting out of hand when other people talk like on forums saying like ''i did 25+

[2016-04-22 20:10] philips13 opened #152 "Job abandoned 10 minutes from starting"
Hello
I like to report that within 10 minutes of starting a 6 step testing in step 5 redirects me to Job Abandoned ( You were inactive for too long and the job has-been aborted . You May close this tab . )

[2016-04-22 20:11] marius11 commented on #152
https://github.com/rainforestapp/tester-chrome-extension/wiki/Idle-Policy

[2016-04-22 20:34] philips13 commented on #152
thanks marius11
But I was doing the job and was never inactive, was in step 5 and only 10 minutes had passed is test started .

[2016-04-22 20:38] pscohn commented on #152
@philips13 do you happen to have the job id or assignment id?

[2016-04-22 20:49] philips13 commented on #152
I can not see the job ID or assignment, the link now looks like this: https://tester.rainforestqa.com/abandoned
this is my worker ID (20206661)
Thanks

[2016-04-23 00:26] JPierreS commented on #152
@philips13 You can find the URL by looking in your history (CTRL-H) in Chrome.
If you have done other jobs after that and are not sure which URL, then next time you can immediately refer to the history if you get the abandoned message.

[2016-04-23 00:43] philips13 commented on #152
Ok. but I've deleted the history , also not returned to happen to me.
I close the subject or leave it open if it happens to someone else?
Thanks

[2016-04-23 06:48] cookin2 commented on #152
A similar thing happened to me yesterday.  I got a hit and was working on
something else.  I closed that down with "give up" because it was a timed
CF task.  When I click the "I understand", I got the job abandoned screen.
I'd never even seen a screen like that before!  I couldn't have been more
than a minute, 2 at the very most closing the other tab.  I'm sorry that I
lost the work, but more worr

[2016-04-23 06:56] ivevil commented on #24
I'm waiting 5 months to be a tester.. :( When can I become one? Is there any other ways to become one?

[2016-04-23 07:07] marius11 commented on #24
Read what @pscohn wrote a few lines up.

[2016-04-23 07:07] JPierreS commented on #152
@cookin2 This is very strange indeed.  I have never had this before.

Since you were working on something else, is it possible perhaps you did receive this assignment much sooner and were not aware ?  The timer actually starts as soon as the job opens (the tester interface with the testing guide nodal).

[2016-04-23 07:52] cookin2 commented on #152
I was refreshing with ARP, the notification popped up the same way as it
always does, that's when I clicked give up on the other task.  I know well
what you mean about not knowing there was a "live" job.  That's happened to
me before so I know better than to leave an oops sitting there until it
converts.  In the beginning, I thought that when an oops converted, it
would take over and bring me to t

[2016-04-23 08:30] helloworld111gh commented on #152
How long was the interval? ARP only checks at the end of the delay, so high
delay could be cause.
On Apr 23, 2016 00:52, "cookin2" <notifications@github.com> wrote:

[2016-04-23 08:39] cookin2 commented on #152
I use the random interval option of ARP between 6 and 8 seconds.

The only problem that I've ever had was that while refreshing, RF told me
that I had already submitted the assignment, which I hadn't.

On Sat, Apr 23, 2016 at 4:30 AM, Richard <notifications@github.com> wrote:

[2016-04-23 08:43] cookin2 commented on #152
I should have added that a few times, RF told me that I was refreshing too
quickly.  Those were times when things were very slow, so I waited a bit
and then adjusted the refresh time upward.

On Sat, Apr 23, 2016 at 4:38 AM, Laurel Hughes <bulldog10x10@gmail.com>
wrote:

[2016-04-23 16:39] JPierreS commented on #152
@cookin2  Refreshing too quickly would not cause the already submitted error - you would get instead a 'rate limit exceeded' error.  They hard coded the limit at API level for some time now, so it would be quite difficult to refresh too quickly ;)  The current limit for unopened jobs is a maximum 10 attempts per 60 seconds, and each attempt is cumulative.  Perhaps you refreshed a link from a compl

[2016-04-23 19:02] Genesis2015 commented on #152
Idle timer is a good idea!

[2016-04-26 06:57] Begushhij commented on #146
Correspond with crowdflower useless.
I can register a new account Rainforest?

[2016-04-26 07:09] Begushhij opened #154 "How do I register a new account Rainforest?"
Correspond with crowdflower useless.
I can to re-register a new account Rainforest?
Discussion topics: https://github.com/rainforestapp/tester-chrome-extension/issues/146#event-633484051

[2016-04-26 07:26] marius11 commented on #154
https://github.com/rainforestapp/tester-chrome-extension/issues/24

[2016-04-26 07:44] Begushhij commented on #154
A little history:
I had a clixsense account, and accordingly account for rainforest, but I had to close clixsense account. Now I registered a new account clixsense. Tied account crowdflower, but each new binding account CF give a new channel ID, which does not match the account rainforest.

[2016-04-26 11:05] akshithaaravi opened #155 "Blank home page at app.rnfrstqa.com and app.rgnwldqa.com on Terminals"
For the past hour all the Hits I get are API hits, and the login screen is fine, but once I login, the homepage is blank.

[2016-04-26 11:08] prayogoa commented on #155
This is an actual problem with the site being tested and we are working to fix the issue.

[2016-04-26 11:08] #155 closed

[2016-04-26 13:33] jombere commented on #24
@pscohn  3 weeks have passed, what's next ?.

[2016-04-26 14:49] Josephapq commented on #24
@jombere Three to four weeks friend. A little patience.

We are all desperate xD

[2016-04-27 03:34] limsanto commented on #152
mine even just about 5 minutes and get abandon

[2016-04-27 14:54] GersonTavare opened #157 "An annoying problem"
Hey guys, anyone can help me?

A few days ago - about 5 - I started to receive a strange error.

![toqxq4zvjia](https://cloud.githubusercontent.com/assets/17014154/14856254/c45e1e44-0c6d-11e6-95da-7a344b16fdad.jpg)

I have no idea what caused it. I didn't change anything on my computer or on my internet. The windows firewall is enabled, but I think it is not blocking the rainforest site. I called

[2016-04-27 14:58] Hanifmamun commented on #157
Reload the Hit works for me sometimes it is not. I think it is terminal
security issue not your browser or ISP problem. I opened a thread on this
issue few days ago but did not get satisfactory answer.
On Apr 27, 2016 8:54 PM, "GersonTavare" <notifications@github.com> wrote:

[2016-04-27 17:04] pscohn opened #158 "Catch captcha issue and open tab for challenge"
https://app.getsentry.com/rainforest-1/tester-chrome-extension/issues/124420686/events/4138061693/

Some syntax errors are related to captcha. For testers, this means the work ping occasionally doesn't work, but they have no way of knowing. This can be fixed by opening the endpoint in a new tab so testers can fill out the captcha whenever the error happens.

[2016-04-27 21:24] matheuskanderson commented on #24
@pscohn We have any news?

[2016-04-27 23:20] khristianjose opened #159 "How some people have like 20 signs on Rainforest jobs"
Hi, here is the question, ive been working on Rainforest since August 2015, and on all that time ive only saw 3 contracts to sign on the "Get more jobs" button, but some people have like 20 contracts signed and i want to know why, when they sign all those contracts that i didnt saw anything.

[2016-04-27 23:28] #159 closed

[2016-04-28 17:45] GersonTavare commented on #157
Hi, Hanifmamun. Thanks for the response. I tried to send an email to Rainforest support but also not received any satisfactory answer. My problem is that I receive everytime this message, so I need reload the page several times and I lost a lot of time in a single hit. Hope they get a solution to our error.

[2016-04-28 17:54] MarinaCec commented on #157
Reload the Hit works for me, sometimes it is not.

[2016-04-28 18:16] MarinaCec opened #160 "Terminal problem, help"
I have received this message "Your job cannot be completed. Plese reload the page and try again"... So, when I reload the page be all white without test, and again, and again... I lost a few tests today with this problem. Is an error in my browser something like that or is a rainforest error, maybe the terminal?
![sem titulo1](https://cloud.githubusercontent.com/assets/18725046/14896459/3dc79ae4-0

[2016-04-28 18:30] pscohn commented on #160
This could be a network error - I don't see any errors on our end. If you see it again, can you check the chrome developer console and network tab and take screenshots of any errors you might see? @MarinaCec

[2016-04-28 18:45] MarinaCec commented on #160
@pscohn ok, I'll see, thanks for help.

[2016-04-28 22:16] nuevao opened #161 ""An Security error Occured (Error #2048) and Error 2031"
Greetings friends, newly opened this task a few minutes ago and these errorres appears. in the terminal. refresh the page a few times but the problem continues.
![error1](https://cloud.githubusercontent.com/assets/16979522/14903152/0677880a-0d69-11e6-9813-afbd45090eb0.JPG)

[2016-04-29 02:46] limsanto commented on #152
job abandon when on progress doing it, make me very frustated
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx1adab8-5411-41e9-9885-016f8ae2e2dc&browser=any&hitId=4535734&sig=de7cc3bc1a6fe5de66112543a2e62aaf0277d5c0d6ff9039bd00e1b09f7a4e03&turkSubmitTo=%2Fthanks&workerId=29683750

[2016-04-29 11:28] maciejgryka opened #162 "Add an example about wrong redirect to the "Confusing Scenarios""
@kristen-allie Here's something that we might want to add to https://github.com/rainforestapp/tester-chrome-extension/wiki/Guide-Rules:-Confusing-Scenarios

`If you get redirected to a page that does not allow you to perform a specified action, answer No. Do not do anything that's not asked for in the instructions, including navigating back to the previous page. If you cannot follow instructions e

[2016-04-29 13:45] kristen-allie commented on #162
@maciejgryka I'll add this when the updated "yes" "no" rules go into effect since I'll be revamping the whole "confusing scenarios" page when that happens!

[2016-04-29 14:43] nberchev commented on #162
But the instructions of some similarly created tests do not offer Yes/No possible answer of the question asked, more like Other/ couldnt follow instr. How we have report for now - No or Other?

[2016-04-29 16:28] cambinator commented on #154
I have same problem, I created new neobux account and get new channel ID. Support responds that I have to wait until I complete one job directly through CrowdFlower in order to use my new ID. And it's currently very difficult according to thread #24

[2016-04-29 16:30] pscohn commented on #154
When #24 is closed (which we're working on) you'll be able to get a job and create a new rainforest account.

[2016-04-29 16:30] #154 closed

[2016-04-29 19:09] manishflyboy commented on #161
same here. continuously for 02 hits

[2016-04-29 19:16] manishflyboy commented on #160
The same thing happens to me also

[2016-05-01 20:35] ivijulsc commented on #24
Is it any way i can change my crowdflower ID to my RF account?
Today i registered, but i done the "Test a web aplication" a year ago, and my Previous NeoBux account got suspended for inactivity... So now i have the same CF account but a different NeoBux ID, and when i claimed my profile in RF i got linked with my previous NeoBux ID.
Any way to fix this? Thanks a lot.

[2016-05-02 17:01] L4kshmi commented on #24
It would be easier to say they do not need more TESTER , that keep us on this one endless wait..! :(

[2016-05-03 04:23] helloworld111gh opened #163 "Sometimes no terminal appears in the box"
Sometimes the terminal box just doesn't have anything in it, or a black box appears for a moment then it disappears. There is no error message.
Image: http://puu.sh/oErLh/dfd3f6bb85.png
URL: https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cxbb32c7-1ea3-4f07-ad75-280d474c6fc3&browser=any&hitId=4151004
Console; http://puu.sh/oErPC/cd8bd5a192.png

[2016-05-03 08:39] phahoai opened #164 ""You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop..."
![1](https://cloud.githubusercontent.com/assets/19165215/14979648/de0e2444-114d-11e6-8656-52097ae518fb.png)
Hi! I get error message "You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit.". Now i am getting very low hits. Pl

[2016-05-03 17:51] khristianjose opened #165 "Why im getting from yesterday only jobs with 4 or 3 steps"
Hello, i am going back to work with you guys, i was inactiva for a while, so i came back this monday and im only receiving jobs with 3 or 4 steps maximun, is this because i was inactive or another reason?

[2016-05-03 17:55] helloworld111gh commented on #165
Maybe you're just unlucky? Pretty sure every worker gets the same jobs,
regardless of their activity.
On May 3, 2016 10:51, "khristianjose" <notifications@github.com> wrote:

[2016-05-03 18:14] khristianjose commented on #165
Nope because i have a friend working on RF too and hes not receiving the same jobs that im receiving.

[2016-05-03 18:21] pscohn commented on #165
@khristianjose it's possible you're receiving training hits if you've been gone a while. You can open a support ticket and send your worker ID if you'd like more information.

[2016-05-03 18:21] #165 closed

[2016-05-04 17:10] zfonck123 opened #166 "ERROR SSL"
![image](https://cloud.githubusercontent.com/assets/19192312/15022409/510a4b6a-11f5-11e6-87e3-6ec4a0e431b1.png)
alot time this error

[2016-05-04 20:35] jguerrero2 commented on #166
Here the reason...

SSL Errors 2016-05-04 17:38:24 UTC, Kristen Hohenstein
Hey all! A customer released some tests that are resulting in an SSL error. They are working on rolling these tests back now. If you experience an SSL error, you should report that test as a failure. I apologize for the inconvenience!

source:
https://portal.rainforestqa.com/

[2016-05-04 22:47] zfonck123 opened #167 "Error: Something wrong"
![image](https://cloud.githubusercontent.com/assets/19192312/15031678/51f6edc4-1224-11e6-959e-f2642fff9232.png)
  this time alot ,and later  affter reaload
![image](https://cloud.githubusercontent.com/assets/19192312/15031699/717a87fa-1224-11e6-8a3c-fb257a29f651.png)

[2016-05-04 22:50] RezwanulHaque commented on #167
Same thing here also

[2016-05-04 22:53] GreekGuy opened #168 "New issue: server error"
I got a new issue today 4 times in the last hour. When i get a new test it shows me "Error: Something went wrong.." but i can not open any other test it shows me "You have reached the maximum number ..." if i use an old link so i have to refresh the link with the Server error until it shows me "You have requested the job to often". So i get the test but the terminal can not be loaded.

[2016-05-04 23:01] rifatrahman commented on #168
Same here.

[2016-05-05 06:37] GreekGuy commented on #168
Everything seems to be working fine.

[2016-05-05 16:54] leka034 commented on #24
@pscohn Do You have any news for us? Are you close to the final of that what are you working with?

[2016-05-05 17:11] pscohn commented on #24
We're still working on it and getting closer, but I don't want to give any more vague estimates since it's taken longer than expected.. it's coming :)

[2016-05-05 17:19] matheuskanderson commented on #24
@pscohn  But do you think that crowdflowers jobs return at least on The next month?

[2016-05-05 17:44] ivijulsc commented on #24
@pscohn Well, that is good to know...
Where we shuld check for news? in this topic?

[2016-05-05 17:57] marius11 commented on #24
This topic or here: https://portal.rainforestqa.com/

[2016-05-06 02:59] axartstyle opened #169 "problem with my account hope i found support from you :( :("
hello i had to join the army 2 years ago so i left my account  for my little brother i was good member did over 250 task but unfortunately when i finished and back to home i found my account status blocked hope it solved please kindly i just looking for 1 more chance i know its my fault to leave my account for someone else but i was scared from closing my account
hope i found help here
regards <3

[2016-05-07 12:59] akshithaaravi commented on #169
Send a mail to tester@rainforestqa.com pronto

[2016-05-09 01:48] nerdatwork commented on #168
@GreekGuy If your issue is resolved please close the thread so Rainforest can focus on other threads.

[2016-05-09 10:53] GreekGuy commented on #168
@nerdatwork sorry man i didnt knew i could.

[2016-05-09 10:53] #168 closed

[2016-05-10 15:38] qpPykT opened #170 "Windows message "You must restart your computer to apply these changes" when the terminal is loaded."
When the terminal is loaded, a message appears on the home page "You must restart your computer to apply these changes". There's also a message about the activation windows appears.

![rf-start-wm](https://cloud.githubusercontent.com/assets/4960092/15152470/11e351be-16de-11e6-957e-a8e94fd01cbb.jpg)

![rf-start-wm-terminal-number](https://cloud.githubusercontent.com/assets/4960092/15152514/2e4d1b78

[2016-05-10 17:23] Dolazim commented on #170
10.If the terminal shows you a message along the lines of "You must restart your computer to apply these changes", dismiss the message. Do not reboot the terminal. You can find in Help.

[2016-05-10 18:02] qpPykT commented on #170
My bad. I missed it. Closed.

[2016-05-10 18:02] #170 closed

[2016-05-10 20:13] kristen-allie opened #171 "Chrome extension opens jobs when set to "off""
@rainforestapp/tester-product A tester reported that the Chrome extension is opening jobs when it's supposed to be turned "Off". Can this be fixed? What other info can I provide here? Here's the message from the tester:

```This is happening second time with me. I was gone outside of room after turning off the extension but when I come back to room I see one hit is abandoned. You know sir this is

[2016-05-11 18:01] marius11 commented on #152
Would it be ok to include other details on the "abandoned" page, like the id of the job (assignment id)? I cannot get the original link since it was over-written in the browser history with the new link.

It just happened to me while testing Rainforest's own app and received job abandoned after 5-10 seconds into a step. I had waited quite a while on a previous step because I kept receiving "Applic

[2016-05-11 21:15] Genesis2015 commented on #164
I have this message from least one hour ago and I have no new hits :(

[2016-05-11 22:21] Genesis2015 commented on #152
Now everything seems to be good - I've got new hit and already
completed it. When
I said error message I meant to say "ERROR: Something goes wrong with the
server...". Never mind... If I still have problems, I will let you know.
Thanks for your support ;)

2016-05-11 21:01 GMT+03:00 marius11 <notifications@github.com>:

[2016-05-12 13:48] zfonck123 opened #172 "Error: Something wrong"
![image](https://cloud.githubusercontent.com/assets/19192312/15216778/56f71f34-1822-11e6-9881-9898c8710766.png)
and application error

this problem have 30minutes or more

[2016-05-12 13:56] GreekGuy commented on #172
same here.. and now it shows me "You have reached the maximum number of unsubmitted... " if i open a previous test..

[2016-05-12 16:21] leka034 commented on #24
@pscohn Is it coming? We are waiting? :(

[2016-05-12 17:34] Genesis2015 commented on #172
Same here :(

[2016-05-12 18:18] hunt40 commented on #172
today once again they managed to make me angry out of blue ,with constantly no virtual machines,application errors,and we are sorry too many worker and then somebody already did that assignment,amazing just amazing.

[2016-05-12 18:26] Genesis2015 commented on #172
5th time for 2 days: Hit apeear with ERROR mesaage -> one refresh -> You request this jib too often -> one hour with the "maximum" message (angry) :-1:

[2016-05-12 19:10] GreekGuy commented on #172
Please you must fix the "requested this job too often" or make a changeo we can not do anything..

[2016-05-12 21:53] zfonck123 opened #173 "New bug or error ?"
![image](https://cloud.githubusercontent.com/assets/19192312/15231619/13c2ee8e-1866-11e6-9c6b-3a6244e3cac5.png)
  why open  rainforest qa guide affter each reload ??? what happen ?

[2016-05-12 21:59] BonesKnows commented on #173
i got this problem also

[2016-05-12 22:11] vladfuller opened #174 "Pop-Up Rainforest Presentation Even When " Another Worker.....""
Hi , This afternoon started to appaer the rainforest Instructions Pop Up even if appear "Another worker took this job before"
It this a bug? it should appear only if u got a hit and is really confusing

[2016-05-12 22:14] #174 closed

[2016-05-12 22:15] vladfuller commented on #173
I have this issue too, its really confusing if it appear when we have not the hit there, hope they remove this

[2016-05-12 22:15] sigitsenyo commented on #173
same here...

[2016-05-12 22:19] BonesKnows commented on #164
i have this message 7 hours constantly.

[2016-05-13 00:32] pscohn commented on #173
This is a result of some refactored code, but we'll push out a fix in the next release so that it will hide the modal if an error happens.

[2016-05-13 00:32] #173 closed

[2016-05-13 00:50] jbarber commented on #171
It seems unlikely.

[2016-05-13 08:52] k65emil commented on #171
I can confirm it does happen at times even on v.1.2.5, though it hasn't happened for some time (2 weeks?). I would set extension to OFF and make sure it was showing OFF. Sometimes when I came back after 20 minutes, it would show NO instead of OFF. And some of those times a HIT would have opened, mostly then showing abandoned. A few times I came back just in time to do the HIT.

I'm not talking abo

[2016-05-13 12:31] BonesKnows commented on #164
i have this message one day constantly i managed to do few hits but after few hits this message again appear and now wont change

[2016-05-13 17:18] chmi16 commented on #164
In past several days I often have this message even if past more that hour of last hit. Sometimes, during refresh, this message appear instead of  Another worker....

[2016-05-13 17:40] erdeminofff opened #175 "Terminal connection lost under test process"
Don't let me write anything. I am so angry!.....

![yeni bit eslem resmi 8](https://cloud.githubusercontent.com/assets/8877357/15265463/ccce3d1c-198c-11e6-85ca-297fb91701f6.jpg)

[2016-05-13 19:09] rolerpro opened #176 "Error with virtual machines"
A lot of times i saw this message "There are no virtual machines currently available. Please retry in a few minutes.", so can you somehow fix this and write a code who will check if there is no free virtual machines to stop giving jobs. Because i receive a job, but when it load gives me that error...

[2016-05-13 19:10] qpPykT commented on #175
Lucky-unlucky man :)

[2016-05-13 19:12] pscohn commented on #176
This happens when we're experiencing heavy load, which is happening right now. We're working to resolve it.

[2016-05-13 19:12] #176 closed

[2016-05-13 19:21] ecliptica777 commented on #175
easy test, but it takes time. do not get angry, be happy. :)

[2016-05-13 20:02] leka034 commented on #24
@kristen-allie Can you at least give some “hope” ?...desperate to work with you...

[2016-05-13 20:03] GreekGuy commented on #175
Be happy i wish i could take tests instead of errors and no virtual machines......

[2016-05-13 22:17] tulko commented on #175
It happened to me 3 times that. Today was a bad day for me in rainforest and I could do a few test, you're very lucky because I see that you can do test many steps, I get me a few of those

[2016-05-16 12:06] BonesKnows opened #177 "When extension turn to YES and give me a link i get "You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit." message."
its frustrating i have this message sometimes more than 1 hour.

[2016-05-16 13:48] tulko commented on #177
I'm also experiencing some problems a few days ago, the number of jobs that achievement to be reduced significantly. I do not understand how my situation has changed in such a way in such a short time. I have few rejections, I do not understand why this happens.

[2016-05-16 13:50] tulko opened #178 "slow connection"
I'm having problems with the terminal velocity in some test today in most. This makes it almost impossible to test when the site is heavily loaded with images or motion. sometimes really I do not know what to do, if I update the page goes no improvement. Sometimes that is not responding. Put NO and report the problem?

[2016-05-16 14:20] sigitsenyo commented on #152
https://tester.rainforestqa.com/abandoned/
job abandon when on progress doing it, make me very frustated

[2016-05-16 14:21] sigitsenyo opened #179 "job abandon when on progress doing it, make me very frustated"
job abandon when on progress doing it, make me very frustrated
https://tester.rainforestqa.com/abandoned/

[2016-05-16 14:23] tulko commented on #179
if many are experiencing problems. frustration and pass the recignacion

[2016-05-16 14:40] sigitsenyo commented on #179
if many are experiencing problems. frustration and pass the recignacion
What this mean ?
English please...

[2016-05-16 19:37] khristianjose opened #180 "Terminal so slow"
From today, the terminal is soooo slow, i cannot even finish a job and it says conection lost, help

[2016-05-17 00:28] cookin2 opened #181 "No back feature on report issue page"
I just noticed that the back feature on the report issue page is missing.  I don't know if this omission was intentional or an oversight.  I'm hoping that it was an oversight because it was very handy.  I just had a fairly long HIT and ran into an inconsistency.  I clicked No and started to type and then changed my mind because I thought that I was being too picky.  I went to click back which prev

[2016-05-17 00:45] pscohn commented on #181
@cookin2 I'm not sure what back feature you mean - when you click "no" you should get a popover which you can easily close if you open it by mistake, either by clicking "no" again or by just clicking "yes" instead.

[2016-05-17 00:50] cookin2 commented on #181
That was simple enough lol!  I didn't know that you could click No again to
get rid of the popover.  Before the "other" was removed, there was a back
feature in the upper left hand corner of the popover - I know because I
used it a time or two :)

Everything is great now, thank you!

On Mon, May 16, 2016 at 8:45 PM, Paul Cohn <notifications@github.com> wrote:

[2016-05-17 00:52] pscohn commented on #181
😄

[2016-05-17 00:52] #181 closed

[2016-05-17 09:49] lilymar commented on #179
I waited less than 10 minutes to pass "Application error for maintenance" and I got "Job abandoned..."

[2016-05-17 14:04] sigitsenyo commented on #175
Hahaha ... that ever happened to me too ...

[2016-05-17 19:32] khristianjose opened #182 "Terminal never shows the browser"
Hi, i was working today, and since last few hours im getting jobs but the terminal is not showing anything, its on black, ill put screenshot so you can see.
![sin titulo](https://cloud.githubusercontent.com/assets/17553414/15336416/823e4188-1c44-11e6-84f6-8418956ae0e3.png)

[2016-05-17 19:35] #180 closed

[2016-05-18 15:34] BonesKnows commented on #177
i noticed  that rainforest extension is causing the problem when I remove it everything works fine.

[2016-05-18 17:33] jeffreyvdhondel commented on #24
They said on the AMA at the end of this week. (skip to 26:50)
[Youtube AMA](https://youtu.be/igBS6_csYNw?t=26m50s)

[2016-05-18 21:11] BonesKnows commented on #102
did you guys found fix for this? I am having exact issue for a week now

[2016-05-19 00:11] BonesKnows commented on #177
i cant believe this is still happening...almost every time when extension give me a link i get this message...

[2016-05-19 01:03] BonesKnows commented on #164
extension gives me almost every time link with this message.

[2016-05-19 03:20] nummuss opened #183 "Impossable to complete test after connection losing"
After this issue some things may be already done on site and have to be done back, otherwise this is impossible to complete test.

[2016-05-19 05:58] nerdatwork commented on #183
I guess you are trying to say is that you get "Connection Lost" message and when you try to refresh the page it says "This job is already done..." Please clarify a bit more so Rainforest and other fellow testers may give their advice/suggestions on fixing your problem.

[2016-05-19 06:01] nerdatwork commented on #182
I recommend uninstalling/removing that ADBLOCK extension that blocks advertisements. It could be blocking the scripts that run on the page that shows the terminal. Also try updating your google chrome browser too. I hope it helps.

[2016-05-19 06:06] nerdatwork commented on #179
@sigitsenyo I think @tulko is trying to say that other testers in his opinion are also experiencing the same issue which is frustrating and testers "resign" from the job.

@lilymar As per the new rules every error message is to be reported. Please read this [https://paper.dropbox.com/doc/AMA-Questions-May-2016-Shared-with-Testers-fx4Uv47P2ZlbQeXhIghi2](url) . You should click NO and mention the er

[2016-05-19 06:09] nerdatwork commented on #178
As a fellow tester I would recommend a few things. First please make sure your computer isnt slow with other apps running example. if you are playing a flash based game on facebook and the job loads it will be a little bit slower. Also if your computer has low specifications it might also lead the CPU to take lot of time to process through steps. Please try doing this. When your get a job, close a

[2016-05-19 06:13] nerdatwork commented on #177
@BonesKnows as a fellow tester I would recommend clearing all your cache from google chrome and reinstalling Rainforest chrome extension. If that doesnt help try reinstalling chrome as a clean install. If it still doesnt help please submit a support ticket to Rainforest and they will surely give you a permanent solution.

PS: You can submit a support ticket from your Rainforest portal from the HEL

[2016-05-19 06:17] nerdatwork commented on #175
@erdeminofff I feel your pain especially when you were at the last step and about to submit the job. The only thing that comes to my mind is if you had unknowingly passed the 60 min policy of Rainforest.
Did you know you have to submit the job within 60 mins before its taken away from you ? I am only saying this since its 46 steps and that would definitely take around 60 plus mins in my opinion.

[2016-05-19 06:30] nerdatwork commented on #172
There is a policy at Rainforest when you refresh the job page 4 times you get the message "You have requested this job too often. Please return this job." As a fellow tester I recommend to please close the page whenever you get an error message in RED so you can get good working jobs the next time the extension says YES.

@zfonck123 If I may recommend you to check if flash is correctly working on

[2016-05-19 06:34] nerdatwork commented on #166
I think your issue is addressed by the above reply so I kindly urge you to close this thread so Rainforest can focus on other open threads.

[2016-05-19 06:36] nerdatwork commented on #169
As per what I have read so far in the updates if your account is blocked/banned you cannot get it back. I hope you have sent support ticket on the above mentioned email to get a satisfactory reply from Rainforest.

[2016-05-19 06:38] nerdatwork commented on #167
This was from 14 days ago so I assume you are not facing this problem anymore. If you are able to work properly and dont have this issue, I kindly urge you to close this thread. If you are still facing the issue please send a support ticket from your Rainforest portal or email them at tester@rainforestqa.com

[2016-05-19 06:42] nerdatwork commented on #164
@BonesKnows I recommend clearing your google chrome cache and if it doesnt work try reinstalling google chrome. I have personally seen this message a few times. I hope that helps.

[2016-05-19 06:47] nerdatwork commented on #162
@maciejgryka I hope your issue was addressed by our awesome Miss Kristen and if you are satisfied with the reply I kindly urge you to close the thread so Rainforest can address other open threads.

[2016-05-19 06:49] nerdatwork commented on #161
@nuevao I hope this issue is resolved and you dont face any more of this issue now since its 20 days old. According to recent updates they have added more servers so the jobs get loaded smoothly. If you dont face this issue anymore I kindly urge you to close this thread so Rainforest can focus on other open threads.Thank you.

[2016-05-19 07:16] chmi16 opened #184 "Blank screen in RF app"
Hello,
There is blank screen in RainForest app after submitting email and password

[2016-05-19 07:35] nummuss commented on #183
Well, I tried to say that instruction says to do something that looks like already done. I does not mean any message about it. Example: before losing connection I selected something to filter a table. After losing connection, I could not do this because the table was already filtered.

[2016-05-19 09:03] maciejgryka commented on #162
Indeed, thanks for pointing it out @nerdatwork!

[2016-05-19 09:03] #162 closed

[2016-05-19 09:06] nerdatwork commented on #184
Next time please take a screenshot of the page so Rainforest can better help you with your issue. Did you receive any error message ? It was a white blank or a black blank page ?

[2016-05-19 09:18] nuevao commented on #161
greetings, The truth is that not presented me more this problem, we thank you for your update and best wishes in their business.

[2016-05-19 09:18] #161 closed

[2016-05-19 09:23] qpPykT commented on #184
@nerdatwork Now is working properly. Previously not loaded rainforest (test) site. I had 2 of these task today, there was just a white screen (page).

[2016-05-19 09:27] BonesKnows commented on #177
@nerdatwork i try all of that. Also contacted support but still no solution.

[2016-05-19 11:11] ilegalna commented on #24
Greetings!

When new testers arrive, is that mean less work for everyone and more problems with VM, much more messages like "There are no virtual machines currently available. Please retry in a few minutes" etc.?

Did you reduce the number of old testers and, if so, will you introduce stricter rules?

Thanks for your reply. I believe that the testers should not suffer if newcomers get a chance.

[2016-05-19 15:43] pscohn commented on #12
I looked into this a while back and looked like having multiple windows open doesn't increase the requests.

[2016-05-19 15:43] #12 closed

[2016-05-19 15:44] pscohn commented on #184
If this is happening during a job inside the terminal please use the "No" button to report it.

[2016-05-19 15:44] #184 closed

[2016-05-19 15:47] pscohn commented on #183
@nummuss do you have the job ID?

[2016-05-19 16:01] pscohn commented on #182
Thanks, @nerdatwork - I've added your suggestions to a new troubleshooting doc here: https://github.com/rainforestapp/tester-chrome-extension/wiki/Troubleshooting-&-Common-Errors-Explained

[2016-05-19 16:01] #182 closed

[2016-05-19 16:03] pscohn commented on #167
Dupe of https://github.com/rainforestapp/tester-chrome-extension/issues/172

[2016-05-19 16:03] #167 closed

[2016-05-19 16:04] pscohn commented on #172
Please keep tickets to one issue. The application error happens occasionally when there is a problem with our server, and those are fixed as they come up.

[2016-05-19 16:04] #172 closed

[2016-05-19 16:07] pscohn commented on #171
Might be a symptom of the issue mentioned in https://github.com/rainforestapp/tester-chrome-extension/pull/99, if testers are logging in after turning off.

[2016-05-19 16:10] pscohn commented on #169
We can't unblock an account unless it was done an error.

[2016-05-19 16:10] #169 closed

[2016-05-19 16:12] pscohn commented on #149
This is a bug on the frontend - until we fix it, you should be able to solve the problem by typing any character in the "report problem" textbox and then deleting it.

[2016-05-19 16:12] #149 closed

[2016-05-19 16:16] nerdatwork commented on #183
@pscohn I apologize for straying away from the topic in this thread but I couldnt get back to you since the thread is already closed. Its about https://github.com/rainforestapp/tester-chrome-extension/wiki/Troubleshooting-&-Common-Errors-Explained

You mentioned "Refresh the page to get a new VM." but as per recent AMA Mr. Russell Smith said you dont get a new VM even after consecutive refreshes a

[2016-05-19 16:18] pscohn commented on #120
This is not an error, added some details here: https://github.com/rainforestapp/tester-chrome-extension/wiki/Troubleshooting-&-Common-Errors-Explained

[2016-05-19 16:18] #120 closed

[2016-05-19 16:20] pscohn commented on #157
This is a pretty rare error and refreshing should help - added some information here https://github.com/rainforestapp/tester-chrome-extension/wiki/Troubleshooting-&-Common-Errors-Explained.

[2016-05-19 16:20] #157 closed

[2016-05-19 16:20] sigitsenyo opened #185 "I finish this job, but no show up in my history payment...(not get payment)"
Sorry...it late to come...have done now...
How to delete this post ?
Admin please help ?

[2016-05-19 16:21] pscohn commented on #160
Added some info here - https://github.com/rainforestapp/tester-chrome-extension/wiki/Troubleshooting-&-Common-Errors-Explained

[2016-05-19 16:21] #160 closed

[2016-05-19 16:24] pscohn commented on #179
Jobs are only abandoned if you are idle for too long. Please make sure not to switch tabs and do something else, go to the bathroom, etc :)

[2016-05-19 16:24] #179 closed

[2016-05-19 16:25] pscohn commented on #145
Duplicate of https://github.com/rainforestapp/tester-chrome-extension/issues/7

[2016-05-19 16:25] #145 closed

[2016-05-19 16:25] pscohn commented on #33
Haven't seen this reported in a while, so I'll close until there are new reports.

[2016-05-19 16:25] #33 closed

[2016-05-19 16:26] #49 closed

[2016-05-19 16:30] pscohn commented on #102
Added some information here: https://github.com/rainforestapp/tester-chrome-extension/wiki/Troubleshooting-&-Common-Errors-Explained

[2016-05-19 16:30] #102 closed

[2016-05-19 16:36] BonesKnows commented on #102
@pscohn i have one account i dont share it with anyone and i still have problem. Almost everytime when extension gives me a link i get "you have reached.." message. When i try to refresh it still getting this message for 1 hour or more. I hardly get a hit for a week now because this is issue is happenig more than it supposed.

[2016-05-19 16:44] pscohn commented on #183
@nerdatwork he may have meant to say "job" instead of "vm", - on refresh, you get a new vm, but the same job. After 4 refreshes, the job is released and given to another worker.

[2016-05-19 16:50] pscohn commented on #177
@BonesKnows what is your ticket number?

[2016-05-19 16:55] nerdatwork commented on #183
@pscohn Please check https://www.youtube.com/watch?v=igBS6_csYNw at 42:20 mark.

[2016-05-19 17:05] pscohn commented on #183
@nerdatwork He's speaking about a work-in-progress feature that will allow you to press a button to get a new VM instead of refreshing. After that feature is released, you may get the same terminal upon refreshing, but currently refreshing gives you a new VM.

[2016-05-19 17:08] nerdatwork commented on #183
@pscohn Awesome. Thank you so much for clarifying. Should I delete my posts since they are not relevant to this thread ?

[2016-05-19 17:09] BonesKnows commented on #177
I cant find it in my mail,I contacted support from the portal from the help section

[2016-05-19 17:13] nberchev commented on #185
update it to closed ---- https://www.youtube.com/watch?v=TJlYiMp8FuY

[2016-05-19 17:32] nummuss commented on #183
**@pscohn** No. I didn't remember the job ID.

[2016-05-19 18:35] pscohn commented on #183
If you can't complete the test, click "No." If you run into errors like this you can open a support ticket and be sure to include the job id/assignment id or job link.

[2016-05-19 18:35] #183 closed

[2016-05-19 18:35] #185 closed

[2016-05-19 18:36] pscohn commented on #177
We are a little backed up in support right now, but we'll get to your ticket. Thanks for your patience.

[2016-05-19 18:36] #177 closed

[2016-05-19 18:37] pscohn commented on #84
This has to do only with the number of available terminals, and not with how many steps there are. The best thing to do is wait for a minute or two and refresh.

[2016-05-19 18:37] #84 closed

[2016-05-19 18:38] miminho opened #186 "question about the pop up contract"
what is the purpose of requesting full legal names even we have already connected to the email address? Does it could lead to misuse of data and invasion of privacy?

[2016-05-19 18:44] pscohn commented on #186
It is simply a fill-in for a signature to acknowledge that you have read and agree to our contract.

[2016-05-19 18:44] #186 closed

[2016-05-19 19:02] marius11 opened #187 "Dummy files"
Would it be possible to add some dummy text files on these machines? I was asked to upload random files but didn't had any (Mac OS) and wasn't provided with a link to download them either.

[2016-05-19 19:14] Genesis2015 commented on #187
Same story here :(

[2016-05-19 19:27] qpPykT commented on #187
Report it, what is the problem :) Mac OS does not have any images in documents or ect?

[2016-05-19 19:35] bendmi commented on #187
Compressed .zip is a file.

[2016-05-19 19:38] marius11 commented on #187
@qpPykT It is a problem, especially on Mac OS, since Windows _probably_ has some default files in the Pictures folder. Rainforest makes it very easy to upload files into a step and that feature should be made more known among test authors.

@bendmi There are absolutely no files in Mac OS, and that includes archives.

[2016-05-19 19:45] qpPykT commented on #187
Mac OS like a pain in the as... always have some problems.

[2016-05-20 06:15] yoges9 opened #188 "job abandon"
got job abandoned  for a 52 step task 1 was on 47 step , terminal was very slow , frustrated ...

[2016-05-20 12:20] nummuss commented on #188
The same with 18-step job

[2016-05-20 18:44] mariaelite commented on #24
Ilegalna: completely agree with you

[2016-05-20 18:46] mariaelite commented on #24
@L4kshmi Sorry but it's true

[2016-05-20 18:58] marius11 commented on #24
@mariaelite Where did you get that information? There are testers have have done these tasks for the past 18 months. Why would anyone "replace" them with new testers?

[2016-05-20 19:06] mariaelite commented on #24
@marius11 Read forum

[2016-05-20 19:15] marius11 commented on #24
@mariaelite Could you be more specific please? I have read Rainforest's AMA (you should too) and it answers a lot of questions, including adding more testers. They said that they are having new customers every week or so, and the need for more testers makes perfect sense in this case.

[2016-05-20 19:34] mariaelite commented on #24
@marius11 Simply experience.
We live last year.
The only people who can give guarantee otherwise is Raiforest.
Until then, it follows the concern.

[2016-05-21 07:17] ivijulsc commented on #24
Any news about new testers? We are waiting :)
Thanks!

[2016-05-21 16:14] sigitsenyo opened #189 "How about give 10 time to refresh active jobs ?"
Hi...I want tell my misery in here...
How about give 10 time to refresh  active jobs  ?
Because I had this...

We're sorry, we've reached the maximum number of concurrent testers we can support. Please reload and try again.

Than I refresh 5 time...
And got this...

You have requested this job too often. Please return the work.

I frustrated about this...

[2016-05-21 16:57] qpPykT commented on #189
It was previously 3. Enjoy the fact that even now is 5. I think have 5 attempts is quite normal.

[2016-05-21 17:18] sigitsenyo commented on #189
Ok thanks...

[2016-05-22 07:53] sigitsenyo opened #190 "How to get more jobs ?"
How to get more jobs ?

[2016-05-22 08:15] marius11 commented on #190
Keep the extension set to "NO" as much as possible and be near your computer. Most tests are scheduled to run during the workweek (Mondays through Fridays) and a lot less during the weekends.

[2016-05-22 13:00] sigitsenyo commented on #190
Ok thanks...

[2016-05-23 02:54] nerdatwork commented on #190
If you are satisfied with the reply please close this thread so Rainforest can focus on other open threads.

[2016-05-23 02:56] nerdatwork commented on #187
@marius11 I recommend going through the systems folder, since its asking for "any" file. Its a operating system there are always files in the Mac :) I hope that works

[2016-05-23 03:00] nerdatwork commented on #189
@sigitsenyo The rule is 4 refresh at the max. After that the job is released back to other worker. As previously mentioned the number 4 was fixed after careful consideration. Practically a worker can lock a job forever with 10 refresh.

@qpPykT Its not 5 it is 4

I hope that helps.

[2016-05-23 03:04] nerdatwork commented on #188
@yoges9 If you spent more than 60 mins on a terminal completing the job, the job will be taken back from you and given to another work. This is as per the "Idle Policy" of Rainforest. If you took more than 5 mins to complete a step, the job gets abandoned.

Please read through this carefully.
https://github.com/rainforestapp/tester-chrome-extension/wiki/Troubleshooting-&-Common-Errors-Explained

[2016-05-23 04:06] qpPykT commented on #189
@nerdatwork 1 you have initially when a hit comes to you and 4 times you can refresh page until the moment when there an error "too often" appears.
Or I'm I wrong?

[2016-05-23 04:28] nerdatwork commented on #189
@qpPykT the first time job loads on the page cant be referenced as "refresh" in my opinion. Technically a "refresh" is when you hit the refresh icon on chrome or F5 on your keyboard.

[2016-05-23 06:48] marius11 commented on #187
@nerdatwork Those system files are hidden (for good reasons) and very hard to access by the average user because you have to use a terminal (command prompt) and you have to be familiar with UNIX commands.

[2016-05-23 11:49] #190 closed

[2016-05-23 11:51] #189 closed

[2016-05-23 11:52] #75 closed

[2016-05-23 13:19] hunt40 opened #191 "We're sorry, we've reached the maximum number of concurrent testers we can support. Please reload and try again."
what is going on with this often overcapacitiy servers message.

almost everyday happens since last week with very frequently

i waited always 1-2 minute before each refresh and even after 6-7 minutes still same problem continue then you see this eventually because you cant nothing but have to refresh to get the job

and this infamous You have requested this job too often. Please return the work.a

[2016-05-23 13:33] Fish667 commented on #191
Yep same with me. Almost every HIT in the last couple of days is having that message. I usually get HIT after I refresh about 5-10 minutes but it is little annoying because if refresh too much I could get "Return work" message. I thought they said on last AMA that they will release a bunch of new servers to increase capacity but for me it seems like they reduce their servers.

[2016-05-23 14:22] nerdatwork commented on #191
Rainforest have recently added new servers which will help in reducing the number of times this message will occur. I understand its frustrating but Rainforest is improving its efficiency every day with the help from testers like us. Our input will help them serve better to their clients. Please keep reporting issues and **make sure you dont create duplicate threads for same issu**e.

[2016-05-23 14:23] qpPykT commented on #188
Are you kidding me? It is impossible to complete the hit with 105 steps in one hour. Not just clicked all the answers "yes". Do the hit properly! I spent about 40 minutes and I did about 35 steps. You need to put limits on the number of steps in the hits it just madness.

![rf-105-steps-1-1](https://cloud.githubusercontent.com/assets/4960092/15473839/b77da756-210a-11e6-86b5-1fd31a3af616.jpg)

[2016-05-23 14:24] nerdatwork commented on #188
@qpPykT Send the same screenshot to tester@rainforestqa.com so they can talk to the client about the same.

[2016-05-23 14:32] nerdatwork commented on #187
@marius11 Which command prompt are you referring to ? I have never come across any task involving "typing commands". It has always been a webpage.

[2016-05-23 14:45] qpPykT commented on #188
@nerdatwork Yeah, I send it later. But without the limits it will last indefinitely, hits with a large number of steps will (be) come from the new customers again and again.

[2016-05-23 14:47] macocha commented on #188
@qpPykT @nerdatwork I'm on it.

[2016-05-23 14:47] hunt40 commented on #191
this topic is deverve own thread, i lost hits because of this error and there is more people out there with same problem.i dont think they added any server or anything and they are not improving in anyway if you do their test you should now better,how slow most of the their server with some sites and tons of application errors everyday and add with this overcapacity and some more.

[2016-05-23 14:50] sigitsenyo opened #192 "Don't get payment...please help...105 steps...thanks..."
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx7b6e92-aad9-4339-ba27-20da5303ff57&browser=any&hitId=4206350&sig=49e474e8ea042b72cfafdc267806fad2b2e1748db84016d445553bcc128d24b0&turkSubmitTo=%2Fthanks&workerId=33401104

This assignment has already been completed. If you have already
submitted this assignment (by pressing the blue button at the end), we
have receiv

[2016-05-23 14:52] sigitsenyo opened #193 "Didn't get payment...please help...105 steps...thanks..."
https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx7b6e92-aad9-4339-ba27-20da5303ff57&browser=any&hitId=4206350&sig=49e474e8ea042b72cfafdc267806fad2b2e1748db84016d445553bcc128d24b0&turkSubmitTo=%2Fthanks&workerId=33401104

This assignment has already been completed. If you have already
submitted this assignment (by pressing the blue button at the end), we
have receiv

[2016-05-23 15:08] marius11 commented on #187
@nerdatwork http://superuser.com/questions/366824/how-to-access-hidden-or-system-files-in-os-x

Anyway, using system files as you suggested is not a good idea. Test authors should provide us with files or at least add some files to these computers.

[2016-05-23 15:12] sigitsenyo commented on #193
closed

[2016-05-23 15:14] sigitsenyo commented on #193
why this don't want to closed...?
Double post...

[2016-05-23 15:19] marius11 commented on #187
@nerdatwork http://superuser.com/questions/366824/how-to-access-hidden-or-system-files-in-os-x

Anyway, using system files as you suggested is not a good idea. Test authors should provide us with files or at least add some files to these computers.

[2016-05-23 15:19] sigitsenyo commented on #193
Double post...
Please help closed...

[2016-05-23 15:20] sigitsenyo commented on #192
test

[2016-05-23 15:20] sigitsenyo commented on #193
test

[2016-05-23 15:59] nerdatwork commented on #192
@sigitsenyo How much time has it been since you submitted the Task ?

[2016-05-23 16:00] nerdatwork commented on #144
@chmi16 Rainforest already emailed all testers regarding this so I recommend closing this thread.

[2016-05-23 16:06] qpPykT commented on #188
@macocha Ok, thanks for help. If you need link on this test [here](https://tester.rainforestqa.com/tester/assignment/crowd_flower/any?assignmentId=cx7181f2-4996-4ef8-ab47-4d1a01931bfb&browser=any&hitId=3968366&sig=e9f0a22b8fdb915104fa951cb990cd50a042b83e43f1b7184f3606ee9bdad756&turkSubmitTo=%2Fthanks&workerId=31275106)

[2016-05-23 16:15] sigitsenyo commented on #192
Where I should report it ?

[2016-05-23 16:17] sigitsenyo commented on #192
Until now...I don't receive payment in my history jobs...

[2016-05-23 16:19] nerdatwork commented on #192
@sigitsenyo Go to your tester profile and read the NOTE above. For clearing it up for other testers here it is

"NOTE: Bonuses are normally paid within 24 hours, usually less. **Occasionally there are delays. If a bonus takes longer than 48 hours during Monday-Friday**, _please contact support_. "

[2016-05-23 16:55] sigitsenyo commented on #192
Ok...let's we see after 48 hour...
usually...it come a few minute after I finish the job...
but this one not come for a few hour...

[2016-05-23 17:05] ando100 commented on #188
@qpPykT, @macocha, come on, seriously, this is really straightforward and quick test with mostly
all VERY short answers. Some TA-s put half a page of instructions into one step, here everything is separated.
If terminal works ok (important), you or anybody can do it under 60 mins. I just did and
had plenty of time to finish it.
And one just can not "yes" it, because later steps depend from earlier

[2016-05-23 17:48] qpPykT commented on #188
@ando100 As you did in step with email letter where other testers open a letter with your data that you entered earlier in the hit. Then you will not be able to continue to perform the test as the link in the letter already expired. If you chase for profit then you are probably in the wrong place. Better to do 3 hits on 33 steps and have time to spare, than 105 steps to do poorly just because of m

[2016-05-23 19:04] sigitsenyo opened #194 "ERROR: Something went wrong on our server, sorry about this. Please reload and try again."
ERROR: Something went wrong on our server, sorry about this. Please reload and try again.
I received that...

[2016-05-23 19:07] GreekGuy commented on #194
Same here...

[2016-05-23 19:11] khristianjose commented on #194
Same here

[2016-05-23 19:48] sigitsenyo commented on #192
Still no receive...
What can I do???

[2016-05-23 19:50] pscohn commented on #192
Please wait at least 24 hours to receive the bonus. If you still have not received it, you can open a ticket in your profile.

[2016-05-23 19:50] #192 closed

[2016-05-23 19:57] sigitsenyo commented on #194
error again...

[2016-05-23 19:58] sigitsenyo commented on #194
Finally this...
You have requested this job too often. Please return the work.
Hahahaha....

[2016-05-23 20:04] #194 closed

[2016-05-23 20:22] tomychay commented on #17
I get the message: "You have reached the maximum number of unsubmitted assignments. Compared to other workers fair We Are, We stop you doing too much for us at once. You can complete the other assignment (s) and refresh this page, Simply return the this or hit. " many days. You can remove this notice or I could do to this message disappears from my tests, During peak hours of testing, I found util

[2016-05-23 20:43] ahmedofhell opened #195 ""This assignment has already been completed" appears instantly after accepting a job."
Hello,

After copied the URL into the Terminal browser "Invalid state" Message appears.
Refreshing the page shows "This assignment has already been completed" message.

Also, It appears in the portal history page :
743465597	5919630	 2016-05-23	chrome_1440_900	 	00:00:00	—	—

But I didn't submit it!
After copied the URL into the Terminal browser "Invalid state" Message appears.

[2016-05-23 20:49] nihlathar commented on #17
@tomychay that's intentional, you aren't supposed to work on more than 1 task at a time. So just make sure you have only 1 active HIT at a time, dont open other windows with 'taken' hits that you try to refresh, because that doesn't do anything, as soon as there's work available the extension will find it for you (they are all either available or unavailable at the same time, that's how it works).

[2016-05-23 20:59] ando100 commented on #188
@qpPykT,

   Please NEVER use other person`s data to move on in YOUR test.

1. Follow the instructions EXACTLY and you will not mess with other testers letters/ emails.
2. Report ASAP if you see an error.
3. Submit a ticket, when you think, you were unfairly treated.
This test is one of most beautifully built up/ executed test I`ve seen,

Thank you.

[2016-05-23 21:13] mkdige commented on #195
The same happened with me
Hit Id 834387010
Job Id 5919645

[2016-05-23 22:40] BonesKnows commented on #164
@chmi16 i have same problem. Do you still experience this?

[2016-05-23 22:45] sigitsenyo commented on #195
How to look job id and hit id ?
Would you tell me please ?
Thanks...

[2016-05-23 23:57] mkdige commented on #195
In History tab on your RF page

[2016-05-24 09:29] nerdatwork commented on #191
@hunt40 I totally understand your frustration and Rainforest is striving each day to give better performance to testers as you can see that evidently with Mac/iOS terminals. Also application error are considerably less in my opinion from what they were few weeks back. Its a fact that new servers were added but also know there are testers who do 100 plus jobs in 24 hours imagine what they must be f

[2016-05-24 10:30] chmi16 commented on #164
Yes but not so often. I always keep my OS and apps up to date.

[2016-05-24 12:59] sigitsenyo commented on #192
24 may now...
It already 24 hour I wait...
But still not received payment for this big fish...
What should I do ?
Is this big fish should I let to gone ?
Or there another ways ?
Please help ?
Thanks...

[2016-05-24 13:36] sigitsenyo commented on #195
Ok thanks...

[2016-05-24 13:43] sigitsenyo commented on #193
24 may now...
It almost 24 hour I wait...
But still not received payment for this big fish...
What should I do ?
Is this big fish should I let to gone ?
Or there another ways ?
Please help ?
Thanks...

[2016-05-24 13:50] sigitsenyo commented on #193
I already sent help ticket in my profile..
But where I can see that if it already read or answered ?

[2016-05-24 13:58] sigitsenyo commented on #193
Is it helpful if I sent help ticket ?
Is it have any solution ?

[2016-05-24 15:26] nerdatwork commented on #192
@sigitsenyo As @pscohn said open a support ticket from your profile. Click the HELP on the right hand bottom in your profile and give all the necessary details.

[2016-05-24 16:08] zfonck123 opened #196 "Job Loss for this error"
![image](https://cloud.githubusercontent.com/assets/19192312/15511113/01b3863a-21a4-11e6-9ce8-59cd2cf39110.png)

how many people loss alot job for this error ?

[2016-05-24 16:09] zfonck123 commented on #196
![image](https://cloud.githubusercontent.com/assets/19192312/15511136/1ed6cba0-21a4-11e6-9bea-4952ae45a616.png)

[2016-05-24 16:16] ahmedofhell commented on #196
Same here
This message appears all the time "We're sorry, we've reached the maximum number of concurrent testers we can support. Please reload and try again."

[2016-05-24 16:19] Hanifmamun commented on #196
Just now I lost one.
On 24 May 2016 10:16 pm, "Ahmed Galal" <notifications@github.com> wrote:

[2016-05-24 16:23] androwg commented on #196
ya this message appears a lot recently and it can consume all of your 5 refresh without going away
i think there is a problem

[2016-05-24 16:26] pscohn commented on #196
We're working to improve our vm capacity. Closing as a duplicate of https://github.com/rainforestapp/tester-chrome-extension/issues/191

[2016-05-24 16:26] #196 closed

[2016-05-24 16:27] pscohn commented on #193
You will receive an email when we have responded to your ticket, but it may take a little time since we are backed up in support at the moment.

[2016-05-24 16:27] #193 closed

[2016-05-24 22:57] st53stefanov commented on #195
The same happened with me:
721784580	5942919	2016-05-24	firefox	 	00:00:00	—	—

[2016-05-25 03:28] helloworld111gh commented on #163
FYI: I've found that deleting the type parameter in the terminal flash <object> fixes this issue.

[2016-05-25 04:05] ahmedofhell commented on #195
Happened again today !!
742582982	5948378	2016-05-25	safari 	00:00:00	—	—

[2016-05-25 12:23] chmi16 commented on #164
Still same situation. Till 1 pm CET all worked fine but now it open new tab with this message. It looks like another worker begin to work at this time and now we are fighting for hit.
I hope that this will be fix soon

[2016-05-25 13:02] BonesKnows commented on #164
me 2 but i think there is not many people who are experience this. Its so frustrating

[2016-05-25 13:05] BonesKnows commented on #164
i got a reply from RF support

Rainforest Support (Rainforest)
May 24, 13:34

Hello,

You are experiencing this because we have more workers than available jobs. As rainforest grows and adds more customers, we hope this will be less of an issue moving forward. I apologize for the inconvenience in the meantime.

Sincerely,

Rainforest Support

If this is the case why are we getting this "reached" m

[2016-05-25 13:06] BonesKnows commented on #164
In my opinion this is unfair...But what can I do...

[2016-05-26 06:42] marius11 opened #197 "Test notes not saved when clicking No"
Unlike clicking _Other_ (when the button was still there) and _Test Notes_, the text is not saved when you click _No_ multiple times. I noticed this when I had to gather more information from the terminal, but that part of the terminal was blocked by the modal that appears when you click _No_.

Would it be possible to save the text inside the modal when _No_ is clicked more than once?

[2016-05-26 10:56] leka034 commented on #24
Nice, you said that the job, TW, will be on the list last week or at the begining of this week...So??

[2016-05-26 16:25] pscohn commented on #197
That's a good suggestion, thanks. I will close this issue but open a new one internally.

[2016-05-26 16:25] #197 closed

[2016-05-26 17:58] jeffreyvdhondel commented on #24
Again promises but not keeping them.....

[2016-05-26 19:28] braneb commented on #24
there is barely work for current testers...you will get your chance when you get it so please stop whining

[2016-05-26 20:10] marius11 commented on #24
@jeffreyvdhondel Nobody promised anything, except that tests will be available to new testers in the near future. They have their good reasons not to give a date.

[2016-05-26 21:08] GreekGuy opened #198 "Application Error"
I get all the time Application Error when a test appears anyone else?

[2016-05-26 21:13] khristianjose commented on #198
I get the same and then when i reload i get Too often, meh.

[2016-05-26 21:13] st53stefanov commented on #198
ERROR: Something went wrong on our server, sorry about this. Please reload and try again.

[2016-05-26 21:22] sigitsenyo commented on #198
Yes...ERROR now...

[2016-05-26 21:22] Genesis2015 commented on #198
Same here :-1:

[2016-05-26 21:24] sigitsenyo commented on #198
How Long This Error Usually ?

[2016-05-26 22:57] #198 closed

[2016-05-26 23:49] NeoWorker commented on #24
Yeah, I'm getting tired of this. But I still love ya Rainforest <3

[2016-05-27 04:00] cookin2 opened #199 "Clipboard!"
WoW!!  I absolutely love this feature, thank you so much :)

[2016-05-27 04:39] pscohn commented on #199
<3

This one was just for you @cookin2

[2016-05-27 05:01] cookin2 commented on #199
LoL - well in that case, I guess I'll push my luck a little :)

Would you consider putting that clipboard icon next to the name and password info that we have to paste in?  Please?

[2016-05-27 06:04] leka034 commented on #24
We all love you :)

[2016-05-27 12:05] nerdatwork commented on #199
Kudos @pscohn looks like super updates are coming next ;)

[2016-05-27 13:58] sigitsenyo commented on #199
Great feature...it's very helpful :+1:

[2016-05-27 14:39] pscohn commented on #199
@cookin2 that will be possible, not right away but we're going to add the clipboard to lots of things

[2016-05-27 15:32] tulko commented on #199
Clipboard? where?

[2016-05-27 16:40] marius11 commented on #199
In the very first step there is a clipboard icon at the end of the URL. If you click it, it will copy the URL.

[2016-05-27 19:32] matheuskanderson commented on #24
is today

[2016-05-28 00:42] jombere commented on #24
@matheuskanderson  Today they are going to launch the job to the list of CW?

[2016-05-28 00:46] JPierreS commented on #199
@pscohn   You think you can add an automatic paste feature to fill the forms for us too ;-))))

[2016-05-28 00:51] hunt40 commented on #188
everday rainforest find  away to make me frutrated like a clocwork,, doing boues test site was slow and unresponsive still managed to almost finish it just before last step its directed to job abandoned screen

spend 30 minutes and i got job abandoned and that 30 minute wasted,thanks as always

[2016-05-28 02:19] nerdatwork commented on #199
@JPierreS more automation and they wont need testers at all lol

[2016-05-28 02:22] nerdatwork commented on #164
@BonesKnows I dont understand, when the current testers arent getting enough jobs and we still face issues that need to be addressed first. Why are new testers being added ?? Reminds me of the saying, Put the cart before the horse.

[2016-05-28 02:46] braneb commented on #164
@nerdatwork im thinking the same as you...when new testers starts working it will be much worse, for us and for RF, more errors,more problems

[2016-05-28 02:58] nerdatwork commented on #164
@braneb Exactly. New workers can be recruited any time of any day if there is abundant amount of work for everybody. We all know there are potential testers out there that are willing to work 24/7/365. But to be fair towards current testers, in my opinion the current string of issues need to be addressed before inviting more people to the party. A survey should be sent out asking current testers
D

[2016-05-28 05:52] marius11 commented on #164
Why would anyone ask current testers if they _want_ new testers to be recruited? It's not up to us. If Rainforest has more clients by each week or so, then they will need more testers, and they should invite them without asking us.

[2016-05-28 06:29] nerdatwork commented on #164
@marius11 Just for the sake of an opinion what would you answer it as Yes or No ?

[2016-05-28 07:24] marius11 commented on #164
@nerdatwork My answer would be: Do what it's best to deliver your clients the best service in QA, even if that includes recruiting more testers.

[2016-05-28 07:42] nerdatwork commented on #164
@marius11 Exactly my point, opinions do matter and help shape better products. Hence we have a place for suggestions ;) Whatever our opinions are or would be, Rainforest will do whats best for the company there is no doubt in that but having an opinion would surely help ignite new ideas in my humble opinion. Happy testing :)

[2016-05-29 16:39] sigitsenyo opened #200 "Finally...completed 1000 jobs..."
Finally...completed 1000 jobs...
http://oi65.tinypic.com/2v9zm8p.jpg
Thanks Rainforest QA...

[2016-05-30 02:52] cookin2 commented on #199
Thank you for the update, Paul, sounds wonderful :)

Our own JPierre has made me a star on the Clixsense forum.  Everyone **loves** the new clipboard and he told members that I was the one responsible LoL

[2016-05-30 16:11] pscohn commented on #200
Yay 🎉

[2016-05-30 16:11] #200 closed

[2016-05-30 16:12] pscohn commented on #199
I think automatic paste will be a bit trickier, so don't hold your breath ;)

[2016-05-30 16:12] #199 closed

[2016-05-30 22:09] tulko opened #202 "holiday, day of memory."
as it is a holiday, on this day we had a few test.
How many jobs might do?

[2016-05-30 23:30] sigitsenyo commented on #202
Rainforest QA holiday this monday...
Less jobs appear today...

[2016-05-31 13:39] tulko opened #203 "How many tests can be done?"
I'm having some probem to receive test in the last days
Or I do not receive test
or no virtual machines

First he says, there are no virtual machines, a few moments later another worker take my job.
Now how is this possible, if they had not virtual machines.

This happen so often catches my attention.

Sent a tiket, the answer is that they will see it and get in contact with me, are always the sam

[2016-05-31 14:44] qpPykT commented on #203
@tulko
In a usual day I catch about 10-25 tasks.
Top "Testers" here doing about 700 hits per week = 100 per day = about 20-40$
If you want to make money on testing then take a look towards projects such as utest, testlio, testbirds and ect.
You can not do on rainforest a lot of money, but I like them.

[2016-05-31 14:49] sigitsenyo commented on #203
@qpPykT
projects such as utest, testlio, testbirds and ect.
where can find them ?

[2016-05-31 14:51] qpPykT commented on #203
@sigitsenyo in google :D it can help you

[2016-05-31 14:53] sigitsenyo commented on #203
Thanks...

[2016-05-31 16:56] #101 closed

[2016-05-31 16:56] #158 closed

[2016-05-31 17:00] BonesKnows commented on #164
still no solution for my problem..I am experiencing  this problem for 15 days...

[2016-05-31 20:28] sigitsenyo commented on #203
Less jobs today...

[2016-05-31 20:46] marius11 commented on #203
@sigitsenyo That's not an issue. You should close this thread.

[2016-05-31 22:59] sigitsenyo commented on #203
@marius11
I am not admin...
So...I can't close this thread...

[2016-05-31 23:00] sigitsenyo commented on #203
No button to close this thread...

[2016-05-31 23:00] sigitsenyo commented on #203
Sorry...

[2016-05-31 23:03] #203 closed

[2016-06-01 02:17] luisdanielvc commented on #152
True frustration comes when you have a 95 steps job and the abandoned screen appears at the last step, it happened to some friends.

[2016-06-01 04:20] chmi16 commented on #164
Me too. I also got answer from RF support staff that this is by design but I think it is quite unfair. It is very hard to get some work from 01 pm till 7-8 pm and sometimes even later in evening. At least they can change this message to something different when appear when there is more worker that jobs

[2016-06-01 09:00] nerdatwork commented on #202
This place is for reporting issues fellow testers, we will be having a forum soon where we can wish them Happy Holidays :)

[2016-06-01 09:41] cookin2 commented on #202
@nerdatwork Will we really be having a forum soon?

If so, I'm excited!!

Is it appropriate to spread the word?

[2016-06-01 10:27] qpPykT commented on #202
I do not understand why they are so long can not create a simple place (forum) for testers. Where would we be able to communicate with each other.

[2016-06-01 11:45] nerdatwork commented on #202
@cookin2, I would recommend not to spread a word just yet or they will keep asking and sending support tickets about it

@qppykt Every good thing takes time :)

[2016-06-01 12:49] cookin2 commented on #202
@nerdatwork Okie dokie :)  I hadn't thought about that!

[2016-06-01 16:49] #202 closed

[2016-06-01 16:51] pscohn opened #205 "Going to portal turns off extension"
Looks like an unexpected side effect of 1.2.6.

[2016-06-01 16:58] pscohn commented on #163
Haven't seen any other reports of this, so closing.

[2016-06-01 16:58] #163 closed

[2016-06-01 16:58] #106 closed

[2016-06-01 17:16] Genesis2015 commented on #205
When turn off the extension it turns on itself immediately :(

[2016-06-01 17:23] phahoai commented on #164
The problem is not solved in a very long time

[2016-06-01 17:27] nerdatwork commented on #117
Everything is running great in Mac after the updates so I think its safe to close this thread :+1:

[2016-06-01 17:34] pscohn commented on #205
@Genesis2015 I'll take a look and push out a fix asap.

[2016-06-01 18:29] pscohn commented on #117
cool! 👍

[2016-06-01 18:29] #117 closed

[2016-06-01 21:27] #205 closed

[2016-06-01 23:40] BonesKnows commented on #164
its unfair,my friends for example dont have this problem at all.

[2016-06-02 02:13] nerdatwork commented on #164
@BonesKnows Have you tried, reinstalling Chrome and RF extension ?

[2016-06-02 02:46] BonesKnows commented on #164
@nerdatwork Yes i tried but no changes.

[2016-06-02 03:16] nerdatwork commented on #164
@BonesKnows Have you ever used CCleaner ?

[2016-06-02 03:21] BonesKnows commented on #164
Yes but no help either.

[2016-06-02 13:38] luisdanielvc opened #208 "Very long jobs (more than 50 steps)"
Hello, i see sometimes a few jobs that are extremely long, this is good for us but it's very frustrating when the terminal is too slow or some steps require more time to complete and the abandoned screen appears, i don't know if this happens to you too, we have like 40 minutes to complete them and we have to do the job very quickly, i believe that the time for completing this kind of jobs is very

[2016-06-02 16:19] luisdanielvc commented on #208
I was in a 49 step job and i lost the connection at step 30, it was not my internet, it was the server

[2016-06-02 17:04] BonesKnows commented on #164
wow it is so frustrating

[2016-06-02 17:22] nerdatwork commented on #164
@BonesKnows I totally understand your frustration. I humbly urge you to give them time to reply considering the shear amount of support tickets, updates and other work they do. Bumping thread wont help anyone ;)

[2016-06-02 18:47] khristianjose commented on #208
It would be nice if Rainforest could add a timer on the job, so people could see how much time they have to do it.

[2016-06-02 20:59] pscohn commented on #208
We are constantly working with customers to make jobs shorter, as well as fixing some of the failure points for long jobs. For now, please send any complaints about long jobs (with the job id or assignment id) by opening a ticket in portal.

[2016-06-02 20:59] #208 closed

[2016-06-03 15:34] zfonck123 opened #209 "There are no virtual machines"
3 hours in same windows, app say yes, and  open a windows with there are no virtual machines.

[2016-06-03 15:35] zfonck123 opened #210 "Bonus"
we have a bonus 10% for 10 task complete

is a posible complete 100 and same day ? for 20% ?  check that

[2016-06-03 15:56] GreekGuy commented on #209
Same here.. I get only "there are no virtual machines"

[2016-06-03 16:04] luisdanielvc commented on #210
Yes, it's possible but it's very hard.

[2016-06-03 16:43] GreekGuy commented on #209
I didn't saw "Another worker accepted the job ..." the last 4 hours so i believe some of the "there are no virtual machines" appears instead of "Another worker...."

[2016-06-03 17:37] sigitsenyo commented on #210
I have not get chance to work for 100 task
Is it  have another way to get it ?

[2016-06-03 17:52] qpPykT commented on #210
@sigitsenyo perhaps pray all day :)

[2016-06-03 19:20] hunt40 commented on #209
yeah today same screen no virtual machines and that pop up open up everytime too.

[2016-06-03 21:13] sigitsenyo commented on #210
Hahahahaha.....

[2016-06-03 22:46] ddiiego1 opened #211 "delayed payments"
Hi, since like 4 hours I've been without receiving my bonuses. I think is not just me, this have to be a general problem with the platform, so, I just wanted you to know about it.
ID: 35076405
Thanks.

[2016-06-03 22:54] erdeminofff commented on #210
I am checking tests under browser 14 hour, sometimes 16 hour every day. For all that, I can only finish 40-50, rarely 60 test in one day.  Over 1 year period I did not reach 100 test.  Pray time :)

[2016-06-03 23:03] sigitsenyo commented on #210
@erdeminofff
Lucky you...
Because I usually only get about 30 jobs only

[2016-06-03 23:24] luisdanielvc commented on #211
I've received all my bonuses but i have a lot of "you have reached the maximum number" errors, maybe we all have different problems

[2016-06-03 23:36] zfonck123 opened #212 "Application error"
this time, alot jobs with application error

[2016-06-03 23:44] zfonck123 commented on #210
i dont more of 100 when , we are can do 4 jobs same time. but in this moment with only one job  for windows is very very hard

[2016-06-04 00:39] pscohn commented on #212
application errors are issues with the website under test, so you should just click no and you have done your job.

[2016-06-04 00:39] #212 closed

[2016-06-04 00:40] pscohn commented on #211
If you don't receive your payments after 24 hours please open a ticket

[2016-06-04 00:40] #211 closed

[2016-06-05 04:56] nerdatwork commented on #210
@zfonck123 There are some testers who claimed to have done 100 plus tasks in 24 hours on few days so its very much possible. If you are satisfied with the response so far I urge you to close this thread since its not an issue and just a question.
Thank you.

[2016-06-05 11:13] sigitsenyo commented on #210
@netdatwork
How it possible receive 100 jobs for 24 hour, because jobs not come every time, isn't it ?
Is it any tips for that ?
Please share...would you ?
Because I stay a long time in front my computer, receive jobs are 10 - 20 only...
Sometimes 30 jobs...
Thanks before...

[2016-06-05 11:47] nerdatwork commented on #210
@sigitsenyo Yes its possible and there is no trick/tip to get more jobs. Some lucky testers do get 100 plus jobs. We are the unlucky ones and we are in majority ;)

[2016-06-05 12:06] sigitsenyo commented on #210
Hahaha...
I hope someday...I'll be that lucky tester...
Thanks...

[2016-06-05 14:28] nerdatwork commented on #209
@zfonck123 Its normal when there is a job but all current VMs are occupied. You will have to close that window/tab so new job can load. Rainforest has recently added new servers and we (testers) hope that will improve performance.

[2016-06-06 12:32] sigitsenyo opened #213 "@pscohn Please help...My account is blocked...what should I do ?"
My account is blocked...what should I do ?

[2016-06-06 12:46] marius11 commented on #213
@sigitsenyo Send a support ticket by clicking "Help" in your profile.

[2016-06-06 12:47] sigitsenyo commented on #213
Ok thanks...

[2016-06-06 13:02] sigitsenyo commented on #213
@pscohn
Please help me to release my account ...
Please give me a second chance...
I promise to work carefully in the future...
Please help me to work again in rainforest QA
Thanks...

[2016-06-06 14:05] sigitsenyo commented on #213
@qpPykT
Yes...I had some rejected in training test before blocked...

[2016-06-06 14:36] philips13 opened #214 "appication error ( how to proceed?)"
Hello
In many tasks to load the link into the terminal appears "application error" sometimes at the beginning or at some more advanced step . Sometimes I update the page in the terminal several times and reenters and can continue. But it also occurs to me that I update and update and follow "application error" until the time period expires and step appears "job abandoned"

 My question is:
how I s

[2016-06-06 14:56] cookin2 commented on #214
This issue came up here:  https://github.com/rainforestapp/tester-chrome-extension/issues/212#issuecomment-223725094

The answer was:  "application errors are issues with the website under test, so you should just click no and you have done your job"

HTH :)

[2016-06-06 15:02] philips13 commented on #214
Thanks cookin2

[2016-06-06 15:02] #214 closed

[2016-06-06 16:54] sigitsenyo commented on #213
@pscohn
Please help me...
Rainforest income is my priority income...
Has been blocked make me depressed...
Please forgive me...
I promise to work carefully in the future...
Help please...
Thanks...

[2016-06-06 16:57] helloworld111gh commented on #213
Account issues cannot be resolved via this forum.
The only way is to contact support via the support form. You can access it
when you login.
On Jun 6, 2016 09:54, "sigitsenyo" <notifications@github.com> wrote:

[2016-06-06 17:00] sigitsenyo commented on #213
@helloworld111gh
I know, but I ask for pscohn help...
Because I know he is an admin for us...
Thanks...

[2016-06-06 17:01] sigitsenyo commented on #213
http://oi66.tinypic.com/2pr74hz.jpg

[2016-06-06 17:43] qpPykT commented on #213
@sigitsenyo
Omg, 16 rejections you like a rock star :)
I have 2 and I'm ashamed of it. The first was my experiment on the training task. The second just my mistake.

[2016-06-06 17:51] BonesKnows commented on #164
@chmi16 @phahoai Do you guys still experience this?

[2016-06-06 17:55] sigitsenyo commented on #213
@qpPykT
It my mistake man..
Because I not very good in english...
But I will try to be more carefully next time...
Thanks...

[2016-06-06 18:23] hendrafreaks commented on #213
@sigitsenyo
Ouch! sorry to hear that you got ban. But 16 rejection in a month? Wow thats a record! Just be patient and hope for the best!
I wish you a good luck.

[2016-06-06 18:25] sigitsenyo commented on #213
@hendrafreaks
Thanks man...
I wish I get mercy too...

[2016-06-06 18:33] hendrafreaks commented on #213
@sigitsenyo
Have you look at the rejection page carefully? I also get 1 rejection for the training job. But when i look at the rejection page, i can't find the mistake i'v made for that job. It's really strange.

[2016-06-06 18:43] sigitsenyo commented on #213
@hendrafreaks
Yes...it my mistake...
I know too late...

[2016-06-06 18:44] helloworld111gh commented on #213
Reviewing the pic it seems you failed the training jobs.
As an analogy it would be like getting low accuracy on Crowdflower Quiz
Mode.
It is unlikely you will be unblocked.

[2016-06-06 18:49] sigitsenyo commented on #213
@helloworld111gh
That I afraid so...
But I try...
I wish I get a mercy...
Because I have done 1164 good jobs...
May be that can be consideration...
I wish rainforest QA have a mercy for that...
Thanks...

[2016-06-06 18:53] hendrafreaks commented on #213
@sigitsenyo
What i don't understand is that you got more than 1000 jobs without rejection and than suddenly you make 16 mistake in a row?

[2016-06-06 18:57] sigitsenyo commented on #213
@hendrafreaks
May be this my unlucky day...
Many happen in my day today...
It make me frustrated...
Very unlucky day...

[2016-06-06 18:57] rnfrst commented on #213
have you been clicking 'yes' even if you don't understand the steps?

[2016-06-06 18:59] sigitsenyo commented on #213
@rnfrst
Sometimes...I really understand...I click yes...
But in the future...I will click no...for safety...

[2016-06-06 19:22] khristianjose commented on #213
Just, lol, i have a lot of work completed too and i dont have any rejections yet, you should be working more carefull if you need it so much like i do. https://gyazo.com/56ca57b949a07bfa2c6ebc16fe59d7eb

[2016-06-06 19:30] sigitsenyo commented on #213
@khristianjose
I wish you always lucky...

[2016-06-06 19:31] khristianjose commented on #213
I wish you good luck too, maybe they will help you.

[2016-06-06 19:31] sigitsenyo commented on #213
@khristianjose
Thanks man...

[2016-06-06 19:36] chmi16 commented on #164
Yes. Today I haven't see it but that is because almost every hit was direct and there was no need to refresh them. But there was wide gap in tasks from 1pm cet till 7 pm. Maybe I share some id with someone else and only one can do hits? Or after some number of hits I get blocked so someone else can do it? I am hoping that this will be resolved because small number of us have this problem. I am ver

[2016-06-06 19:37] qpPykT commented on #213
We have a line that we can not cross, but in your case you got too far over the line.

[2016-06-06 19:46] sigitsenyo commented on #213
@qpPykT
That I know...
We have a line that we can not cross...
But I very happy to receive very much jobs today...
It make me forget the line...
I am doing not accidentally...
That make me very very sorry for that...
I wish they forgive me for a second chance...

[2016-06-06 20:15] BonesKnows commented on #164
@chmi16 I dont know,i am hoping too. Does extension giving you links with "reached" message?

[2016-06-06 23:44] tulko commented on #213
I have two rejections, one sum and one for training earlier this month. It fools also because they were so easy did not seem to tests or training and neglect me. I always put "NO" when I have a problem explaining why.
At first it was not very good tester, see my history of "2014" gives me shame.

[2016-06-07 02:18] luisdanielvc commented on #164
I was having this since two hours ago, but now i got a 31 steps job, it's very annonying when that screen appears, even if you have no pending bonuses

[2016-06-07 03:30] #210 closed

[2016-06-07 03:31] #209 closed

[2016-06-07 03:31] #166 closed

[2016-06-07 03:48] chmi16 commented on #164
@BonesKnows It does sometimes

[2016-06-07 05:34] nerdatwork commented on #213
@sigitsenyo I am afraid but once an account is blocked it **cannot** be unblocked. Its a golden rule to keep out testers that **do not follow the STRICT rules**.

I feel deeply about the frustration you are facing but its been repeated several times to **read the rules**, **follow the rules**, **carefully do every step** and **report errors**. Looking from the perspective of Rainforest as a fellow

[2016-06-07 07:20] leka034 commented on #24
@kristen-allie Any news about new testers?

[2016-06-07 08:26] SiSi72 opened #215 "How can I change the ID numbers"
Tests open my site that I have not been entry and is closed.

I want to receive work only ID 33914476

Thanks.

[2016-06-07 11:47] tulko commented on #215
I do not understand, you would only receive jobs that id 33914476,
  do only one test in particular?
I do not think it posiible. I think, a possibility  would qualify that test with 10 and another with a much lower number. I clarify that I'm speculating, but catches my attention because this test can mean less for you.
In my case I want more more more More and more test
Keep in mind that this test

[2016-06-07 11:48] sigitsenyo commented on #213
@nerdatwork
Thanks for support my misery, man...
I really grateful...

[2016-06-07 11:53] tulko commented on #188
can be test of the 105 steps, I remember it well, your first 3 steps are as one of most tests.

[2016-06-07 11:54] sigitsenyo commented on #213
Until now support rainforest don't answer my support ticket yet...
I blocked without warning first...
Do not receive warning email or something else...
Just blocked like this...
I am very depressed now...

[2016-06-07 12:03] sigitsenyo commented on #213
Look like pschon just ignore me right now...
I really really feel sad right now...

[2016-06-07 12:03] tulko commented on #171
It happens more frequently now. You put "OFF" I hope no more than 30 seconds and is set ON. Not all the time, but sometimes tends to happen.
 I  close chrome when walk away from my computer.
Close chrome to not have many abandoned jobs.

[2016-06-07 12:15] nerdatwork commented on #213
@sigitsenyo Rainforest has strict rules and I urge you to be calm. Let someone reply you on your support ticket or here from Rainforest. The title is self explanatory so wait for them to reply. Repeated replies on this thread will not help your case. Please have patience.
Thank you.

[2016-06-07 12:23] sigitsenyo commented on #213
@nerdatwork
I regret had did something stupid that make my account blocked...
Now...I just hope a mercy...
If I get mercy...
I will use it carefully...
And I will try hard to not break the rule again...
I hope pschon will consider my past work and forgive my mistake for my second chance...
Thanks...

[2016-06-07 12:23] nerdatwork commented on #215
@SiSi72 Can you please explain a bit more so fellow testers can help you if they can ? Are you trying to say you want to change your Crowdflower Id that is associated with Rainforest ? If so last time I checked its not possible as of now. If I have misunderstood you. Please explain more.

[2016-06-07 12:25] nerdatwork commented on #213
@sigitsenyo I totally understand but I will humbly urge you to simply wait for someone from Rainforest to reply your support ticket or this thread.

[2016-06-07 12:36] sigitsenyo commented on #213
@nerdatwork
Okay man...I understand...
I will wait pschon respon my thread with patience...
Thanks...

[2016-06-07 12:44] Genesis2015 commented on #171
@tulko Same story here :(

[2016-06-07 12:49] sigitsenyo commented on #213
@tulko...
I am will follow your way for safety if I get second chance...
Thanks for support, man...

[2016-06-07 12:52] tulko commented on #213
I hope you can recover your account, please note that we are "QA" that is we do quality. This activity can not be done with poor quality.

[2016-06-07 12:56] sigitsenyo commented on #213
@tulko
It true man...
I will remember...
Thanks...

[2016-06-07 12:59] SiSi72 commented on #215
@nerdatwork You understand me correctly.

[2016-06-07 14:09] pscohn commented on #215
You will be able to change accounts soon when we release new jobs on Crowdflower.

[2016-06-07 14:09] #215 closed

[2016-06-07 14:09] pscohn commented on #213
If your block is unfair you can open a ticket, but it is rare that we unblock someone.

[2016-06-07 14:09] #213 closed

[2016-06-07 14:13] pscohn commented on #171
@tulko @Genesis2015  this is a new bug in the icon display, it should be fixed today.

[2016-06-07 15:42] sigitsenyo commented on #213
Oh please dear pschon...
Please make exception for me...
Because I will work carefully for next time...
I will not doing something wrong in the future...
I regret for my mistake...
Please give me a final chance to work again...
I beg you to help me...please...?
Thank you so much for your respond....

[2016-06-07 16:53] sigitsenyo opened #216 "Since my account blocked...now help support was blocked too...very sad..."
Since my account blocked...now help support was blocked too...very sad...

[2016-06-07 16:59] helloworld111gh commented on #216
Do not flood the Github forum with account issues.
You have already been told that the only possible solution is contacting
support. Do that or you will not be unlocked.

[2016-06-07 17:02] sigitsenyo commented on #216
Look like I am really no chance again...
Hopeless...
Good bye all friend...
Wish you all luck...

[2016-06-07 17:08] sigitsenyo commented on #216
@helloworld111gh
Help support blocked too for me now...
I cannot acces that...
Sorry make you angre..
I am not annoying again...
Wish you always luck...
Good bye...

[2016-06-07 17:36] JPierreS commented on #216
How do you know you are blocked from support ? Did you try sending a ticket through tester@rainforestqa.com ?  Don't try sending multiple tickets on the same issue.  If you are really sure you did nothing wrong and the block is unfair, you simply mention this to support and they will review your account history - if the block was unfair, you will be unblocked, otherwise, they do not reverse these

[2016-06-07 20:16] pscohn commented on #216
If you send a ticket we will get to it and see if the block was fair or not.

[2016-06-07 20:16] #216 closed

[2016-06-07 20:25] BonesKnows commented on #164
I ask supports again for help and again no solve for the problem they are saying that this is normal. For 15 hours today trying to get work i managed to do 6 hits,if this is normal then ok . I will stop doing this job definitely.

[2016-06-07 21:16] tulko opened #217 "TOTAL FOUND BUGS:"
New information in our profile. "TOTAL FIND BUGS"
It refers to the testers report bugs?
Few figure them in my case 160

[2016-06-07 22:41] leka034 commented on #24
pscohn Any news about new testers?

[2016-06-07 22:43] leka034 commented on #24
@pscohn Any news about new testers? I think that @kristen-allie is angry on me :(

[2016-06-08 03:41] luisdanielvc commented on #144
Lucky you

[2016-06-08 05:18] marius11 commented on #144
@nerdatwork This post is two months old and it should have been closed by now.

[2016-06-08 08:01] nerdatwork commented on #217
@tulko Yes its a new feature which in my personal opinion is to show how much helpful the tester is. Also @tulko github is a place to report issues and since you are not reporting any issue please close the thread, thank you.

[2016-06-08 12:28] #217 closed

[2016-06-08 15:00] pscohn commented on #144
We have also released a fix that should stop multiple payments.

[2016-06-08 15:00] #144 closed

[2016-06-08 15:01] #61 closed

[2016-06-08 15:09] #124 closed

[2016-06-08 15:09] #107 closed

[2016-06-08 15:38] #53 closed

[2016-06-08 15:38] #40 closed

[2016-06-08 15:38] #105 closed

[2016-06-08 15:39] #110 closed

[2016-06-08 15:39] #132 closed

[2016-06-08 15:40] #131 closed

[2016-06-08 15:41] #54 closed

[2016-06-08 16:31] khristianjose opened #218 "Problem with payments"
Hey, this post is for people who receive their money trough ELITECRODFLOWER, because yesterday i placed a payment request to them, and on their web page it says that the payment has already been processed,but i didnt receive anything on my paypal, so i want to know if someone outhere is having the same problem as i?

[2016-06-08 16:34] zfonck123 commented on #218
same problem here  and alot peoples report too for Facebook

[2016-06-08 16:35] zfonck123 commented on #218
if this problem continue, we need another method for payment

[2016-06-08 16:49] Genesis2015 commented on #218
Same problem here :-1:

[2016-06-08 16:53] helloworld111gh commented on #218
I don't think RF can help with Crowd Flower channel payment issues. If RF
payment had went into your channel account, they done their job.

If you were scammed by a bad channel you need to contact CF.
On Jun 8, 2016 09:49, "Genesis2015" <notifications@github.com> wrote:

[2016-06-08 16:56] zfonck123 commented on #218
Elite CF is the chanel Offi... if rainforestqa can get info about that, because CF procces the paymen or not ?  we need information about that, because if the chanel dont work, rainforestqa loss alot tester

[2016-06-08 17:03] hendrafreaks commented on #218
Yap, i also have the same problem, and @helloworld111gh is correct "RF" have nothing to do with "CF", but at least maybe we can discuss it here, since CF don't have any forum channel.

[2016-06-08 17:15] suplazam commented on #218
Same problem here...

[2016-06-08 17:19] hendrafreaks commented on #218
And 1 more thing about "CF", they have the worst ever CS in the Crowdsourcing world lol.

[2016-06-08 18:03] zfonck123 commented on #218
done CF Pay it, can closed the post

[2016-06-08 18:38] leka034 commented on #24
@kristen-allie @pscohn I have a question, if you are able to provide me with an answer. Why do you send training tasks trough extension to testers who already worked for you? And than send them a congratulation msg for becoming a tester which they already are?

[2016-06-09 03:37] #195 closed

[2016-06-09 08:27] vvarna commented on #24
I'm NOT new tester. I have my account created doing tests via CF task in last 1 year provided in Neobux. Last year all was normal and all the commissions was paid via my Neobux channel. I'm also seaman by the profession and till May this year I was not at home. From May till now I worth around 115$ using only Chrome extension and all the money just pending in my existing Rainforest account. It's l

[2016-06-09 17:32] nerdatwork commented on #178
@tulko Are you still facing this issue ?

[2016-06-09 20:13] MarinaCec opened #219 "New ERROR????? What's that??"
Heroku | No such app
There is no app configured at that hostname.
Perhaps the app owner has renamed it, or you mistyped the URL.

[2016-06-09 20:14] ahmedofhell commented on #219
same here

[2016-06-09 20:19] nerdatwork commented on #219
@MarinaCec @ahmedofhell There is some issue with the portal and Rainforest is working on fixing it. As soon as its fixed you will be able to access it normally.Thank you for your patience.

[2016-06-09 20:24] pscohn commented on #219
This is an issue with our server and we're working on fixing ASAP.

[2016-06-09 20:25] MarinaCec commented on #219
@ahmedofhell @nerdatwork Heroku is a platform as a service (PaaS) that enables developers to build and run applications entirely in the cloud.

It's not their fault kkk

[2016-06-09 20:25] pscohn commented on #219
Fixed.

[2016-06-09 20:25] #219 closed

[2016-06-09 22:38] farisxd commented on #24
There was a job posted on CF Task list but it gone in just few minutes, why? Why can all we get a chance?

[2016-06-10 00:42] matheuskanderson commented on #24
@farisxd it is true ? you did?

[2016-06-10 01:19] rftester2016 commented on #24
Yes it is true.It was active for only couple of minutes(3-4) named with "Test Applications For Rainforest Qa" or something like that(forgot the exact name).

[2016-06-10 05:17] svtldav commented on #24
Did anyone remember the exact name of the task in the list?

[2016-06-10 07:41] diabolic012 commented on #188
Got job abandoned right now. Terminal is like super slow to load pages and job has way to many steps and suddenly bam JOB ABANDONED. I am extra angry in the moment, spend time for nothing.

[2016-06-10 09:57] marinova commented on #24
vvarna i am in a same situation...i have penning around 500$ and waiting for the new number to get the payment key ...

[2016-06-10 10:18] begsoon commented on #24
@farisxd  Can you be more realistic please :) There is maybe 5 000 - 10 000 new people that want to also to get test in Rainforest,do you think that right now is possible for rainforest to get that number of new testers..
You should keep eye on tasks screen of CF

[2016-06-10 12:34] samballode opened #220 "Hello, Can not claim profil"
Hello,
Can not claim profil

http://oi67.tinypic.com/2dhy5jp.jpg

https://portal.rainforestqa.com/tester/78de2e1e-9eec-43a6-932b-4afab189535d

Neobux and Crowdflower now id 38173505
email samballode6@gmail.com

Neobux and Crowdflower old id 31722590

[2016-06-10 12:45] samballode commented on #220
It OK now

[2016-06-10 12:45] #220 closed

[2016-06-10 21:34] saulruiz commented on #24
I can do work normally rainforest , and then when I make at least one in CrowdFlower , they paid me all I did before? sorry for bad english...

[2016-06-10 21:37] matheuskanderson commented on #24
she just popped up in CrowdFlower list

[2016-06-10 21:41] vvarna commented on #24
Hello saulruiz,

Once when you complete one task at least via CrowdFlower you will get paid. At this moment Rainforest QA together with CrowdFlower try to deliver new task but CrowdFlower fail it. But don't worry soon you will get it and will be able to take your money.

[2016-06-10 21:59] matheuskanderson commented on #24
![rain](https://cloud.githubusercontent.com/assets/18285858/15979900/66f47026-2f3d-11e6-9d05-b455db9ed6b5.png)

[2016-06-10 23:28] rftester2016 commented on #24
So yesterday and today rainforest does post a job in CF job page.But the problem is you should be super lucky to catch it.It stays only for minutes if not seconds.

[2016-06-11 07:18] vvarna commented on #24
So guys and girls. In the past one hour the Task was available for limited time again via CrowdFlower channels.

[2016-06-11 08:47] leka034 commented on #24
Question for someone from RF. I manage do catch task on the CF list last night and it is in my history of comlpeted jobs, but I havent received any notification with link for chrome extension? I olso wrote support ticket but there is no reply from your support team.

[2016-06-11 15:58] luiscarreno74 commented on #24
the task came in crowdflower but was kind of wroken

[2016-06-11 16:21] marius11 commented on #164
Can someone explain why this message appeares? I have received this message 12-16 hours after the last submitted task. It doesn't make sense.

[2016-06-11 19:17] nerdatwork commented on #164
@marius11 Please read this:
[]([](https://github.com/rainforestapp/tester-chrome-extension/wiki/Troubleshooting-&-Common-Errors-Explained#you-reached-maximum-of-unsubmitted-applications))

[2016-06-11 19:20] marius11 commented on #164
I have and it didn't clear up anything. There are probably more cases when this error appears which are not listed in the wiki.

[2016-06-11 19:21] nerdatwork commented on #164
@marius11 Have you tried reinstalling Chrome and the extension ?

[2016-06-12 01:40] cobijin commented on #24
I have done the CF task today, registered for very first time, installed the chrome ext. and done the training mode in the Rainforest Terminal. Everything was ok.

[2016-06-12 02:12] matheuskanderson commented on #24
here are not paying, I've done cf task, does anyone know why?

[2016-06-12 05:44] luiscarreno74 commented on #24
The task that i did was just a box to click when read instructions then submit and nothing more and no email was send to me

[2016-06-12 10:49] ivijulsc commented on #24
What time is the Job posted?
I was refreshing NeoBux evry 10 minutes but never see it :(

[2016-06-12 11:25] josejecr97 opened #221 "Extension cant turn on."

[2016-06-12 11:26] josejecr97 opened #222 "Extension cant turn on."
Im trying to do jobs.. but extension is always off.. even if i click its still offline..

yes.. i'm logged ig

[2016-06-12 11:26] #221 closed

[2016-06-12 21:11] nerdatwork commented on #222
@josejecr97 Sometimes it takes around 3 seconds to turn on, make sure you click and wait for few seconds to turn it on. It happens with me too

[2016-06-13 08:29] qpPykT commented on #222
@josejecr97  Check the version of the extension. The latest version 1.2.7.

[2016-06-13 12:22] samballode6 opened #223 "Hello Admin, Payment issue ?"
Hello dear Admin,

I do jobs well in Rainforest QA
But I didn't receive payment
After I check, apparently my id on portal Rainforest QA is different with contributor id CrowdFlower and Neobux
Contributor id on CrowdFlower and Neobux was same it 38173505
But my portal id on Rainforest QA it 31722590

I was contact CrowdFlower support team
I am received this message from CrowdFlower support team :

[2016-06-13 13:44] JrRandy opened #224 "Server Errors"
Opens new tab when work is available, get the intructions and click OK, then large delay (30-45 secs) before application error is recieved.  Upon multiple reloads, work has to be returned due to too many requests.

[2016-06-13 13:47] Hanifmamun commented on #224
Work page does not load but it shows you have requested this job too often.
On 13 Jun 2016 7:44 p.m., "JrRandy" <notifications@github.com> wrote:

[2016-06-13 13:48] marius11 commented on #224
That happens often when there are many testers online.

[2016-06-13 13:52] zfonck123 commented on #224
same here

[2016-06-13 14:09] hunt40 commented on #224
yeah application error and after just 1 refresh you requested this job too often,they have problems you can see on status page

[2016-06-13 14:11] zfonck123 commented on #224
you have reached... about 40minutes o.o

[2016-06-13 14:36] JrRandy commented on #224
@marius11 - Thanks!  I had no idea that page existed.  Book marked and subscribed for future use.  +1 to you!

[2016-06-13 14:37] vrr123 commented on #24
I confirmed the task on the CF list. But I have not received any notification. Support does not answer yet. Who has the same problems?  I'm desperate...

[2016-06-13 14:37] shrestha15207 commented on #224
have to wait 60 mins for "you have reached..." to end. what is this??

[2016-06-13 14:41] luiscarreno74 commented on #24
I have the same problem vrr123 i dont know wjat to do coz un instruction says that if se do twice de will be banned bit thats an error of the task

[2016-06-13 15:23] ayubanget commented on #24
@luiscarreno74: Have the same problem. I also only see a checkbox and no link to any task.

[2016-06-13 15:27] Vasil-RainforestQA-tstrs commented on #24
@luiscarreno74 , @ayubanget

Please visit the next URL and try to find notification from Rainforest QA .regarding your profile.

https://tasks.crowdflower.com/notifications

[2016-06-13 15:31] pscohn commented on #24
As of late last week we are posting a small number of jobs to CrowdFlower each day. To keep the intake of new testers manageable we're limiting the number that can get a task on a daily basis, so it might take some luck at first.

If you don't receive a notification or email about claiming a profile, let us know by emailing testers@rainforestqa.com with your worker ID and any relevant screenshots.

[2016-06-13 15:37] luiscarreno74 commented on #24
Hi @Vasil-RainforestQA-tstrs @pscohn i didn't received a notification or email about claiming my profile, i send an email to that direction 3 days ago but didnt get any responses, i send an screen shot and my worker id on 10/06/2016, please help i want to be rain tester too

[2016-06-13 16:03] pscohn commented on #24
@luiscarreno74 I have replied to your ticket.

[2016-06-13 16:04] ayubanget commented on #24
@pscohn @Vasil-RainforestQA-tstrs Same as @luiscarreno74, i also didn't received any notification or email. I also have send a ticket to testers@rainforestqa.com as @pscohn instructed just know. Can someone help?

Thanks for your help.

[2016-06-13 16:11] luiscarreno74 commented on #24
thanks @pscohn i noticed that i didnt send you the screenshot with my notifications in crowdflower so i reply the ticket, because i didnt get ant notification from the task. thanks in avanced

[2016-06-13 16:26] vrr123 commented on #24
@pscohn  I also didn't received any notification. Can you help me, too, please? I wrote in support on 12 June. id and a screen shot  attached to the letter. last digits of my email - 468@gmail Thank you.

[2016-06-13 17:25] hunt40 commented on #224
it says resolved but no its still continue too slow terminals ,and still something went wrong messages and application errors still present

[2016-06-13 18:09] Deepak0988 commented on #224
Terminal is taking a lot of time to load, even the message that "No virtual machines available" takes a lot of time to show. Seems that there is some issue at RF, not because of too many online tester.

[2016-06-13 18:16] nerdatwork commented on #223
@samballode6 How do you have 2 Neobux ids ? Did you check with Neobux ? Currently Rainforest does not change worker ids so your best bet is to check with Neobux whether 31722590 is active with them if its not tell them to activate it and tell CF to make 31722590 as your active Neobux id. Now your Neobux and Rainforest id will match. This will make sure you get paid for the tasks.

I hope that was

[2016-06-13 18:34] matheuskanderson commented on #24
@pscohn I have sent e- mail too but no one answers , can you help me ? Thank you!

[2016-06-13 18:35] pscohn commented on #24
We're looking into the issue with notifications, will post when we have an update.

[2016-06-13 18:40] nerdatwork commented on #222
@josejecr97 If your issue is resolved please close the thread or update it if its not resolved.

[2016-06-13 19:21] zfonck123 opened #225 "error or is only me ?"
after login
![image](https://cloud.githubusercontent.com/assets/19192312/16020096/25268c8e-3176-11e6-8876-724e6a3a8fb4.png)

[2016-06-13 19:28] zfonck123 commented on #225
other error
![image](https://cloud.githubusercontent.com/assets/19192312/16020311/32fa4f16-3177-11e6-823b-07d634da2851.png)

[2016-06-13 19:30] qpPykT commented on #225
I have a blank page too. Minus 3 tasks. :(

[2016-06-13 20:50] stranger20 commented on #225
I  finished a  task with 28 steps and after submiting the task the site went offline and the task is not shown in history, although a success message appeared after a few refreshings....

[2016-06-13 23:50] luisdanielvc commented on #164
This problem is horrible, it appears at any moment, i was happy because i did $4 in 30 minutes and after that i was unable to do more thanks to this error, it took almost one hour and ten minutes to disappear, do you guys know how to fix this? Because i see this thread inactive. Thanks

[2016-06-14 00:39] JrRandy commented on #150
Any way to reserve the job for the worker who got the "No VM's available" message?  Nothing more annoying than finally getting work, there not being a VM available, and then losing that job to someone else after trying to get a VM to work in.

[2016-06-14 01:02] tulko opened #226 "You have reached the maximum number of unsubmitted assignments..... bla.. bla .. bla."
You have reached the maximum number of unsubmitted assignments. So we are fair to other workers, we stop you doing too much for us at once. You can complete the other assignment(s) and refresh this page, or simply return this hit.

more than 40 minutes ago got this message. I have no active job, I had no problem with my last task. I do not understand, this never happened to me

[2016-06-14 01:02] #226 closed

[2016-06-14 01:04] zfonck123 opened #227 "error 2048"
![image](https://cloud.githubusercontent.com/assets/19192312/16028161/3de580d8-31a6-11e6-86be-df6847c2a2a6.png)

[2016-06-14 01:05] #225 closed

[2016-06-14 05:31] marius11 commented on #225
Just click the "No" button and explain what happened.

[2016-06-14 11:32] qpPykT commented on #224
Again, a blank page. What is wrong with the r-f site.

![r-f-blank-page](https://cloud.githubusercontent.com/assets/4960092/16041220/dcd12792-323c-11e6-8f41-160d871720fa.jpg)

[2016-06-14 11:37] marius11 commented on #164
@nerdatwork I personally don't see how reinstalling the browser could fix this, from a technical point of view. I usually reinstall the extension every time there is a new version, since Chrome doesn't do a great job keeping the extensions up-to-date.

Hopefully they will peek an eye at this.

[2016-06-14 12:01] samballode6 commented on #223
@nerdatwork,
Thank you for your suggestion,
I directly contact Neobux,
Neobux answer me like this :
It's technically impossible Neobux can change IDs.
Only Rainforest support can make changes related to IDs.

[2016-06-14 13:37] #227 closed

[2016-06-14 14:05] zfonck123 commented on #224
again you have reached, affter completed one job... 30minutes

[2016-06-14 14:14] Genesis2015 commented on #224
Same here :-1:

[2016-06-14 15:10] marius11 commented on #224
Click "No" and report the problem.

[2016-06-14 17:13] nerdatwork commented on #223
Unfortunately at this moment Rainforest does NOT change ids.

[2016-06-14 17:33] srsaurabh32 commented on #224
too many, just too many errors, cant take it now. I am so irritated. Please rainforest do something or i'll through my laptop away.

[2016-06-14 17:41] srsaurabh32 commented on #150
No VM's available is the most irritating message i ever see, as you still believe that there are chances you will get work on refreshing but no 90% of the refreshes you will be disappointed.

[2016-06-14 17:50] ayubanget commented on #24
Hi @pscohn any update about the notifications issue? I'm still doesn't received any notification.

Thanks for your help.

[2016-06-14 17:58] aneesahmad opened #228 "How to change worker id/ contributor id in rainforest?"
Can anyone tell me how to change the worker id/contributor id in rainforest? For some wierd reason my worker id got automatically changed. Don't know how it happened.

[2016-06-14 18:56] hunt40 commented on #224
well last 4 hours nothing but no virtual machines,this is insane not a single hit i got just no vm

[2016-06-14 19:18] GreekGuy commented on #224
@hunt40 with so many new members there is no work anymore..

[2016-06-14 19:35] Genesis2015 commented on #224
Since the new testers came, now there is less work, more load on the servers and less motivation to work :-1:

[2016-06-14 19:48] shrestha15207 commented on #224
extremely disappointed..errors everywhere, no work, refreshes, requested job too often, unsubmitted assignments,  ERROR: Something went wrong, no virtual machines. Worst days, Worst week. where is rf heading?

[2016-06-14 20:05] samballode6 commented on #228
Same issue here :
https://github.com/rainforestapp/tester-chrome-extension/issues/223
#223

[2016-06-14 20:49] nerdatwork commented on #228
@aneesahmad At this moment Rainforest doesnt allow to change worker id/contributor id.

[2016-06-14 22:08] GreekGuy commented on #224
I hope rf will fix the errors and add more vms in the future because we are so many now

[2016-06-14 22:25] samballode6 commented on #223
This doesn't make any sense, even your first IDs have been hacked by someone ?
Like my email have been hacked by someone, It force me to leave my past IDs on Neobux long time ago and make my past IDs not active again, Now someone told me to claim IDs Rainforest because Rainforest have a good payment for their worker,so I make new IDs on Neobux that linked to my contributor IDs on CrowdFlower but R

[2016-06-14 22:31] JrRandy commented on #223
The issue is the "My account was hacked" is an excuse most online companies have heard likely a million times.  Maybe its true, maybe someone got caught doing something they shouldnt, got banned, and all of a sudden their account was hacked.  To prevent multiple accounts on a single person, RainforestQA has locked the account to your "Contributor ID".  This is not a bug, so likely best taken up wi

[2016-06-14 22:55] samballode6 commented on #223
@JrRandy,
 I don't get banned from Neobux
Here is a proof :

Yesterday at 18:38 by Support
Hello,

Unfortunately, your "samballode" account has been permanently suspended due to inactivity, and thus it cannot be restored under any circumstances (it's technically impossible).
Please keep in mind that only CrowdFlower and / or RainForet support can make changes related to IDs.

Best regards,
Dave E.

[2016-06-14 23:11] helloworld111gh commented on #223
I would note that having 2 ID's from the same site on one account is
against CF ToS. You should contact them to see if they can change it to the
old ID, as your account may be suspended if you don't get that resolved.

On 14 June 2016 at 15:55, samballode6 <notifications@github.com> wrote:

[2016-06-14 23:36] hunt40 commented on #224
this is new joke no vm,there is no point to wait to get jobs because there is no job.have a nice day.

[2016-06-15 05:31] marius11 commented on #228
Send a help ticket through your profile regarding this issue.

[2016-06-15 08:15] mahonikv commented on #24
Hi https://github.com/pscohn I have generated name Rainforest but when i want to claim arrive message "You will receive a message soon with further instructions." but 4 day I there not instruction.

[2016-06-15 09:55] ivijulsc commented on #24
@mahonikv i recibed the message few minutes after i claim it in my "CF" account.

[2016-06-15 10:31] Dolazim opened #229 "Problem"
![fd14033f57174aa18cdc99321f501642](https://cloud.githubusercontent.com/assets/15851077/16077032/a60188d2-32f6-11e6-9950-8c8343251e2f.png)
Any solution for this?

[2016-06-15 10:52] Hanifmamun commented on #229
Same to me. Sent support ticket.

[2016-06-15 11:44] nerdatwork commented on #229
@Dolazim Send a support ticket from the HELP button on the profile page of your portal at your left hand bottom or email them at tester@rainforestqa.com explaining the issue in detail.

[2016-06-15 11:53] #229 closed

[2016-06-15 12:06] zfonck123 commented on #223
cliksense and neobux have a problem with get a payment from crowflower task  have a delay about 36hours

[2016-06-15 12:38] samballode6 commented on #223
@helloworld111gh,
I did contact CrowdFlower support team,
I get this answer :

Hi samballode6,

Thanks for writing in.

Rainforest provides their own support for their “Test a web application” jobs. Please contact their support team at tester@rainforestqa.com to see if they are willing to change your Contributor/Worker ID.

To respond to this ticket, click Reply, type REOPEN TICKET, type your mess

[2016-06-15 12:40] aneesahmad commented on #228
already send a help ticket, but they are not even replying to it. Waiting for the last 2-3 days.

[2016-06-15 12:52] samballode6 commented on #228
I did contact help support Rainforest QA since Friday, 10 june 2016
Until now after weekend, still no answer
Are help support Rainforest QA still active or not ?
Are they still help worker issue ?

[2016-06-15 12:58] aneesahmad commented on #228
@samballode6 so sad that we are missing those jobs and don't know if they will make it right. I did more than 70 hits without knowing this and they were sending the money to an old neobux account of mine which doesn't exist anymore. Literally they have not send the money. Hope i would get that too.

[2016-06-15 13:46] samballode6 commented on #228
Hahaha...
Don't be sad, stay cool and just wait...
I know also after I doing that job, I didn't get payment of my jobs...
Honestly, they pay worker with a good payment...
So... It must be fought...
Hopefully they more wise...
Hopefully they appreciate our struggle...
Hopefully there any good solution about our problem...

[2016-06-15 14:03] kristen-allie commented on #229
Thanks, all! I've shared this with the team.

[2016-06-15 14:11] jbarber commented on #229
We're looking into this, but it's only cosmetic and doesn't have any consequences.

[2016-06-15 16:11] marius11 commented on #228
@aneesahmad How is it possible that you worked on 70 tasks and not notice that you didn't get credited?

[2016-06-15 19:26] mahonikv commented on #24
ivijulsc I wait 4 dey yet.

[2016-06-15 20:55] larissasilva commented on #24
@pscohn there's something wrong with my bonus system I'm not getting my payments already completed the task CrowdFlower

[2016-06-16 00:37] aneesahmad commented on #228
What if i start a new account in rainforest? Can someone send me a link for a new account. I can't find it?

[2016-06-16 01:43] nerdatwork commented on #228
@aneesahmad If it was that simple someone would have suggested it to you in the first reply. Its not possible to open new account unless new Rainforest jobs are posted on Crowdflower.

[2016-06-16 02:21] aneesahmad commented on #228
ok again lost hope

[2016-06-16 09:41] OanceaDenis97 commented on #24
Can you post the jobs earlier? Some people who are from the USA may not be able to access them.

[2016-06-16 09:41] OanceaDenis97 commented on #24
who are not*

[2016-06-16 12:41] uangonline commented on #228
@aneesahmad Don't lost hope. Everyday RF post a new apply link in CF wall. Infact i just saw it about 15 minutes ago. You can't change your ID after join in. Just make sure your Neobux account always active.

[2016-06-16 13:03] JrRandy commented on #224
Unusual issues today.  Status page shows everything fine, with no latency, but getting "Internal" errors, and service not available errors inside the RF hits, and random unexpected results in other hits I have worked this morning.  I dont believe I have had 1 job come to completion yet today.  Anyone else seeing the same?

[2016-06-16 13:40] uangonline opened #230 "Very Very Lag connection!!!"
Hi All
Why the connection is so slow today? Almost not workable.
Also a lot of Application error. Rainforestqa status is operational, but still a lot of application error.

[2016-06-16 13:45] GreekGuy opened #231 "You have reached the maximum number of unsubmitted assignments"
Are you trying to fix it because when that occurs it does not leave me to do tests for 1-4 hours it says that i have reached the maximum number of unsubmitted assignments but i do not have any tests open.

[2016-06-16 13:56] suplazam commented on #224
I have the same issue

[2016-06-16 15:18] zfonck123 opened #232 "application error"
Again plataform down. application error

[2016-06-16 15:25] uangonline commented on #230
@pscohn The lag saga continue. lol

[2016-06-16 15:43] zfonck123 commented on #230
applicattion error alot times

[2016-06-16 15:56] marius11 commented on #230
If there are errors, report them by clicking "No".

[2016-06-16 15:57] marius11 commented on #232
https://github.com/rainforestapp/tester-chrome-extension/issues/230

[2016-06-16 16:08] uangonline commented on #230
@marius11 Yap i know that. If the VM already loading and Application error happened inside the VM we should report it. But the application error that i'm talking about was happend before VM even loading. So no button to report it.

[2016-06-16 16:09] JrRandy commented on #175
What are we supposed to do in these circumstances?  Any time I try to restart the test and it has a signup process it fails due to the email addy already being used.

[2016-06-16 16:23] nerdatwork commented on #232
@zfonck123 Try not to open duplicate threads for same issue. If someone has already opened a thread for an issue you are facing, reply in the same thread. It will only help Rainforest to help you better. Please close the thread.

[2016-06-16 16:56] #232 closed

[2016-06-16 17:28] aneesahmad commented on #228
@uangonline thanx for the info :)

[2016-06-16 18:29] Hanifmamun commented on #231
First, Something went wrong on getting terminal.
Second, You have requested the job too often.
I have to wait long time for another task just refreshing one time because of the message "You have requested the job too often"

[2016-06-16 20:44] Genesis2015 commented on #231
Same f*****g story here :-1:

[2016-06-16 23:14] NeoWorker commented on #24
What is a double-submission of task?

[2016-06-17 08:01] samballode6 commented on #223
Problem solved,
Case closed, thank you

[2016-06-17 08:01] #223 closed

[2016-06-17 08:04] nerdatwork commented on #231
@Genesis2015 I would advice NOT to use profanity while replying to any posts. I understand its frustrating but it gives you no right to be swearing at anybody.

[2016-06-17 14:26] BonesKnows commented on #231
i get this message after only one refresh

[2016-06-17 15:43] jeloy1 commented on #24
I have two questions. What is the job of the task ID? and What is the name of the task? I'm confused. Please help.

[2016-06-17 19:27] qpPykT commented on #231
It's not funny guys. The whole day the message appear "There are no virtual machines currently available. Please retry in a few minutes." and a little caught hits.

[2016-06-18 01:25] tulko opened #233 "payments CF (this is not a Issue, I promise to erase soon)"
Congratulations, you were bonused 65.6 cents for your work on Test A Web Application Using Any Browser! Hey Horacio, You work was submitted; here is the promised bonus of 80 for completing unit cx0.....3c-896d-4401-a9bd-ef96f8.....
that never charge you extra bonus, it must be

[2016-06-18 03:48] tulko commented on #233
That same I sent requesting a ticket. I expound here to see your account CrowdFlower See how paying them

something has me really worried about CrowdFlower
Look this:
Congratulations, you were bonused 66.42 cents for your work on Test A Web Application Using Any Browser! Hey Horacio, Good news. You earned 812c for 28 approved tasks you completed between 2016-06-17 00:00:00 UTC and 2016-06-17 23:59

[2016-06-18 03:50] helloworld111gh commented on #233
Crowdflower users are paid 4 credits per step, and Crowdflower determines the conversion rate from credits to cash/points/whatever. https://github.com/rainforestapp/tester-chrome-extension/wiki/Payment-Details
This is normal.

[2016-06-18 03:53] tulko commented on #233
I get it -  The bonus is the promised
I close

[2016-06-18 03:53] #233 closed

[2016-06-18 04:21] nerdatwork commented on #224
8 new servers have been added and they will start working from Monday 20th, 2016. Total 14 servers will be active so the message of "There are no VMs..." will not be seen that often (hopefully). Lets keep our fingers crossed and hope it resolves this issue.

[2016-06-18 10:49] Vasil-RainforestQA-tstrs commented on #24
@jeloy1
Regarding your first question. The Rainforest QA tasks  provided via CrowdFlower and
Amazon Turk channels is named / or similar  “Test  Applications for Rainforest Qa”.

To avoid asking for already answered questions please read the FAQ page here: https://github.com/rainforestapp/tester-chrome-extension/wiki/Frequently-Asked-Questions

[2016-06-18 16:09] JrRandy commented on #224
An eternity between jobs, and finally get one and no VM's available.  That just doesn't seem right, unless someone is sucking up the VM's.  I completely understand through the week when there is lots of work being done, but what is the deal on a Saturday? lol

[2016-06-18 20:27] qpPykT commented on #224
@nerdatwork
How many VMs can be run on one server? We do not know how powerful they are. But hope dies last. Now problem with VMs one of the most annoying for me.

[2016-06-19 07:10] marius11 commented on #224
@qpPykT In their last AMA, they said that they will add 8 more servers next Monday. Yay!

[2016-06-19 11:09] radisa10 opened #234 "Not gating jobs"
I was do my first job 2 years ago..i claim my account 2 week ago and i not gat any job..what is problem people from my country gat to many jobs

[2016-06-19 11:13] marius11 commented on #234
Make sure the text on the extension says "NO". If it says "OFF", click in once and you should be able to receive jobs in a new tab if any.

Keep in mind that most tests are scheduled during the weekdays (Monday through Friday) and a lot less during the weekends.

[2016-06-19 12:13] JrRandy commented on #234
You will also need to keep an eye on the extension when it is slow.  If you leave your PC idle, the extension will turn itself off (Which is annoying when you are watching netflix, but I understand why they do it)

[2016-06-19 19:52] radisa10 commented on #234
its say all day NO
in last 4-5 days i am more then 10 hour on computer xD

[2016-06-19 20:16] JrRandy commented on #234
hmm, not sure what is going on then.  Has it ever worked?  I have done an average of 40 or so tasks per weekday, and probly a total of 150+ over the last 5 days.

[2016-06-19 21:42] radisa10 commented on #234
![untitled](https://cloud.githubusercontent.com/assets/20026055/16180011/0ccd1602-362c-11e6-8df5-f63794ed6239.JPG)

[2016-06-19 21:43] radisa10 commented on #234
and this is windows service pack 3 but same problem on windows 7 :D

[2016-06-19 21:50] JrRandy commented on #234
Try submitting a ticket.  Its very possible that you have not been given the training tests, so therefor cannot receive the real jobs that are out there.  I think I had about 10 training hits I had to pass before the real jobs started coming.  Based on the age of the account, the tests may need to be manually resent/activated.

*Note:  This is just my assumption based on you only having the 1 init

[2016-06-19 22:03] radisa10 commented on #234
where to write ticket ?

[2016-06-19 22:09] JrRandy commented on #234
Help button on bottom right corner of your screenshot :)

[2016-06-19 22:29] radisa10 commented on #234
tnx you

[2016-06-19 23:11] jeloy1 commented on #24
I've waited long enough task, but nothing appears to me, on any platform, or gifthunter, clixsemse or cro elite. Anyone have any idea more or less what time does the task?

[2016-06-20 11:54] zfonck123 opened #235 "application error"
app error in the web page. i look https://status.rainforestqa.com/  ping 200+

[2016-06-20 11:58] shrestha15207 commented on #235
one more bad start on Monday even its said new virtual machines has been added.

[2016-06-20 11:58] JrRandy commented on #235
Also had some issues even turning on the extension this morning.  Had bad lag flipping on.

Rumor has it, today was the day they were installing some new servers to help alleviate the VM issues we have seen, so perhaps its the install/updates etc that is going on sucking up the bandwidth.  Heres hoping anyways!

[2016-06-20 12:00] GreekGuy commented on #235
I get no virtual machines and erros i have done 3 tests in 4 hours

[2016-06-20 12:04] uangonline commented on #235
Yap, it's seems every monday this kind of error appear more than other days.

[2016-06-20 12:06] Vasil-RainforestQA-Tester commented on #24
So guys. Exactly now the task is available via Crowdflower channel. Enjoy it !

[2016-06-20 12:07] uangonline commented on #235
And also the connection is very slow.

[2016-06-20 12:07] zfonck123 commented on #235
yes very slow, ping 224 ms u.U

[2016-06-20 12:07] uangonline commented on #235
Maybe the rainforestqa team just hate monday. lol

[2016-06-20 12:10] uangonline commented on #235
What i don't understand is, when i tried to ping tester.rainforestqa.com i got average 20 ms, which is should be good. So i don't know ehere the lag come from.

[2016-06-20 12:12] zfonck123 commented on #235
https://status.rainforestqa.com/ check it

[2016-06-20 12:14] uangonline commented on #235
Yes in status page it said response time is above 200 ms, but when i tried to ping it my self it only give me about 20 ms. So i think the problem is not with the network it self, but with the VM machine.

[2016-06-20 12:32] shrestha15207 commented on #235
it seems response time is back to normal but 'There are no virtual machines currently available.' is everywhere

[2016-06-20 12:33] zfonck123 commented on #235
3 jobs in blank page -_-

[2016-06-20 12:39] mahonikv commented on #24
Hi @Vasil I have generated name Rainforest but when i want to claim arrive message "You will receive a message soon with further instructions." but 10 day I there not instruction.

[2016-06-20 12:39] hunt40 commented on #235
why this no virtual machines or any work because Grinch stole all the servers

[2016-06-20 12:45] uangonline commented on #235
@shrestha15207 Yap, i think the team have to shut down some server to preserve power on saturday and sunday. And because of there is time different between a lot of us and the company, so when we already monday they still sunday.

[2016-06-20 12:46] Vasil-RainforestQA-Tester commented on #24
@mahonikv Hi dear. As tester I understand the importance of your issue.
The right way is to address your ticket to:  tester@rainforestqa.com
Don`t forget to attach screenshots (if available) or other important information like Worker ID etc.

[2016-06-20 13:01] suplazam commented on #235
Application Error and There are no VM's

[2016-06-20 15:28] zfonck123 commented on #235
again same error

[2016-06-20 15:32] hunt40 commented on #235
yeah my stomach ulser coming back thank to rf,first something went wrong or application error then no vm,brilliant company,they will be out of business but they outsourced their test to crowdsourcing platform so they pay much much lower then pay internal testing team so thats why they are in still business.

[2016-06-20 16:47] marius11 commented on #235
@hunt40 Wow... You should probably take a look here: https://www.rainforestqa.com/jobs/. You won't get any error messages (unless you write code) if you successfully get "assigned" on of their positions.

The folks at Rainforest are most likely aware of this and trying their best to make it easier for us.

[2016-06-20 16:58] zfonck123 commented on #235
app error again

[2016-06-20 16:59] zfonck123 commented on #235
![image](https://cloud.githubusercontent.com/assets/19192312/16203130/90259540-36e2-11e6-9f6b-649459ae8fc6.png)

[2016-06-20 17:00] shrestha15207 commented on #235
AND THIS "We're sorry, we've reached the maximum number of concurrent testers we can support. Please reload and try again."

[2016-06-20 17:21] MarinaCec commented on #235
it is overcrowded, they ruined rainforest

[2016-06-20 17:32] zfonck123 commented on #235
new servers... and alots error of application error today. what happen ???

[2016-06-20 17:42] nerdatwork commented on #235
Every new approach is filled with drawbacks too its our job to be patient and help them in every possible way. Rainforest is aware of the things that are not working and how things should work. Adding to their frustration with threads that purely reflect negativity isnt going to help things move forward in a positive way. As recently been said, 100 new testers are being added daily. Its obvious th

[2016-06-20 17:44] nerdatwork commented on #234
@radisa10 Whenever your problem is resolved, please do not forget to close this thread.

[2016-06-20 17:51] zfonck123 commented on #235
I think you should take a desicion on new users and old users. I think there must be another method by which send jobs (links ) for older workers with a full amount of work 1500-2000 or higher. many people rely on this to take me over. regretfully I understand the need for new users. but also affecting the tester that is dedicated approximately 16 hours every day to carry out the work . and each d

[2016-06-20 17:56] jeloy1 commented on #24
I was working on crowflovers tasks from gifthunterclub and closed that platform, then I opened my account croflover elite and did some work, but forget to change my ID worker gifthunter at croflower elite, then took the task of rainforesqa from crowflover elite and reviewed notifications I followed the instructions, but to verify my story in the profile rainforesqa left me with worker id gifthunte

[2016-06-20 17:57] nerdatwork commented on #235
@zfonck123 Rainforest is working on new structure where the tester that is online for the longest will get jobs first.

[2016-06-20 18:01] tulko commented on #234
I returned after a period of inactivity. I also spent some time until they received test

[2016-06-20 18:20] nerdatwork commented on #235
@zfonck123 Since this isnt an issue which has never been covered, I request you to please close this thread.

[2016-06-20 18:21] uangonline commented on #235
@nerdatwork Couldn't agree more with you. That's why me and my brother (who also a tester for RF) do some simple experiment. Hope tomorrow we have some result of the suspect of what make RF a bit lag.

[2016-06-20 18:29] #235 closed

[2016-06-20 19:16] larissasilva commented on #24
@Vasil-RainforestQA-Tester there is something wrong with my bonus system that I 'm not getting my payments already completed the task CrowdFlower already sent email is 8 days and no one answers me can you please help me?

[2016-06-20 19:22] Vasil-RainforestQA-Tester commented on #24
@larissasilva Hallo. You need to address your question to the respective staff member or just send ticket from your account. My advice is first to check your Rainforest account for the related bonus transaction. If Rainforest mark as paid your bonus you need to contact CrowdFlower for this issue because this is beyond of their control.

[2016-06-20 19:31] larissasilva commented on #24
@Vasil-RainforestQA-Tester Hello , my account this way. I was already RF before opening the CrowdFlower.
![image](https://cloud.githubusercontent.com/assets/19961019/16207616/69b20d0e-3704-11e6-9870-0cbb3e11c9c8.png)

[2016-06-20 19:44] Vasil-RainforestQA-Tester commented on #24
To take your collected funds first you need to complete one task at least provided via CrowdFlower channel. Once the task is completed you will be notified that your payment information is updated. This is the only way man. Just refresh the task list and wait new task to be released.

[2016-06-20 19:56] larissasilva commented on #24
@Vasil-RainforestQA-Tester I've completed the task at CrowdFlower , and yet I'm still not getting paid ..

[2016-06-20 20:57] luisdanielvc commented on #164
I still have this problem

[2016-06-21 08:24] #230 closed

[2016-06-21 12:02] tulko opened #239 "2 refresh every 30 seconds?"
last night I saw this new restriction, I thought I could get more jobs because there would be so many testers pressing "F5 F5 F5"
O great was my surprise I do not receive nearly tests
In the Month February return to rainforest, I was pretty well so far.
They are working on a new system for assigning jobs. But the changes that occur in the meantime are pretty bad.
I think they should improve:
- All

[2016-06-21 13:32] aleksasf commented on #239
yup "great" improvement on "new" servers you anounced. Are you trying to get job done, or just make us watch "no virtual server" "another worker..." messages.
Extension pops-out 5 tasks none of them available for work, either "requested to many" either "no virtual machine" when time out passes you get "another worker" after refresh.
Not cool dudes, not cool

[2016-06-21 13:37] nagabhyru commented on #239
Only 2 refresh in 30 seconds is not good idea most of us losing jobs because of this. every time extension pop out jobs it end in either "no virtual machine" or "another worker".

[2016-06-21 14:31] khristianjose commented on #239
This isnt whort if extensions says YES and then i receive a message with, another worker or there are no virtual machines. Losing so many jobs cause of this.

[2016-06-21 14:34] jeloy1 commented on #24
I was working on crowflovers tasks from gifthunterclub and closed that platform, then I opened my account croflover elite and did some work, but forget to change my ID worker gifthunter at croflower elite, then took the task of rainforesqa from crowflover elite and reviewed notifications I followed the instructions, but to verify my story in the profile rainforesqa left me with worker id gifthunte

[2016-06-21 15:02] vladfuller commented on #239
I think 2 refresh every 30 seconds is worth ONLY  if we had almost 100% secured job when extension say "YES" ... if it doesnt happened you should let the refresh as before 10 every 60 seconds

[2016-06-21 15:17] aleksasf commented on #239
I agree, make 1 virtual machine per worker reserved assign him work, and then you can raise refresh bar to 1 per min.

Current refresh is not productive at all

[2016-06-21 15:29] JrRandy commented on #239
This change affected everyone, so does not give an advantage to anyone else over you.  Yesterday I completed 45 jobs on the 6 second refresh, today I have completed 21 jobs so far on the 15 second refresh.  I will see what I end the day at, but from what I can tell the refresh change had almost no impact to the amount of jobs I have been able to receive.  Please wait until you have some data in or

[2016-06-21 15:51] tulko commented on #239
in the last 10 days or more lowered by 50% the jobs that I can do. it has not hurt me not helped me. I expected benefits. Whoever has less ping always have more jobs. I think

[2016-06-21 16:08] khristianjose commented on #239
I think people with best conecction will allways grab a job when extension turn YES, but people like me will not because higher ping.

[2016-06-21 16:15] #239 closed

[2016-06-21 16:51] #175 closed

[2016-06-21 18:13] luisdanielvc opened #240 "connection lost in a 87 steps job"
It normally starts as a screenshot error but after some time trying to continue the horrible screen of connection lost appears, i really hate this. Does this happen to you too?
![zzzzzzzzzzzzzzzz](https://cloud.githubusercontent.com/assets/16393092/16241122/dff40834-37b1-11e6-9d13-21b09bfee083.PNG)

[2016-06-21 18:30] MoonLightShadws opened #241 "Hello im not gatting the training jobs"
As the tittle says im not getting the training jobs :( i claimed my profile about 2 weeks ago i send a ticket to rainforest in the help down to the left they have, about 1 weeks ago they send me a email that they got my report but they didnt replay, so now im here trying to get answers i send a ticket to github too today, anyone like me here?
![capt ura](https://cloud.githubusercontent.com/assets/

[2016-06-21 19:02] uangonline opened #242 "Adding more refresh time seems not helping."
Adding more refresh time seems not helping with all the error and lags and even worst, the Failed to report screenshot appear more frequent, and most of the time we have to refresh the job, since it wil never recovered from the error.

[2016-06-21 19:25] Genesis2015 commented on #240
Same to me almost whole the day :-1:

[2016-06-21 19:42] nerdatwork commented on #241
Your ticket will be addressed soon. The support desk is filled with tickets. Please have patience. Rainforest will reply soon.

[2016-06-21 19:50] aleksasf commented on #242
Magic improvements shhhhhh

[2016-06-21 21:39] sbanquez922 opened #243 "Ma"

[2016-06-21 21:40] #243 closed

[2016-06-21 22:41] tulko commented on #241
you signed the contracts?

[2016-06-22 01:33] MoonLightShadws commented on #241
yes i did sign the contracts

[2016-06-22 04:11] MoonLightShadws commented on #228
hey i have the same problem only that i dont get any jobs because a climed my profile with a probux ID i didnt know this u.u thats my bad but like @uangonline said i got a id from clixsence to claim a new profile and after i did it goes to my old probux id so i cant get jobs u_u im so sad right now i sent a ticket like 2 weeks ago didnt got an answere im still wating

[2016-06-22 06:50] radisa10 commented on #234
fixed

[2016-06-22 06:50] #234 closed

[2016-06-22 13:59] ecliptica777 commented on #242
I think it is not worse than it was before. The system needs to be optimized - I think this is the first step.

[2016-06-22 14:02] JrRandy commented on #242
The failing on screenshots, and the terminal server connection lost errors are worse IMO, but the ability to get jobs is the same, and the "No VM Available" errors are fewer from what I can tell.  But hard to tell truly when you sit in a 5 min test for 20 minutes because of the screenshot errors and lag :)

[2016-06-22 15:50] ecliptica777 commented on #240
How to make a nervous tester?

Step 1: terminal with Saffari browser
Step 2: play video in this Saffari browser
Step 3: approximately 67 test step (Application Error)
Step 4: in penultimate step: connection lost

Congrats, you got the nervous tester. XD
(just a joke)

[2016-06-22 17:06] pscohn commented on #228
We don't change IDs, but you can create a new account in Crowdflower and get a new RF profile.

[2016-06-22 17:06] #228 closed

[2016-06-22 17:07] pscohn commented on #171
Closing unless there are new reports of this.

[2016-06-22 17:07] #171 closed

[2016-06-22 17:07] #222 closed

[2016-06-22 17:08] pscohn commented on #242
We added refresh time to help control our servers with the addition of some new testers - it's still fair for everyone to get work, but we'll continue to work on the real problems with connection lost, vm availability, etc.

[2016-06-22 17:08] #242 closed

[2016-06-22 17:10] pscohn commented on #224
If there is a problem inside the browser of the terminal, that should be reported. If you see errors in the actual testing interface, you can post screenshots here with the javascript console open to help us debug.

[2016-06-22 17:13] pscohn commented on #231
Please keep issues to one topic - it seems like the issue here is about "maximum number of unsubmitted assignments" happening for too long. If you send in a ticket and give the ticket number here, we can try to see why that's happening.

[2016-06-22 17:18] pscohn commented on #241
Please post your worker ID or your ticket reference number here and I'll look into it.

[2016-06-22 17:23] pscohn commented on #152
If anyone experiences an abandon near the beginning of a test and they were truly active the entire time, please send a ticket with the job or assignment ID.

[2016-06-22 17:23] #152 closed

[2016-06-22 17:31] JrRandy opened #244 "White Screen on Login during RF hits"
I have done 3 hits testing the RF platform, in which they all hit a white screen upon login.  Please see below screenshot with error in Console.

![image](https://cloud.githubusercontent.com/assets/6944427/16276730/9cd6029c-387d-11e6-9d06-84b08dacb3a7.png)

[2016-06-22 17:37] nerdatwork commented on #244
Same thing happened with me. I hope you reported the error.

[2016-06-22 17:41] JrRandy commented on #244
Yes, all 3 times including the screenshot above with the console open on the 3rd instance :)

[2016-06-22 17:43] JrRandy commented on #244
Just had 1 work, so hopefully its fixed now.

[2016-06-22 17:49] nerdatwork commented on #244
It could be one of the tests that gets away being mischievous ;) They will surely fix this.

[2016-06-22 18:14] MoonLightShadws commented on #241
@pscohn Hello mister Paul i detected the error, the problem was that i claimed the profile with and old id from neobux, i now you guys dont change id i we have to claim another profile with a crowdflower job and, i did this i claimed it with another email and set a password but when i did they put me in to my old profile :( the id that i want to use is this one the last that i claimed on june CS:2